[2019-11-08 16:43] valeriupredoi commented on #365
synda is le stupide :grin:

[2019-11-11 08:37] bouweandela commented on #367
No worries, I had a go at improving `da.tile` and my PR got merged, so the problem should be solved with the next release of dask. It would have been really helpful if we had unit tests for the `area_statistics` function though, because then we would have noticed before merging the pull request that broke it.

[2019-11-11 10:18] schlunma opened #371 "Fix for GFDL-CM4 not always necessary"
The fix for `tas` for the CMIP6 model GFDL-CM4 which was added in #330 is apparently not always necessary (maybe dependent on experiment, but I'm not sure about that).

[2019-11-11 10:31] schlunma opened #373 "Wrong error message for duplicate coordinate"
The error message which appears in #371 is:

[code]

However, the coordinate `height` is not missing, but appears twice (because it was additionally added by the fix). This can be very confusing.

The reason for this is that `iris` also raises an `CoordinateNotFoundError` for `cube.coord('coord_name')` if `'coord_name'` appears more than once in `cube`:

[code]

[2019-11-11 12:22] sloosvel commented on #338
Some of the checks on the table deal with the errors with automatic fixes. Would in this cases be necessary to add this intermediate level of reporting?

Well thanks for assuming that. But I currently have more than enough cake with the primavera metrics. So you are more than welcome to help out if you can / want to.

[2019-11-11 13:22] valeriupredoi commented on #338
Sure thing, I will! In a work retreat til Wed but will start helping myself
with cake on Wed :grin:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Mon, 11 Nov 2019, 12:22 sloosvel, <notifications@github.com> wrote:

[2019-11-11 13:25] sloosvel commented on #338
Enjoy the retreat! Wednesday is fine for me to start working on that.

[2019-11-11 13:37] axel-lauer commented on #338
The error handling proposed by Klaus is great. 3 small issues with datasets have turned out to be very annoying in the past, so I would propose to write warnings to the log file instead of handling them as errors when cmor check is set to medium, i.e.:

CMORCheck.check_metadata | MEDIUM | STRICT
-- | -- | --
monotonicity of time coordinate | log | error
frequency of time coordinate | log | error
l

[2019-11-13 13:10] #371 closed

[2019-11-13 13:44] bouweandela commented on #338
I would like to propose a different naming scheme for the different levels of checking, e.g. `none, relaxed, default`, as there is the possibility for confusion with the `cmor_strict` option in config-developer.yml and I think that the default behaviour should remain unchanged. Also, I think there is no need to write the levels in capital letters.

Regarding the technical implementation, I would p

[2019-11-13 13:52] valeriupredoi commented on #338
@bouweandela I like the naming convention, especially `relaxed` :grin: Note that `default` may be slightly misleading ie it doesn't give the user info on the level of strictness, but if we explain it well in the documentation then it'll be a-ok.

Do you not think the `cmor_checks` could be an option in `config-user.yml`? Or that file is too crowded anyway?

[2019-11-13 14:18] bouweandela commented on #338
I think that using `--cmor-checks none` or `--cmor-checks relaxed` fits in well with other command line options like e.g. `--skip-nonexistent` and `--max-years`` which also modify the recipe in some way for the convenience of the user who doesn't care too much about getting the exact same results and is prepared to accept the risk that the recipe crashes because they're trying to use it for someth

[2019-11-13 14:24] valeriupredoi commented on #338
sounds about right, man :beer: I also found this one picture guide to be quite useful to show what the relationship is
![cmip6](https://user-images.githubusercontent.com/28983971/68772227-5bad6880-0621-11ea-8fc4-c33dc42292b7.png)
 between ESMValTool and CMIP6

[2019-11-13 15:06] sloosvel commented on #338
I also prefer the command line option, I think it's safer. So in summary, the report_error functions should be adapted to general report functions that give either an error, a warning or nothing (as @valeriupredoi pointed out) depending on the level of checking given by --cmor-checks?

[2019-11-13 15:22] valeriupredoi commented on #338
yup, started work here https://github.com/ESMValGroup/ESMValCore/pull/374

[2019-11-14 10:22] ledm opened #375 "Restart a partially completed preprocessor"
Is there any way to Restart a partially completed preprocessor?

For instance, I'm running a preprocessor over 18 models and it takes several hours but then fails on model 17. This is frustrating, as I have to fix the recipe and re-run the entire process. I want to fix the recipe then re-run only the incomplete datasets. Is that possible at the moment?

We already have the ability to skip complete

[2019-11-14 13:16] bouweandela commented on #375
No

I would recommend simply reducing the size of the dataset you're working with for debugging purposes. For example, you could select only a small area using `extract_region`, select a small number of years by using the command line argument ``--max-years` or a preprocessor function `extract_time`, reduce the number of vertical levels by using a preprocessor `extract_levels`, etc.

[2019-11-14 14:08] ledm commented on #375
Thanks for the quick reply, Bouwe.

Unfortunately, reducing the area isn't always an option. For instance, in one case I had run a particularly expensive recipe that took 12 or so hours to complete. Then a week or so later, another CMIP6 model data set appears (or was fixed). In order to add this new dataset, I had to re-run the entire recipe from scratch.

For reasons like this, I feel that this

[2019-11-14 14:24] bouweandela commented on #375
Implementing this in a reliable way is more work than I have time for. I feel that ESMValTool is already suffering enough from user friendliness and reliability problems, so I think that we should first focus on making the current features nice before starting to implement yet more new features and breaking things in the process.

If you want to hack something, you can just run the recipe with onl

[2019-11-14 16:35] ledm commented on #310
thanks @zklaus, that solved it!

[2019-11-14 16:35] #310 closed

[2019-11-14 16:37] ledm commented on #42
Similar to this discussion, is there a way to switch off writing the derived variables to disk? It seems to slow everything down and shouldn't be necessary.

[2019-11-15 08:30] bouweandela commented on #375
I do agree that this would be a nice feature to have, though I think it would have to be used with care because the resulting plots will probably not be reproducible and doing reproducible science is something we should care about.

Would it be possible to share this recipe? I don't think it is in ESMValTool, is it? Because as far as I know almost all recipes we currently have in the tool complete

[2019-11-15 08:31] #368 closed

[2019-11-15 08:35] bouweandela commented on #42
You probably mean the input variables needed to derive a variable? In that case the answer is no.

[2019-11-15 10:38] #364 closed

[2019-11-15 13:12] valeriupredoi commented on #375
@ledm what is the reason why the preprocessor fails? If it's related to dataset's metadata not being compliant with CMOR then you have the `--dry-run` command line option to go through all the datasets and flag all the metadata-related issues. This runs fast and gets you the errors that you will have to report and then fix. If it's related to other reasons (MemoryError, actual data issue eg divisi

[2019-11-15 15:27] ledm commented on #375
@bouweandela

This recipe is in the AR6 branch, but if you have access it's:
https://github.com/ESMValGroup/ESMValTool-AR6/blob/ar6_chap_3_ocean_figures/esmvaltool/recipes/recipe_ocean_fig_3_17.yml

The preprocessor is particularly heavy:
[code]
The other heavy part is that I'm running over 50 models, and they all need to be on the same veritical and horizontal grids.

@valeriupredoi:

Doesn't see

[2019-11-15 15:29] valeriupredoi commented on #375
dry run is awaiting merge in #307

[2019-11-15 16:16] ledm commented on #42
Is it not possible to load the cubes into dask arrays, instead of saving them?

In the case of the derivation of OHC, it loads a 4D variable and saves it exactly as it is. It basically copies 20GB of data into the working directory for each dataset before doing any calculations! All I want is a scalar field, it should be a few kb!

Furthermore, we only have 100GB space in our home directories on j

[2019-11-15 16:30] jhardenberg commented on #92
In my opinion all 3 can be useful and leaving flexibility is a good thing (I would advise against using fancy yaml anchors since that could confuse many users)
Actually I am wondering if there are general guidelines though when a recipe should be using an option or the other. Is there an order of preference in different use cases? Currently all recipes seem to use different methods without much lo

[2019-11-18 08:59] bouweandela commented on #375
Thanks @ledm  for elaborating. Would it be possible to also share the section with the variables and models? And what setting are you using for `max_parallel_tasks`?

[2019-11-18 09:46] ledm commented on #375
[code]
I've got `max_parallel_tasks: 1`.

[2019-11-18 11:45] ledm opened #405 "Fx files in Omon or Ofx"
I'm finding some strange behaviour with the ocean grid cell volume `volcello` files. There are two issues.

- Firstly, I don't think that iris is able to load any of these files, (using `iris.load_cube(fn)` ). I have no idea why though. They all open fine with ncdump ncview, & netCDF4.
*This is sorted now with `iris=2.3.0`*

- Secondly, most the models have put the `volcello` files in the `Ofx` MI

[2019-11-20 14:26] ledm opened #377 "Derived variables save all data to disk before preprocessing"
When running the derivation, the derive preprocessor saves to disk the loaded netcdf as an netcdf in preproc. This isn't ideal, as it is extremely slow to write to disk and also results it huge bloated preproc directories. Furthermore, as the data isn't realised, I don't see why we can't keep it lazy and avoid saving it to disk.

For instance, I'm running a multi-model comparison of @tillku's deri

[2019-11-21 16:16] valeriupredoi opened #378 "Switch to iris 3"
We will have to imminently switch to iris=3 when it becomes available on conda - @bjlittle can I be a pest and ask you to notify us when you guys will have had the package in `conda-forge` plss? The good news is that I have already been using iris=3 since yesterday and ran in anger a few large recipes (IPCC authorship comes at a price :grin;) and all looks dandy; also all the iris=2.2.1 deps apply

[2019-11-22 08:11] bouweandela commented on #375
Great, can you try running with `max_parallel_tasks: null` instead? This should do stuff in parallel and save a lot of time. Or do you run out of memory then?

[2019-11-22 15:43] valeriupredoi opened #380 "iris.analysis.cartography.area_weights() not working with 2D ocean coordinates"
**Problem**

`iris.analysis.cartography.area_weights` calls it a day when `cube.coord("latitude")` and/or `cube.coord("longitude")` are 2D

When using `_volume.volume_statistics()` `area_weights` need to be computed that crashes when passed in ocean data with 2D coords

Specialists like @ledm @zklaus @bjlittle should chip in here plese :beer:

[2019-11-22 16:32] valeriupredoi commented on #380
@zklaus says: Fortunately, it is also unnecessary: the information of the area is available in areacello.

The reason why iris does not provide this information is that it is really hard impossible to calculate in general. It becomes merely really hard when you accept the simplication of connecting points with arcs of great-circles. In that case, triangulation of cells with triangles on the surfac

[2019-11-22 16:46] zklaus commented on #380
PS: (Ofx, areacello) should be available more reliably than other ocean measures like volcello because the variation generally stems from variations in layer thickness, either from a free surface or a density or bathymetry based vertical coordinate,none of which influence purely horizontal quantities like the area.

[2019-11-25 12:30] bjlittle commented on #378
@valeriupredoi Good to hear that we've not broken anything for you guys (yet) :wink:

Happy to ping you when `3.0.0` is available on `conda-forge`. I'd encourage you to watch the https://github.com/conda-forge/iris-feedstock and GitHub will automatically ping you of any activity.

[2019-11-25 12:50] valeriupredoi commented on #378
muchos gracias, segnor Bill, I am now subscribed and expecting stuff a la Roland Emmerich coming from there :grin:

[2019-11-26 09:36] sloosvel opened #381 "Mask_landsea unable to find fx files at diagnostic level"
**Describe the bug**
The mask_landsea routine expects the name of the fx files to start by the `var_name` (sftlf_fx_ ... .nc). This is because of the way the keys are defined in a dictionary inside the routine.

If the masking is performed at the diagnostic level, it is not able to find the fx files because they get renamed during the preprocessing according to the output_file convention in the co

[2019-11-28 08:59] bouweandela commented on #346
I believe the reason for not failing is that this is fixed automatically. However, it should at least be reported.

[2019-11-28 09:35] bouweandela commented on #42
Maybe in the future, but not at the moment. Do you feel like implementing this yourself?

The Jasmin user guide recommends using a group workspace for storing large amounts of data: https://help.jasmin.ac.uk/article/176-storage, not your home directory. I started on pull request https://github.com/ESMValGroup/ESMValCore/pull/265. which will make it possible to store preprocessor and other temporar

[2019-11-28 09:38] bouweandela commented on #377
It would be nice to improve this, but I do not have the time to do it at the moment. If you do have time, it would be great if you can work on this.

[2019-12-02 12:15] jvegasbsc commented on #345
It's great news for me. I would need something like this for the decadal predictions support

[2019-12-02 13:27] valeriupredoi commented on #381
good catch @sloosvel - I shall attempt at fixing this right now :beer:

[2019-12-02 14:05] valeriupredoi commented on #381
#383 have a test pls

[2019-12-02 15:50] valeriupredoi opened #384 "Dataset problem: AWI-CM-1-1-MR thetaoga should be a scalar time series"
**Describe the dataset issue**
A clear and concise description of what the problem with the data is is. Here are some guidelines that you can use
right out the box by filling in the blanks (note that, if needed we will assist you with writing a fix; also note that
if the problem is with a CMIP6 dataset, we will alert the ESGF and/or the model developers for them to fix the problem
in the long run;

[2019-12-02 15:53] valeriupredoi commented on #384
@ledm here's our new data issue template in first time use, can you please add the recipe and other info on this particular troubled dataset so we complete the issue correctly? :beer:

[2019-12-02 15:56] valeriupredoi commented on #338
the data issue template has its first use in #384

[2019-12-02 17:24] #381 closed

[2019-12-03 07:47] #298 closed

[2019-12-03 08:49] #355 closed

[2019-12-03 13:53] BenMGeo opened #386 "Installation of pip dependencies not possible due to PEP 517"
I try to reinstall the core based on the standard workflow (for developers).

I get an Error:
[code]
when I run the `pip install -e '.[develop]'` command.

It seems to raise an issue for cartopy and iris.

This is new and I have no idea how to solve in another way than editing setup.py, but I do not want to mess with that.

[2019-12-03 13:56] BenMGeo commented on #386
@bascrezee FYI

[2019-12-03 14:43] valeriupredoi commented on #386
what iris and cartopy do you have in the environment? `conda list iris && conda list cartopy`

[2019-12-03 14:52] valeriupredoi commented on #386
have just repeated the install steps from scratch:
[code]
and had no issues. Note that iris=3 fails to install correctly via pip with cartopy throwing exactly that error that you mention so careful what iris+cartopy combination you have, in a purely dev env that doesn't follow the tool's specs tho

[2019-12-03 16:39] valeriupredoi opened #387 "Create dedicated dataset issue logs in run/ with only the dataset warnings from CMOR checks"
**Is your feature request related to a problem? Please describe.**
This feature request is related to the new implementation of tiered cmor checks that we now have in #374 and directly related to the `--dry-run` optionality in #307 -- it would be very useful if the tool created a `data_report.txt` a la all the `main_log.txt` and `main_log_debug.txt`; this report should contain *only* the warnings

[2019-12-03 16:45] valeriupredoi commented on #373
but it's impossible to add the same coordinate twice in a cube - even if one is DimCoord and the other is AuxCoord, no?

[2019-12-03 16:55] valeriupredoi commented on #360
It's probably safe to close this for now since we actually have a clear idea how to proceed with alerting model groups (we haven't done it on a large scale but I don't think we can advance any more on this in this issue here; we also now have the data issue template in main). Pls reopen if you consider we should repoen :beer:

[2019-12-03 16:55] #360 closed

[2019-12-04 05:38] BenMGeo commented on #386
V, here is the output from the listing:
[code]

I did not change anything in the setup.py or environment.yml, so I'm rather puzzled that we have differences...

I show you the pip response here:

<details><summary>LOG</summary>
Obtaining file:///media/bmueller/Work/GIT/ESMValCore
Collecting cf-units (from ESMValCore==2.0.0b2)
Requirement already satisfied: dask[array] in /home/bmueller/anaconda3/l

[2019-12-04 08:15] bascrezee commented on #386
Here are mine (for me everything works fine). Same Versions, different Builds (could that matter?).

[code]

[2019-12-04 09:05] schlunma commented on #373
Apparently it's possible if the two coordinates are slightly different, e.g. if one has additional `attributes` and the other one doesn't, like it's the case for the example posted above (one `height` coordinate has a `description`, the other one doesn't).

[2019-12-04 09:07] valeriupredoi commented on #373
Pff, smells like an iris bug to me then

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Wed, 4 Dec 2019, 09:05 Manuel Schlund, <notifications@github.com> wrote:

[2019-12-04 11:49] valeriupredoi commented on #386
@BenMGeo the short answer is you have `iris` and `cartopy` built against python=3.8 and this behaviour of `pip` I noticed not long ago: see the last few comments in this issue https://github.com/SciTools/iris/issues/3544 especially my comments on the installation and @zklaus comment on the env building

Note that we have pinned python to <3.8 in our current environment file so you should use that

[2019-12-04 11:50] schlunma commented on #373
I don't think so. Why would they add an error message like this then?

[code]

[2019-12-04 11:53] valeriupredoi commented on #373
so the error message takes care of the already created problem; the problem should not happen in the first place ie adding two `longitude`'s as both DimCoords should not be allowed methinks

[2019-12-04 11:54] schlunma commented on #373
Adding two `DimCoord`s for the same index is not possible anyway, but `height` is an `AuxCoord`

[2019-12-04 11:54] BenMGeo commented on #386
Ah, ok. Seems like my environment file then was not up to date. Will pull and retry.

[2019-12-04 11:54] #386 closed

[2019-12-04 11:57] valeriupredoi commented on #373
yeah but what happens if the data is 3D and you remove say, time and add longitude in the place of time (so index 0), with the data now having longitude-longitude-latitude coords -> will that work? Coz if it does, it's bonkers :beer:

[2019-12-04 11:58] valeriupredoi commented on #386
reopen if needed, man :beer:

[2019-12-04 12:02] schlunma commented on #373
It works if the metadata of the `DimCoord` is different (changing the points is not enough):

[code]

[2019-12-04 12:05] valeriupredoi commented on #373
Bahahah, you got a Frankencube :rofl: I think we should probably tell the iris guys about this - ping @bjlittle

[2019-12-04 12:07] BenMGeo commented on #386
all went well ... phew

[2019-12-04 12:16] valeriupredoi commented on #386
yeah that's coz of `prospector` - those guys don't upgrade that package, all fine, they are not impacting the functionality :beer:

[2019-12-04 17:31] valeriupredoi opened #388 "Python 3.8 environment for ESMValCore"
We'll have to lift the pin to `python<3.8` soon so I managed to get us a working environment...minus `numba` but there's good news for that as well. This is it:
[code]
Note two things: we need `fiona` from conda (because `pip` can not find `gdal` correctly for `fiona`) and we will have `numba=0.47.0` that is built with py38; in fact numba 47 is already available but not yet in the conda json db: h

[2019-12-06 09:14] BenMGeo commented on #345
I fully support this. In C3S_511 we have to analyze data "as is". I currently filled the noncomplete years "by hand" with missing values.

Would make my life easier ;)

[2019-12-06 15:44] bjlittle commented on #373
@schlunma and @valeriupredoi

An interesting question, and quite topical... see https://github.com/SciTools/iris/pull/3583 which is part of an overhaul of `iris` cube-arithmetic that I'm doing at the moment (also see https://github.com/SciTools/iris/issues/3478) and aiming to land in the forthcoming `3.0.0`.

This all comes down to the question of "What is the identity of a coordinate?".

To be fa

[2019-12-06 22:42] rcomer commented on #373
For info, I have previously queried the Frankencubes: https://github.com/SciTools/iris/issues/2917

[2019-12-09 08:56] bjlittle commented on #373
"_Frankencubes_" -- it's now officially a thing :rofl:

I've been thinking about Frankencubes over the weekend, and given that I'm kinda actively working in this area of `iris` at the moment, I _may_ be able to address this behaviour in time for `3.0.0`. No promises though...

I stand by my last comment that this isn't a bug, but then again, the double `height` coordinate in the cube behaviour is

[2019-12-09 09:17] schlunma commented on #373
That sounds great @bjlittle, thanks for your help!!

[2019-12-09 10:30] rcomer commented on #373
I should probably say that, since posting that issue, I've come across cases where two coords with the same name appears to be deliberate.  Have emailed you @bjlittle .

[2019-12-09 11:59] valeriupredoi commented on #388
and here's me asking the numba guys about their upcoming py3.8 version https://github.com/numba/numba/issues/4936

[2019-12-09 13:01] valeriupredoi commented on #388
OK so a numba dev kindly told us they will release numba=0.47 on Dec 19 and that'll work with py3.8. Kudos who gonna test then, I'll be gone for Xmas by then :santa:

[2019-12-09 14:58] bascrezee commented on #244
Current status of this Issue: @valeriupredoi has rewritten the masking such that it is more general making it possible to implement new masks from any shapefile. @bascrezee adds functionality for masking of `glaciated` areas in https://github.com/ESMValGroup/ESMValCore/pull/392

[2019-12-10 09:20] bascrezee opened #393 "Several unit tests involving masked arrays are not implemented correctly ?"
**Describe the bug**
While working on #392 I found out that the numpy testing function `assert_array_equal` operates on `masked arrays` differently than what one might expect.

Mwe:
[code]

Correct testing should check the mask and the data separately to assert equality.
[code]

Several functions in `test_mask.py` are impacted, e.g.:
https://github.com/ESMValGroup/ESMValCore/blob/7d682894d872bd009

[2019-12-10 10:44] valeriupredoi commented on #393
Very good catch, Bas! cheers, mate, will fix it tomorrow (travelling today)
:beer:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Tue, 10 Dec 2019, 09:20 bascrezee, <notifications@github.com> wrote:

[2019-12-10 10:49] valeriupredoi commented on #373
Cheers @bjlittle - can we add Frankencube to the iris documentation? :grin:

Dr Valeriu Predoi.
Computational scientist
NCAS-CMS
University of Reading
Department of Meteorology
Reading RG6 6BB
United Kingdom

On Mon, 9 Dec 2019, 10:30 Ruth Comer, <notifications@github.com> wrote:

[2019-12-10 14:41] bjlittle commented on #373
After investigating, this wasn't an issue, given the proposed approach that I wish to adopt here. All good.

[2019-12-11 09:13] katjaweigel opened #394 "Outdated code in _derive/rlnstcs.py"
**Describe the bug**
There is outdated code in _derive/rlnstcs.py which causes problems in the preprocessor. It needs to be updated as is has already be done for _derive/rlnst.py
I already made a fix under the new branch rlnstcs_fix.

**Please attach**
  - The recipe that you are trying to run: recipe_deangelis15nat.yml, so far only in the ESMValTool branch deangelis_for_gmdpart4
  - The `main_log

[2019-12-11 14:05] valeriupredoi commented on #394
closed via #395

[2019-12-11 14:05] #394 closed

[2019-12-12 12:05] #244 closed

[2019-12-12 13:38] valeriupredoi commented on #393
so just to be clear here - the test is performed *only* on the data and not on the mask - so there's no need to expand to `array.data` and simply by stating the comparison on `array` is enough, but it is important to add the extra check on `array.mask` :+1:

[2019-12-12 13:39] SarahAlidoost opened #398 "time values after daily_statistics (or monthly_statistics)"
The time bounds in daily_statistics (or monthly_statistics) need a correction. For example, regarding hourly ERA5 data, if daily_statistics is applied after CMORization, the daily time values will be 2001, 1, 1, 11, 30, 0. It should be corrected to 2001, 1, 1, 12, 0, 0.

[2019-12-12 15:33] valeriupredoi commented on #398
@SarahAlidoost `daily_statistics` and `monthly_statistics` (see (funcs)[https://esmvaltool.readthedocs.io/projects/esmvalcore/en/latest/_modules/esmvalcore/preprocessor/_time.html#daily_statistics]) produce aggregated data using a simple statistic - I don't see anything wrong with them! If the input data has wrong time points, then that's not the fault of the statistical functions. Could you maybe

[2019-12-12 15:35] valeriupredoi commented on #398
ie a quick example would be useful, cheers :beer:

[2019-12-12 15:55] SarahAlidoost commented on #398
@valeriupredoi thanks for the comments.

**example**: the input hourly data has time values as: [..., hour=0, minute=0, second=0] to [..., hour=0, minute=0, second=0], accounting for 24 hours in one day.
After applying daily statistics, the output data has time values as:  [..., hour=11, minute=30, second=0] which is not correct.
Actually, that should be  [..., hour=12, minute=0, second=0].

The d

[2019-12-12 16:01] valeriupredoi commented on #398
cool! now it makes total sense - cheers! Probably better to raise this straight with the `iris` folk ie @bjlittle

[2019-12-17 08:19] bouweandela commented on #91
Regarding the implementation: all required information should be extracted from the recorded provenance. If some extra information is needed, it should also be recorded as provenance.

In principle, this functionality could be a command line tool that reads a provenance file and writes a references file in e.g. bibtex format, though in practice it probably makes more sense to integrate this into t

[2019-12-17 08:35] bouweandela commented on #398
Shoudn't the input data have time values:  [..., hour=0, minute=30, second=0] to [..., hour=23, minute=30, second=0], with corresponding bounds?

[2019-12-17 09:50] Peter9192 opened #400 "Resolve deprecated functions to clean up pytest log messages"
**Describe the bug**
We're working on improved tests (https://github.com/ESMValGroup/ESMValTool/pull/1213), but the pytest log is quite verbose with a lot of deprecation warnings. Most of them come from iris and seem to be addressed in the new release, but there is an open todo in `getargspec` in `check_preprocessor_settings.py`.

We're addressing this in: #401

[2019-12-17 10:09] SarahAlidoost commented on #398
Sorry for the typo, both ERA5 raw and cmorized data have time values:  [..., hour=0, minute=0, second=0] to [..., hour=23, minute=0, second=0], accounting for 24 hours in one day.
After applying daily_statistics with any operator, the time values become:  [..., hour=11, minute=30, second=0].

[2019-12-18 12:20] bascrezee opened #403 "New preprocessor to clip values to a certain range."
**Is your feature request related to a problem? Please describe.**
Sometimes a dataset contains values that can be judged by an expert as wrong (e.g. physically impossible). Under certain circumstances one wants to still keep the data, therefore masking is not an option. The data should be clipped to a certain range of values.

Example: ERA5 soil moisture contains slightly negative values over som

[2019-12-18 14:02] bascrezee commented on #403
I opened a draft PR: https://github.com/ESMValGroup/ESMValCore/pull/404. Can I get some help on where to put this function? I found it did not really fit any of the existing categories, therefore I created a folder `other`, but I am open for better suggestions. I will add unit tests and documentation when we decided on where to put this function.

[2019-12-18 16:20] bouweandela commented on #398
I think the problem here is that our implementation of daily_statistics, which uses `Cube.aggregated_by` to aggregate by `['day_of_year', 'year']` and therefore does not take into account the bounds of the time coordinate.

This can be partly solved by correcting the ERA5 CMORization, because it looks like at least accumulated, mean and min, max variables should have their timesteps shifted half a

[2019-12-19 12:07] bascrezee opened #407 "Create an overview table of custom CMOR entries."
When more observational datasets are added to ESMValTool, the number of custom CMOR entries will grow. The .dat files have consistent but short names. Therefore, it can be hard to find if a certain ('flavour' of a) variable is listed already. An overview table of all the inputs in the folder
'~/ESMValTool/esmvaltool/cmor/tables/custom' would be helpful.

**Would you be able to help out?**
Yes, fro

[2019-12-19 13:52] JaroCamphuijsen opened #409 "recipe_collins13ipcc.yml fails the recipe file checker due to missing institute tag"
**Describe the bug**
recipe_collins13ipcc.yml fails the recipe file checker due to missing institute tag.
The recipe file checker is implemented in https://github.com/ESMValGroup/ESMValTool/pull/1213. To reproduce the behaviour, run
`pytest tests/integration/test_recipes_loading.py::test_diagnostic_run[recipe_file20]`

**Please attach**
<details>
<summary>the recipe</summary>
<p>https://github.com

[2019-12-19 17:23] #400 closed

[2019-12-19 17:27] #409 closed

[2019-12-20 07:56] #316 closed

[2019-12-20 10:50] bouweandela commented on #367
This issue is solved since dask 2.8

[2019-12-20 10:50] #367 closed

[2019-12-20 15:01] bouweandela commented on #345
It sounds like everyone would be really happy to have this feature. @zklaus Would you be able to implement it?

[2019-12-20 16:20] #273 closed

[2019-12-23 13:24] bouweandela opened #412 "Coordinates of VariableInfo inconsistent"
The `coordinates` attribute of the `esmvalcore.cmor.table.VariableInfo` class is a dictionary with for CMIP6 tables coordinate axis as keys and for CMIP5 tables coordinate names as keys. This is inconsistent and confusing.

This issue was reported by @bascrezee in https://github.com/ESMValGroup/ESMValTool/pull/1338#discussion_r345899097

[2019-12-23 16:39] bouweandela opened #414 "extract_levels does not preserve bounds when using interpolation"
Preprocessor function `extract_levels` does not preserve bounds when using interpolation. We could add the bounds in some cases, e.g. when the source of the pressure levels is another dataset we can simply copy the bounds from there. Also for the CMIP6 CMOR coordinates bounds are available.

[2019-12-27 18:57] zklaus commented on #345
I'll have a look in the new year, that is after 2020-01-13.

[2020-01-03 12:49] #115 closed

[2020-01-03 13:06] bouweandela commented on #115
@mattiarighi Could you remove the protected status and delete the `development` branch from GitHub?

[2020-01-03 13:12] mattiarighi commented on #115
Done.

[2020-01-07 14:06] mattiarighi commented on #336
@ledm would you be willing to implement @zlkaus' suggestion?

[2020-01-07 14:11] valeriupredoi commented on #339
#351 is ready to be merged, been ready for a while :beer:

[2020-01-07 14:12] mattiarighi commented on #131
@ledm ok to close?

[2020-01-07 14:38] BenMGeo commented on #195
@mattiarighi you want me to test if still an issue for iris 2.3?

[2020-01-07 14:49] mattiarighi commented on #195
Yes, that would be great. Thank you!

[2020-01-07 15:01] BenMGeo commented on #195
So...
The good news: it is faster!
The bad news: it is still a little slower than without the extra coordinates!

If the slow down of factor ~10 is acceptable for you, this is ok. I will still delete the coordinates as deleting costs less time.

[2020-01-07 15:03] mattiarighi commented on #195
Would you be willing to implement @jvegasbsc + @bouweandela suggestion?

[2020-01-07 15:08] BenMGeo commented on #195
I need to dive into this code part and make sure to have it backward compatible. If neither of the original editors has the possibility to do it, I'll give it a go.

[2020-01-08 09:45] #357 closed

[2020-01-08 09:50] jvegasbsc commented on #195
I can do it. It is not specially complicated and I need something easy to get back on track after holidays

[2020-01-08 10:06] BenMGeo commented on #195
Thank you @jvegasbsc. Tell me if you need something for support.

[2020-01-08 14:40] jvegasbsc commented on #195
One question, do we really need a preprocessor function to add those coordinates it? It is fairly easy (and maybe clearer) to add the coordinate in the diagnostic if needed.

The only case in which I think we may need it is if they are used on diagnostics that are not Iris based, but I don't know if that is the case

[2020-01-08 14:42] valeriupredoi commented on #195
Quite a few that are not iris based, man, either xarray or cdo (see @earnone 's and a few others)

[2020-01-08 14:45] jvegasbsc commented on #195
But are they using them? You don't need those coordinates to do a selmon with CDO...

[2020-01-08 14:47] valeriupredoi commented on #195
That I dunno, too complicated a question given I'm still on holidays :grin: :beer:

[2020-01-08 15:23] bouweandela commented on #195
Maybe you can `grep` for those coordinate names in the existing diagnostics? That will give you a good impression of how commonly they are used.

[2020-01-08 15:48] earnone commented on #195
I don't think any of us is using them. I agree running cdo does not need them.

[2020-01-08 16:04] bouweandela commented on #195
@mattiarighi Do you know of any NCL diagnostics using this? I quickly checked and couldn't find anything, but for the `year` coordinate is difficult to see at a glance.

[2020-01-09 07:56] mattiarighi commented on #195
`year` seems to be used quite often in NCL scripts, however it is hard to tell whether it is internally defined or required from the preprocessor. I will test the affected recipes to make sure.

The other coordinates are never used.

[2020-01-09 08:18] BenMGeo commented on #195
In my diagnostics I just delete all aux coordinates if there are any. So I have no compatibility problems.

[2020-01-09 08:20] Peter9192 commented on #311
We're addressing this issue in #358

[2020-01-09 08:21] Peter9192 commented on #345
We're addressing at least part of this issue in #358

[2020-01-09 14:18] mattiarighi commented on #195
See [checklist](https://github.com/ESMValGroup/ESMValTool/pull/1485#issuecomment-572518873).

[2020-01-10 09:28] BenMGeo opened #422 "_regrid.py: guess bounds before regridding if not available: iris regrid requires bounds"
Not all data sets have coordinate bounds.
Guessing grid bounds before regridding is necessary sometimes (most likely because of custom order preprocessors).

See pull request below.

[2020-01-10 10:15] BenMGeo commented on #422
Closed due to misassigment of issue. Bounds should be added through cmorization.

[2020-01-10 10:15] #422 closed

[2020-01-10 10:53] valeriupredoi commented on #414
so I wonder if the new routine (which doesn't seem to be a repackaging of the old `stratify`) will fix this: https://scitools.org.uk/iris/docs/latest/iris/iris/experimental/stratify.html

[2020-01-10 11:06] #195 closed

[2020-01-10 14:31] #412 closed

[2020-01-13 14:15] #339 closed

[2020-01-13 16:25] schlunma opened #425 "Dataset problem: MCM-UA-1-0 (CMIP6) datasets have wrong coordinate names"
**Describe the dataset issue**

- ~~Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not
supporting custom-made datasets that present problems, it is your resposability to fix those problems)~~
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset decription (fill out as many as you know, please):
  - dataset: MCM-UA-1-0
  - experim

[2020-01-14 12:01] ledm commented on #405
Think I've found a solution to this problem. It's a bit of a hack though.

I've added a clause to the `_get_correct_fx_file` function in `_recipe.py`:

https://github.com/ESMValGroup/ESMValCore/blob/01709c917294a02d0c4dd3d2cd24d85b80b30821/esmvalcore/_recipe.py#L404-L410

The only thing that this does is set the `volcello`'s fx MIP to the same time resolution as the the main data if the model is o

[2020-01-14 12:08] valeriupredoi commented on #405
@ledm as we discussed over private email, I'd suggest a generalized clause that assigns the variable's `mip` to the fx variable only for special cases (identified by fx variable name rather than by hardcoding the special dataset names). Since the changed `mip` is needed *only* at the file finding stage and *not* at the CMOR stage (in fact, the `mip` needs to stay correct from CMOR point of view, e

[2020-01-14 12:10] valeriupredoi commented on #405
can actually make a list in `if not fx_files and fx_var['mip'] in ['Ofx', ]:` where you can add all the crazy cases :beer:

[2020-01-14 12:22] ledm commented on #405
I've had to make a minor change, but V's solution seems to work.

[2020-01-14 12:23] valeriupredoi commented on #405
get the PR out, brohem :beer:

[2020-01-14 14:02] ledm commented on #405
The solutions solve the problem of being unable to find the fx files (yay!), but raise another issue.

In the recipe I'm working on, the preporcessor is:
[code]
Basically, it extracts the top 700m of the surface ocean temperature, takes the annual average, then take the volume-weighted average.

The `volcello` cube arrives at `volume_statistics` without having passed the `extract_volume` or the `a

[2020-01-14 14:02] schlunma opened #428 "Feature request: fixes for all datasets of specific variable"
For some variables, it would be nice to apply a common fix for **all** datasets of that specific variable.

For example, for the 3D cloud fraction field ``cl``, most models use a ``atmosphere_hybrid_sigma_pressure_coordinate`` (see also #59). Reading those is not a problem for most models, but since `iris` only allows one variable per cube, the resulting `cubes` after loading the file contain more

[2020-01-14 14:08] valeriupredoi commented on #405
that is a problem of handling the fx variable as an auxiliary fx variable and not as a true diagnostic variable - if you list it as a diagnostic variable then all the needed preproc steps will be applied to it. But then again that is a Catch 22 since that way you will not be able to couple it to the other variable (tas?). So my hacky suggestion would be to treat these sort of cases in the diagnost

[2020-01-14 14:10] valeriupredoi commented on #428
smells to me like a very initial preprocessor step? :beer:

[2020-01-14 14:17] valeriupredoi commented on #425
fixes implemented and merged via https://github.com/ESMValGroup/ESMValCore/pull/426 by @schlunma but we need to alert the MCM-UA folks: @zklaus and/or @valeriupredoi will do that

[2020-01-14 14:25] zklaus commented on #428
@bjlittle explains [here](https://github.com/ESMValGroup/ESMValCore/issues/59#issuecomment-498883768) the problem. If the netcdf file was correct, there would not be several variables and everything would work out just as expected. The problem is really in fixing erroneous metadata.

Having said that, I argued in the past that it would be nice to have a more flexible way of applying fixes since in

[2020-01-14 14:32] ledm commented on #405
So the only way to use fx_files in something like `volume_statistics` is when there are no operations that change the size of the volume cube before the `volume_statistics`?

We can only look at global means, no local means? That seems very restrictive.

[2020-01-14 14:40] schlunma commented on #428
I don't think this is correct. Loading the corresponding `iris` sample cube with

[code]

gives this

[code]

`ncdump` of that cube gives

[code]

`surface_altitude` is comparable to the `Surface Air Pressure` coordinate I mentioned in this issue. Regarding the `vertical coordinate formula term: ap(k+1/2)`, I think you're right, iris cannot determine the bounds of the resulting coordinate, but the

[2020-01-14 14:41] valeriupredoi commented on #405
@ledm I have changed the original message of the issue to reflect the issues at hand. I think the best incremental approach is to first open a PR that solves the data finding of the `volcello` data with other mips than Ofx;

Then we need to think about how to have the coupled case `(tas, volcello)` work optimally by running the preproc steps on both the vars and combining data from both to obtain

[2020-01-14 14:48] valeriupredoi commented on #373
@schlunma have you had the chance to look for Frankencubes with `iris=3.0`?

[2020-01-14 14:55] schlunma commented on #373
Do you mean `2.3.0`? I think `3.0` is not released yet.

[2020-01-14 14:58] valeriupredoi commented on #373
yes yes, I meant 2.3.0, sorry, I meant the 3rd iteration of 2 :grin:

[2020-01-14 15:02] schlunma commented on #373
No, but I don't think that it is expected to change, since @bjlittle talked about version `3.0.0` :grin:

[2020-01-14 15:11] zklaus commented on #428
There might be a bug in iris, but I think we really need to tackle this for specific example files of interest to determine the best course of action. In the `hybrid_heights.nc` example, I don't think `sigma` and `surface_altitude` should appear in the `coordinates` attribute of the data variable, but also `atmosphere_hybrid_height_coordinate` is less common than the pressure variant and might hav

[2020-01-14 15:14] schlunma commented on #428
It's this dataset:

[code]

[2020-01-14 15:32] schlunma commented on #428
I encountered a more serious problem during the concatenation. After the concatenation step, the resulting cube does not have a `derived coordinate` anymore, even though the input cubes all had them. I think this is a bug of `iris`, I will open an issue there.

Until now, we can only read datasets where on single file covers the whole time range.

[2020-01-14 15:40] ledm commented on #405
Thanks V, I'll get a PR sent off for this fix.

As an aside: `derive` isn't an option for this calculation. Derive makes a full copy of all data needed before it runs the derivation calculation. In this case, that requires making a copy of several tens of GB for both `thetao` and `volcello`. It's incredibly slow - can you imagine how long it takes sci3 to save a cube size `(240, 35, 1080, 1440)`?

[2020-01-14 16:52] ledm commented on #405
This is a pretty nasty flaw for the task I'm trying to do at the minute. I can think of a workaround, but it would be a few days of extra work for me. If I were a normal user (instead of an ESMValTool core developper with a couple years ESMValTool experience), this would be an insurmountable obstacle.

If there's a straightforward way to apply the preprocessing chain to the fx files, I'd rather do

[2020-01-14 17:55] zklaus commented on #428
Ok, so it seems that the appearance of both `surface_pressure` in the MPI example and `surface_altitude` in the `hybrid_heights.nc` example are actually intentional (see discussion in SciTools/iris#1159 and SciTools/iris#1070) and were actually a feature request. As such, we might consider applying a default constraint on loading to only get the variable we want.

The MPI file has some more proble

[2020-01-14 19:50] schlunma commented on #428
All right. I think I've encountered another bug (that appears when `Cube.aggregated_by()` is used), see SciTools/iris#3637.

[2020-01-15 11:23] #27 closed

[2020-01-15 11:28] mattiarighi opened #430 "CMIP3 processing does not work in parallel mode"
As discussed in #269, the processing of CMIP3 datasets works only if `max_parallel_tasks = 1` is set in `config-user.yml`.

This could be a serious limitation, e.g. for the ipcc recipe developed [here](https://github.com/ESMValGroup/ESMValTool/pull/1384).

[2020-01-15 13:07] bouweandela commented on #430
Could you please attach an example recipe that reproduces the problem?

[2020-01-15 13:14] mattiarighi commented on #430
Here it goes...

[recipe_cmip3.yml.txt](https://github.com/ESMValGroup/ESMValCore/files/4065037/recipe_cmip3.yml.txt)

[2020-01-15 13:59] schlunma opened #431 "Use of areacella and areacello in area_statistics not supported for CMIP6"
Using the following preprocessor

[code]

fails at the moment:

[code]

because certain fx variables are hardcoded in `_recipe.py` for CMIP6. I will take care of that.

[2020-01-15 14:06] bouweandela commented on #387
Apparently there is a batch reporting tool for issues with CMIP6 data. It would be nice if esmvaltool could produce a report in a format that can be used with this tool. @ESMValGroup/esmvaltool-coreteam does anyone know if this batch reporting tool is available already?

[2020-01-15 14:12] zklaus commented on #387
Are you referring to https://github.com/ES-DOC/esdoc-errata-client ? I am afraid it is not applicable for us: The modeling groups are officially filing the errata issues. All we can do is send them an email and hope that they follow up. For this, we have to take the `contact` attribute from the data file.

[2020-01-15 15:47] bouweandela commented on #387
That looks like something we could use, there is a specification of how the issues/datasets should be named: https://es-doc.github.io/esdoc-errata-client/create_cli.html#edit-the-issue

We could at least format the names of the input datasets in the same way in our cmorizer and provide content for the 'title', 'description' and 'project' fields. That way it might be easier for modelling groups to

[2020-01-15 15:56] zklaus commented on #387
Formatting things so they are helpful is certainly a good idea. I only meant that we cannot submit the report in general due to [authorization](https://es-doc.github.io/esdoc-errata-client/configuration.html#authorization).

[2020-01-16 07:44] bjlittle commented on #373
@valeriupredoi and @schlunma The latest scoop is that we've just released `iris` `2.3.0`, but that doesn't contain the changes that you need to address frankencubes(:tm:).

We've also decided to push out `iris` `2.4.0`, as a final `2.x` release (this is imminent)... again that won't contain the magic you need, soz.

The `iris` `3.0.0` release has been slightly delayed due to the massive amount of

[2020-01-16 08:57] SarahAlidoost commented on #91
@mattiarighi: the [config-references.yml](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/config-references.yml) will be used in the implementation of this issue. In this file, there is an instruction to fill out the entries.
For example, in the section "references" : # If possible as: "[Last name] et al., [journal abbr.], doi:[doi], [year]."

However, some of the entries don't fo

[2020-01-16 09:11] mattiarighi commented on #91
The idea behind that was to keep the reference entry short, possibly within 1 line (given also the 80-charachter limit for yaml, now extended to 120).

Since the doi uniquely identifies a reference, it would actually be enough to specify that, but I added author, journal and year to make it more readable.

Some entries do indeed not follow this instruction, this is mostly the case for technical re

[2020-01-16 10:22] SarahAlidoost commented on #91
@mattiarighi Thanks a lot. As you suggested, I think the use of the doi and something like doi2bib will solve the problem.

[2020-01-16 15:36] valeriupredoi commented on #431
might I add, that PR #432 is mighty biutiful :tractor: :grin:

[2020-01-16 15:50] valeriupredoi commented on #430
so here's a dumb question - I did take a look at the CMIP3 code changes and nothing struck me as obvious that may limit the parallel running - can you run any other type of data in parallel?

[2020-01-16 15:59] mattiarighi commented on #430
Yes, I always run the tool in parallel.
That's the only case which gives problems.

[2020-01-16 16:18] ledm commented on #24
I'm not sure that this issue was ever resolved. As @mattiarighi  just pointed out to me in an email, the `zonal_statisctics` and `meridional_statistics` preprocessors are included in the ESMValTool v2 paper, so we need to get them in.

[2020-01-16 16:19] mattiarighi commented on #24
Apparently it's just about renaming `zonal_means` to `zonal_statistics`.
I'm doing this. Will submit in a second.

[2020-01-16 16:26] schlunma commented on #373
I found another issue regarding Frankencubes:

The following file has two `latitude` and `longitude` (regarding the `standard_name`) coordinates:

[code]

This causes the tool to fail with `tos: does not match coordinate rank`, which is definitely not helping, because the rank of this file is just fine.

The problematic part is here

 https://github.com/ESMValGroup/ESMValCore/blob/a0552bd1a3310815

[2020-01-16 16:26] ledm commented on #24
To summarise where this issue got to, we encountered 3 main problems with zonal and meridional statistics:

1. Other parts of the preprocessor chain are not applied to the fx files. This means that zonal and meridional statistics can only be applied on the global scale - not regional. Also discsussed in #405.
2. We were unable to convince iris to apply a mean along the zonal or meridional directio

[2020-01-16 16:34] mattiarighi commented on #24
`zonal_means` seems to be used successfully in two recipes: `recipe_collins13ipcc.yml` and `recipe_flato13ipcc`. So, the functionality is there, it is just a matter of naming.

For consistency with the other `_statistics`, we should rename it to `zonal_statistics`.

[2020-01-16 16:55] bouweandela commented on #430
I also noticed it only hangs on the first dataset in the recipe, if I use the third one instead everything works fine.

[2020-01-16 18:23] valeriupredoi commented on #430
it looks to me like a data loading issue with `iris` - mine hangs with the BCM2 model and Ctrl-C-ing it I see this:
[code]
I get the same behaviour for MIPIM/ECHAM5 so there is a trend here, buuut with IPSL-CM4 all goes finey-fine

[2020-01-17 08:48] bouweandela commented on #91
I would recommend creating a directory `esmvaltool/references` and storing the downloaded bibtex files there.

[2020-01-17 08:55] #24 closed

[2020-01-17 11:48] mattiarighi opened #434 "Logger does not print out reference file"
While testing other PRs, I noticed that the logger does not print the reference file, although it says so:

[code]

Actually, we do not have such a file in the output, so we should probably just remove the message. It looks like a remnant from v1.0.

[2020-01-17 11:48] valeriupredoi commented on #430
OK I figured out where the roadblock is - at save point: it hangs right here (in debug mode one can see):
[code]

Interestingly enough there is no issue saving the originally loaded cube in multiproc mode, see:
[code]

BTW @jvegasbsc you can test on Jasmin since CMIP3 data is in `/badc/cmip3_drs/data/cmip3/output/`

[2020-01-17 12:40] #365 closed

[2020-01-17 13:16] #431 closed

[2020-01-17 13:16] #405 closed

[2020-01-17 13:39] bouweandela commented on #434
Indeed let's remove it. My colleague @SarahAlidoost is working on fixing the citation information in #402.

[2020-01-17 13:40] mattiarighi commented on #434
Removed in #435.

[2020-01-17 13:40] #434 closed

[2020-01-17 13:43] bouweandela commented on #430
Based on the stack trace I think the problem is actually with loading the data. This is only done when saving because all preprocessing steps are lazy.

[2020-01-17 13:50] valeriupredoi commented on #430
niet, comrade, it is save:
[code]

[2020-01-17 13:51] valeriupredoi commented on #430
I turned on intermediary file saving

[2020-01-17 14:19] valeriupredoi commented on #430
I confirm that that stacktrace doesn't happen, well the thing goes through, when reducing `max_parallel_tasks: 8` to `1`

[2020-01-17 14:19] mattiarighi commented on #430
Which model(s) did you try?

[2020-01-17 14:20] valeriupredoi commented on #430
or when running with IPSL-CM4

[2020-01-17 14:21] valeriupredoi commented on #430
I ran MIPIM-ECHAM5 (problem with multiproc save), IPSL-CM4 (goes fine) and BCM2 (same problem as ECHAM5)

[2020-01-17 14:33] valeriupredoi commented on #430
what puzzles me is why this works:
[code]
and the saver inside the tool doesnt. @bouweandela any ideas?

[2020-01-17 14:36] ledm opened #436 "Preprocessor chain is not being applied to cell measures"
Basically, if your preprocessor changes the shape of the diagnostic data cube (for instance a spatial or temporal slice, such as the `annual_statistics` or  `extract_region` preprocesors), before using the  `area_statistics`, zonal_mean` and `volume_statistics`  preprocessors, then the resulting cube will no longer have the same shape as the FX data.

This means that we can only use the mean opera

[2020-01-17 14:36] ledm commented on #436
I think that this issue had been raised elsewhere, but never had a dedicate issue number.

[2020-01-17 15:49] valeriupredoi commented on #430
afraid upgrading to `iris=2.3.0` and `dask=2.9.2` is not resolving this still -> most prob something to ping @bjlittle for :beer:

[2020-01-17 16:30] valeriupredoi commented on #430
Huzzah!! I have managed to replicate the very same hang and Trace (via KeyBoardInterrupt) for a toy model and not for the bulky esmvalcore framework:
[code]

[2020-01-17 16:42] ledm commented on #387
I like this idea of automatiically summarising all dataset issues in a separate file. The time spent dealing with non-compliant datasets is non-trivial, and there are still enough problems that it may prevent new users from using ESMValTool.

[2020-01-17 16:55] ledm opened #444 "ssp534-over question?"
I've encountered a new experiment that I've never encoutered before. The ScenarioMIP experiment, `ssp534-over` branches from the run `ssp585` in 2040.

If I put this in a recipe like this:
[code]
Will ESMValTool be able to figure out that we don't want any data from `ssp585` after 2040?

[2020-01-17 17:14] valeriupredoi commented on #430
OK even more simple and with any sort of netCDF file (not necessarily CMIP3):
[code]

the Trace is coming from the lazy data computation in the same manner as for that CMIP3 file
[code]
It looks like one worker is tripping on the other worker that thinks it hasn't finished yet. It is interesting to see this happen **only** if I call `my_func2` before calling the mapping func with pool. I don't und

[2020-01-17 17:37] valeriupredoi commented on #430
and yes @bouweandela was (partially) correct - it's at `save` stage where it happens in the case of esmvalcore since that's the only spot where data gets realized (`da.compute(*arrays)`). Inherently this is an issue with `da.compute()` (so `dask`) and `pool`; in fact, nothing to do with `iris` either since it all starts from the `da.compute()` point eg
[code]
will hang in the same way, Ctrl-C-ing

[2020-01-17 17:41] valeriupredoi commented on #430
so for some odd reason, in the case of those CMIP3 models, the workflow is somehow calling a function that needs to realize the data before calling the same function in a `Pool` and things get hanging -> any ideas how this might happen @bouweandela ? :beer:

[2020-01-20 08:58] BenMGeo commented on #387
I support this idea.

A good add would be to report the full absolute file name that is read in (or at least ESMValTool tries).

Sometimes I just realized I had a typo, but I was not aware of it. (I added a line in some local branch, but might be more useful to include with this separate log.)

[2020-01-20 09:01] jvegasbsc commented on #430
There is one thing: CMIP3 models do not have dates in their name by default, so we read the file at the very beginning to know if the requested data is available or not. The thing that puzzles me is that this is done in a completely different cube

[2020-01-20 09:54] ledm commented on #436
@schlunma @mattiarighi  @valeriupredoi @zklaus, do any of you have any thoughts on how to implement this fix?

I don't mind trying to do it myself, but it would be good to have a discussion on how to do it first. Cheers!

[2020-01-20 11:31] valeriupredoi commented on #430
and this particular scenario in which a function is run on the cube while `Pool` is running the same function hence the hanging is happening only for a few select models, the others work fine

[2020-01-20 11:31] ledm commented on #436
This fix needs:
- [ ] Apply the same preprocessor functions in the same order to the fx data.

However, there are lots of caveats, because nothing is ever easy:

- [ ] only apply when the fx files are used by a preprocessor function (typically in a `*_statistics` function). Remember that not all statistics operator need the fx files.
- [ ] Only apply when a preprocessor before the statistics file

[2020-01-20 11:33] valeriupredoi commented on #436
cool cheers @ledm - will have a stab at this later on today, first fixing tests :1234:

[2020-01-20 11:35] mattiarighi commented on #436
Thank you @ledm for listing the caveats.
One question: can you give me an example of time-dependent `fx`? I only have experience with the masks and the area files.

[2020-01-20 11:41] ledm commented on #436
A time dependent FX file is fairly common in the Ofx `volcello`. The ocean grid varies with time (for instance, due to tides, storm air pressure changes or sea level rise) and so the cell volume needs to change.

The CMIP6 models: GFDL-CM4, UKESM1 and HadGEM3 all have time varying volcellos. Here's a recipe that shows this problem:

[code]

In this case, we'd need to apply both the `extract_volume

[2020-01-20 11:47] zklaus commented on #436
@ledm is right about the changing nature of `volcello`. Other affected variables are `thkcello` and `masscello`. However, note that if they are time-dependent they live in `Omon` (and `Odec`), not `Ofx`.

[2020-01-21 10:41] valeriupredoi commented on #436
started the work in #439 - nearly there but not ready yet, I'll let you guys know when done, most prob in a couple hours :beer:

[2020-01-21 12:37] ledm opened #440 "area_statistics unable to load areacello FX files when diagnostic MIP doesn't match fx MIP"
The UKESM1's  ocean spatial grid does not change (and perhaps other models too). It will always be the same for all MIPs, scenarios, experiments and time ranges. With this in mind, there is only one copy of the grid area data, `areacello`. It can be found with:
[code]
(As an aside, I don't understand why we need to provide a time range like `start_year: 1850, end_year: 1850` for a time-independent

[2020-01-22 08:35] ledm commented on #436
Just noticed that `zonal_statistics` and `meridional_statistics` don't even have the `fx_files` argument at the moment (but they probably should!) I'm making an issue about it now.

[2020-01-22 09:33] ledm opened #442 "The sum operator for zonal, meridional, area and volume statistics preprocessors"
There is a wider issue with the `sum` operator for  `zonal`, `meridional`, `area` and `volume` statistics. I don't fully understand how we are supposed to use this operator and whether it makes sense as it is currently implemented.

Some data comes in the form of the average concentration of the entire cell (for instance Chlorophyll per cubic meter) - it would not make sense to calculate the sum o

[2020-01-22 09:33] ledm opened #443 "Issues with Zonal, Meridional statistics preprocessors"
This issue continues the discussion from #433 (now merged).

 `zonal_statistics` has the following issues:
- [ ] It won't work for irregular grids, but that's not straightforward to fix - it currently raises an error.
- [ ] We may encounter grids that are regular in the latitude/longitude directions, but that vary with depth. It should fail if that is the case as it is not possible to perform this

[2020-01-22 10:35] valeriupredoi commented on #436
Another thing I need to fix in #439 is to retrieve and use only the fx files with the same mip as the master variable since we dont want to use the eg mip=Ofx ones, just realized that

[2020-01-22 10:40] zklaus commented on #436
What do you mean by that? Whether we must use eg `(Omon, volcello)` or `(Ofx, volcello)` only depends on the model, after all.

[2020-01-22 10:40] ledm commented on #436
I think he means this: #440.

[2020-01-22 10:42] valeriupredoi commented on #436
Yes but Ofx-volcello is not time-dependent and that can not he used for area or volume statistics where time ops are needed. @ledm are time-ops always needed for those preprocessors?

[2020-01-22 10:45] valeriupredoi commented on #436
No I mean 439 where fx vars are preprocessed - if they need to be time-processed then Ofx won't cut it

[2020-01-22 11:01] ledm commented on #436
`volcello` can be in either Ofx or Omon/Oyr, depending on the model. If it's has a time component it will be in `Omon`, if it is time-independent it will be in `Ofx`.

[2020-01-22 11:25] valeriupredoi commented on #436
yeah thx Sherlock :grin: But the question is: the code finds one of them first (if there is Ofx then it'll find Ofx and return it, if there is Omon/yr/dec it'll find that and return it) but if there's a time preprocessor needed to be applied on the fx data then if there's Ofx available then that preprocessor will fail miserably -> that's what I need to fix in #439

[2020-01-22 11:47] zklaus commented on #436
This really all depends on the individual preprocessor, doesn't it?

Some examples:
* `extract_region` makes sense on "fx" files, no problem
* `extract_time` makes sense on time-dependent "fx" files, should pass time-independent "fx" vars unchanged
* temporal statistics almost certainly makes no sense in either case, better to raise an exception
* regridding (regular or irregular) also almost cert

[2020-01-22 16:09] SarahAlidoost commented on #91
@mattiarighi and @bouweandela now "citation information" is stored along with the files produced by  diagnostics ([draft PR](https://github.com/ESMValGroup/ESMValCore/pull/402)). This is in a standard format bibtex. The information are those mentioned as "reference/s" in provenance.
I am wondering if there is other information that should be also considered as "citation information". 
Thanks.

[2020-01-22 16:13] valeriupredoi commented on #440
solved in #439

[2020-01-23 09:13] mattiarighi commented on #91
Very nice addition @SarahAlidoost, thanks!

There are (will be) 4 papers documenting ESMValTool v2.0:

- [Righi et al. (2019)](https://www.geosci-model-dev-discuss.net/gmd-2019-226/) is the technical overview and should always be cited.

The other three document the new diagnostics and should be cited depending on the diagnostics contained in the recipe being run:
- [Eyring et al. (2019)](https://

[2020-01-23 16:15] ledm opened #445 "Tiling problem with fx files in `area_statistics`"
There are a few issues with `area_statistics`.
- [ ] The tiling of the areacello/a data was done by numpy, which is too memory heavy. It needs to be replaced by a dask version.
- [ ] There is no option to try to calculate the cell areas. (This is neccesairy for observational datasets, sometimes as FX files are rarely available for these datasets.)
- [ ] There is no way to calculate a weightless me

[2020-01-23 16:22] ledm commented on #445
PR #446 should address all three issues.

[2020-01-23 16:23] ledm commented on #442
Partially solved with PR #446.

[2020-01-24 13:49] mattiarighi commented on #144
Did #183 address this issue?

[2020-01-27 13:36] valeriupredoi commented on #444
yes and no, using #280 it will concatenate depending on what and how data starts and ends ie if `ssp534-over` finishes after anything else and it starts at the same time as the others (or before), then it will use only that one; have a look at the concatenation mechanism there

[2020-01-27 16:46] zklaus commented on #144
I think by and large it does. However, there are a few issues regarding boundaries and regridding open (#184, #185). Perhaps also #186 is related.

Moreover, as we are starting the work on regional models in IS-ENES3, more things are likely to pop up. Would it be ok if I start a [project](https://github.com/orgs/ESMValGroup/projects) for this work to track the various issues? I think then we can c

[2020-01-27 16:49] mattiarighi commented on #144
Either that or create a label we can use for tagging CORDEX-related issues.

[2020-01-27 16:50] zklaus commented on #144
I like the project so that we can also use it as a management tool in the distributed IS-ENES work. Thanks!

[2020-01-27 16:52] mattiarighi commented on #144
Then let's close this.
The feasibility is in place, other issues are reported elsewhere as you said.

[2020-01-27 16:52] #144 closed

[2020-01-27 20:13] bouweandela opened #447 "Read ERA5 data in native format"
The ERA5 dataset is too large to CMORize and then store, e.g. one year of a single hourly variable takes up 34 GB after CMORization. Instead ESMValCore should be able to find ERA5 data already available (either on a cluster or downloaded through era5cli) and CMORize while reading it using fixes.

This can also be used as an example of how to add support for analyzing model data in native format, e

[2020-01-27 21:15] bouweandela commented on #430
Great detective work @valeriupredoi! Did you report the issue https://github.com/ESMValGroup/ESMValCore/issues/430#issuecomment-575723809 with dask?

[2020-01-28 11:58] valeriupredoi commented on #445
note however that `iris` still doesn't work with dask array weights (`cube.py` line 3277) so them weights need to be numpyfied

[2020-01-28 12:13] ledm commented on #445
Really? I thought that if you realise the dask array, it would be fine?

[2020-01-28 12:57] valeriupredoi commented on #445
mate: https://github.com/ESMValGroup/ESMValCore/pull/446/files/7ab07fcd14ebd29ffa1b901bf6e2b6a16437d1f6#r371303808

[2020-01-29 10:09] schlunma opened #448 "Using fx_files for preprocessor fails in rare cases"
**Describe the bug**
@bettina-gier found a funny bug: In some cases, using fx files in preprocessors (e.g for `landsea_fraction_weighting`) fails.

This recipe works:

[code]

This one

[code]

fails with

[code]

Note the additional `OBS` dataset in the second case.

I will try to address this in #439. I think this bug was introduced in #432. @valeriupredoi

[2020-01-29 11:26] valeriupredoi commented on #448
that should not happen if the variable's frequency is `fx` as it should be, due to the condition in `_data_finder.py`/l.262

[2020-01-29 11:30] schlunma commented on #448
That's exactly the problem. In `_add_fxvar_keys` the frequency gets set to `mon` even if the `mip` is `fx`, and the reason for this is that reading the `CMOR_TABLE` suddenly gives a frequency of `mon` instead of `fx`. So at some point in the code the `CMOR_TABLE` object get changed, but I still don't know where...

[2020-01-29 11:38] valeriupredoi commented on #448
I don't see where the problem is - i used `master` and ran the second bit of the recipe no problemo - I think @bettina-gier is using an older copy of master or some custom branch since the code line numbers differ as well

[2020-01-29 11:40] valeriupredoi commented on #448
aha! If you run the second bit *only* all goes well - if you run diag mvi and diag scatter I get that exact error

[2020-01-29 11:47] valeriupredoi commented on #448
so if you run only the first diag group it fails with `Failed to run weighting_landsea_fraction(air_temperature...` coz I got no sftlf/of files - if you run only the second diagnostic group, that goes well, if you run them both you get Tina's error - it smells to me of assignigning a var frequency from one diag and keeping it for the second which is highly illegal :grin:

[2020-01-29 13:13] schlunma commented on #448
Found the problem:

The problem appears when we call the the function `get_variable` of the CMOR table to check if the fx variable is in the table `mip`:

https://github.com/ESMValGroup/ESMValCore/blob/bc7c117323cd8b6eafcba72f2bcf0ebc1fc5229e/esmvalcore/_recipe.py#L404

I though that this returns always `None` if the variable is not in the table, e.g. for `sftlf` and `Amon`. However, for the `OBS`

[2020-01-29 13:20] valeriupredoi commented on #448
Great work, Inspector Poirot! I am fairly sure that's a bug - but waiting for @jvegasbsc to confirm :beer:

[2020-01-29 13:33] valeriupredoi opened #449 "Generalize preprocessing on fx variables used for preprocessor masks"
Natural extension of #439 to the fx variables (files) used to build landsea, landseaice and weighted masks. The only catch here is to allow non failures if fx files are not found since NE masks are applied.

[2020-01-29 13:39] valeriupredoi commented on #448
Prob best if you opened a PR with that fix Manu, so we see if all tests pass and give Javi a ready made platform to make changes, if needed :beer:

[2020-01-29 13:40] schlunma commented on #448
All right, will do after #439 is merged

[2020-01-29 16:36] ledm opened #450 "Depth_integration should be renamed and expanded to z_axis_statistics"
Most of our area/volume preprocessors have been expanded into `*_statistics`.

Depth integration is a special case of an operation in the z direction, and could be expanded to the more generic function `z_axis_statisics`.

Depth integration is the case:
[code]

By expanding `depth_integration` to `z_axis_statistics`, we gain the mean, min, max, standard deviation operators in the z axis. These are

[2020-01-29 16:41] ledm commented on #450
More generally, the following statistical functions exist:
- `volume_statistics` collapses cubes in the lat, long and z axs.
- `area_statistics` collapses lat and long axes.
- There are several time direction statistics function that collapse along the time dimension.
- `Zonal_statistics` and `meridional_statistics` collapse along the latitude or longitude dimensions respectively.

We're missing s

[2020-01-29 16:44] ledm commented on #450
Also, ***depth*** integration is an ocean specific term, and this function could be used atmospheric models as well.

[2020-01-30 11:28] valeriupredoi commented on #449
I will tackle this heroically after #439 has been merged - so giddyup and get that one in :beer:

[2020-01-30 11:34] schlunma opened #451 "Allow fx cubes as input for preprocessor functions which need fx files"
As mentioned in #439, it would be nice if all preprocessor functions which use fx files (e.g. `area_statistics`, `volume_statistics`, `landsea_fraction_weighting`, `mask_landsea`, etc.) would also accept `iris.cube.Cube` objects for the fx files, not only file paths, similar to [`regrid`](https://github.com/ESMValGroup/ESMValCore/blob/bc7c117323cd8b6eafcba72f2bcf0ebc1fc5229e/esmvalcore/preprocesso

[2020-01-31 11:46] #393 closed

[2020-02-03 13:13] valeriupredoi opened #453 "Regrid with esmpy tests failing on CI due to mock=4"
[code]

Honestly I gots no clues where the CI machine picks up `mock=4.0.0b1` and not `3.0.5` that's in my env and in all the conda-forge and pypi repos. Will investigate more - any clues @bouweandela ?

[2020-02-03 14:26] zklaus commented on #453
@valeriupredoi can I have the full log?

[2020-02-03 14:28] valeriupredoi commented on #453
@zklaus e.g. here mate https://circleci.com/gh/ESMValGroup/ESMValCore/6951?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-02-03 14:46] bouweandela commented on #453
We no longer need the mock library, we needed it for Python 2 and we no longer support that. In Python 3 it's available in the standard library as `unittest.mock`. I created #452 to fix this issue.

[2020-02-03 14:52] valeriupredoi commented on #453
and I closed #454 cheers Bouwe!

[2020-02-04 09:52] jvegasbsc commented on #448
You are right, @schlunma, it is not intended. In fact, the other copy call was introduced to solve a similar error.

[2020-02-04 10:42] valeriupredoi commented on #453
Solved by #452

[2020-02-04 10:42] #453 closed

[2020-02-05 15:50] sloosvel commented on #52
@jvegasbsc and I have been looking into creating a preprocessing function to able to compute ensemble means. I have a draft in a branch that groups the input products and then calls the multi_model_statistics function per grouped dataset. But then I found this issue so maybe it's better to continue here the discussion.

[2020-02-06 17:08] valeriupredoi opened #459 "Old branches to be deleted or PR opened and PR's to be refreshed or deleted"
Assigning people to have a look and delete all the branches that don't have an active PR or do but the PR is ancient; please mark KEEP if you choose not to delete, tick the box after you deleted otherwise; I am also listing the ones that need serious refreshing :beer:

- [ ] https://github.com/ESMValGroup/ESMValCore/tree/activity_alias @jvegasbsc DELETE NoPR
- [ ] https://github.com/ESMValGroup/ES

[2020-02-06 17:14] mattiarighi commented on #459
Spring cleaning!

[2020-02-06 17:27] valeriupredoi commented on #459
Indeed, found something useful to do instead of starting to write a gazillion slides for ARCDAP-3 :grin:

[2020-02-07 08:57] jvegasbsc opened #461 "Dataset problem: GFDL-CM2p1 sit has invalid time bounds"
I have found a sit file for CMIP5 GFDL-CM2p1 that has time bounds of about 1e9  with times of abot 40000. Iris breaks up at the checker, when changing the time units:

[code]

Pull request with the fix is coming soon

[2020-02-07 08:59] jvegasbsc commented on #461
[recipe_seaice_feedback.txt](https://github.com/ESMValGroup/ESMValCore/files/4169831/recipe_seaice_feedback.txt)

[2020-02-07 09:32] zklaus commented on #461
Just to clarify: I think we won't be reporting CMIP5 problems upstream, only CMIP6. Do you guys agree, @valeriupredoi, @mattiarighi, @bouweandela ?

[2020-02-07 09:33] jvegreg opened #463 "Do we still need fix_file?"
This fix was introduced when we were way more strict loading the data with Iris. The fixes we were doing then are now done in the `fix_metadata` step in a more efficient way.

Do we get rid of this fix step or keep it for *possible* future necessity?

@schlunma has implemented some new fixes using this, but I think he may be able to move them to the `fix_metadata` step using https://scitools.org.u

[2020-02-07 09:36] valeriupredoi commented on #461
Indeed, anything that can still be repaired via errata and re-cmorization by the model teams - CMIP5 will not be touched anymore (I got a few blunt replies saying this) :beer:

[2020-02-07 09:37] schlunma commented on #463
I'll give it a try

[2020-02-07 09:39] zklaus commented on #463
This would, however, be moving the fix to the conceptually wrong place, forcing us to duplicate iris code (for parsing the netcdf information and creating the auxfactories, etc.) that is prone to change in future versions of iris and/or CF.

Fixing the attributes before the data is handed over to iris would avoid that.

[2020-02-07 09:49] schlunma commented on #463
Then I won't give it a try? Fixing this with `iris` is probably also less efficient

[2020-02-07 10:02] jvegasbsc opened #464 "Dataset problem: areacello missing for some CMIP5 historical runs"
The following CMIP5 datasets are missing areacello (in Jasmin at least) for the historical experiment

[code]

Detected while working in  ESMValGroup/ESMValTool#1299

[2020-02-07 10:13] zklaus commented on #464
Nice way to write the anchor!

The data also isn't available from esgf, so I suggest to simply exclude these models from analysis that relies on `areacello`.

[2020-02-07 10:23] jvegasbsc commented on #463
It is really difficult to be less efficient than `fix_file`, It is reading and writing again the full file before even loading it

[2020-02-07 10:29] bouweandela commented on #463
And users complain a lot if you try to do that sort of thing, because it's slow and uses lots of disk space.

[2020-02-07 10:35] schlunma commented on #463
Right, I forgot that the whole dataset is copied in the first place :man_facepalming:

[2020-02-07 11:23] jvegasbsc commented on #464
I will do that, leaving a note in the recipe about why we are excluding them.

[2020-02-07 11:23] #464 closed

[2020-02-07 13:27] schlunma commented on #463
Okay, I got rid of `fix_data` in my case (was actually a lot simpler than I expected). However, I'm not quite sure if we should `fix_data` completely.

[2020-02-07 13:42] valeriupredoi commented on #459
OK completed the list - the winner is hands down @jvegasbsc - we can call Javi Ernest Hemingway from now on given that the guy had more notes to fit in a hundred unpublished novels :grin:

[2020-02-08 11:21] jhardenberg opened #469 "_stock_cube fails on attempt to use float as integer"
Misteriously my copy of ESMValTool/ESMValCore gives the following error.

After installing a fresh copy of ESMValTool  (a fresh pull, using the master branch, updated environment, new setup etc) and testing any recipe, ESMValTool stops, complaining with

[code]
In fact lines 130- 142 of _regrid.py are currently
[code]

Apparently the last argument (the "num=" argument) should be an integer but is

[2020-02-08 11:30] jhardenberg commented on #469
I now see that @bouweandela fixed this 9 days ago. I assume it is not published yet in the conda esmvalcore version ....

[2020-02-08 17:43] jhardenberg opened #470 "regridding some CMIP6 datasets fails due to missing coordinate bounds"
Attempting to regrid the following CMIP6 dataset (Amon) (for example in the quantilebias recipe)
[code]
fails with
[code]

In fact, all these datasets are either missing coordinate bounds or have non-contiguous bounds (FGOALS-f3-L)

[2020-02-09 14:03] jhardenberg opened #471 "Dataset problem: CMIP6 CIESM precipitation data need to be multiplied by 1000"
CMIP6 CIESM model precipitation data seem to be too small by a factor of 1000.
I wrote a small for myself and I could make a pull request for it, but I guess that this needs to be signalled upstream.

- Data file has been changed by you in any way: no
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset decription (fill out as many as you know, please):
  - dataset: CIESM
  - experiment:

[2020-02-10 08:50] zklaus commented on #470
The missing bounds are a clear data error and should be addressed by fix files or better yet by the modelers. I'll have a look at the non-contiguous bounds.

[2020-02-10 09:02] zklaus commented on #470
For FGOALS-f3-L the latitude bounds are a bit odd. Here an excerpt:
[code]
In other words they claim a gap of ~.2 degrees between latitude bands. I think this is also a data error.

Hence, I suggest to close this issue in favor of data error issues.

[2020-02-10 09:10] zklaus commented on #471
The link is dead at the moment (404) and the data is not available on jasmin or mistral. Maybe somebody is already taking care of it on the modelers side? An errata entry is missing so far.
I suggest to revisit this issue in a weeks time (Mon, 2020-02-17) to check on availability of either data or errata entry.

[2020-02-10 10:00] #469 closed

[2020-02-10 11:36] jvegasbsc opened #474 "Non 1D longitudes are not forced to be 0-360"
We are currently not forcing non 1D longitudes to be in 0-360 range. That is inconsistent and can lead to errors when working with irregular grids.

Pull request incoming to fix that

[2020-02-10 13:30] bouweandela commented on #469
Because you're the first one using numpy 1.18:

from https://numpy.org/devdocs/release/1.18.0-notes.html#expired-deprecations

[2020-02-10 13:49] valeriupredoi commented on #430
no, should I report it to the dask folks, what you reckon?

[2020-02-10 15:13] earnone commented on #26
Was this concatenation issue sorted out for IPSL CMIP6? I got concatenation failure testing hyint on IPSL-CM6A-LR. See  [main_log.txt](https://github.com/ESMValGroup/ESMValCore/files/4181536/main_log.txt)

[2020-02-10 15:16] #311 closed

[2020-02-10 15:16] #447 closed

[2020-02-10 16:35] valeriupredoi commented on #26
@earnone I suspect that is a basic concatenation issue that is solved by https://github.com/ESMValGroup/ESMValCore/pull/280 - can you try with that pls :beer:

[2020-02-10 16:42] valeriupredoi commented on #26
speaking of (cheers for bringing this issue back in the limelight @earnone ) - I lost track of what's been implemented to slve this (if any) - what's the deal with these composite cubelists? @bjlittle here is an `ncdump -h` on the file that I mention in the OP
[cellprob.txt](https://github.com/ESMValGroup/ESMValCore/files/4181970/cellprob.txt)

[2020-02-10 16:48] bouweandela commented on #430
Yes, I guess so? If they tell us that's now how we're supposed to use dask we'll have learned something too ;-)

I'm planning to spend some time to see if we can parallelize esmvaltool runs better with dask probably in May.

[2020-02-10 16:49] bouweandela commented on #430
Actually, I'm surprised no-one ran into this issue when reading the vertical levels to regrid to from another dataset, because the code that does that looks quite similar.

[2020-02-10 20:11] jhardenberg commented on #471
Sounds like a good plan. Anyway a trivial fix is ready for a PR in branch https://github.com/ESMValGroup/ESMValCore/tree/fix_dataset_ciesm
and a copy of the data is here http://wilma.to.isac.cnr.it/jost/pr_Amon_CIESM_historical_r1i1p1f1_gr_185001-201412.nc

[2020-02-11 13:51] schlunma opened #479 "Irregular regridding gives cube which is not correctly read by iris (for specific dataset)"
**Describe the bug**
For a specific dataset (see recipe below), the regridded cube cannot be correctly read by `iris`.

**Recipe**

[code]

**Output**

This results in the following output fiile:

[code]

When read with `iris`, this gives

[code]

As you can see, the `latitude` and `longitude` coordinate are not present in the cube. I think the problem in the netcdf file is the `rotated_latitude_l

[2020-02-11 13:56] schlunma opened #480 "Irregular regridding fails for specific dataset"
**Describe the bug**
For historical `tos` of `MRI-CGCM3`, irregular regridding gives an empty field (completely filled with 0s). The original data is fine.

**Recipe**

[code]

[2020-02-11 14:30] earnone commented on #26
@valeriupredoi sure if I understand how... is there a line command within ESMValCore? Or any simple way to checkout `development_experiment_better_concatenation` within ESMValTool?

[2020-02-11 16:31] #349 closed

[2020-02-11 16:42] mattiarighi commented on #54
#280 seems to have solved this issue as well.

I tried reading the following dataset (see also @bjoernbroetz's [comment above](https://github.com/ESMValGroup/ESMValCore/issues/54#issuecomment-437858210)):
[code]
which I would expect to give problems, since the input directory contains overlapping files:
[code]
but it went through without errors.

However, from the log I cannot understand which of

[2020-02-11 16:51] valeriupredoi commented on #54
did you read the debug log? It's all there @mattiarighi (like in the Da Vinci Code :grin: )

[2020-02-11 16:58] #54 closed

[2020-02-11 17:00] valeriupredoi commented on #54
yay! :tada:

[2020-02-11 17:14] valeriupredoi commented on #26
@earnone #280 has now been merged in the Core so all you have to do is to grab the latest `master` for the Core and reinstall and then you ready to test :beer:

[2020-02-12 10:31] bascrezee opened #481 "`extract_month` not functioning properly"
**Describe the bug**
The preprocessor `extract_month` does not work when the input cube does not yet have the auxiliary coordinate `month_number`. It needs to be added first if it is not there yet.

Example recipe:
[code]

[2020-02-12 12:09] #481 closed

[2020-02-12 15:44] BenMGeo opened #485 "regrid preprocessor regrids dataset though it has the same grid specification as target grid"
The regrid preprocessor currently reacts "dumb" and regrids all datasets, even if a dataset is set as the targetgrid. This takes a serious amount of time, depending on your grid resolution, and has no visible benefits (at least for me).

Same if the horizontal grid is defined the same as the original dataset's.

[2020-02-12 15:49] BenMGeo opened #486 "MultiModel statistics data objects missing 'alias' key"
The MultiModel statistics data objects are missing the` "alias"` key. This cannot be set manually (?) and thus is missing if it is called for e.g. labeling.

The specific dataset name in this case should be good to go, so either you need to pop the `"alias"` in the diagnostic and set the dataset name as the default option OR we just double the dataset name as alias after calculating the statistic.

[2020-02-13 13:18] earnone commented on #26
Ah, easy, thanks. But nope, still failing to concatenate. The files look fine and can be concatenated with e.g.`cdo`. Both historical and ssp585 data that I am trying to concatenate go smoothly through the preprocessing individually.

Here is the error message:
[code]

[2020-02-13 14:26] valeriupredoi commented on #26
@earnone can you post a reduced recipe that I can use to reproduce the issue pls? :beer:

[2020-02-13 14:27] valeriupredoi commented on #26
note that this is a different issue than the one I am reporting in the OP here

[2020-02-13 15:15] bascrezee opened #487 "New preprocessor mask_multimodel"
**Is your feature request related to a problem? Please describe.**
I want to propagate the mask over several datasets such that when an element is masked in one dataset, it is also masked in all other datasets.

**Would you be able to help out?**
Yes, working on it. Initially I thought `mask_fillvalues` would do the job, but it doesn't. Also Github kindly points me to other issues, and just now I

[2020-02-13 15:19] mattiarighi commented on #487
Can you be more specific on why `mask_fillvalues` doesn't do what you need.
From the feature request it looks like this is exactly what `mask_fillvalues` was designed for.

@valeriupredoi

[2020-02-13 15:23] bascrezee commented on #487
Yes, let me try to clarify.

[code]

In my diagnostic script:
[code]

Executing raises `AssertionError`

[2020-02-13 15:25] mattiarighi commented on #487
Maybe we should try to extend or adapt `mask_fillvalues` rather than create a new preprocessor.
@valeriupredoi any suggestion?

[2020-02-13 15:29] bascrezee commented on #487
Yes, I would be in favour of that as well. There is another tiny bug in mask_fillvalues as well, let's fix that first (working on it).

[2020-02-13 15:41] bascrezee opened #489 "`mask_fillvalues` fails in some cases when input is parsed as string and not as float"
**Describe the bug**
The example given in the documentation for `mask_fillvalues` fails, because the input is parsed as string and not as float.

[code]

[code]

[2020-02-13 15:41] valeriupredoi commented on #487
@bascrezee can you post the output of `np.where((cubelist[0].data.mask ^ cubelist[1].data.mask) is True)` pliz :beer:

[2020-02-13 15:44] valeriupredoi commented on #487
there is no actual reason why to implement a new preproc func for this - it should work as it is now for exactly this purpose, unless, of course, there is a bug that I have not seen so far (totally possible)

[2020-02-13 15:46] earnone opened #490 "Cube concatenation failure with IPSL cmip6 Atmos"
**Describe the bug**
Running the `hyint` recipe on the IPSL-CM6A-LR cmip6 model fails when attempting to concatenate historical with the ssp585 pr day projection. The files look fine and can be concatenated with e.g. cdo. Both historical and ssp585 data run smoothly through the preprocessing independently.

Error message:
[code]

Here is the [main_log_debug.txt](https://github.com/ESMValGroup/ESMV

[2020-02-13 15:47] earnone commented on #26
Great @valeriupredoi. Moved this to #490.

[2020-02-13 15:57] valeriupredoi commented on #487
also I think I know where your assertion error comes from - if you have time axes with different dimesnions, then the assertion error will come up - try `assert(np.array_equal(cubelist[0][0].data.mask, cubelist[1][0].data.mask))`

[2020-02-13 16:00] bascrezee commented on #487
Thanks for the super fast support guys. Have to leave now, I will look further into this tomorrow.

[2020-02-14 09:41] #489 closed

[2020-02-14 09:42] bascrezee commented on #487
[code]

[code]

So the arrays are not equal in my use case, and indeed I could trace it to a slightly differing time axis (1 day shifted) as suggested by @valeriupredoi.

[2020-02-14 09:46] valeriupredoi commented on #487
Phew, so our jood old method is still accurate then :beer

[2020-02-14 09:47] valeriupredoi commented on #487
Sorry, pressed the wrong button on my phone. Cheers, so the method is still accurate phew :beer:

[2020-02-14 11:41] valeriupredoi commented on #487
can close this @bascrezee no? :beer:

[2020-02-14 11:42] valeriupredoi commented on #490
cheers @earnone - will be all over this in a short while today :beer:

[2020-02-14 13:33] valeriupredoi commented on #490
@earnone this is not related to #282 - the problem here is simple: you are using daily data and the first cube ends at 2014-12-31 12:00:00 and the next cube starts at 2015-01-01 12:00:00 -> there is no overlap so the concatenation can not produce a result! Note that the improved concatenation assumes a minimal overlap between the cubes (minimal = at least one time point). But since there is none,

[2020-02-14 13:44] earnone commented on #490
@valeriupredoi the concatenation works fine when subsequent files are adjacent in time (as it is in this case), no need for overlap. It works for all other models. I think it is as you found the wrong `attributes` for the `'time_origin' `

[2020-02-14 13:47] valeriupredoi commented on #490
not just a data fix but rather a perennial metadata fix in `fix.py` - @jvegasbsc you wanna do it or should I do it?

[2020-02-14 13:50] valeriupredoi commented on #490
@zklaus is `coord("time"){attributes}` a CMOR accepted field?

[2020-02-14 13:52] valeriupredoi commented on #490
the CMIP6 coords table mentions nothing about it:
[code]

[2020-02-14 14:02] #403 closed

[2020-02-14 14:27] #151 closed

[2020-02-14 14:34] bouweandela commented on #485
I think this would be a good idea, we do have code that does this for vertical regridding, but not for horizontal regridding. See https://github.com/ESMValGroup/ESMValCore/blob/a9312a7d5be4fa3aac55c0b2ef089c6b4e1a61a9/esmvalcore/preprocessor/_regrid.py#L433-L450

[2020-02-14 14:40] valeriupredoi commented on #490
removing the time attributes allows concatenation and recipe goes through to finish line :beer:

[2020-02-14 14:41] bouweandela commented on #486
Yes, you should be able to just add an '`alias'` key e.g. here https://github.com/ESMValGroup/ESMValCore/blob/a9312a7d5be4fa3aac55c0b2ef089c6b4e1a61a9/esmvalcore/_recipe.py#L609

[2020-02-14 14:49] bouweandela opened #493 "Regional regridding"
The current `regrid` preprocessor function only allows global grids, e.g. "1x1" degrees. It would be nice to have a more flexible preprocessor function that allows you to define a regional grid.

Maybe `regrid_region` with arguments `latitude` and `longitude`, which take 3 numbers as input, start, stop and step (or number of steps)?

Alternatively, we could combine the regrid and extract_region fu

[2020-02-14 14:54] zklaus commented on #490
That attribute is indeed not cmip6 and could simply be deleted.

In principle, the problem is also in the official attribute for this purpose, the units for time which are given as
[code]
but should be "days since 1850-01-01" because it is a continuation of a historical run.
However, this is fixed automatically already by ESMValTool, so adding a fix that removes the time_origin attribute should be

[2020-02-14 14:59] zklaus commented on #493
Just to be clear, the regridding, both regular and irregular works perfectly fine with regional grids (bugs notwithstanding), it's the construction of the target grid from a compact grid specification string that needs to be improved.

[2020-02-14 14:59] zklaus commented on #493
In terms of regional model data, like from CORDEX, this is likely less of an issue since you can simply regrid to the existing regional grid.

[2020-02-14 15:29] bouweandela opened #494 "Support per dataset DRS"
Now that we have support for reading in the ERA5 dataset in it's native format through the `native6` project (https://github.com/ESMValGroup/ESMValCore/issues/447), it would be good to add support for a per dataset DRS, so other datasets (which will typically come with their own DRS) can also be supported using the `native6` project.

[2020-02-14 15:51] valeriupredoi commented on #490
sweet - fix in https://github.com/ESMValGroup/ESMValCore/pull/495

[2020-02-14 15:52] valeriupredoi commented on #490
However, this is fixed automatically already by ESMValTool, so adding a fix that removes the time_origin attribute should be enough.

That's indeed fixed proper in check->fix.py

[2020-02-14 16:06] valeriupredoi commented on #494
`config-developer.yml` or you thinking something fancier so we don't overcrowd the file? :beer:

[2020-02-14 16:09] valeriupredoi commented on #493
if you want to combine multiple regions with different grids into a multimodel bin you will be in massive pain :grin:  Why not combine `extract_region` followed by a per-region `regrid`?

[2020-02-14 16:33] bouweandela commented on #436
I experimented a bit with `iris.coord.CellMeasure` and it seems to work as expected (though from the iris repo it looks like they are in the process of completely redesigning it):
[code]
prints
[code]

If iris cell measures work as expected, I would strongly prefer to add them to the cubes at load time (if needed for the preprocessor steps defined in the recipe) and take them through the preproces

[2020-02-14 16:36] valeriupredoi commented on #436
indeed! But let's get #439 first in since that has been tested in anger and production by @ledm while we are still experimenting with iris new features. Please don't delay that because I'd rather we have a working donkey than a theoretical race horse :horse:

[2020-02-15 09:59] jhardenberg commented on #470
The recently merged PR #166 (guesses missing bounds automatically) solves this issue for most models which I listed, except for FGOALS-f3-L, which indeed does have bounds, but wrong ones. I prepared a working fix in [this branch](https://github.com/ESMValGroup/ESMValCore/tree/datasetfix_fgoals-f3-l)

[2020-02-17 13:22] valeriupredoi commented on #436
also note that the fx variables are not exactly the same as `cell_measure` since as seen in #439 a variety of time-varying or FIXED area/volume variables are needed by the scientist - probably what the iris guys have in mind for the overhaul?

[2020-02-17 14:42] zklaus commented on #436
Indeed, this issue really is only about `cell_measure`s. Somebody wanna fix the title?

Regarding iris support, @bouweandela is right that a lot is working already. In some ways, the situation is even better, because CMIP6 data often already contains the correct `cell_measures` attribute. The problem is that generally the cell measure variable is not stored in the same file but referred to with th

[2020-02-18 12:24] #317 closed

[2020-02-19 11:00] #490 closed

[2020-02-19 11:24] bouweandela opened #498 "ESMValCore (and ESMValTool) Python/Jupyter Notebook API"
For interactive data exploration, it would be great if we could make it possible to use ESMValCore and the diagnostics included in ESMValTool accessible from a Jupyter notebook.

Here is an example of what such a notebook could look like:  [ESMValTool Notebook API example.ipynb](https://gist.github.com/bouweandela/c60fb23ad84bcc1569237d79608e9c02)

And here is a rough mapping from current function

[2020-02-19 12:24] BenMGeo commented on #486
Automatic Alias added in #499.

Should we add an optional alias name or leave that to the diagnostic?

[2020-02-20 07:03] #474 closed

[2020-02-20 13:57] #219 closed

[2020-02-20 14:44] valeriupredoi commented on #25
did you add this to the documentation @schlunma ? So we can close...

[2020-02-20 15:20] valeriupredoi commented on #47
we can now pass lazy weights to collapse operations eg:
[code]
and the input data and the output data will be LAZY (iris2.4) but the execution time of the collapse operation with or without weights still differ by a factor of 50 and memory increases by 2-3x
@bjlittle -> any news on the iris front? :beer:

[2020-02-20 15:40] valeriupredoi commented on #88
superseded and implemented via cmor check levels by #374 - @bouweandela we can close this

[2020-02-20 15:43] valeriupredoi commented on #72
current testing average for ESMValCore is about 80-85% -> not bad! There's a couple PR's with more testing, I reckon it's safe to close this? :beer:

[2020-02-20 15:47] valeriupredoi commented on #67
`_recipe.py` is currently 90+% tested, `_task.py` is pretty bad at 45% - I can go ahead and write some more tests for task

[2020-02-20 15:48] schlunma commented on #25
No, I totally forgot about that :grimacing:

[2020-02-20 15:50] valeriupredoi commented on #60
can now use the `convert_units` preprocessor step :beer:

[2020-02-20 15:58] valeriupredoi commented on #58
@ValerioLembo does this need revisiting or has been solved for you in the meantime? :beer:

[2020-02-20 16:02] ledm opened #504 "Dataset problem: NorCPM1 historical run goes to 2030."
Someone in Norway is living in the future: the historical run goes up to 2030! On jasmin, the file is
[code]
The file itself seems okay, just it shouldn't be in the historical experiment.

[2020-02-20 16:05] jvegasbsc commented on #72
And maybe open a specific one to improve derivation testing? See shorturl.at/cJKZ3

[2020-02-20 16:12] #302 closed

[2020-02-20 16:17] #284 closed

[2020-02-20 16:18] bouweandela opened #505 "Units reported in metadata.yml may differ from actual units"
Because the units reported in metadata.yml are read from the CMOR table, preprocessing operations that change the units of the data will make this information invalid.

Maybe we could just remove the units entry from metadata.yml/varname_info.ncl files, or we should read it from the cube before saving.

[2020-02-20 16:19] bouweandela commented on #60
Related to #505

[2020-02-20 16:25] bouweandela commented on #505
@mattiarighi @schlunma Any idea if diagnostics actually use the units attribute from the interface instead of from the data?

[2020-02-20 16:29] valeriupredoi commented on #72
so bad stuff, apart from derive modules and main (I have a PR that ups the testing cov for main to 86%):
[code]

[2020-02-20 16:31] #88 closed

[2020-02-20 16:32] valeriupredoi commented on #253
@rswamina is also interested in this

[2020-02-20 16:33] schlunma commented on #60
I don't think we can close this, `convert_units` (hopefully) doesn't convert units from `mol m-3` to `mol m -2`.

[2020-02-20 16:38] valeriupredoi commented on #60
why not? It's a valid CF unit, the cube doesn't care if it's `cows / vultures` as long as they are CF units, it's CMOR that will be barking at you, but you're on your own there

[2020-02-20 16:39] schlunma commented on #60
[code]

[2020-02-20 16:41] ValerioLembo commented on #58
@valeriupredoi I made a quick test and it seems to me that the problem with ACCESS1-3 is solved, whereas the one with IPSL-CM5A-LR still persists...

[2020-02-20 16:44] schlunma commented on #505
I have several examples where I check that both are equal (so it would be fine to just use once). I think it would be nice to drop the attributes in `metadata.yml`, but we need to check a lot of diagnostics for that.

Alternatively, we could set the attribute to `cube.units` in last preprocessor step (assuming that `cube.units` was modified correctly by the preprocessors).

[2020-02-20 16:50] valeriupredoi commented on #60
`ValueError: Unable to convert from 'Unit('mol m-3')' to 'Unit('mol m-2')'.` :man_facepalming:

[2020-02-20 16:52] valeriupredoi commented on #232
closed via https://github.com/ESMValGroup/ESMValTool/pull/1317

[2020-02-20 16:52] #232 closed

[2020-02-20 17:03] bouweandela commented on #436
Indeed, but until it does, I think we can just modify our load/fix_metadata functions so the cell measures get attached as shown in the example above https://github.com/ESMValGroup/ESMValCore/issues/436#issuecomment-586365138.

That pull request makes a lot of changes to the way tasks are constructed from the recipe and in general is very large. I'm afraid we will introduce all kinds of bugs if we

[2020-02-20 17:06] valeriupredoi commented on #436
@bouweandela - I'll let @ledm explain to you in what many ways we need that PR - mate, it's really not as simple as load the fx files and change them, we need to preprocess them as per the user's needs. Do note that I have removed the changes on tasks apart the one that actually cleans up identical ancestors within a single task, that is needed imho. The PR is long but that's not a reason to cold

[2020-02-20 17:09] valeriupredoi commented on #436
also that PR contains a lot of very useful changes @schlunma and myself have done to the fx vars handling in general, not just for the purpose of preprocessing them for the area_statistics or volume_statistics. Note that @LisaBock and @ledm and a bunch of other IPCC authors (inc. myself) need this functionality yesterday

[2020-02-20 17:09] valeriupredoi commented on #436
we can review it together, over a beer, not a worry about doing it alone :beer:

[2020-02-20 17:13] valeriupredoi commented on #436
on top of it all - @ledm has already produced preliminary IPCC results so delaying the integration will affect the scientists -> and am done lobbying :grin:

[2020-02-20 17:16] mattiarighi commented on #505
I tried to grep quickly through the NCL scripts and there are a lot of occurrence of `@units`. My feeling is that this is read from the data, but it's hard to tell without looking at every script in detail.

Checking all the affected diags might be lot of work, it could be more effective:
- to remove the units entry from metadata.yml/varname_info.ncl as suggested
- to run the affected recipes / di

[2020-02-21 05:28] BenMGeo commented on #486
Closed unless custom aliases should be included.

[2020-02-21 05:28] #486 closed

[2020-02-21 10:12] zklaus commented on #436
If it's so important you will be eager to prepare the changes to facilitate easier, ie quicker review.
Some things you can do:

- Rebase on the current master instead of merging, so it is clear in the history what change actually is from this pull request.
- Have meaningful commits, ie every commit is exactly one meaningful unit of change
- Have meaningful commit messages, ie a one-liner summary t

[2020-02-21 10:19] valeriupredoi commented on #436
K-man @zklaus you are correct albeit if we were at a pub right now I'd refuse to buy you a pint :grin: :beer: But, here's the deal - how about I don't perform a rebase since I am not a big fan of rebasing (I love history!) but rather break #439 into two or three smaller PR's - how's that sound?

[2020-02-21 10:22] zklaus commented on #436
That sounds great! And let's discuss the rebase over a beer. I'll buy. :smile: :beers:

[2020-02-21 10:52] #299 closed

[2020-02-21 13:51] valeriupredoi commented on #485
this can be done via a quick cube equality check

[2020-02-21 16:03] valeriupredoi commented on #436
OK guys I have now broken down PR #439 into four bits (and @zklaus was quick and and on the ball to approve the first bit so that one is now in `master`). So here they are, in the order in which we need to examine, change and eventually merge them:

- Moving the list of time preprocs to init https://github.com/ESMValGroup/ESMValCore/pull/508 (already merged, cheers Klaus!)
- Core functionality inc

[2020-02-22 13:11] jhardenberg opened #512 "Dataset peculiarity: UKESM1-0-LL historical daily missing last day 2014-12-31 due to using 360-day calendar"
UKESM1-0-LL historical CMIP6 daily data are missing the last date and end on 2014-12-30
I tested zg, pr, tas, ua . Verified also on files downloaded freshly today from ESGF.

This is basically a data error, that is why I report it here for ESMValCore, but there is obviously nothing which can be done about it I guess, apart from reporting it upstream.
Some diagnostics based on daily data do not lik

[2020-02-24 08:50] zklaus commented on #512
I'll take the data issue upstream.

Wrt your questions:
1. I think this is heavily diagnostic dependent. A line plot of global average surface temperature will be fine with one day missing. A reference daily climatology obviously not.

2. It depends on what "like that" means, I guess. Historically, ESMValTool is quite focused on monthly data, but with potential changes in the way that time specifi

[2020-02-24 09:03] zklaus commented on #504
We have had feedback from the modelers and they prepared an erratum for this [here](https://errata.es-doc.org/static/view.html?uid=ad9e4213-f254-e930-a143-030a4b0f8a32).

Bottom line: They needed a control experiment for their decadal forecasts and chose to publish this as an extension of the historical experiment. @veyring, is this a good idea? Should we raise it with CMIP and/or ESGF?

[2020-02-24 09:06] zklaus commented on #58
This issue deals with many problems. I am not sure if a dataset error is still one of them (one problem might be that 'months' is not an acceptable unit in the CF sense). @valeriupredoi could you please figure out the situation, probably with @ValerioLembo and file one or two issues using our dataset problem template if this is still relevant?

[2020-02-24 09:08] valeriupredoi commented on #58
Yep, will be on it today :beer:

[2020-02-24 09:13] valeriupredoi commented on #504
Cheers for taking this upstream @zklaus :beer: Good to see our data alerts scheme working and good to see they've responded so fast. Imho this a problem with ESGF accepting something that should defo be renamed, I'll also have a chat with @agstephens and David Hassell see what they reckon

[2020-02-24 09:19] zklaus commented on #329
I am reviewing this while checking all the open data issues. Since we have updated the tables in #363, is this still an issue? @ValerioLembo, could you please weigh in?

[2020-02-24 09:27] zklaus opened #513 "How should we treat unpublished data?"
In #471 @jhardenberg reports an issue with CIESM CMIP6 data. Already at the time of the report the data was not available for download (the link was broken) and by now the data is not listed on ESGF anymore.

Should we still write fixes for such data? Upstream reports? Maintain existing fixes? Keep the issue open and around?

@jvegasbsc, @bouweandela, @mattiarighi, @valeriupredoi, what do you guys

[2020-02-24 09:31] zklaus commented on #49
@valeriupredoi:

I am guessing this refers to ESMValGroup/ESMValTool#638, right? This has been merged, so @jvegasbsc could you please clarify if this issue here has been solved?

[2020-02-24 11:11] valeriupredoi commented on #513
my take would be to keep the issue open (maybe add a flag in the title a la POTENTIAL DATA ISSUE) and keep an eye or two on it when the data will be re-uploaded on to ESGF and see about its health, but don't do anything else in the meantime since even if we have a fix, if data is now unavailable, then nobody can use the fix anyways :beer:

[2020-02-24 11:18] valeriupredoi commented on #504
man this is like publishing a book called "Erwin Rommel's Campaign in the Western Desert, 1941-1991" :rofl:

@agstephens @durack1 what do you guys think? :beer:

[2020-02-24 11:23] valeriupredoi commented on #512
I think this is an issue with the data in the broad sense, a day missing is, at the end of the day, a missing data point - first let me ask @matthew-mizielinski who is the coordinator of the UKESM data conversions and dissemination (CDDS) what he thinks :beer:

[2020-02-24 11:25] valeriupredoi commented on #512
to follow: https://github.com/cedadev/jasmin-cdds/issues/37

[2020-02-24 11:55] matthew-mizielinski commented on #512
@jhardenburg, @valeriupredoi

While it may be unusual within CMIP6, this is not an error in the data.

The UK models (UKESM1 & HadGEM3) are all configured to run with a 360 day calendar (i.e. 30 days in every month, including February!). This is indicated by the calendar attribute on the time variable in each and every file;
[code]

There may be certain MIPs that choose to run with a gregorian (DC

[2020-02-24 12:16] valeriupredoi commented on #512
perfect, cheers @matthew-mizielinski - I was suspecting it's the 360-cal but didn't want to let the bird out the cage :grinning:

As Matt says, we should probably get a workaround this then :beer:

[2020-02-24 12:18] jhardenberg commented on #512
All clear, thank you very much for the clarification @matthew-mizielinski ! Indeed we will need to adapt our diagnostics to be able deal with this correctly. Thank you.

[2020-02-24 13:03] valeriupredoi commented on #58
@ValerioLembo - I ran this toy recipe:
[code]
and noticed no problem in the preprocessor, there was a problem in the diagnostic but not related to data structures - can you pls tell me which data spec for IPSL-CM5A-LR is still problematic? :beer:

[2020-02-24 13:12] ValerioLembo commented on #58
@valeriupredoi The issue is with the monthly mean data, e.g. hfls...

[2020-02-24 13:46] valeriupredoi commented on #58
like this? This one went fine too, preprocessor-wise:
[code]

[2020-02-24 14:09] valeriupredoi commented on #58
...and this one has no preprocessing issues either - @ValerioLembo can you please post a recipe snippet that is failing for you at preprocessor stage, and aslo add the ful trace please :beer:
[code]

[2020-02-24 14:21] #512 closed

[2020-02-24 14:27] zklaus commented on #26
This is related to the discussion on `cell_measures`, see eg [here](https://github.com/ESMValGroup/ESMValCore/issues/436#issuecomment-586365138) (other comments in the thread apply).

Ultimately, this is a data error in that we should remove the `area` variable.

[2020-02-24 14:31] valeriupredoi commented on #512
we should probably add a note on this somewhere somehow, otherwise somebody else will open the same issue again and we'll scratch our heads "hang on, didn't we see this before?"

[2020-02-24 14:43] zklaus commented on #512
I disagree. This was an oversight, but all the information is there and correct. We'll just have to deal with these things from time to time.

[2020-02-24 15:04] bouweandela commented on #436
Maybe I'm missing something here, but to me it looks like it is. If you have a careful look at the example I posted earlier (https://github.com/ESMValGroup/ESMValCore/issues/436#issuecomment-586365138), you will see that once you have attached the cell measures to the cube, `iris` automatically takes care of applying the preprocessor functions to the cube's cell measures as well as to the cube's d

[2020-02-24 15:18] jhardenberg commented on #512
Actually I think that I will open an issue on the ESMValTool github (and develop a PR) to make sure that the diagnostic that was failing for me (miles_eof) works correctly with this dataset .....

[2020-02-24 15:23] valeriupredoi commented on #512
diagnostic developers will not know this first hand and will scratch their heads, in process most probably opening an Issue. I think it's a good idea to note it somewhere - the question is where? Maybe we can create a list of datasets with peculiarities and put it in the documentation? @mattiarighi @bouweandela what say yous? :beer:

[2020-02-24 15:58] bouweandela commented on #512
I think the ESMValTool documentation is not the place to document CMIP6 data. I believe this is what ES-DOC is for?

[2020-02-24 16:05] valeriupredoi commented on #512
no of course not, but ES-DOC is huge :grin: Also, if we start adding notes on CMIP6 data in our documentation that may blow up out of proportion and nobody will want to maintain it. So OK, let's just drop itand the next diag developer who's gunna bite the UKESM1 bullet will may want to do a search in our closed issues db

[2020-02-24 16:12] bouweandela commented on #494
Yes, just in config-developer.yml

[2020-02-24 16:19] ValerioLembo commented on #58
Hi there,

the problem with IPSL-CM5A-LR was related to an old version of the hfls dataset I had on my local repository. I changed that and it seems to work fine.

Unfortunately I cannot test the whole diagnostics, because there are some missing datasets on the DKRZ repository for piControl...

[2020-02-24 16:46] valeriupredoi commented on #58
cool, cheers for checking @ValerioLembo - guess it's okay to close this for now and open another one if need be, if another dataset is broken :beer:

[2020-02-24 16:47] #58 closed

[2020-02-24 19:10] ValerioLembo commented on #329
@zklaus I made a test with HadGEM3-GC31-LL and IPSL-CM6A-LR and they seem to work fine, so I would say that it should be fine now...

[2020-02-25 07:02] BenMGeo commented on #485
I went one step further to include the option that it is not only the original cube, but also if they are already on the same grid, e.g. a AxB target grid definition.

[2020-02-25 08:57] zklaus commented on #329
Alright, closing then. Please reopen if issue resurfaces.

[2020-02-25 08:57] #329 closed

[2020-02-25 10:53] zklaus commented on #436
I like this simplified approach! There are a couple of things to consider, though:

As touched upon before, not all fx files are cell measures. [According to CF](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#cell-measures) (that released version 1.8 just a few days ago), only area and volume are supported at the moment, so masks and fractions, for example, are

[2020-02-25 11:03] valeriupredoi commented on #436
right, so @bouweandela and myself had a chat on the phone yesterday and concluded we should approach things this way rather than the proletarian way in #439 (and subsequent PR children) but this approach is still presenting us with caveats or thinhs to test nonetheless, so in the meantime, we should keep #439 and its children alive (that works well, tested by @ledm quite heavily) so that the peopl

[2020-02-26 10:38] Peter9192 commented on #498
This would also be nice:
`DatasetList.select(model='EC-EARTH', experiment='rcp85')`

[2020-02-26 11:01] ledm opened #515 "Dataset problem: CESM2 marine depth units are cm instead of meters (gn grid)"
**Describe the dataset issue**
also see https://github.com/ESMValGroup/ESMValCore/issues/859 (apparent duplicate)

The CMIP6 model CESM2 seems to have all its depth dimension units set to Unit('centimeters') instead of the standard meters. I've seen it in every marine variables that I've looked at in the `gn` grid. The `gr` grid seems to be working fine though.

For instance, on jasmin, some files

[2020-02-26 11:14] bouweandela commented on #436
Maybe these can be added as ancillary variables? http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/build/ch03s04.html
It looks like iris 3 will support those: https://github.com/SciTools/iris/blob/06e9e2b5eae6e903e486ce12162c242d25ee4e5d/lib/iris/coords.py#L684 and cell measures will be a special case of ancillary variables in iris 3: https://github.com/SciTools/iris/blob/master/lib/

[2020-02-26 11:16] bouweandela commented on #436
Our design strategy is to rely as much on iris as possible. Therefore we may want to consider trying to get functionality that we need to implement outside of iris into iris. For example support 2D horizontal coordinates.

[2020-02-26 12:37] bouweandela opened #516 "CMOR checker does not check CMIP6 generic levels"
The CMOR check does not check generic levels, see e.g.
https://github.com/ESMValGroup/ESMValCore/blob/c460ceafde91014df67a67d7f7de8a0867a339ac/esmvalcore/cmor/check.py#L333

However, generic level definitions are available in the CMIP6_coordinates.json file, e.g. (notice line 500)
https://github.com/ESMValGroup/ESMValCore/blob/c460ceafde91014df67a67d7f7de8a0867a339ac/esmvalcore/cmor/tables/cmip6/T

[2020-02-26 13:17] zklaus commented on #515
Clarification request: Are the values of the depth consistent with the wrong units or not?

[2020-02-26 13:49] ledm commented on #515
It's a strange one. The cube's `lev` units are wrong, they should be recorded as `Unit(m)`. However, the depth coordinate `points` appear to be in centimetres, but the `bounds` appear to be in meters: ie:

[code]
Very strange.

[2020-02-26 15:22] ledm opened #517 "Dataset problem: ACCESS-CM2 is stored under CSIRO-ARCCSS, not CSIRO-ARCCSS-BoM"
The CMIP6 model dataset for the model `ACCESS-CM2` is stored on jasmin under the institude ID:
`CSIRO-ARCCSS`, but recorded as ` CSIRO-ARCCSS-BoM` in ESMValCore in `CMIP6_CV.json`.

ie the paths to this model are:
[code]

However, in `esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CV.json`, we record the institude ID for this model to be :
[code]
So ESMValTool is looking for this dataset in the non-exi

[2020-02-26 15:31] ledm opened #518 "Dataset problem: CESM2-FV2 and CESM2-WACCM-FV2 models exists on disk but not in CMIP6_CV.json"
The model data: `CESM2-FV2` and `CESM2-WACCM-FV2` exists on disk on jasmin, but is not listed in `esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CV.json`.

On Jasmin, these data exist here:
[code]

Several other `CESM2` based models are listed though:

- CESM2
- CESM2-SE
- CESM2-WACCM

[2020-02-26 15:37] ledm commented on #518
edit: found another model from NCAR not listed.

[2020-02-26 16:03] zklaus commented on #518
These have been added to the CV 2019-08-17 as CV version [6.2.35.5](https://github.com/WCRP-CMIP/CMIP6_CVs/tree/6.2.35.5) and [6.2.35.6](https://github.com/WCRP-CMIP/CMIP6_CVs/tree/6.2.35.5). Let me check if and when that found its way into the tables.

[2020-02-26 16:06] zklaus commented on #518
They are in the tables since 2019-08-18, but only in the repository, there is apparently no release including them yet.

[2020-02-26 16:09] zklaus commented on #518
So what should we do with this? The data is correct, the modelers did everything as they should and as soon as we update our tables, it will work for us as well.

@ledm, does this currently produce a problem?

[2020-02-26 16:17] zklaus commented on #517
This was changed 2019-11-15 in the tables. The original change in the CV was on 2019-10-22 and released as 6.2.39.2.

[2020-02-26 16:34] zklaus commented on #425
Reported upstream.

[2020-02-26 16:34] #425 closed

[2020-02-26 16:42] valeriupredoi commented on #518
we are on CMOR tables:
[code]
Should we update them tables to what since the last stable version I see is indeed `01.00.31`?

[2020-02-26 16:46] valeriupredoi commented on #518
ahaa, that explains my previous comment - @zklaus I don't feel comfortable to update to a version that's not a release, but you know more about this shtuffs

[2020-02-26 16:48] valeriupredoi commented on #425
did the upstream reply?

[2020-02-26 16:49] zklaus commented on #518
I tend to agree. I didn't mean to imply that we should upgrade them now, just that when we upgrade them in, I don't know, a years time, things will fall into place.

[2020-02-26 16:53] valeriupredoi commented on #517
we can probably fix this with a temporary mapping in `config-developer.yml` but really, it's a bad case of old ESGF data structure - I will email @agstephens and Ruth Petrie about it

[2020-02-26 16:55] zklaus commented on #518
We might, however, consider getting our CV directly from the source, particularly in light of [the note on the cmip6 tables repository](https://github.com/PCMDI/cmip6-cmor-tables)

[2020-02-26 16:58] valeriupredoi commented on #518
well that's a very useful piece of note - yeah, we need to probably - @jvegasbsc @bouweandela

[2020-02-26 16:59] valeriupredoi commented on #517
OK email sent to Ag and Ruth (and you two troublemakers too) :beer:

[2020-02-26 16:59] zklaus commented on #425
No. As they generally won't :disappointed:

[2020-02-26 17:02] valeriupredoi commented on #517
nevermind, I'm being silly - yes, the (new) table is correct and in line with the Jasmin path :beer:

[2020-02-26 17:08] bouweandela commented on #518
I would just wait for the next cmor tables update, they do them pretty regularly. In the meantime, I guess we can add the missing experiments to config-developer.yml, like we have for CMIP5, and that should just work.

[2020-02-26 17:28] valeriupredoi commented on #518
So we're slow but sure rather than living on the edge :grin:

[2020-02-26 20:00] BrendanMD opened #519 "Incorrect error messages in volume preprocessor function extract_transect"
**Describe the bug**
The three Value Error messages in function "extract_transect" (https://github.com/ESMValGroup/ESMValCore/blob/master/esmvalcore/preprocessor/_volume.py) incorrectly refer to the function as "extract_slice" . Lines 384, 389, 394.
**Please attach**

[2020-02-26 20:24] bouweandela commented on #518
Or specify the `activity` and `institute` in the dataset definition in the recipe, that would probably be even easier.

[2020-02-26 20:26] bouweandela commented on #517
As a workaround for this issue (until we've updated the CMOR tables again) you can specify the correct institute in the dataset definition in the recipe.

[2020-02-27 00:09] durack1 commented on #504
@taylor13 @sashakames this seems to be something that we will encounter too

[2020-02-27 08:30] bouweandela commented on #67
Coverage is [84% for _task.py](https://app.codacy.com/manual/ESMValGroup/ESMValCore/file/42508058162/coverage?bid=13044842&fileBranchId=13044842) too.

I think the issue can be closed.

[2020-02-27 08:30] #67 closed

[2020-02-27 11:47] jvegasbsc commented on #518
In fact we are supposed to get CV not from the cmor tables repository (see https://github.com/PCMDI/cmip6-cmor-tables), but from the WCRP-CMIP repo https://github.com/WCRP-CMIP/CMIP6_CVs.

I will open an issue so I fix it when I have time.

[2020-02-27 11:51] jvegasbsc opened #524 "Get CMIP6 controlled vocabulary from the correct source"
We are currently getting the CV from the cmip6-cmor-tables repo, but this is not recommended. We should instead got it from https://github.com/WCRP-CMIP/CMIP6_CVs

This is becoming a problem because the cmor tables are updated less frequently, as they don't release when the CV changes so we don't have the info for newer contributors

See #518

[2020-02-27 11:55] zklaus commented on #518
One thing I am wondering about is how the data centres deal with this.

@valeriupredoi, @bjoernbroetz, maybe you could get some info from jasmin and mistral, respectively? In particular, do they move files when things like the institute change? Are such changes forbidden once some data has been published?

@valeriupredoi, have you started a list with topics to take up at the ESGF F2F? This could b

[2020-02-27 16:24] valeriupredoi commented on #519
cheers, fixed in https://github.com/ESMValGroup/ESMValCore/pull/526 :beer:

[2020-02-27 16:37] ledm opened #527 "Dataset problem: MCM-UA-1-0 has longitude values below 0"
**Describe the dataset issue**
The MCM-UA-1-0 model has longitude coordinates below 0. See for instance:
[code]

[code]

This fails the CMOR checks:
[code]

The dataset:
- Project CMIP6
- Full dataset decription (fill out as many as you know, please):
  - dataset: MCM-UA-1-0
  - experiment: historical and possibly others
  - mip: Omon
  - grid: gn
  - type:
  - version:
  - tier:
  - variable used

[2020-02-27 17:19] sashakames commented on #504
QC is indeed hard.  We need very imaginative folks who can suggest all sorts of scenarios... I presume an errata was opened on this?

[2020-02-27 18:20] taylor13 commented on #504
@zklaus @valeriupredoi @durack1 The post-historical parts of the simulation should have been identified as the "historical-ext" experiment, not the "historical" experiment.  In designing CMIP we knew that for various reasons folks would want to extend the historical runs at least to the present (~2020), but they wouldn't all use the same forcing, so we wanted to distinguish this portion of the his

[2020-02-28 08:30] IngoBethke commented on #504
Thanks for clarification and suggestions.

The use of historical-ext seems indeed more appropriate and I must have overlooked this option. I was familiar with CMIP5 historicalExt but did not notice the name change to historical-ext. In hindsight, I should have contacted you at that time instead of resorting to using the historical experiment.

I will try to correct this, i.e. first publish "histor

[2020-02-28 08:33] #519 closed

[2020-02-28 08:55] zklaus commented on #504
Thanks to all of you, @durack1, @sashakames, @taylor13, @IngoBethke!

Regarding @sashakames comment, we are reporting more and more dataset problems upstream, that is to the modeling groups. Some of them are more responsive, others less.

Would it be useful to CC these reports to a more central body?

[2020-02-28 15:52] #25 closed

[2020-03-02 09:52] zklaus commented on #527
No need to apologize, @ledm! I think it's great to report these problems upstream, so that procedures can be improved.

[2020-03-02 09:59] zklaus commented on #527
Also, it is not that iris doesn't like them (I had no problem reading the data with iris), but that it is forbidden by [CMIP6](https://docs.google.com/document/d/1os9rZ11U0ajY7F8FWtgU4B49KcB59aFlBVGfLC4ahXs/edit#bookmark=id.3t64x7z1je8t)(p.5 Requirements for coordinate variables, note 3).

[2020-03-02 10:44] zklaus commented on #498
This looks very nice!

I wonder how strong the notebook link really is. It looks like a [dataclasses](https://docs.python.org/3/library/dataclasses.html) or [attrs](https://www.attrs.org) inspired interface that could be nice for us to have with or without notebooks, no?

For the notebook part, could you put a pointer on how this connects to any jupyter magic? Say inline dataset printing and plott

[2020-03-02 15:43] valeriupredoi opened #531 "Failed NCL diagnostic script does not exit but hangs"
**Describe the bug**
Clean exit after failed NCL diagnostic fails if in multiprocessing, resulting in hanging
First discovered via new integration test in #514

**Steps to reproduce**
- install the latest version of `esmvalcore`
- set `max_parallel_tasks: ` > 1 in config-user
- run an NCL diagnostic script that fails for any particular reason

**Tracebacks**
[code]
(it is in a hanging state) - upo

[2020-03-02 17:12] valeriupredoi commented on #531
The same problem these guys are seeing: https://bugs.python.org/issue38501 -> seems to be introduced by https://github.com/python/cpython/pull/11488

[2020-03-02 23:08] taylor13 commented on #504
@zklaus There is work being done (or perhaps it hasn't yet started?  @davidhassell) to simplify and centralize the reporting of apparent errors of this kind through ES-DOCs.  I'll try to find out the prospects are for that.  If it ican be put in place, I think that would serve the purpose.

[2020-03-03 09:54] zklaus commented on #504
@taylor13, that sounds promising! Thanks for keeping us posted!

[2020-03-03 10:44] valeriupredoi commented on #504
great communication, guys, much appreciated! :beer:

[2020-03-03 10:46] valeriupredoi commented on #504
@mattiarighi can we add @davidhassel back to the ESMValTool gitHub project pls? He used to be in but I can't see him part of it anymore (he's cool, he's just three offices down the hallway from me :grin: ) :beer:

[2020-03-03 10:47] mattiarighi commented on #504
@axel-lauer is taking care of this, just send him an e-mail with David's contact details.

[2020-03-03 10:49] valeriupredoi commented on #504
Jawohl, danke sehr :beer:

[2020-03-03 11:02] valeriupredoi commented on #531
solved by #534

[2020-03-03 11:02] #531 closed

[2020-03-03 13:21] mattiarighi opened #535 "Core installation in development mode fails"
I'm experiencing problems in installing ESMValCore in development mode, apparently related to `cartopy` and `cf-units`:

[code]

[2020-03-03 13:54] mattiarighi commented on #535
Nevermind, it works now.

[2020-03-03 13:54] #535 closed

[2020-03-03 14:33] schlunma opened #536 "Dataset problem: Missing bounds for almost all CMIP6 models with hybrid pressure coordinate"
**Describe the dataset issue**
For almost all CMIP6 models with a hybrid pressure coordinate, the bounds for the auxiliary coordinates `a` (or `ap`) and `b` are not set correctly, e.g.

[code]

with missing

[code]

As a consequence, for all these models the bounds for the derived coordinate `air_pressure` is missing.

- ~~Data file has been changed by you in any way~~
- Project (CMIP5/CMIP6/OBS/o

[2020-03-03 14:41] schlunma opened #537 "Dataset problem: Issues with latitude and longitude for tos of BCCs CMIP6 models"
**Describe the dataset issue**
The names for the 1D `grid_latitude` and `grid_longitude` on irregular grids are set to `latitude` and `longitude`, causing `iris` to find duplicate coordinates. Multidimensional `latitude` and `longitude` coordinate do not have bounds.

- ~~Data file has been changed by you in any way~~
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset description (fill

[2020-03-03 14:49] schlunma opened #538 "Dataset problem: Issues with hybrid pressure coordinate in CESM2 and CESM2-FV2 (CMIP6)"
**Describe the dataset issue**
The necessary attributes `formula_terms` and `standard_name` for the hybrid pressure coordinate are missing, so `iris` cannot read it. The necessary attributes `formula_terms` and `standard_name` for the hybrid pressure coordinate are missing, so `iris` cannot read it. Order of vertical coordinate is reversed, i.e. the derived `air_pressure` is increasing instead of

[2020-03-03 14:53] schlunma opened #539 "Dataset problem: Issues with hybrid pressure coordinate in CESM2-WACCM (CMIP6)"
**Describe the dataset issue**
The necessary attributes `formula_terms` and `standard_name` for the hybrid pressure coordinate are missing, so `iris` cannot read it. Order of vertical coordinate is reversed, i.e. the derived `air_pressure` is increasing instead of decreasing. Points and bounds of `lev` do not match: `points: -5.9603e-06 to -992.5561 hPa; bounds: 4.027e-06-7.8936e-06 to 984.4407-10

[2020-03-03 15:01] schlunma opened #540 "Dataset problem: Issues with hybrid pressure coordinate of CNRM models (CMIP6)"
**Describe the dataset issue**
The necessary attribute `forumula_terms` is not given (only `formula_term`, which is also incorrect for the bounds). Bounds of `ap` and `b` not set (see #536). Bounds of `ap` have wrong shape `(2, ...)` instead of `(..., 2)`. Units of `ap` are not given (must be `Pa`). Bounds of `latitude` and `longitude` are missing.

- ~~Data file has been changed by you in any way

[2020-03-03 15:05] schlunma opened #541 "Dataset problem: Issues with hybrid pressure coordinate of GFDL-CM4 (CMIP6)"
**Describe the dataset issue**
The necessary attribute `forumula_terms` is not given (only `formula_term`). Bounds of `ap` and `b` not set (see #536).

- ~~Data file has been changed by you in any way~~
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset description (fill out as many as you know, please):
  - dataset: GFDL-CM4
  - experiment: historical
  - mip: Amon
  - grid: gr1
  - v

[2020-03-03 15:13] schlunma opened #542 "Dataset problem: Issues with hybrid pressure coordinate of MIROC6 (CMIP6)"
**Describe the dataset issue**
Bounds of `ap` and `b` not set (see #536). The `history` attribute of `ps` prevents concatenation.

- ~~Data file has been changed by you in any way~~
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset description (fill out as many as you know, please):
  - dataset: MIROC6
  - experiment: historical
  - mip: Amon
  - grid: gn
  - version: v20190311
  - va

[2020-03-03 15:18] schlunma opened #543 "Dataset problem: Issues with hybrid height coordinate of UKESM1-0-LL (CMIP6)"
**Describe the dataset issue**
Bounds of `b` not set (see #536). Not sure if allowed: Does only provide `altitude` as vertical coordinate, not `air_pressure`.

- ~~Data file has been changed by you in any way~~
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset description (fill out as many as you know, please):
  - dataset: UKESM1-0-LL
  - experiment: historical
  - mip: Amon
  - grid

[2020-03-03 15:38] schlunma opened #544 "Cubes lose derived coordinates during concatenation"
**Describe the bug**
Due to a bug in `iris` (SciTools/iris#2478) , cubes with a derived coordinate (`AuxFactory`) lose this during the concatenation step of our preprocessor.

I will provide a PR for this.

[2020-03-03 15:45] schlunma opened #545 "Cubes lose auxiliary coordinates during regridding"
**Describe the bug**
During our preprocessing step `regrid`, any cube with an `AuxCoord` that includes a horizontal dimension (like e.g. `surface_air_pressure`) loses this. This is caused by [`iris.cube.Cube.regrid`](https://scitools.org.uk/iris/docs/latest/iris/iris/cube.html#iris.cube.Cube.regrid) and probably an intended behavior (@bjlittle is this correct? If not then I will open an issue on t

[2020-03-04 09:18] katjaweigel opened #549 ""_tkinter.TclError: couldn't connect to display" and MPLBACKEND="Agg" missing in re-run command"
**Describe the bug**
I'm actually not sure if this is a ESMValCore or an ESMValTool issue: I switched to the latest version of ESMValCore and ESMValTool yesterday and since then I get a error related to the x-server, if I try to run a diagnostic in the queue on Mistral in the log file of the diagnostic:
"self.tk = _tkinter.create(screenName, baseName, className, interactive, wantobjects, useTk, sy

[2020-03-04 11:16] valeriupredoi opened #547 "Fallback option for weighting_landsea_fraction in case specific models don't have fx data"
Simply put:

[code]

where `fallback_fx_dataset` to be used for each model that doesn't have `sftlf/of` data. This was initially suggested by @ChrisJones-MOHC and is a viable option if not a bit scientifically loose but then again, the fx data doesn't change too much from model to model anyway.
@schlunma do you have time to plug it in? If not, no problemo, I can do it :beer:

[2020-03-04 11:25] schlunma commented on #547
If I understand @ChrisJones-MOHC's mail from the mailing list correctly, his issue is solved by #439. It should be enough to specify the `piControl` experiment for the fx variable.

To quote @valeriupredoi, in #439

[2020-03-04 11:34] valeriupredoi commented on #547
@schlunma two caveats related to #439

- it is still under review in the form of a number of children (we had to break it up into smaller PRs) BUT it is fully functional in its own way so it can be used;
- unfortunately it cannot be used in this case because the fx_files passed to the preprocessors as arguments are used only in the case of area/volume/zonal_statistics and not for weighting; in any

[2020-03-04 11:41] schlunma commented on #547
Right, forgot about that.

I agree that a fallback option would be nice, but in my opinion not in that form. We cannot simply use the fx files from model `A` for another model `B`, can we?

What we can do is to check for another experiment `Y` if the fx file is not present for the desired experiment `X` (similar to #439, but in an automatized fashion). I think that is also what @ChrisJones-MOHC wa

[2020-03-04 11:57] valeriupredoi commented on #547
when #511 will get merged one will have the chance to allow for various `mip`'s for fx variables (as you and myself have nicely coded in) but not for various experiments unless we use the functionality for area/volume/xonal_statistics (or we extend that for other fx preprocessors like weighting) but the question is (for which I don't have an answer) what we gonna do when fx data is completely miss

[2020-03-04 11:58] ChrisJones-MOHC commented on #547
yes @schlunma that's what I need. In my specific case, UKESM1 has an fx file under piControl and my pre-porcessor works, but I can't use it in historical run. I certainly don't want an fx file from a different model - but it should be invariant for a given model from simulation-to-simulation.

thanks!

[2020-03-04 12:00] valeriupredoi commented on #547
Right! OK so we can surely do that. What's your proposed solution for fx data completely missing from a certain model? :beer:

[2020-03-04 12:02] schlunma commented on #547
If explicitly specified under the `exclude` option of the `weighting_landsea_fraction` preprocessor: ignore it; otherwise: raise an exception.

[2020-03-04 12:03] ChrisJones-MOHC commented on #547
@valeriupredoi - I think this requires caution. I agree this might be scientifically sloppy. I can see two reasons for wanting to mask - one might be visual - e.g. if you want to only plot a map of land or ocean values. In this case using a non-precise mask is probably safe. The other is for quantitiative analysis - in which case you would need to use in the analysis what the model itself uses int

[2020-03-04 12:15] valeriupredoi commented on #547
OK so in this case then it's a matter of extending the implementation in #511 :beer:

[2020-03-04 12:36] valeriupredoi commented on #536
@zklaus given how many models are affected by this it will be a complete nightmare to contact them individually - do you reckon we should just apply @schlunma 's fixes in #529 and mum's the word after?

[2020-03-04 12:41] valeriupredoi commented on #543
@matthew-mizielinski is this something that is already on your to-do list for future releases of CDDS? :beer:

[2020-03-04 12:45] valeriupredoi commented on #518
good call, I will investigate on Jasmin/ESGF node :beer:

No, not 100% sure that will happen given covid19 but then again we should probably do it anyway

One remark: maybe it would be useful to have gitHub contacts from model developers so we can tag them right away in model-specific issues here? That might switch off delays over email and they may respond right away with 'nay, this is something

[2020-03-04 12:46] ChrisJones-MOHC commented on #547
happy to do some testing if I can help - i've got a couple of real-world examples waiting to go which I can run this on and check it behaves as expected. give me a shout

[2020-03-04 12:51] matthew-mizielinski commented on #543
@valeriupredoi , this is a feature of CMOR and has been discussed before, see PCMDI/cmor/issues/177 and discussions within the CF community linked to therein. I'd suggest having a chat with your local CF standards person (e.g. David Hassell) about this to get a full understanding of this one.

We can't change this without a corresponding change to CMOR and at the moment I don't see that happening

[2020-03-04 12:54] valeriupredoi commented on #543
Brilliant! Cheers for the heads up, very helpful indeed!
I think we need to recruit @davidhassell hhere in ESMValTool land as soon as possible for such matters :beer:

[2020-03-04 13:42] zklaus commented on #536
I think we should report the errors for CMIP6. After all, how do we expect any improvement otherwise?

I did set up a project and some workflow for this, and I would also like to have maybe a standardized form email to use. Maybe this is something we can discuss next week a bit?

[2020-03-04 13:44] schlunma commented on #536
Apparently this is not a dataset issue: https://github.com/ESMValGroup/ESMValCore/issues/543#issuecomment-594502458

[2020-03-04 13:45] schlunma commented on #536
(But the fix is still necessary, otherwise `iris` cannot read the bounds)

[2020-03-04 14:07] bouweandela commented on #549
Thank you for reporting. I introduced the bug in #528. It should be fixed by #550.

[2020-03-04 14:23] zklaus commented on #536
Hm, I can't follow through completely now, but isn't the end of going through the rabbit hole started in the comment above that the bounds can not (or not easily) be computed? In that case I don't understand how the fix can produce correct bounds. What are these bounds needed for?

[2020-03-04 14:24] #549 closed

[2020-03-04 14:27] davidhassell commented on #543
Hello,

I think this file described by the CDL above is wholly CF-1.7 compliant. `b(lev)` does not have a `bounds` attribute because it is _not_ an auxiliary coordinate variable; and it is not an auxiliary coordinate variable because it is not named by the `coordinates` attribute of `cl`.  Even if `b` were to have such an attribute then it would have no standardised meaning.

There is, however, an

[2020-03-04 14:42] schlunma commented on #536
The bounds are present in the file (i.e. there are variables `ap_bnds` and `b_bnds`), but they are not referenced correctly (i.e. `ap` and `b` do not have their `bounds=X_bnds` attributes set). Thus, we do not need to calculate them manually, but only tell `iris` to use them. The bounds are necessary to calculate the vertical bounds of the (derived) `air_pressure` coordinate.

[2020-03-04 14:51] zklaus commented on #536
Ah, ok. I'll need to have a closer look to have a proper opinion. For now I defer judgement.

[2020-03-04 14:53] valeriupredoi commented on #536
not to me you're not :rofl: Have a look at this very useful comment https://github.com/ESMValGroup/ESMValCore/issues/543#issuecomment-594555572

[2020-03-04 14:58] valeriupredoi commented on #543
cheers muchly @davidhassell - afraid these things are slowly getting above my paygrade and am getting more puzzlated by the interplay between CF and CMOR. Bottom lines: @matthew-mizielinski no chance we can fix this upstream in the data conversions? What do we do with the other models that behave the same way (bunch of them in the other issues) - do we contact the model providers? Ping @zklaus too

[2020-03-04 15:30] matthew-mizielinski commented on #543
@valeriupredoi -- without changes to CMOR we cannot change this. Given that the CF community are happy with the current expression of this data (noting @davidhassell's comment and Karl Taylor's on the CMOR issue I posted above) I suggest that ESMVal should handle this case.

[2020-03-04 15:38] valeriupredoi commented on #543
cool! Cheers, Matt :beer:

[2020-03-04 15:41] #461 closed

[2020-03-05 08:14] zklaus commented on #543
I agree that the original coding is actually correct when it comes to the connection between `b` and `b_bnds`. The alternative coding that @davidhassell brought up (thanks!) might work with iris, but following [CF-1.7, Sect.7.1](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#cell-boundaries) this corresponds with "the second method" where the conventions say

S

[2020-03-05 10:59] valeriupredoi opened #552 "Dask and LOTUS"
I have talked a bit to @bnlawrence and he's raised the potential issue of `dask` not working properly on LOTUS (possibly on other schedulers, *nn*) - Bryan says:

The issue on Lotus is that the dask manager and worker need to be on the same network pod, which means in practice you need to have submitted with the same -m CPUTYPE … in principle that should work, but I hear stories that it doesn’t al

[2020-03-05 11:44] schlunma commented on #543
Done, see SciTools/iris#3678.

[2020-03-05 16:46] schlunma opened #554 "ESMValTool crashes when recipe uses ancestors"
**Describe the bug**
The tool crashes with this error when I run a recipe which uses the `ancestors` key, other recipes run fine (I tested the python and NCL example):

[code]

Example: [`ESMValTool/esmvaltool/recipes/examples/recipe_python_object_oriented.yml`](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/examples/recipe_python_object_oriented.yml).

Probably related t

[2020-03-05 19:59] bouweandela commented on #554
Thanks for reporting!

[2020-03-06 08:22] #554 closed

[2020-03-06 11:58] bouweandela commented on #324
This has been implemented in https://github.com/ESMValGroup/ESMValCore/pull/499.

[2020-03-06 11:58] #324 closed

[2020-03-06 12:03] bouweandela commented on #373
@jvegasbsc or @sloosvel Could one of you have a look at this?

[2020-03-06 14:27] jvegasbsc commented on #373
Yes, I will do it

[2020-03-09 16:29] mwjury opened #563 "multi model statistics -- more statistics"
@jvegasbsc How about adding standard deviation, min and max to the pool of available multi model statistics? It would be rather easy to implement.
It would be nice to also have np.percentile in the mix, though this would require reforming the masked values to nans (numpy.nanpercentile), so idk if that's userful.

[2020-03-09 16:50] schlunma opened #564 "Dataset problem: FGOALS-g3 has atmosphere_sigma_coordinate which cannot be read by iris"
**Describe the dataset issue**
Some FGOALS-g3 datasets have a `atmosphere_sigma_coordinate` (with formula `p = ptop + sigma*(ps - ptop)`) which cannot be read by iris by default. I don't know if this is an allowed coordinate. If yes, this should be added to the list of `AuxFactories` of `iris`.

- ~~Data file has been changed by you in any way~~
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Fu

[2020-03-10 10:06] jvegasbsc commented on #563
Looks interesting, indeed. I will look into it

[2020-03-10 15:49] ledm commented on #193
Like I said in [ESMValTool #1574](https://github.com/ESMValGroup/ESMValTool/issues/1574#issuecomment-597099507), I'm happy to help with writing documentation.

[2020-03-10 21:19] npgillett commented on #34
@ledm Is your fix for the BCC models now included in the standard release of esmvalcore? I installed it from conda and updated last week, but when I try to read in tos from BCC-CSM2-MR, I get:
[code]
Looking at the thread above, it looks like you fixed this on 15th April last year. Thanks for any help anyone can give on this. My log file is attached for reference.
[main_log_debug.txt](https://gith

[2020-03-11 09:07] schlunma commented on #34
@npgillett a fix for this will be available soon, see #560

[2020-03-11 09:45] bouweandela opened #566 "Container (docker/singularity) outdated"
The docker (or singularity) container and documentation is outdated. Current code can be found in the docker folder.

Docker containers at https://hub.docker.com/u/esmvalgroup

To do:

    Update container
    Update documentation
    Add singularity support (if we need to do anything for this)
    Use container on CircleCI
    Anything more?

Related to https://github.com/ESMValGroup/ESMValTool/i

[2020-03-11 16:36] valeriupredoi commented on #563
an inplace replacement can be done and then a reversal back to 1e20's easily :beer:

[2020-03-12 13:53] #338 closed

[2020-03-12 14:52] bouweandela opened #568 "Unit tests failing because pytest-html 2.1.0 is broken"
See pytest-dev/pytest-html#282

[2020-03-12 14:57] valeriupredoi commented on #568
I can not reproduce the problem:
[code]
we can pin it to `2.0.1` but I am not sure why my tests are not failing

[2020-03-12 15:03] #568 closed

[2020-03-12 15:04] bouweandela commented on #568
I don't know either, but they are failing on CircleCI

[2020-03-12 15:57] valeriupredoi commented on #564
So #565 has now been merged and normally we'd close this issue **but** the question is - do we want to tell the SciTools folk about this? I reckon it'd be useful :beer:

[2020-03-12 15:59] valeriupredoi commented on #552
@bnlawrence mentioned this might be q quirk specific to CEDA-Jasmin so am gonna close this until further bad stuff hits the fan :helicopter:

[2020-03-12 15:59] #552 closed

[2020-03-12 16:24] schlunma commented on #564
As I already wrote, if `atmosphere_sigma_coordinate` is a legal coordinate according to CF, we should report this to `iris` :+1:

[2020-03-12 16:28] valeriupredoi commented on #564
This here says it's legit http://cfconventions.org/Data/cf-standard-names/72/build/cf-standard-name-table.html

[2020-03-12 16:30] valeriupredoi commented on #564
and the famous [Appendix D](http://cfconventions.org/cf-conventions/cf-conventions.html#_atmosphere_sigma_coordinate) -> @bjlittle you guys will have another gitHub issue from us :grin:

[2020-03-16 15:18] bouweandela commented on #10
I would like to revive this old proposal and try to find a date and time for a first meeting that works for at least several of us. Participation is completely optional, it should be just intended for those who feel that more regular meetings would improve the way we collaborate. Topic of the meeting will the work that participants plan to do in the next 1 or 2 months.

How about a 1 hour meeting

[2020-03-16 15:21] jvegasbsc commented on #10
Perfect for me

[2020-03-16 15:25] valeriupredoi commented on #10
same here! if I am not in a hospital ward :grin:

[2020-03-16 15:30] bouweandela commented on #10
Let's hope not!

[2020-03-17 12:59] mwjury opened #574 "concatenation of cubes with overlapping data"
**Describe the bug**
Thanks for all the efforts so far of concatenating overlapping data (as e.g. #280)!
For certain datasets however this does not work satisfactorily. E.g. for tas
[code]
and uses the files:

[code]

The initial concatenation concatenates the first 2 and the last cube to one (from 1950-2010 and 2051-2100) and leaves the 3rd as it is. _concatenate_overlapping_cubes subsequently ig

[2020-03-19 22:24] npgillett opened #576 "Dataset problem: Can't concatenate CESM2 historical and ssp245 because of different bounds_dtype in latitude and longitude."
CESM2 monthly mean tas historical has `bounds_dtype float32` and corresponding ssp245 file has `bounds_dtype float64`. I want to concatenate historical and ssp245 and this gives an error when trying to concatenate cubes. I tried to write a fix for this model, but apparently this attribute is read-only, so it's not possible simply to overwrite one of the attributes. How should I proceed?

- Project

[2020-03-20 09:59] zklaus commented on #576
Thanks for this report! The problem with your fix is that `bounds_dtype` is only a reflection of the actual property of the bounds that you have to change. The following should work instead:
[code]
which actually converts the data type. There is a possibility that the converted bounds are identical to the correct `double` bounds only up to 5 or so decimals, which might prevent concatenation still.

[2020-03-20 13:16] mattiarighi opened #577 "Zonal preprocessor return type float64"
**Describe the bug**
The zonal preprocessor returns a cube of type `float64`, instead of `float32` as for other preprocessors.
This is an issue for the NCL diagnostics, which are designed to work with variable of `float32` type (as per CMOR standard).

Hopefully it is easy to fix this.

[2020-03-20 15:48] zklaus opened #578 "Dataset problem: bad masking on Lmon variables for CCSM4 (CMIP5)"
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP5
- Full dataset description (fill out as many as you know, please):
  - dataset: CCSM4
  - experiment: historical
  - mip: Lmon
  - variable used: gpp, cSoil, cVeg
- The data isn't properly masked, instead the masked points have a value of 1.e33
- `/badc/cmip5/data/cmip5/output1/NCAR/CCSM4/historical/mon/land/Lmon/r1i1p1/latest/gpp/gpp_Lmon_CCSM4_hist

[2020-03-20 17:19] npgillett commented on #576
Thanks very much for the response @zklaus! With your fix above in `cesm2.py` the fixes now run OK, but the code fails later in concatenate:
[code]
Here is the main_log_debug:

[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/4360980/main_log_debug.txt)

I couldn't figure out how to check whether it was any difference in bounds that was still causing the problem - I found the lo

[2020-03-23 12:13] valeriupredoi commented on #577
which zonal - all? looking at it now :beer:

[2020-03-23 12:18] mattiarighi commented on #577
For example:
[code]
would result in a NetCDF file in `preproc` with the variable type `double`, why it should be float.
I kind of rembemer a similar issue with multimodel long time ago.

[2020-03-23 12:29] valeriupredoi commented on #577
right! yeah, that was done easily by accessing the data member, now we're all lazy, lemme see if I can find a lazy fix

[2020-03-23 12:30] zklaus commented on #578
Please find a small test recipe in the attached file. Of course you have to remove the `.txt`.
[recipe_test_ccsm4_fixes.yml.txt](https://github.com/ESMValGroup/ESMValCore/files/4369320/recipe_test_ccsm4_fixes.yml.txt)

[2020-03-23 12:55] #578 closed

[2020-03-23 13:14] valeriupredoi commented on #577
@schlunma RE here: assigning a different dtype to core data works but that doesn't preserve it to the actual data:

[code]

@bjlittle do you know how to change the dtype of a cube data member without accessing it and un-lazying the data? :beer:

[2020-03-23 13:29] valeriupredoi commented on #577
meh decided to as the iris folk directly: https://github.com/SciTools/iris/issues/3691

[2020-03-23 14:32] schlunma commented on #577
Can you try with

[code]

instead of

[code]

For me that works! Your code only overwrites the function `core_data` with that array.

[2020-03-23 15:06] valeriupredoi commented on #577
bingo! that works, good one @schlunma :beer:

[2020-03-23 15:07] valeriupredoi commented on #577
quite interesting because it keeps the data lazy even though you are accessing the data member to assign it the new dtype, hmmm

[2020-03-23 15:13] schlunma commented on #577
It does not access the `data` member (since we are using `core_data()` to read the data), but only assigns a new dask array to the `data` member.

[2020-03-23 15:17] valeriupredoi commented on #577
right coz left hand side is just a pointer to a new variable :man_facepalming:

[2020-03-23 15:21] zklaus commented on #576
To debug it might be the easiest to in your `config-user.yml` set
[code]
Then in your output directory in the `preproc` dir you will find one output cube for every step of the preprocessing. Hopefully, then you can see the data after a number of preprocessing steps and trace back from the last one that worked to the point where the problem occurred.

Having said that, I would expect it to be the p

[2020-03-23 15:32] zklaus opened #582 "Add SYNDA drs"
If [synda](http://prodiguer.github.io/synda/) is used in daemon mode, it maintains the directory structure as on ESGF. For CMIP6 this is identical to BADC and DKRZ, but for CMIP5 there is a minor difference in that it leaves out the last directory level and does not separate the files by variable.

It would be nice to add this drs to `config-developer.yml`.

[2020-03-23 15:52] zklaus opened #584 "Fix remaining derive scripts wrt required method"
A few derive scripts have been missed when updating to the method based `required` determination.

[2020-03-23 16:09] #577 closed

[2020-03-23 16:39] npgillett commented on #576
Great - thanks for the response. You were correct @zklaus  - it was a problem with differences in the latitude bounds at > 5 d.p. There may be a more elegant way to do this, but I was able to fix this just by rounding `latitude bounds` to 4 d.p. For the record the CESM2 `tas` files now concatenate successfully with the following fix in `cesm2.py` (I am not an esmvalcore developer, so will leave th

[2020-03-23 18:52] npgillett commented on #303
I had the same problem as @ChrisJones-MOHC above, when running a version of esmvalcore installed from conda, updated a couple of weeks ago. I also tried using the current version of `bcc_csm2_1.py `on the repo, but this didn't work for me (I'm not sure why, but it didn't seem to import the fix from bcc_csm1_1.py correctly). The only way I was able to get this to work was by importing the fix from

[2020-03-23 22:36] npgillett commented on #576
@zklaus Sorry for the simple question, but how do I compare the two cubes to see what is different? The other example I mentioned above is NorESM2-LM, which throws the same error when trying to concatenate siconc from historical and ssp245. The error message doesn't tell me what is different about the two cubes, so I don't know what to fix. (I already tried applying the same fix on latitude and lo

[2020-03-24 10:23] zklaus commented on #576
@npgillett, I wrote down some tips in the form of FAQ [here](https://github.com/ESMValGroup/ESMValCore/wiki/Debugging-FAQ#comparing-data-with-iris). Let me know if that helps.

[2020-03-24 13:55] #584 closed

[2020-03-24 17:01] #373 closed

[2020-03-25 05:14] npgillett commented on #576
@zklaus Thanks - that did help. For some reason I couldn't fully debug this by looking at the NetCDF file, but that page was useful - based on the advice there I used a merge command inserted into the code to identify overlapping time coordinates in some CESM2 hist-GHG and ssp245-GHG files I was trying to concatenate.

[2020-03-25 09:47] zklaus commented on #576
Interesting! Ok, I suggest that we finish this issue here and then discuss the other problem in a new issue, ok?

Don't worry about being a developer or not, could you do a pull-request to address this issue with the fix you proposed above?

[2020-03-25 11:43] schlunma opened #586 "Add derivation script for co2 mole fraction at surface"
The variable `co2` (`mole_fraction_of_carbon_dioxide_in_air`) is 3D. I need a 2D version of this variable which gives the CO2 mole fraction at surface level.

For unmasked datasets this is trivial (just use the lowest pressure level), but for masked this is a little bit more tricky (extract the lowest value which is not masked for every grid cell).

I will open a PR for this.

[2020-03-25 14:05] #586 closed

[2020-03-25 16:09] npgillett commented on #576
OK - currently I have esmvaltool installed from conda i.e. not from github. How do I do a pull request?

[2020-03-25 16:32] wachsylon commented on #536
Why should a have bounds? It is the
`lev`
coordinate that has bounds `lev_bnds` and in files from MPI-ESM1-2-HR this `lev_bnds` variable contains an attribute
`formula_terms = "ap: ap_bnds b: b_bnds ps: ps`
linking to the `ap_bnds` and `b_bnds`

[2020-03-26 08:12] schlunma commented on #536
You are right, `a`/`ap` and `b` do not need the `bounds` attribute; it's enough to specify it in `formula_terms` of `lev_bnds` (see [here](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#cell-boundaries)). However, at the moment `iris` can't read these files without a fix.

[2020-03-26 14:57] jservonnat opened #589 "Possibility to provide a '*' to the definition of a dataset in a recipe"
Hello everyone,
this issue follows our discussion during the Is-ENES3 GA with @valeriupredoi
With CliMAF we found very interesting to be able to specify a wildcard '*' to our dataset definitions, like for instance model='*', realization='*' to work on all the models or realizations available.
In the same way, we implemented the possibility to specify period='last_XXY', 'first_XXY' or '*', with XX

[2020-03-26 15:14] valeriupredoi commented on #589
nice @jservonnat :beer: I shall have a look and start implementing this idea: my take would be:
- wildcard for datasets; we can define an `except` option;
- wildcard for experiments used with the option `exp:` ie user asks for an experiment but if data is unavailable for that experiment the code can choose from others (similar to the current `exp: [list]` but less restrictive);
- wildcard for ense

[2020-03-26 15:16] valeriupredoi commented on #589
PS - @jservonnat I moved your issue to ESMValCore since this deals with the data finder and logistics within the Core

[2020-03-27 10:53] sloosvel commented on #516
There are several coordinates sharing the same `generic_level_name` .  So I am not sure how they could be distinguished when loading the table information for each variable in table.py .

Taking `thetao` as an example, the information that is given in the tables regarding its dimensions is:

`"dimensions": "longitude latitude olevel time"`

And in CMIP6_coordinates there are five coordinates that

[2020-03-27 12:28] jvegasbsc commented on #516
We can not, we must check against the five and raise issues if none of them comply

[2020-03-27 15:29] npgillett commented on #576
Here is a fix file to address the above issue, and also to address a second unrelated issue with siconc in CESM2 files such as this (the typesi fix seems to come from an earlier version of esmvaltool but isn't included in the version of esmvalcore currently on the repo):

`DAMIP/NCAR/CESM2/hist-nat/r3i1p1f1/SImon/siconc/gn/v20190730/siconc_SImon_CESM2_hist-nat_r3i1p1f1_gn_185001-189912.nc`
Error m

[2020-03-27 15:52] npgillett opened #590 "Dataset problem: Fix for missing typesi in GFDL-ESM4 siconc"
GFDL-ESM4 siconc files such as this:
`CMIP/NOAA-GFDL/GFDL-ESM4/historical/r1i1p1f1/SImon/siconc/gn/v20190726/siconc_SImon_GFDL-ESM4_historical_r1i1p1f1_gn_185001-194912.nc`
give the following error when running fix_metadata in esmvalcore:

[code]
Here is the log file:
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/4394556/main_log_debug.txt)

Here is a fix for this:
[gfdl_esm

[2020-03-27 16:28] npgillett opened #591 "Dataset problem: Fix for error with lat/lon bounds when concatenating NorESM2-LM siconc"
When trying to concatenate NorESM2-LM siconc in historical and ssp245 I got the following error:

[code]
Similar to issue #576 this turned out to be due to small differences in lat/lon bounds. Rounding the bounds to 4 d.p. fixed the problem. Proposed fix is attached below.
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/4394767/main_log_debug.txt)
[noresm2_lm.py.txt](https://g

[2020-03-30 16:05] schlunma opened #596 "Feature request: Preprocessor to extract amplitude of cycles"
We do not have a preprocessor yet which is able to extract the amplitude of cycles (annual cycle, diurnal cycle, etc.).

I will open a PR for that.

[2020-03-31 09:43] #91 closed

[2020-03-31 11:06] schlunma opened #600 "Derivation of co2s is not correct"
Right now, the calculation of `co2s` (CO2 mole fraction at surface level) is scientifically wrong. Instead of calculating the mole fraction at the surface level, it calculates the mole fraction at the lowest unmasked level. For the correct calculation, it is necessary to interpolate `co2` on the surface air pressure (`ps`). Thanks @bettina-gier for raising this and @axel-lauer for the advice!

[2020-03-31 13:27] #544 closed

[2020-03-31 15:16] #600 closed

[2020-03-31 19:36] ChunchengGuo opened #601 "CMIP6 data input structure other than "[default]/BADC/DKRZ/ETHZ/""
Dear ESMValTool community,

The CMIP6 data in our local server has a structure of e.g. /exp/dataset/ensemble/filename.nc, which is not one of the "[default]/BADC/DKRZ/ETHZ/" structures as provided by the esmvaltool. I guess one needs to insert an extra entry (with our local structure info) into ESMValCore/esmvalcore/config-developer.yml.

If I understand it correctly, one workaround could be, inst

[2020-04-01 09:09] bettina-gier commented on #601
I'm not sure why this would require you to install conda by yourself. I'm currently using the pre-installed conda on our server without problems, using both the ESMValTool and ESMValCore repositories cloned from github.
I believe the way you suggested with customising config-developer.yml is the right one in this case! A possible other option off the top of my head if you cannot do this, is to mak

[2020-04-01 15:40] bouweandela commented on #10
Here is the link to the [zoom meeting](https://zoom.us/j/783495064) for joining. @ESMValGroup/esmvaltool-developmentteam

[2020-04-01 16:16] valeriupredoi commented on #10
good stuff! when are we meeting? I was about to propse a onece a month telecon, how about we start with one next week? :beer:

[2020-04-01 16:43] valeriupredoi commented on #601
That is correct and also @bettina-gier is correct. Since you are doing the `pip install -e .` that means you are installing the package locally, in the same source repository. However, the `egg` needs to be written where `pip` is installed eg in the lib dir `lib/python3.7/site-packages/ESMValCore.egg-link` and if you are using `pip` from the anaconda environment set up on the cluster that will not

[2020-04-01 16:47] valeriupredoi commented on #601
another elegant option would be to allow the user to customize their DRS in `config-user`, what do you think @bouweandela ?

[2020-04-01 16:53] valeriupredoi commented on #589
any suggestions/approvals/nay's @bouweandela @jvegasbsc @mattiarighi ? I am planning on starting work on this :beer:

[2020-04-01 16:59] valeriupredoi commented on #574
what are time bounds you are asking for in the recipe? Even better, can you pls post the recipe so I can replicate the issue and attempt a fix? Cheers, sorry for a bit of a delay in response :beer:

[2020-04-01 17:48] schlunma commented on #601
Isn't it possible to specify a `config-developer.yml` file in the `config-user.yml` file?

https://github.com/ESMValGroup/ESMValTool/blob/924c9d376c9746ceb1b85e17eb768ca7bf5df646/config-user-example.yml#L56

[2020-04-01 19:12] bouweandela commented on #10
Let's have it tomorrow at 2PM CET (1PM UK time), as proposed two weeks ago https://github.com/ESMValGroup/ESMValCore/issues/10#issuecomment-599593988.

[2020-04-01 19:13] bettina-gier commented on #601
Hmm the way conda is set up on Mistral at least is that even if you are using the pre-installed anaconda, you can make your own environments, which are then saved to your home directories. pip can install inside these environments no problem. As I said, when I first set up my own esmvaltool I was too lazy to install my own anaconda and am still using the pre-installed one. ESMValTool is recommende

[2020-04-01 19:56] valeriupredoi commented on #601
@schlunma yes that is correct! I just checked `_config.py` and that option is indeed fully implemented - well done whoever put it!
@bettina-gier yes you are right, you can install conda environments separately in user's home dirs, but am not 100% sure if that doesn't need a modification of the conda configuration from the IT guys on @ChunchengGuo 's side - better use the developer config-developer

[2020-04-02 08:11] jvegasbsc commented on #589
This can be useful, but I fear that the except will grow quite a bit

This is more tricky, usually you don't have interchangeable experiments: you have ensemble members for that. Unless you are thinking on things like make equivalent CMIP6's `historical` and HighResMIP's `highressst-present`, but in this case using two different lines to define CMIP6 and HighResMIP datasets is

This is becoming ma

[2020-04-02 13:38] bouweandela commented on #10
I really enjoyed our first meeting and hope to see you all at the next (#1609) one!

[2020-04-02 13:38] #10 closed

[2020-04-02 15:36] bascrezee commented on #10
Couldn't join today, but I will hopefully manage to join the next meeting!

[2020-04-02 20:43] ChunchengGuo commented on #601
Thanks all for the great tips!

I've tried to specify a config-developer.yml file in the config-user.yml file, and it worked nicely :)
(that line for specifying a config-developer.yml file is somehow commented out by default so I've totally overlooked it)

[2020-04-03 12:38] bouweandela opened #608 "Document how to cite ESMValTool figures"
Now that #91 has been implemented, for each figure citation information is provided.
1) A bibtex file containing refenrences mentioned in the tool, the recipe, the diagnostic script and any CMIP6 data used.
2) A data citation text file, containing links to ES-DOC for each CMIP6 dataset and the content of any global netcdf attribute `reference` or `references` for non-CMIP6 data.

It would be good

[2020-04-03 12:43] bouweandela opened #609 "Improve bibtex data citation for non-CMIP6 data"
For CMIP6 data, we have the information from ES-DOC that can be used to produce a BibTeX entry. For all other data, we only have the content of the `reference` (CMORized for ESMValTool) or `references` (e.g. CMIP5) global NetCDF attribute. To improve the amount of BibTeX entries we have available, we could try to make a regular expression to extract DOIs from these strings and then download the co

[2020-04-03 14:44] bouweandela commented on #589
I agree that it would be a very nice feature to be able to use glob patterns in the variable/dataset definitions in the recipe. It will be some work to implement this though.

We will also need to think a bit about how we want to make recipes in the ESMValtool repository reproducible if we use this feature. At the moment @mattiarighi tests if a recipe works with the variables and datasets that are

[2020-04-06 12:43] #601 closed

[2020-04-06 13:23] mwjury commented on #574
Hi @valeriupredoi , thanks! The recipe is in my first message (concatenate_bug_yml.txt) and the error is happening already in the preprocessor after it produces 01_concatenate.nc (this file already has missing time sclices).

[2020-04-06 13:30] valeriupredoi commented on #574
ah cheers, I have a tendency to completely overlook the standard-formatted messages we actually ask the OP to provide :grin: - I'll have a look in a jiffy

[2020-04-06 17:26] valeriupredoi commented on #574
hi @mwjury cheers for pointing out this case - this is an odd one and a very useful one nonetheless! I managed to replicate your error fully and it is indeed coming from the concatenation but it is actually a result of bad iris concatenation:
[code]
is operating on the four cubes list
[code]
and it performs the concatenation of the first two with the fourth with no problem but hits a snag when con

[2020-04-07 13:41] mwjury commented on #574
Thanks @valeriupredoi, thanks! It would be a pity if we wouldn't be able to include those CMIP5 models in the IPCC figures.
The same issue with very similar files is happening with:
[code]
Maybe one rather simple solution would be the possibility to provide a start_year / end_year list in the recipe. Thereby one can make sure which years enter subsequently for the single datasets. (If this is not

[2020-04-08 09:28] sloosvel opened #611 "Empty cubes after volume_statistics for certain datasets"
**Describe the bug**
CMIP6 EC-Earth ocean 3D data has the whole bottom depth layer set to masked values. Both the variables and the volcello. The volume_statistics preproc computes the weighted mean per layer just fine, and for the bottom layer the results are masked as well. But when it comes to computing the weighted mean over the water volume, the presence of masked values sets the results to N

[2020-04-08 14:23] Peter9192 opened #612 "How to quickly get to the log.txt for debugging?"
Forwarded question:
While working on a new or improved diagnostic, I often find myself adding many print statements. I then have to look up the output directory and manually navigate to the log.txt, because the output folder always changes.

Two things I tried so far:
- Use the "re-run this diagnostic script" option to at least make sure the output folder doesn't change.
- Define an alias such as

[2020-04-10 07:09] bouweandela commented on #612
Hi Peter,

- The first method you tried might be most convenient, because it avoids re-running the preprocessors, so it's much faster when debugging a diagnostic script.
- A similar approach to the second method you mentioned is documented here: https://esmvaltool.readthedocs.io/en/latest/faq.html#create-a-symbolic-link-to-the-latest-output-directory
- Printing log.txt is only possible if you're n

[2020-04-10 10:33] Peter9192 commented on #612
Thanks Bouwe!

Yeah, that's what I thought.

Do you mean [this one?](https://github.com/ESMValGroup/ESMValCore/issues/65)

[2020-04-13 08:29] bouweandela commented on #612
No, that's about providing good information for debugging errors with the preprocessor.

[2020-04-13 12:20] bouweandela commented on #59
@schlunma Did your recent pull requests solve this issue?

[2020-04-13 12:21] #72 closed

[2020-04-13 12:22] bouweandela commented on #612
Found it: #63

[2020-04-14 07:50] schlunma commented on #59
I think so. @LisaBock what do you think? Can you check if the files can be read correctly with the latest version of ESMValCore?

[2020-04-14 14:32] LisaBock commented on #59
Yes, it tested the CMIP5 model I mentioned in the beginning of this issue (MPI-ESM-LR historical, Variable: cli) and several CMIP6 models. The ESMValTool could read them all. Thanks @schlunma!

[2020-04-14 14:32] #59 closed

[2020-04-14 14:54] valeriupredoi commented on #611
this is more of a scientific question (well, statistical) - @ledm I believe is the person to ask - I would definitely replace it with [numpy masked mean](https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ma.mean.html) though :beer:

[2020-04-14 15:16] ledm commented on #611
Replacing
[code]
with
[code]
should fix this ([Numpy.ma.average](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.average.html) ). I don't believe that there's an option to add weights to [numpy masked mean](https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ma.mean.html).

Although there might be another error if the volume includes masked values. I don't know whether

[2020-04-14 16:48] valeriupredoi commented on #574
OK @mwjury - no answer yet from the Iris folk, I will attempt a fix in our code tomorrow :beer:

[2020-04-14 19:07] npgillett opened #614 "Dataset problem: Missing latitude and longitude bounds in FGOALS-g3 tos and siconc"
Coordinate variables `latitude` and `longitude` in `FGOALS-g3` `tos` data do not have attribute `bounds`:

[code]

This causes the following problem when esmvaltool is run:

[code]

[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/4477014/main_log_debug.txt)

I tried using this fix for BCC-CSM1-1:
[https://github.com/ESMValGroup/ESMValCore/blob/master/esmvalcore/cmor/_fixes/cmi

[2020-04-16 11:12] valeriupredoi commented on #611
will you PR that @ledm ? :beer:

[2020-04-16 15:29] bouweandela commented on #64
@ledm Note that pretty extensive documentation is now available here: https://esmvaltool.readthedocs.io/projects/esmvalcore/en/latest/quickstart/find_data.html
However, this really should be linked from https://esmvaltool.readthedocs.io/en/latest/quickstart/configuration.html

[2020-04-16 17:11] valeriupredoi commented on #574
@mwjury my apologies it took so long, things are not the same when working from home :grin: I have a nice solution for you in https://github.com/ESMValGroup/ESMValCore/pull/615 (which I tested with your use case from here) :beer:

[2020-04-17 15:38] koir-su opened #617 "updated derivation of ctotal for CMIP6 models"
**Describe the bug**
The ctotal is derived as the sum of cVeg and cSoil. But, there are differences in definition of these variables in CMIP5 and CMIP6. In order for recipe_carvalhais2014nat.yml to work for CMIP6 models, the derivation needs to be updated.

[2020-04-20 13:16] valeriupredoi commented on #611
#618 guys :beer:

[2020-04-20 16:19] valeriupredoi commented on #617
@jvegasbsc I can do this, but if you have some spare time and decide to do it, I will not be too angry, not a bit :grin:

[2020-04-21 05:15] npgillett commented on #349
This is an issue with FGOALS-g3 historical Amon tas and FGOALS-g3 ssp245 Amon tas, r1i1p1f1. The dates overlap (the historical tas continues until Dec 2016, but the ssp245 tas starts in Jan 2014) and I need to concatenate these experiments.... will have to write a one-off fix. Just reading in separately is not practical, because I am reading this in along with ~1000 other expertiments and I want s

[2020-04-22 10:37] mwjury commented on #574
@valeriupredoi works like a charm. Thanks!

[2020-04-22 11:09] valeriupredoi commented on #574
cheers for testing  @mwjury :beer:

[2020-04-22 22:46] npgillett commented on #614
I worked out a way round this - by just guessing the bounds for `grid_latitude` and `grid_longitude`:
[code]

Once I have checked over my CMIP6 fixes again, I plan to put in a pull request for them.

[2020-04-22 23:06] rswamina commented on #576
@zklaus and @npgillett - I ran into the same problem when trying to concatenate cubes from the CESM2 model as well. What has been decided on how to fix this?

[2020-04-23 11:18] valeriupredoi commented on #576
if it's an issue related to partial time overlaps and multiple experiments to be concatenated try this https://github.com/ESMValGroup/ESMValCore/pull/615

[2020-04-23 14:15] ledm opened #621 "Include default preprocessor order in API"
It's hard for new users to find the default preprocessor order (or indeed a complete list of preprocessors).

At the moment, I believe that it is only available in the `__all__`` list in `preprocessor/__init__.py`.:

https://github.com/ESMValGroup/ESMValCore/blob/bbb73b0e0fe1c553dbe12c4cdf7da1a502a0fad9/esmvalcore/preprocessor/__init__.py#L37-L112

Is there a way to add this order to the ESMValCor

[2020-04-23 15:35] valeriupredoi commented on #545
so given that #548 was closed off, do we want to close the issue too? @schlunma

[2020-04-23 15:38] #545 closed

[2020-04-24 10:30] #617 closed

[2020-04-27 15:42] valeriupredoi opened #622 "pytest-flake8=1.0.5 throws AttributeError -> flake8 needs pinning"
Seen in all our tests and reported here https://github.com/tholo/pytest-flake8/issues/66
Am gonna pin `pytest-flake8` to 1.0.4 for now
**UPDATE** `flake8` is actually the culprit here, so pinning it to <3.8.0 (the bleeding edge version), it does the trick, at 3.7.9

[2020-04-27 15:56] mattiarighi opened #624 "Error when installing the development version of ESMValCore"
I get an error when installing ESMValCore in development mode.

Running `pip install -e '.[develop]'` returns

[code]

[2020-04-27 17:20] #622 closed

[2020-04-30 07:54] katjaweigel commented on #624
I went from:
git reflog
d817e69a3 (HEAD -> master, origin/master) HEAD@{0}: pull: Fast-forward
0c14905bb HEAD@{1}: merge refs/remotes/origin/master: Fast-forward
and had no issue with
pip install -e '.[develop]'

[2020-04-30 08:05] mattiarighi commented on #624
Thanks, I'll try again.

[2020-04-30 09:01] bouweandela commented on #624
If the problem persists, can you please post the exact commands you're running to do the installation? I just tested and for me it works fine:
[code]

[2020-04-30 09:39] mattiarighi commented on #624
Solved.

[2020-04-30 12:09] valeriupredoi opened #625 "Padding lon/lat bounds in _area/_crop_cube returns invalid bounds in extract_region if the geometry is all Earth"
[Here](https://github.com/ESMValGroup/ESMValCore/blob/d817e69a312c0cabe172f8cb427288c05b703acc/esmvalcore/preprocessor/_area.py#L324) - if geometry is as is from `esmvalcore/preprocessor/ne_masks/ne_10m_ocean.shp` and its bounds are `[-179.99999999999991 -85.22193775799991 180.0 90.00000000000006]` by padding that will introduce a `ValueError: Invalid end_latitude: 90.50000000000006` from `extract

[2020-05-01 21:23] npgillett opened #627 "Update to check.py causes code to hang if latitudes or longitudes are set to high numbers"
This update to `check.py`:
(https://github.com/ESMValGroup/ESMValCore/commit/de103fc293d8a1d273fd6beda79cfb26c945a66e#diff-4bd932e41bce403396718de759e9c312) (further changed by this update https://github.com/ESMValGroup/ESMValCore/commit/fc954571f3541fdcc83f3df7f136d435270a9e74)
attempts to set longitude values to within 0 to 360 range by repeatedly adding or subtracting 360 from the values. Some

[2020-05-03 05:22] npgillett opened #628 "Dataset problem: Fixes for CMIP6 monthly model output"
This issue accompanies a pull request for several CMIP6 dataset fixes. It adds fixes for the following:
Fixes issue with different `bounds_dtype` and lat and lon bounds in CESM2 and NorESM2-LM:
https://github.com/ESMValGroup/ESMValCore/issues/576
Fixes missing latitude and longitude bounds in `tos` and `siconc` in FGOALS-g3:
https://github.com/ESMValGroup/ESMValCore/issues/614
Fixes high latitude

[2020-05-05 14:26] sloosvel opened #630 "Make some functions in multimodel public"
The multimodel_statistics function can't be called inside diagnostic scripts because it does not accept cubes, but rather products.

However functions _get_overlap, _assemble_overlap_data and _assemble_full_data do accept cubes and they are what computes the statistics anyway. Could they be made public and add in the documentation how to call them? Maybe it would be better to generalise the multim

[2020-05-05 14:38] valeriupredoi commented on #630
good initiative, I fully support it! we do need to make the users aware of them being high-memory functions though, if they don't break the computer during the preprocessor/multimodel step, they may break it while using them in the diagnostic :beer:

[2020-05-05 16:02] valeriupredoi commented on #547
#557 merged and this one's history :tada:

[2020-05-05 16:02] #547 closed

[2020-05-12 10:05] sloosvel opened #632 "Dealing with startdates in filenames"
**Is your feature request related to a problem? Please describe.**
Some experiments (DCPP, etc) contain startdates in the filenames and this is currently not supported.

**Would you be able to help out?**
Started working in branch dev_dccp_startdates, in which startdates are dealt with the same way as ensemble members by getting expanded.
The requirement for start_year and end_year is relaxed if t

[2020-05-12 12:53] bjoernbroetz commented on #62
Do we still think about applying CIS from within the ESMValTool? @jgriesfeller and colleagues are looking forward to have AERONET-Data in the available in the Tool in the scope of IS-ENES.

It was noticed that the current implementation of CIS uses an old version of the AERONET data:
https://cis.readthedocs.io/en/stable/data_products.html
``` *.lev20 files for AERONET ```

[2020-05-13 15:20] bouweandela commented on #630
This would probably be the most user friendly and not too difficult to implement, maybe just rename the first argument from `products` to `products_or_cubes` and make some changes so the function is able to deal with both types of input (but not a mix).

[2020-05-14 09:16] bouweandela commented on #627
@jvegasbsc Could you please have a look? I would expect the CMOR check to pick up on longitudes outside the valid range and raise an exception?

[2020-05-14 09:18] bouweandela commented on #612
@Peter9192 Does this answer your question? Can the issue be closed, or do you feel that something should still be done here?

[2020-05-14 09:23] #612 closed

[2020-05-14 09:24] jvegasbsc commented on #627
It does, but we have an automatic fix for `longitude`, as it is quite common that models or other datasets report it in -180, 180.

I think I will limit the fix values between -360 and 720, as values outside that range are probably completely patologic

[2020-05-14 10:22] jvegasbsc commented on #627
Can you check if PR #636 fix the hanging?

[2020-05-18 07:18] #621 closed

[2020-05-18 10:37] valeriupredoi opened #639 "Shrink _recipe.py"
I think we have reached the size and complexity limit for `_recipe.py` (we may have reached that a while ago) so I reckon we should start shrinking it and optimizing its use; I reckon the first step is to move all the preprocessor module specific functions (like `_update_{STEP}_settings`) to the preprocessor itself. What say you @bouweandela - if you agree I can get cracking with it starting now :

[2020-05-18 13:45] bouweandela commented on #639
Hi V,

I agree with you that it would be good to clean this file up. In the next few months we will be working on #498. I expect that once we have a more complete Python API in place, _recipe.py will also be a lot simpler, so I think it would be best to wait a bit with this.

Another issue is that at the moment we have about 90 open pull requests (45 in ESMValCore and 46 in ESMValTool), I would re

[2020-05-18 14:20] bouweandela opened #641 "Simplify default DRS for native6 project"
Because the data used with the `native6` project can have any filename, it might be nice to make the default DRS
[code]
because this would allow using the filenames that the data comes with without renaming. You could just download the data, put it in the right directory and be done. It would also avoid the issue reported here: https://github.com/ESMValGroup/ESMValTool/pull/1644#issue-413480838.

[2020-05-18 14:21] bouweandela commented on #494
Related to  #641

[2020-05-18 14:45] bouweandela opened #642 "Add pre-commit hooks"
It would be nice to provide pre-commit hooks for those who would like to use them:
See https://pre-commit.com for more information
See https://pre-commit.com/hooks.html for more hooks

Hooks for the following would probably be nice:
- check-added-large-files
- flake8
- isort
- yapf
- yamllint or check-yaml
- check-merge-conflict
- check-case-conflict
- trailing-whitespace

See also https://github.

[2020-05-18 15:42] valeriupredoi commented on #639
makes sense, man! let's wait a bit more, I'll dedicate my effeorts towards the noble cause of solving as many of those PR's and issues :carousel_horse:

[2020-05-19 08:01] bouweandela opened #644 "Segmentation fault when running tests on CircleCI"
The unit tests are failing regularly due to a segmentation fault.

If this happens to your pull request, please go to CircleCI by clicking 'Details' behind the CircleCI 'commit' check below your pull request, and clicking on the failed test job. Once you're on CircleCI, click the 'Rerun' button in the top right corner and choose 'Rerun Workflow from Failed'. Usually, the test will succeed the seco

[2020-05-19 08:42] bouweandela commented on #641
Data could then be stored like this:
[code]
and used from the recipe like this:
[code]

[2020-05-19 08:47] bouweandela commented on #644
This is probably because `pytest` is running the tests in parallel and the `netCDF4` library is not thread safe https://github.com/Unidata/netcdf4-python/issues/844.

[2020-05-19 09:36] bouweandela commented on #644
Actually the threads are created by dask, we're not running pytest in parallel.

[2020-05-19 11:30] bouweandela opened #647 "Make preprocessor function volume_statistics lazy"
Related to #51

[2020-05-19 11:58] #625 closed

[2020-05-20 07:59] #641 closed

[2020-05-20 11:43] bouweandela opened #648 "Use DOI to provide links to citation information in *_data_citation_info.txt"
It would be better to use the doi resolver + DOI (e.g. https://doi.org/10.22033/ESGF/CMIP6.2949) in the *_data_citation_info.txt files, because the DOI will always resolve to the current landing page but the URL of the landing page we currently use might change in future.

This improvement was requested by Martina Stockhause via email.

[2020-05-22 08:11] #596 closed

[2020-05-22 09:08] #574 closed

[2020-05-22 09:36] #627 closed

[2020-05-22 10:22] mattiarighi commented on #193
Replaced by #1574.

[2020-05-22 10:22] #193 closed

[2020-05-25 07:58] bouweandela commented on #498
Related to #30

[2020-05-25 08:00] mattiarighi commented on #470
@jhardenberg can you please open a PR with this fix?

[2020-05-25 08:03] mattiarighi commented on #444
Reopen if necessary.

[2020-05-25 08:03] #444 closed

[2020-05-25 08:06] mattiarighi commented on #388
Still relevant?

[2020-05-25 08:19] mattiarighi commented on #90
Closing.
Please add this to the to-do list in https://github.com/ESMValGroup/ESMValTool/issues/1574.

[2020-05-25 08:19] #90 closed

[2020-05-25 08:24] mattiarighi commented on #49
Any news here?

[2020-05-25 08:25] mattiarighi commented on #40
I think this is solved, @ledm ?

[2020-05-25 08:27] #13 closed

[2020-05-25 10:22] bouweandela commented on #498
@zklaus Indeed there is nothing specific to a Jupyter notebook in this proposal, you could just as well use the interface from a Python script, I changed the title accordingly. The reason I mentioned the Jupyter notebook is that people typically use this kind of interface from a notebook.

[2020-05-25 14:28] SarahAlidoost commented on #609
The bibtex files are already available for some of the other data in the reference folder. The [extract_doi_value](https://github.com/ESMValGroup/ESMValTool/blob/4b13358fff72d92e724d39b1b0c34018450723f3/esmvaltool/cmorizers/obs/utilities.py#L186) function finds the bibtex file and extracts the doi. If we can store the reference tag and use it while running a recipe, we can write the entire bibtex

[2020-05-25 15:00] SarahAlidoost commented on #648
Thank @bouweandela for pointing this out. The *_data_citation_info.txt files stores two types of information:
**- Follow the links below to find more information about CMIP6 data:**
This link (and its associated json ink) is generated by esmvaltool based on the stored attributes in the provenance file, for example https://cera-www.dkrz.de/WDCC/ui/cerasearch/cmip6?input=CMIP6.CMIP.BCC.BCC-ESM1.hist

[2020-05-26 07:10] bouweandela commented on #648
Hi Sarah,

You are right that if there is no internet connection, there is no way to retrieve the DOI and it's impossible to add the DOI url.

However, the point of this issue is that if you run a recipe now with internet connection, but try to use the generated *_data_citation_info.txt files e.g. five years from now, the urls in those files may be broken. If we would use the DOI urls when possibl

[2020-05-26 11:10] valeriupredoi commented on #647
I'll fix this once #618 gets merged :beer:

[2020-05-26 11:37] valeriupredoi commented on #644
yeah, seen this, albeit it seems to be transitory. I am smelling `hdf5` so I pinned it to catch the latest `1.10.6` in #649 - the one I *believe* the CI is compiling netcdf4 against is `1.10.5` which is more than 7 months old

[2020-05-26 11:40] valeriupredoi commented on #644
gah! just looked at the Artifacts and it is `1.10.6` the CI is installing, bleh

[2020-05-26 12:02] valeriupredoi commented on #644
what are these things? https://10300-190192145-gh.circle-artifacts.com/0/logs/versions.txt

[2020-05-26 12:06] valeriupredoi commented on #644
nevermind, they're the base system versions, got confused they are the env packages versions

[2020-05-26 12:44] valeriupredoi commented on #644
aha! I found the bugger: indeed the final test environment is using `hdf5=1.10.5` because the env reverts back to it when installing `ncl`:
[code]
the problem is pinning it to `>=1.10.6` causes conda to blow its pipes and refuse to solve the environment, dumb conda. The good news is I ran multiple test instances with (at least 4, on CI machine) with `1.10.6` and still to see the segfault, so now a

[2020-05-26 13:34] valeriupredoi opened #650 "hdf5=1.10.6 (latest, mpich and nompi) can not be installed in parallel with ncl=6.6.2 (any hash)"
An environment with the latest `hdf5=1.10.6` (whether it be `nompi` or `mpich`, albeit we need `mpich`) can not pass the conda toll when installing `ncl`. This is bad for two reasons:

- #644 is most probably due to the env reverting to the 7+ months old `hdf5=1.10.5` (I ran multiple tests with the latest hdf5 on the CI machine and have not seen any segfault);
- we will have to upgrade to `1.10.6`

[2020-05-26 13:37] valeriupredoi commented on #644
conda is a good boi, it's `ncl` that is not allowing 1.10.6

[2020-05-26 13:43] valeriupredoi commented on #650
https://github.com/NCAR/ncl/issues/133

[2020-05-26 14:45] Peter9192 opened #651 "Anomalies preprocessor with period 'full' removes important metadata from cube"
**Describe the bug**
When the `anomalies` preprocessor function is applied with `period=full`, it removes important metadata such as the variable name, all attributes, etc. This doesn't happen for other periods like `month` or `day`. Consequently, subsequent preprocessors or diagnostics fail.

I think it's happening [here](https://github.com/ESMValGroup/ESMValCore/blob/8306a6561a011f61dec949dc5688

[2020-05-26 16:56] valeriupredoi commented on #651
ugh cheers @Peter9192 - definitely a bug! Let me create a fix :beer:

[2020-05-27 08:55] #611 closed

[2020-05-27 10:00] ledm commented on #40
Yes!

[2020-05-27 10:00] #40 closed

[2020-05-27 14:56] bouweandela opened #653 "Use sys.executable to find python interpreter to run diagnostic"
At the moment, we use the command `python` to run a diagnostic script. It would be more reliable to try to use the same interpreter (using ` sys.executable`) as the `esmvaltool` command. This would then also work even when the conda environment in which esmvaltool is installed is not activated.

[2020-05-27 15:38] bouweandela opened #654 "Error concatenating a single cube"
Since  #615 was merged, running `examples/recipe_python.yml` fails with the following stack trace:
[code]

This happens becaue there is only a single cube to concatenate.

[2020-05-27 16:31] #654 closed

[2020-05-28 07:58] Peter9192 commented on #563
I have a use case for the percentiles function. Is it as simple as this? Can I reopen this issue?

[2020-05-28 14:59] SarahAlidoost commented on #648
@bouweandela thanks for the explanations.
This link ****https://cera-www.dkrz.de/WDCC/ui/cerasearch/cmip6?input=CMIP6.CMIP.BCC.BCC-ESM1.historical**** can be replaced with the url including doi  https://doi.org/10.22033/ESGF/CMIP6.2949 i.e. BibTeX url. However, it means that the BibTeX url is written in two files: *_data_citation.bibtex (see the second entry in this file), and *_data_citation_info

[2020-05-28 16:13] valeriupredoi commented on #653
this is dangerous because modules could fail to import; if the `$PATH` is not set correctly that'll happen, it needs to point to `anaconda/bin` (which does when the env is not activated) and `anaconda/envs/esmvaltool/bin` (which doesn't when the env is not activated)

[2020-05-29 09:48] ledm commented on #42
Just a comment that  gtfgco2 may still be needed. I've commented on the merged PR here https://github.com/ESMValGroup/ESMValCore/pull/418#issuecomment-635412157

but happy to continue the discussion here if needed.

[2020-05-29 15:25] bettina-gier opened #658 "Landsea mask not working when model has sftof but not sftlf"
When a model has stfof but not sftlf fx files, in a landsea mask the fx_variables are shown as

[code]
and in the loop at preprocessor _mask.py line 134ff

[code]
it fails at os.path.basename(fx_file)
[code]

Seems it's trying to feed an empty list to os.basename

Adding
[code]
in line 138 of _mask.py solved the issue for me, but I don't know if this is the best way as it may occur elsewhere fx fi

[2020-06-02 07:41] bouweandela commented on #632
Could you give some examples of these filenames?

[2020-06-02 17:21] valeriupredoi commented on #658
remember to assign people when creating an issue :beer: I'll have a look at it, cheers for the very concise and descriptive issue!

[2020-06-02 17:29] valeriupredoi opened #660 "Installing from conda is a total turkey"
[code]

results in successive failures of conda to solve the environment and piling up memory consumption in the process (on my puny 4GB RAM machine the conda python process reached 3GB and went straight to swap twice, forcing me to restart the whole machine twice). I am aware this is partly conda's fault for trying to be something that'll never be but it's also our fault for not optimizing the pa

[2020-06-02 18:44] bouweandela commented on #660
Maybe you could open an issue about this with conda? https://github.com/conda/conda/issues

It looks like similar issues have been reported before, e.g. https://github.com/conda/conda/issues/7787, https://github.com/conda/conda/issues/8650

[2020-06-02 18:59] bouweandela commented on #212
We could also consider merging the function `cmor_check_data` with `cmor_check_metadata`, since we do not actually check the data anyway. That would also solve this problem, since `cmor_check_metadata` is run right after loading the data. @jvegasbsc @mattiarighi Do you think this could be an acceptable solution?

[2020-06-02 19:07] bouweandela commented on #653
Would you be able to explain that with an example?

[2020-06-02 19:21] bouweandela opened #662 "Run tests for all supported Python versions"
At the moment we only test with the latest Python version (3.8), but we claim to support Python 3.6 and 3.7 as well. To ensure that this actually works, it would be good to test with those Python versions too on CircleCI.

[2020-06-02 19:43] bouweandela commented on #660
Without `ncl` the environment solves within 15 seconds and 270 MB or RAM.

[2020-06-02 20:07] bouweandela commented on #660
My installation finished:
[code]
resulted in
[code]
i.e. about 1 hour to solve the environment and around 7GB or RAM.

[2020-06-02 20:10] valeriupredoi commented on #660
tiptop, mate, tiptop :rofl:

[2020-06-02 20:11] valeriupredoi commented on #660
I can't see your comment about the env solving quickly w/o `ncl` - did you remove it?

[2020-06-03 08:38] sloosvel commented on #632
Yes it's experiments like dcppA-hindcast:

`tas_Amon_EC-Earth3_dcppA-hindcast_s2017-r1i1p1f1_gr_201711-201810.nc`
`tas_Amon_EC-Earth3_dcppA-hindcast_s2017-r1i1p1f1_gr_201811-201910.nc`
`tas_Amon_EC-Earth3_dcppA-hindcast_s2017-r1i1p1f1_gr_201911-202010.nc`
`tas_Amon_EC-Earth3_dcppA-hindcast_s2017-r1i1p1f1_gr_202011-202110.nc`
`tas_Amon_EC-Earth3_dcppA-hindcast_s2017-r1i1p1f1_gr_202111-202210.nc`
`t

[2020-06-03 15:22] bouweandela commented on #660
Sorry, yes, because it was confusing, e.g.
`conda create -n test -c esmvalgroup -c conda-forge esmvaltool-r imagemagick ncl` takes about a minute to resolve and 1.2 GB or RAM and installs the exact same packages as `conda create -n test -c esmvalgroup -c conda-forge esmvaltool`, which takes an hour and needs 7GB RAM.

[2020-06-03 15:46] bouweandela commented on #644
Instead of using very recent versions, maybe we could try using some older versions of hdf5 or netcdf? Because the problem didn't occur earlier?

[2020-06-03 15:56] bouweandela commented on #648
For me this doesn't really feel like a problem.

I'm not sure if that is a good solution, because the file is also used to store data citation information for other projects, e.g. CMIP5 or observational / reanalysis datasets. It seems inconsistent to only include CMIP6 information if there is no internet connection.

[2020-06-03 16:17] bouweandela opened #663 "python setup.py test is deprecated"
So our documentation on running tests as well as the test scripts that run on CircleCi need to be updated.

[2020-06-04 12:17] valeriupredoi commented on #662
I am a bit weary of this because that would mean changing the CI environment quite drastically ie recreating the whole env for each Python version - that will take time, quite a bit of it. Can we not just support and test with only the latest Python version? Or alternatively, run those tests not everytime there is a minor code change but rather once in a blue moon? :new_moon_with_face: