[2021-05-18 09:43] fserva opened #1136 "compatibility of ERA5 pressure level variable(s)"
Hello all, I would need to process (six) hourly ERA5 data in order to prepare input for the zmnam recipe, which requires daily means geopotential height.

I've tried to process it by using https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/cmorizers/recipe_era5.yml, however an error is raised when building the cube: `ERROR   [15512] Failed to run fix_metadata([<iris 'Cube' of

[2021-05-18 09:48] Emmadd commented on #1126
The list is a list of files that was merged to create te file I am using, which is indeed stored as an attribute of the input NetCDF file. (Not sure about the global part).

I've commented out the line that plots the provenance (and hope to have fixed the fixes that were leading to problems in my case). I think It'll work fine now.

Thanks for your help!

[2021-05-18 09:48] #1126 closed

[2021-05-18 09:56] sloosvel commented on #1120
Thank you @zklaus. As you mention, it's not so much about the readability of recipes with wildcards. It's just that the current way of specifying start and end years, while clipping the dates from January 1st to December 31st, is not very convenient for certain datasets

Below you can see how files for a DCPP experiment can look like. These are files from the same experiment (`dcppA-hindcast`). Th

[2021-05-18 12:28] fserva commented on #1135
Would it be reasonable to make this optional, for example with a `make_provenance` flag controlled from the config file?

[2021-05-18 12:57] earnone commented on #1135
I agree this could be produced on request. With large processing they are
not produced anyway.

On Tue, 18 May 2021 at 14:28, fserva ***@***.***> wrote:

[2021-05-19 07:15] bouweandela commented on #1129
Another tool for downloading CMIP data is [sproket](https://github.com/ESGF/sproket), it uses a json configuration file. We could also generate that from the recipe.

[2021-05-19 08:33] zklaus commented on #1129
Sproket, though, is written in Go, which would add another set of dependencies. Last I checked it also did not support downloading many files in the ESGF directory structure, which would be the reason to use synda selection in the first place, right?

Anyway, I am not sure we need additional downloading capabilities at this point. Is there a user request for this? Otherwise, I would suggest addres

[2021-05-19 08:39] ledm opened #1137 "The preprocessor `extract_trajectory` doesn't create coordinate bounds, and confuses lat/lon coordinates"
The preprocessor `extract_trajectory` is built to interpolate the model data between two points at a prescribed number of points.

This means that it creates a new set of coordinates between those two points. However, the new coordinates do not include the coordinate attribute, `bounds`.

ie:

The preprocessor
[code]
Produces the follow latitude

[code]

However, you'll also notice that it actuall

[2021-05-19 10:03] bouweandela commented on #1129
I see two use cases for this feature:
- Making it easy to request all the data you need for running a recipe from your system administrator if you are working on Jasmin/Mistral/MareNostrum/etc. The person in charge of downloading data at BSC uses sproket.
- Download all the data needed for running a recipe, useful if you want to run a recipe multiple times.

Because neither synda nor sproket can b

[2021-05-19 10:13] bouweandela commented on #1136
Could you please post the complete stack trace? Or attach the file run/main_log_debug.txt?

[2021-05-19 10:24] bouweandela opened #1138 "Using wildcards in recipes"
The philosophy behind recipes is that they are as explicit as possible, so e.g. all datasets should be fully written out so it is clear what the recipe actually computes (and with which datasets it actually works).

However, this is not very user-friendly for people writing recipes and can become difficult to read too. See e.g. the requests for the use of wildcards `'*'` for specifying datasets in

[2021-05-19 10:26] bouweandela commented on #1120
Thanks for explaining the feature in more detail @sloosvel, I did not get this from the issue text at the top. I created a new issue about the use of wildcards in #1138.

[2021-05-19 10:30] sloosvel commented on #1120
My bad! I was not explaining things very well.

[2021-05-19 10:31] fserva commented on #1136
Here it is, thanks.
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/6507929/main_log_debug.txt)

[2021-05-19 14:12] sloosvel commented on #1096
Maybe something like checking the mip? If it's related to an ocean realm it should start with O (and SI for the ice), and areacello and sftof could be set as the default options. And if that is not the case, set areacella and sftlf as the default ones.

[2021-05-19 14:39] schlunma commented on #1096
I wouldn't make this dependent on the variable. Sometimes it might be useful when an atmospheric variables has access to e.g. `sftof`, for example when they share the grid and no `sftlf` is available.

You could add a `try ... except CMORCheckError as exc ... raise CMORCheckError("...") from exc` to the checks/fixes [here](https://github.com/ESMValGroup/ESMValCore/blob/347d19d28c0b91891180a58a211a

[2021-05-19 16:00] sloosvel commented on #1096
I think the easiest thing would be to check the shape after loading but before cmor checking. If the fx var cannot be broadcasted to the cube, discard the fx_variable and try the next one. I'll finish this next week though.

[2021-05-19 16:48] thomascrocker commented on #1138
I can't comment on the other use cases mentioned. But in the case of finding FX variables for preprocessor activities (#1082) the use of wildcards is necessary in order for ESMValTool to find the necessary files for the preprocessor. This is because for projects outside of CMIP5 (CORDEX and CMIP6 are the examples I'm working with) the location of fx files varies by institute. Some replicate them a

[2021-05-19 17:14] valeriupredoi opened #1139 "Use a conda lock to create the env only once a week"
@zklaus pointed me to this idea (cheers, dude!) the iris guys are implementing in https://github.com/SciTools-incubator/iris-esmf-regrid/pull/68 and with the original and nice discussion in https://github.com/SciTools/iris/pull/4108 - basically use a lockfile to generate and store the deps env in and do this on a periodic basis, but less than daily. Discussion point: do we want such a feature as w

[2021-05-20 07:09] zklaus commented on #1139
There is a nice overview of the advantages in SciTools-incubator/iris-esmf-regrid#68. Basically, by using a lock file, you completely avoid the solving stage. This is opposed to merely specifying all versions in an environment file, where conda will still perform a solve to create a consistent environment with all dependencies of dependencies.

Regardless of how often the update would happen, havi

[2021-05-20 15:05] bouweandela commented on #1138
If it is necessary to specify cell measures and ancillary variables per dataset, we should probably enable that with the special keys in the dataset section (instead of in the preprocessor section), called `cell_measures` and `ancillary_variables` that specify the required fx variables and override specific facets from the main variable/dataset that they belong to. Would this be a possibility?

[c

[2021-05-20 15:11] bouweandela commented on #1120
I'm not sure if it's a good idea to move preprocessor functionality to the dataset section. Wouldn't it make more sense to create a preprocessor that selects the first or last data from all datasets, if that's something that's required?

Would it be possible to set the range to the correct values when expanding the `sub_experiment: 's(1960:2018)'`? Maybe you could just omit specifying the start an

[2021-05-20 15:15] thomascrocker commented on #1138
Ahh. That looks like it might be a solution. I didn't realise that it was possible to specify explicit ancillary variables etc. as part of a dataset definition. I think keeping the wildcards functionality is still very useful (since otherwise the user needs to trawl the file structure to determine the exact criteria for the ancillary files for each dataset) but this provides a good way to also sav

[2021-05-21 09:12] senesis commented on #494
I may help. My proposal would be :
In the config-dev file, e.g.

[code]
and in the config-user file, e.g.  :
[code]
and in any recipe, e.g. :

[code]

[2021-05-21 09:31] lukasbrunner commented on #1135
Maybe related: I recently also had problems with the provenance in the output files (for a large number of models):
https://github.com/ESMValGroup/ESMValTool/pull/1859#issuecomment-827573581

I think it is good to have but in this case (>99% of file size only for provenance) it seems that another solution would be preferable.

[2021-05-21 11:07] valeriupredoi commented on #1139
sounds good, even though I don't like atomic stuff (failed my Adv Quantum Mechanics in college :grin: ) - I'll have a start at implementing this sooner than later :+1:

[2021-05-21 14:38] remi-kazeroni commented on #989
The command `module load esmvaltool` is now working at DKRZ as well 🥳 Feel free to try it out and let me know if it works fine @ESMValGroup/esmvaltool-coreteam

@valeriupredoi I see that we have the instructions for Jasmin on the ESMValCore [documentation](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/install.html#pre-installed-versions-on-hpc-clusters). Should this be also

[2021-05-21 14:40] remi-kazeroni commented on #1026
We addressed that with `module help esmvaltool` that returns:
[code]

[2021-05-21 16:04] thomascrocker opened #1141 "CORDEX CMOR tables missing valid_max and valid_min attributes, leading to incorrect preprocessor area operations"
I recently developed a recipe involving a region extraction:
[code]
But, when i plotted the data, it was clear that the region extraction wasn't working correctly on the western boundary.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/17336982/119163128-05f61f80-ba53-11eb-9584-324cf8937bf8.png)

After a bunch of digging, I realised that the issue was that the longitude coord of

[2021-05-22 04:40] senesis opened #1143 "Handle IPSLCM native formats"
This **Handle IPSLCM native formats** feature is related to IS-ENES3 WP9.5 "_Enhancing the use of the ESMValTool for model development_" and more precisely its subtask "_Incorporation of ESMValTool into modelling or stand-alone workflow_" , and to IS-ENES3 deliverable D9.2 "_ESMValTool version enabling model development usage_"

The intent is to add this feature for [release 2.3.0](https://github.

[2021-05-23 08:19] zklaus commented on #1078
@bsolino, could you please add an example of what the ICON format looks like? To collect the examples here, @senesis mentioned in #1127 a similar issue with IPSLCM files that are named like
[code]
where the data finder finds as range `1950_18500101`.

I think the data finder should not accept different resolutions for start and end, ie both should be "YYYY" or both "YYYYMM" or both "YYYYMMDD", etc

[2021-05-24 05:20] senesis commented on #1143
Further questions :
- documentation : apart from the ChangeLog, I see no other place in the on-line documentation for reporting about such a feature, and to provide users with some explanations and examples; any direction here, @ESMValGroup/tech-reviewers  ?
- tests : the tests directory apparently does not include any test directed at checking that each data source can be read; should I neverthel

[2021-05-24 08:21] zklaus commented on #1143
I have marked #1124 with milestone 2.3.0 and I have no problem with anything else being marked as such. After all, these markings are rather indicative. If the PRs are not integrated by June 7, they will be bumped to 2.4.0.

The other things you mention are only issues at the moment. They can also be assigned to the milestone, please feel free to do so, but right now as far as I can see there is n

[2021-05-24 08:44] zklaus commented on #1143
As for the other questions:

documentation: Since this is an aggregate issue, I am not completely sure which feature you have in mind, so I see two possibilities. Either we discuss this in the individual issues, or/and we add a new section to the documentation dealing with native model data. That is appealing also as a place to put generic instructions on how to add new models. I see two candidate

[2021-05-24 08:53] senesis opened #1144 "List info_keys (for dataset's alias) is too short for model development use case"
When using ESMValTool for model development workflow, the 'alias' for a dataset (which is used for a label in graphics, and is computed in class Recipe) is not informative enough, because it is based on a fixed list of attributes , `info_keys`, which value is : `'project', 'activity', 'dataset', 'exp', 'ensemble', 'version'`

These keys are not enough if the project which describes that model's da

[2021-05-24 09:06] senesis commented on #1143
I would be glad to work on both, i.e. :
- turn #1127 to a PR which will only change the regexp pattern for date ranges, thus forgetting about #1078 proposal,
- and try to turn  #494 in a PR that would go along [my suggestion](https://github.com/ESMValGroup/ESMValCore/issues/494#issuecomment-845808725),

but my request here was rather to reach an agreement than to head toward developing a solution

[2021-05-24 09:11] senesis commented on #1143
Thanks. I would be glad to build a draft PR (in ESMValTool repository), at least for benefit of automated tests, but I do not know how I could issue it (in ESMValTool repository) based on your branch for the draft PR #1124  (which is in your private repository).

[2021-05-24 09:16] zklaus commented on #1143
- I agree that addressing the issue of the regex for dates in a slimmer version that hinted at in #1078 is reasonable. I would suggest going with your suggestion in #1078 to enforce date pairs having the same length. I think this is a simple and clear improvement of the regex with minimal impact. At the same time we can move from accepting any length between 4 and 12 to exactly the right ones, i.e

[2021-05-24 09:37] zklaus commented on #1141
I agree that this is an important issue, but I don't think the solution is to force all longitudes to be in [0, 360]. This is appropriate for global data on regular grids since in that case, it's just a matter of agreeing on where to put the seam.

But for global models with grids that are not aligned with longitude and latitude, and for regional models that have rotated or projected grids, this i

[2021-05-24 10:20] thomascrocker commented on #1141
I can see what you mean, as you say, with a regional model, there is no need for a seam, anywhere, so if introducing one artificially can be avoided it probably would help avoid other potential problems elsewhere.

So I've just done a search for `360` over the repo, and looked at what is thrown up. The main culprit is, unsurprisingly, is `_area.py` specifically https://github.com/ESMValGroup/ESMVa

[2021-05-25 07:00] sloosvel commented on #1120
The `start_year` and `end_year` tags work in the same way as this tag would work. They load the data looking at the filenames, but the clipping does not happen until the corresponding preprocessing step . So in a way the `start_year` and `end_year` tags are also a preprocessor functionality specified in the dataset section.

@zklaus did not let me do that in #771, because we should allow people to

[2021-05-25 07:36] bsolino commented on #494
@senesis Your suggestion has the same issue that I was trying to address in my proposal, in that it's mixing at the same level datasets (eg. ICON, IPSL) and directory structures in machines (eg. BSC, DKRZ). Each machine could have each project stored in a different way, and I believe the purpose of the DRS is to make the data easily accessible to users of those machines by letting them set a DRS f

[2021-05-25 07:52] bsolino commented on #494
I understand that this refers to the `{dataset}` key in the `default` route, is that correct?

I think that key exists because the original intent of native6 was to set up the data in a way that the directory structure of each dataset would be identical, and so datasets could be differenciated by the folder in which they were located. If we move forward with this idea of allowing different directo

[2021-05-25 08:35] zklaus commented on #1120
My point was that there is nothing special about the sub-experiment. I think of every sub-experiment as its own experiment. So if we want to say that leaving out the start year means "take everything from the beginning of the experiment", and leaving out the end year means "take everything to the end of the experiment", that could work, but there is no reason to tie this to the sub-experiment. Ind

[2021-05-25 09:05] zklaus commented on #1141
Thanks for investigating this, Detective @thomascrocker!
I think we should assume always monotonic longitudes; of course, in longitude direction, i.e. when looking at neighboring rows of different latitudes, longitudes may well decrease.

I was also wondering a bit more about GCMs. It's true that the placement of the seam is basically just a choice, but this choice is arguably made by the limits o

[2021-05-25 09:36] ledm opened #1146 "Can we run some fixes on every Omon dataset by default?"
Almost every time I use recipe_filler.py to automatically fill up a recipe, it finds new ocean data which often have the same set of non-compliances and fixes. They often:

- use `olevel` instead
- use latitude and longitude twice
- use `latitude`/`longitude` instead of the std_name, `lat`/`lon`

There is already a standardised fix for these mistakes which appears in several cmip6 places. Can we j

[2021-05-25 09:59] ledm commented on #1146
For instance, there are several groups of models like the BCC models and the cesm2 models all have the same set of problems.

Perhaps some way to apply the same set of fixes to groups of models?

[2021-05-25 11:34] bsolino commented on #1078
@zklaus Here is an example of one of the outputs we currently have
[code]

I'm unsure what the numbers before Z mean.

[2021-05-25 11:40] zklaus commented on #1078
That should be the time, see e.g. [Wikipedia](https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations), so here we have `<YYYYMMDD>T<HHMMss>Z`, where the `Z` tells us that this is UTC. Is this an instantaneous field or does the file contain data for a whole time span? Does it start at the designated time, end there, or is the timepoint in the middle of the interval?

[2021-05-25 12:07] zklaus commented on #1146
That seems more reasonable to me. In fact, those two models have appropriate fixes, but even though we know (pretty much) that they apply to all ocean data, we only ever apply them to individual variables as discovered.

There are a number of issues and PRs on the topic. Bottomline: I think it should be addressed within the current framework and adding a fix to these two model(families) that uses

[2021-05-25 12:22] bsolino commented on #1078
I've been told by my colleague that run the simulation that it depends on the simulation, it could be any of a time span, average or instantaneous. When it's a time span, the date is the end point.

However, we need to double check this information.

[2021-05-25 12:24] zklaus commented on #1078
Ok, but that's good information. Perhaps the solution could then be just to adapt the regex a little bit, basically allowing for the intermittent `T` and a timezone designator like the `Z`, and then having only some form of `{end}` tag in the drs.

[2021-05-25 13:22] senesis commented on #1078
I will do that in #1145

[2021-05-25 13:24] senesis commented on #1078
But if the start point is not indicated, this will break date range logic (except in the time span always is included in the year of end point)

[2021-05-25 14:04] Peter9192 commented on #494
So how would that work if I want to use both ERA5 and ICON data through the native6 project?

[2021-05-25 14:08] Peter9192 commented on #989
Sorry wrong button!

[2021-05-25 16:16] senesis commented on #1078
I also added that pattern in the test suite for get_start_end_year, in #1145

[2021-05-26 07:36] tomaslovato commented on #1096
@sloosvel @schlunma I would like to address also another inconsistency in preprocessors within [_time.py](https://github.com/ESMValGroup/ESMValCore/blob/dev_review_fx_handling/esmvalcore/preprocessor/_time.py)  using the `aggregated_by` iris function that do not preserve the `fx` field as `cell_measures`.
A similar issue occurs also in `_vertical_interpolate` function that returns a new cube using

[2021-05-26 09:27] sloosvel commented on #1096
Thanks for poiting that out @tomaslovato. Since some fx vars can be time dependant, would it make sense to also perform the time statistics on them? Maybe those preprocessor steps could check the presence of cell measures and work on both the var cube and the measure cube, and then re-add the measures at the end. Instead of working with the original files again.

[2021-05-26 10:59] schlunma commented on #1096
@tomaslovato Unfortunately I think it's not that easy. The shape of the aggregated cube does (most likely) not match the shape of the fx files, so they cannot simply be added.

It does also not make sense to simply perform the same statistic that is used on the data on the fx files. For example, if you compute the sum of the data over time, it does not make sense to calculate the sum of the cell a

[2021-05-26 11:44] valeriupredoi commented on #989
awesome :partying_face: Yeah that's a good idea, dude!

[2021-05-26 12:52] senesis commented on #494
That way

config-user.yml
[code]

recipe :
[code]

That feature is useful as soon as a given model may come with two DRS (for instance one experiment is i a shared CMIP6 data store, another one is stored in a private location). My proposal is that also the rootpath can be specified in datasets entries

[2021-05-26 13:57] sloosvel commented on #1120
Maybe renaming the tag to `timerange` as proposed in #345 would be more clear?

[2021-05-26 14:33] bouweandela commented on #1138
It is not possible yet, but it could be implemented if someone has the time to do it. The above was just a proposal to do this in a way where we preserve both precise recipes and enable convenient recipe development.

[2021-05-26 14:38] bouweandela opened #1148 "Embedding provenance in diagnostic results may crash ESMValCore or a Jupyter notebook using the files"
Another question: I started looking at the `weights.nc` output file. For about 130 models it has about 10MB. Almost all of this (>99%) is due to the provenance global attribute. This seems a bit excessive. I could not quite figure out where this is added to the file (and it is not really connected to this PR, I assume it was always there just not so large with less models). I think @Peter9192 and

[2021-05-26 14:39] bouweandela commented on #1148
@ESMValGroup/esmvaltool-coreteam Should we continue embedding the provenance information as a global attribute in the output NetCDF files? Appently this makes it impossible to use them in some cases.

[2021-05-26 14:40] bouweandela commented on #1135
That's a different problem, but thanks for reporting it. I created a new issue here: #1148.

[2021-05-26 15:14] schlunma commented on #1148
The provenance output makes it really hard to read the files with `ncdump`, since there is important information above that (coordinates, variable metadata, etc.) and below it (data). In my opinion we could get rid of it (or replace it with some basic information (e.g. ESMValTool version, diagnostic name, etc.).

[2021-05-26 15:25] valeriupredoi commented on #1031
cheers @axel-lauer for the good work! I am going to email the devvs right now, one more thing left to do - delete `master` once and for all or keep it as legacy (I am fine with either, but think that we might want to rename it to something like `master-legacy`) @bouweandela

[2021-05-26 15:26] zklaus commented on #1031
Let's kill it. It will only cause confusion.

[2021-05-26 15:33] valeriupredoi commented on #1031
OK, sounds good, will you do the service and execute the poor fella, Klaus? :gun:

[2021-05-26 15:47] zklaus commented on #1031
I'm gonna wait a bit to give others a chance to weigh in; otherwise, I will do the deed next Monday.

[2021-05-26 15:56] valeriupredoi commented on #1031
yeah good call dude! One thing I remembered is whoever is doing the automatic pull in the private project needs to switch from pulling `master` nightly - is it you @axel-lauer or @remi-kazeroni ?

[2021-05-26 16:24] remi-kazeroni commented on #1031
Yes I will start pulling from `main` once it has become the default branch. Who is going to rename the default `master` branches of ESMValTool and ESMValCore to `main`? @axel-lauer?

[2021-05-26 16:26] valeriupredoi commented on #1031
they are already renamed and pushed, man :baby:

[2021-05-26 16:30] zklaus commented on #1031
@valeriupredoi, hmm. https://github.com/ESMValGroup/ESMValTool/branches still shows master as the default. So does https://github.com/ESMValGroup/ESMValCore/branches

[2021-05-26 16:34] valeriupredoi commented on #1031
very good observation @zklaus - I forgot to check - unfortunately I am not powerful enough to change it, could @remi-kazeroni or @axel-lauer please follow these [instructions](https://docs.github.com/en/github/administering-a-repository/managing-branches-in-your-repository/changing-the-default-branch) to change the Default branch on both Core and Tool please :beer:

[2021-05-27 07:43] bouweandela commented on #1031
The idea is to **rename** `master` to `main`, not delete it and also not change the default branch (though renaming will effectively do that of course). Please use the renaming instructions from the [renaming](https://github.com/github/renaming) repository. See [here](https://github.com/github/renaming#renaming-existing-branches) for instructions and information. Indeed this would need to be done

[2021-05-27 08:59] zklaus commented on #1141
@thomascrocker, have a look at #245 if you like. I think we can tweak that so that it solves this problem.

[2021-05-27 09:03] axel-lauer commented on #1031
@ESMValGroup/esmvaltool-developmentteam

### Important information

Following the (new) GitHub standards, we renamed the "master" branch in ESMValTool and ESMValCore as well as in ESMValTool-private to "main". Open pull requests have been automatically redirected to main, so nothing to do from your side here.

### Please note

In case you are working with local copies of the repositories ESMValToo

[2021-05-27 09:10] thomascrocker commented on #1141
Thanks #245 does look promising. Unfortunately I have a couple of other things on my plate at the moment that take priority over this but I should hopefully be able to try and work on this again in a few weeks.

[2021-05-27 09:22] zklaus commented on #1141
No worries, we'll drive #245 forward. Note that the feature freeze for the core for the 2.3.0 release is June 7; anything not in by then will have to wait until the next release in October (c.f. https://docs.esmvaltool.org/en/latest/community/release_strategy.html).

[2021-05-27 10:02] bouweandela commented on #129
Related to #181

[2021-05-27 10:16] bouweandela commented on #494
That is a different issue, let's discuss it here: #129

With `dataset` I meant the first option mentioned here.

As pointed out by @bsolino, the idea behind using a DRS is that recipes are machine-independent, so specifying this in the recipe defeats the purpose of using a DRS.

[2021-05-27 10:32] bouweandela commented on #1139
I'm not sure we need this, because we use Docker containers built from the `main` branch with already complete environments to run our tests on regular pull requests. The only time we need to solve an environment is for the nightly tests or when dependencies change.

[2021-05-27 11:02] bouweandela commented on #1144
Would it also work to just use whatever keys are available for a particular dataset in alphabetical order if the default keys do not offer sufficient differentiation? I would prefer to keep it simple and not add too much custom code for non-CMIP data. The alias function was implemented by @jvegasbsc, maybe he has an opinion?

[2021-05-27 11:58] bouweandela commented on #1120
I know, I think it's a not very good design and not something we should encourage.

Could we use a wildcard `'*'` for specifying any start year (see also #1138)? And make a separate preprocessor function for cutting out certain time ranges?

[2021-05-27 12:24] valeriupredoi commented on #1031
@bouweandela could you also pls update Codacy to run on `main` as the main branch in Pull Requests, I just tried to do that and it didn't allow me to - see eg [this message](https://app.codacy.com/gh/ESMValGroup/ESMValCore/pullRequest?prid=7398606)

[2021-05-27 12:34] bouweandela commented on #1031
I can't, I'm not administrator either. @axel-lauer Could you please have a look?
https://app.codacy.com/gh/ESMValGroup/ESMValCore/settings/branches
https://app.codacy.com/gh/ESMValGroup/ESMValTool/settings/branches

[2021-05-27 12:37] valeriupredoi commented on #1031
cheers for the renaming clarification @bouweandela - @axel-lauer has done this and now I see `main` is boss, no more `master` in the branches list either, nice one guys! Just the Codacy bit left to do. I did have a look on PyPi and conda and there is no mention of default branches there

[2021-05-27 12:38] axel-lauer commented on #1031
@bouweandela @valeriupredoi Just changed main branch in Codacy to "main" for ESMValTool and ESMValCore. Hope that does the job.

[2021-05-27 12:40] bouweandela commented on #1031
I just updated dockerhub. Readthedocs picks up the default branch.

[2021-05-27 12:58] bouweandela commented on #1031
Can we close the issue? I believe we have now updated everything everywhere.

[2021-05-27 12:59] valeriupredoi commented on #1031
I thinks so yes

[2021-05-27 13:02] #1031 closed

[2021-05-27 13:09] senesis commented on #1144
Yes, that may work, assuming that 'whatever keys are available' is understood as 'whatever key are used in input_dir and input_file patterns'

[2021-05-27 14:59] senesis commented on #1143
@zklaus This solution is my preferred one. What about such a structure :

[code]
and who should be pinged here ?

[2021-05-27 15:01] zklaus commented on #795
I like the idea of rethinking the config system. Some technical pointers:

- https://docs.python.org/3/library/importlib.html#module-importlib.resources
- https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html and its python implementation...
- ... pyxdg https://pyxdg.readthedocs.io/en/latest/index.html

[2021-05-27 15:05] zklaus commented on #1143
Good question. Perhaps @ESMValGroup/userengagementteam ?

[2021-05-27 15:54] zklaus commented on #127
I think this issue is obsolete now; closing. @schlunma, please reopen if you feel otherwise.

[2021-05-27 15:54] #127 closed

[2021-05-27 19:52] bouweandela commented on #1136
I tried to reproduce this with hourly zg and it looks like the crash is due to the `axis` attribute being set to the empty string, because loading the variable definition from the CMOR table, it picks up `zg` with an `alevel` generic coordinate instead of the usual vertical pressure coordinate. This happens because the variable is not present in the E1hr table, so then it searches the other mip ta

[2021-05-28 07:22] schlunma commented on #1136
This is described in #1029 and a possible solution is proposed in #1032.

[2021-05-28 07:36] bouweandela commented on #1136
That looks like a different but related problem. In this case, `zg` occurs in the CMIP6 CMOR tables with both a generic and a non-generic vertical coordinate, depending on the table. To solve the problem here, it would be sufficient to be able to just specify that you want the version with the non-generic coordinate.

I realized that this is actually already possible, but it's a bit counter intuit

[2021-05-28 08:10] stefsmeets commented on #134
Hi @ledm, with #991 we implemented a feature that generates a report on every run of `esmvaltool`. We ticked most of the boxes in the op, so I think this can be closed 👍

[2021-05-28 08:45] #1114 closed

[2021-05-28 09:21] fserva commented on #1136
Thanks @bouweandela, I've tried your recipe and I needed to do a change adding a `documentation` section, otherwise it stops immediately.

When using the data I have, I got an error on the time axis `ValueError: invalid day number provided in cftime.DatetimeGregorian(2000, 6, 31, 0, 0, 0, 0)`, which is not present when using cdo (but it makes sense since 31 June does not exist). This seems caused

[2021-05-28 09:35] fserva commented on #1136
I've tried various `mip` and `frequency` (in my case probably `6hrPt` is the correct one?), but that did not help

[2021-05-28 09:52] #1107 closed

[2021-05-28 10:11] stefsmeets commented on #1072
Hi @lukasbrunner , thanks for the detailed explanation and the example! I'm working on a fix for this that first makes a subset of shape ids from the shapefiles. Then takes the extent for the geometries defined by those shapes. Essentially it fits a bounding box for the region(s) defined, and then crops the rest. Would that work?

[2021-05-28 12:14] bouweandela commented on #1136
It looks like that happens because we were only aware of hourly and monthly ERA5 data when we wrote the CMORizer. It sees that the timestep is more than an hour, so it wrongly assumes that it is monthly. How can I download the six hourly data?

Yes, I think so.

[2021-05-28 12:43] fserva commented on #1136
Yes, good point. In fact the highest frequency you can get is hourly, but through the CDS API and the web form one can select specific hours. In this case I took 6-hourly to save some space, but of course I can start from the hourly.

Maybe not a problem, but I see that above you mentioned `plev19`, while ERA5 provides 37 levels as far as I recall (and also in this case, I sub-selected some levels

[2021-05-28 15:03] ledm commented on #1146
It's crazy how few CMIP6 datasets actually work out the box. A good exercise for a willing volunteer (cough @valeriupredoi  cough) would be to use the recipe_filler.py script to produce a simple analysis (even without a diagnostic stage) on some very common datset, like Monthly tos, then run it.

ie: run recipe_filler.py on this sample recipe:

[code]

And then try to run the resulting recipe. I p

[2021-05-28 19:19] bouweandela commented on #1136
That the pressure levels are different than in the CMOR tables is not a problem, this is almost always the case for non-CMIP data, so long as the coordinate is sufficiently similar it should work.

If you are working on some institutional machine (e.g. Jasmin), you might be able to use ERA5 data that is already available instead of downloading it yourself, see also ESMValGroup/ESMValTool#2183.

[2021-05-31 07:33] sloosvel commented on #1120
So all recipes would need to be modified?

[2021-05-31 11:18] jvegasbsc commented on #1120
I think @ledm  asked years ago for a feature to allow users easily load all available years but also the first/last X years and such. I would prefer a syntax that fixes all those cases at once.

Regarding the preprocessor function: it will usually go after the checker, so users can potentially be affected by issues in files that are really not required. Also, bear in mind that one use case for thi

[2021-05-31 13:07] zklaus commented on #1146
For the AWI ones, have you tried using the grid tag `gr`?

[2021-05-31 14:02] jvegasbsc opened #1154 "HTML report does not work if there are outputs outside the recipe folder"
If one or more the outputs is not stored inside the recipe folder, the HTML report fails to generate and the application crashes.

There are multiple things to discuss:

- Do we want to support those cases in the report?
- If not, how do we manage the error? Two main options: downgrade it to a warning (at the end, the recipe ran well) or allow users to disable report generation through a CL argume

[2021-05-31 14:28] #1007 closed

[2021-06-01 08:15] tomaslovato commented on #1096
@schlunma thanks for your feedback! I may guess that when I did the test with the time statistics my version of iris was not up to date ... as I tried again and cell_measures are preserved.

However the issue is still valid for `_vertical_interpolate` that creates a new cube and `cell_measures` are not accounted for.
In some case by reordering the preprocessor we can work around this problem, but

[2021-06-01 11:20] bettina-gier commented on #1146
Adding on to this - how about a default fix for adding the scalar coordinates required for some CMIP6 variables, e.g. depth0m for fgco2. I don't see any way this could falsify a dataset, and if we use a "if not exists, then add scalar coordinates" syntax it should be fine? I don't want to count how many times I've had to add depth0m to fgco2 or height2m to tas.

[2021-06-01 12:19] stefsmeets commented on #1154
I'm not convinced this is a bug in esmvalcore or the html renderer. All output is normally stored in the `plot_dir` or `work_dir`. The underlying issue to me is that the recipe you are developing tries to write outside the recipe output directory. What problem are you trying to solve by writing outside the designated directories?

[2021-06-01 13:42] jvegasbsc commented on #1146
Those are good candidates for an automatic fix. I will take a look to see if I find a clean way to implement it

[2021-06-01 13:49] jvegasbsc commented on #1146
Regarding the naming issues, we  have specific code to homogenize the out_name of `latiude` and `longitude`:

[code]
It is not working for you?

[2021-06-01 15:25] bsolino commented on #494
@bouweandela: I meant to ask something else, but I think I didn't make my question very clear. I was wondering on how to deal with the ambiguity of the {dataset} key given that we are going to give support different DRS for the datasets. It seems to me that we will have to rethink the original idea of distinguishing the datasets by their folder.

The main options I can see right now (there may be

[2021-06-02 07:06] senesis commented on #494
In my opinion, we are here complicating without any need by trying to put multiple datasets (e.g. ERA5 and ICON) in a same and single project (native6).
This is a very different situation w.r.t. the basic design of config files, i.e. for projects CMIP5 and CMIP6, in which all datasets share the same DRS on a given machine, this DRS being configured at the confg-user level.
Here, we want to handle

[2021-06-04 09:00] bouweandela commented on #1148
Discussed this with @nielsdrost and he suggested trying to store the provenance in an additional variable instead of in the header. If that doesn't work, the best option is probably to only store it in a separate file.

For reference here is a [document with some background information on provenance storage for climate data](http://cfconventions.org/Meetings/2020-workshop/Metadata-handling-provena

[2021-06-04 10:11] sloosvel commented on #1120
So which option would you go for? The timespan thing can fit what is already half started in #1133

[2021-06-04 13:22] #1083 closed

[2021-06-04 13:54] bouweandela commented on #1120
We would need to make sure that the proposed solution works with https://github.com/ESMValGroup/ESMValCore/issues/345#issuecomment-551873506, though of course there is no need to exactly match the specification from the CMIP filenames with what we write in a recipe.

[2021-06-04 16:11] senesis commented on #1143
@zklaus @bouweandela I am going to update this PR. What is your prefered case : that I keep IPSL-CM6 in project native6 , or that I create a new project (thus allowing to use e.g. simultaneousy e.g. native6/ERA5 and ISPL-CM6).

[2021-06-04 16:36] zklaus commented on #1143
My feeling is that things work out better when every model is its own project. Consider whether it makes sense to have a project IPSL-CM instead with different iterations distinguished by different datasets. I really cannot judge if that makes sense based on how the data format has changed between different generations of the model.

[2021-06-07 08:04] #1104 closed

[2021-06-07 08:57] #1112 closed

[2021-06-07 08:59] remi-kazeroni commented on #590
I close this issue since this dataset fix is part of #1104.

[2021-06-07 08:59] #590 closed

[2021-06-07 11:54] ledm commented on #1120
I really like this idea and I am all for it! Despite the fact that I hate it when we change recipe interface and it breaks everything - usually with no notice. Please keep the previous input functional or at least add an error message which provides a command to switch from the old standard to the new standard. If not, we'd be needlessly frustrating our users - again.

While we're working on times

[2021-06-07 12:50] ledm commented on #1134
There's also the case when a spatial mean is provided, `gm` meaning grid-mean (I guess), I'm pretty sure I've seen that somewhere.

I have a feeling that this is not an important or urgent problem, but it's a loose thread that may cause one or two people some trouble in the future.

[2021-06-07 14:16] thomascrocker opened #1156 "Area statistics won't work on data with lambert Conformal projection"
For RCM data on a Lambert Conformal projection (see for example http://esg1.umr-cnrm.fr/thredds/fileServer/CORDEX_CNRM/output/EUR-11/CNRM/CNRM-CERFACS-CNRM-CM5/rcp85/r1i1p1/CNRM-ALADIN63/v2/3hr/tas/v20190419/tas_EUR-11_CNRM-CERFACS-CNRM-CM5_rcp85_r1i1p1_CNRM-ALADIN63_v2_3hr_200601010300-200701010000.nc ) the names of the x and y dim coordinates are `projection_x_coordinate` and `projection_y_coord

[2021-06-07 14:22] zklaus opened #1157 "Support extra information for additional datasets"
Sometimes it is useful to provide extra information for the loading of data, particularly in the case of native model data, or observational or other data, that generally follows the established standards, but is not part of the big supported projects like CMIP, CORDEX, obs4MIPs.

To support this, it would be nice to have a facility that allows the passing of such extra information to both the dat

[2021-06-07 14:26] valeriupredoi opened #1158 "cf-units=2.1.5 for OSX still preserves older version behaviour (<2.1.4)"
`cf-units=2.1.5` installed in the esmvaltool conda env on OSX as seen from the [GA test](https://github.com/ESMValGroup/ESMValCore/runs/2759882084?check_suite_focus=true) preserves the behavior of `num2date` from an older version, <2.1.4. We need to raise this with the `cf-units` develsm @bjlittle this is a SciTools package, would you be able to look into it maybe? :beer:

Results for `cf_units.nu

[2021-06-07 14:29] zklaus commented on #1158
C.f. (haha): SciTools/cf-units#170 It seems @trexfeathers is on it as of 3 hr ago.

[2021-06-07 14:32] valeriupredoi commented on #1158
cheers man! I thought I'm losing my beans with this again :rofl:

[2021-06-07 14:54] valeriupredoi opened #1159 "Fx files are selected differently depending on what OS the code runs on"
**Bug summary**

[this line](https://github.com/ESMValGroup/ESMValCore/blob/fc87d72c3fce12a2117b4b4e42a4857045c4d404/esmvalcore/_recipe.py#L346) loops through all possible MIPs - for the test fail the explanation is that on a Debian-based OS (Ubuntu like on my machine and Github Actions) the order in which the tables hence mip list is passes is random (but fixed each time the test runs) and it hap

[2021-06-07 14:59] #1111 closed

[2021-06-07 15:33] zklaus commented on #494
I am not sure if we still want this; We seem to be able to achieve most goals by using projects instead and @Peter9192's PR on the topic (#970) is now abandoned. I'll move this to 2.4.0, but we may well just close it in the end.

[2021-06-07 15:35] #1127 closed

[2021-06-07 15:36] #582 closed

[2021-06-07 15:48] zklaus commented on #1154
@stefsmeets, I understand your reluctance and I tend to agree that recipes should possibly be confined in some way.

But I also understand @jvegasbsc use case, which is combining information from different runs of ESMValTool for monitoring purposes and I think that the report generator is not the place to enforce a confinement policy.

@stefsmeets, could you please adapt the report generator so th

[2021-06-07 16:18] senesis commented on #494
I agree if implementing #129 , as @bouweandela   suggested

[2021-06-07 16:42] #1096 closed

[2021-06-07 16:57] valeriupredoi opened #1160 "Load and use fx variable even if not broadcastable onto model cube data"
Thanks to @sloosvel we now have a nice integration of anciliary vars for fx vars, including CMOR checks and all that fancy jazz. There is, however, room for improvement, as I see it: there is a hard [cut-off](https://github.com/ESMValGroup/ESMValCore/blob/fc87d72c3fce12a2117b4b4e42a4857045c4d404/esmvalcore/preprocessor/_ancillary_vars.py#L34) that stops the process of using a certain fx var if its

[2021-06-08 05:56] bjlittle commented on #127
BTW we're going to be moving to `logging` for `iris` 3.1, which will silence, finally, all/most of the warning messages :+1:

[2021-06-08 07:26] schlunma commented on #1160
Hi V.,

1. If the data is time-invariant (and time is the first dimension, which it usually is), then we can already handle this due to the way broadcasting [works](https://numpy.org/doc/stable/user/basics.broadcasting.html#general-broadcasting-rules).
2. If the fx files have a time dependence, I think we need to be really careful when regridding them. Apart from that, I haven't encountered this c

[2021-06-08 07:44] stefsmeets commented on #1154
I don't see how this is possible with the current design. It will break the purpose of having a self-contained results directory that can be moved around. The paths being relative is especially important if they are to be hosted online, which was one of the driving points for developing this.

1. Paths are absolute, this will fix @jvegasbsc workflow. Results directory cannot be moved/shared/hosted

[2021-06-08 09:18] jvegasbsc commented on #1154
I vote for option 3 or even make it a bit more strict with a CL flag. Users should not store anything outside the recipe unless they know what they are doing

[2021-06-08 09:21] zklaus commented on #1131
Just came off a call with @philipkershaw. It really seems that OPeNDAP is on its way out of ESGF. This is for a number of technical reasons they experienced in testing more advanced OPeNDAP features such as subsetting, where it is just rather slow. Also the default way of serving files is now Nginx instead of Thredds, again for performance reasons, and if you wanted to use OPeNDAP, you would have

[2021-06-08 09:46] zklaus commented on #1160
I tend to agree with @schlunma, but let's keep the issue open for a bit of discussion. I have assigned the next milestone (2.4.0) and I think we should by then decide

1. What exactly is the issue? Use-cases, examples, past occurrences of the problem.
2. How do we want to address it? Just close the issue? Improve documentation before?

[2021-06-08 11:01] zklaus commented on #127
Cheers for the heads-up, @bjlittle

[2021-06-08 11:18] zklaus commented on #1156
@thomascrocker, I am afraid the issue is more subtle. The names `grid_latitude` and `grid_longitude` are reserved for only rotated regular grids. That is the only kind of grid for which we have the ability to calculate the areas, so merely changing the names doesn't help, we would need to add calculation of areas. That would be a great addition, preferably to iris, but it substantial effort.

[2021-06-08 11:56] zklaus commented on #1134
There are indeed a few more `grid_label`s possible that I left out of the discussion (see note 11 on page 10f [here](http://goo.gl/v1drZl)), such as `gr2a` for the second regridded version of something over Antarctica, or `gnz` for a zonal mean on a native grid. These former can be useful, for example, for icesheet data on Antarctica, where the native grid is good but complicated, whereas the othe

[2021-06-08 12:01] valeriupredoi commented on #1159
OK I found the bugger: [this line](https://github.com/ESMValGroup/ESMValCore/blob/fc87d72c3fce12a2117b4b4e42a4857045c4d404/esmvalcore/_recipe.py#L346) lops through all possible MIPs - for the test fail the explanation is that on a Ubuntu-bases OS the order in which the tables hence mip list is passes is random (but fixed each time the test runs) and it happens that `IyrAnt` is the actual mip in th

[2021-06-08 12:06] sloosvel commented on #1159
I don't know, as far as I have seen in our experiments we only generate the fx vars in one of the possible mips. I think this test is more complicated because somehow it returns files in all of the possible mips. Whereas in a "real life" application the code would go through all mips but only find one possible output. Although I am not sure if in other institutes the fx vars are outputed in all th

[2021-06-08 12:13] zklaus opened #1161 "Link times of related experiments (parent - child)"
This issue has been brought up by @ledm in #1120. It was previously discussed in #33, #108, #194, #231 and related code can be found [here](https://github.com/ESMValGroup/ESMValCore/blob/fc87d72c3fce12a2117b4b4e42a4857045c4d404/esmvalcore/cmor/check.py#L736).

@ledm's comment in #1120 was:

[code]

[2021-06-08 12:14] zklaus commented on #1120
Let's not hijack this issue. @ledm, I have created a new issue for your use-case at #1161, copying the part of your comment that I have removed here.

[2021-06-08 12:21] zklaus commented on #1159
I have assigned the milestone. I will still cut the release branch soon, but this week is reserved for testing and fixing exactly this kind of issue before next weeks release, so I agree that it would be good to address this soon.

I also agree that the order can not be relied upon since it is arbitrary in dicts. You may be interested to learn that it is arbitrary in globbing as well, see, e.g., [

[2021-06-08 12:25] valeriupredoi commented on #1159
cheers @zklaus - I would suggest we try and understand the functional behaviour of selecting the fx mip first - do we want to use and load the first available fx mip or we want to select a preferred on? This will influence how #1160 gets solved too I think. Unfortunately I don't have the data knowledge to propose a solution, that's why I'm asking you guys that have worked more closely with this so

[2021-06-08 12:34] zklaus commented on #1159
Looking at the data request for `(IyrAnt, sftgif)` *as an example* ([here](http://clipc-services.ceda.ac.uk/dreq/u/d5b46000-c78d-11e6-9b25-5404a60d96b5.html)), this lives on a polar stereographic grid. In other words, I think the `*Ant*` and `*Gre*` files are applicable if and only if the `grid_label` of the data variable contains the `a` or `g` suffix, c.f. [last point of note 11 on page 11 of "C

[2021-06-08 12:42] zklaus commented on #1159
As for `fx` vs `mon`/`dec`, this depends on the model and the data should only appear *either* in `*fx` *or* `*mon`. This is somewhat documented in the "processing" instructions of the variables in the data request, see for example cell thickness `thkcello` [in `Ofx`](http://clipc-services.ceda.ac.uk/dreq/u/bab9bd00-e5dd-11e5-8482-ac72891c3257.html) and [in `Omon`](http://clipc-services.ceda.ac.uk

[2021-06-08 14:11] valeriupredoi commented on #1159
cheers for the clarifications @zklaus :beer: Here's an idea - can we set a "preferred" mip dictionary mapping variable mip to a set of preferred fx mips? This way we'd always select the ones that do make sense first then look for some exotic fx mips after?

[2021-06-08 14:51] schlunma commented on #1159
I had a more detailed look at this. I think that #999 introduced a bug here:

https://github.com/ESMValGroup/ESMValCore/blob/fc87d72c3fce12a2117b4b4e42a4857045c4d404/esmvalcore/_recipe.py#L344-L360

In the old implementation, there used to be a `break` at [l. 359](https://github.com/ESMValGroup/ESMValCore/pull/999/files#diff-b675431b6cf759c61f7867680472aabc0304475fd666ed514ca0365bb87c2a47L391) if

[2021-06-08 15:03] valeriupredoi commented on #1159
@schlunma very cool - I remember now our old implementation (and the discussion we had over it). I agree with your points fully. What do you think @sloosvel - would you be able/willing to do such a thing? Cheers guys, this issue looks to be fully elucidated :ghost:

[2021-06-09 08:48] zklaus commented on #1159
I think in terms of preferred order, we should use fx files from `*Ant*` tables for `*Ant*` variables, from `*Gre*` tables for `*Gre*` variables, and `*fx`, `*mon`, `*dec` for the rest. This is because `Ant` and `Gre` live on South and North polar stereographic grids, which should be identifiable also from `a` or `g` as the last letter in the `grid_label`, but probably isn't.

[2021-06-09 11:31] bsolino commented on #494
That's an excellent point. I agree that it would be too much for too little gain. And there are other avenues to solve the issues.

For starters, I'm not even sure it is a drawback in the config-developer file, as the total amount of lines added would be quite similar, the difference being mostly organizational. That could be achieved in other means, starting by something as simple as comments on

[2021-06-09 11:46] thomascrocker commented on #1156
Ah yes, I see that the `area_weights` method only supports spherical co-ordinate systems.. In which case this makes it even more important that #865 and #184 are finished. This would at least allow me to regrid the data onto a regular grid as a workaround (and to be honest is needed for other purposes anyway).
What needs to be done to move them forward?

[2021-06-09 12:36] sloosvel commented on #1159
I don't know. The mips are something that depend on the tables, that change from project to project. And even some variables exist in some projects, some others don't. This criteria would work fine for CMIP6, but may be too specific for all the projects.

[2021-06-09 13:33] bsolino opened #1165 "Simplify DRS and rootpath in user configuration by using defaults or lists"
**Is your feature request related to a problem? Please describe.**
This is not a problem yet, but it's something we are anticipating it may become. Currently we are working on reading datasets natively, and the original idea was to group them on one project, `native6`. However, in practice many of these datasets have their own folder structure or name convention, and it seems it makes more sense t

[2021-06-09 14:02] bouweandela commented on #1154
I'm not convinced yet that writing outside the recipe folder is a good idea. @jvegasbsc Could you explain in a bit more detail why this is needed? Why is it not possible to move the output to the desired location after the ESMValCore run?

[2021-06-09 14:06] bouweandela opened #1166 "Nightly tests on CircleCI are failing"
The `install`, `develop`, and `conda_build` test [failed on CircleCI last night](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/4985/workflows/92577489-0597-4286-9bc7-3e6a0637ebbf). There appear to be two problems:
1) timeouts when creating the conda environment
2) Newer version of mypy with extra dependencies

[2021-06-09 14:07] zklaus commented on #1154
I think @jvegasbsc is working on monitoring, that is running the model for a so-called leg, say one year, then running ESMValTool to produce a plot of, for example, global mean temperature, while the model is already running the next year. After that, you want to update the plot with the new data, which only works if you have some form of permanence across different ESMValTool runs.

Regardless, I

[2021-06-09 14:20] valeriupredoi commented on #1166
second issue is not only for Circle but also GA, `mypy>=0.900` needs the stubs, am opening a separate issue for that, see [here](https://mypy.readthedocs.io/en/latest/getting_started.html) and already detected by the conda-lock install tests [here](https://github.com/ESMValGroup/ESMValCore/pull/1164/checks?check_run_id=2781895221)

[2021-06-09 14:23] valeriupredoi opened #1168 "mypy>=0.900 needs stubs installed as separate packages"
on Circle but also GA tests are failing, `mypy>=0.900` needs the stubs, see [here](https://mypy.readthedocs.io/en/latest/getting_started.html) and already detected by the conda-lock install tests [here](https://github.com/ESMValGroup/ESMValCore/pull/1164/checks?check_run_id=2781895221) - do we want these as regular dependencies or together with the mypy installation?

[2021-06-09 14:25] valeriupredoi commented on #1168
we kinda need this sorted asap otherwise @zklaus will breathe fire on us. I am very much OK with pinning `mypy<0.900` for now

[2021-06-09 14:27] valeriupredoi commented on #1159
OK I suggest we fix that test in a way it doesn't fail on any OS, and keep the discussion here. If build tests run on a Debian machine, Klaus will be having issues building the package :+1:

[2021-06-09 14:33] bouweandela commented on #1154
I think that writing outside of the advertised output file or directory is very poor behavior for any program.

The permanence can be obtained by specifying an extra input data directory or directories with previous results that can be used by the diagnostic script, e.g. in the recipe or using the `auxiliary_data_dir` option in config-user.yml. This was previously discussed at an ESMValTool worksh

[2021-06-09 14:36] bouweandela commented on #1154
Reading the summary from that discussion again, that is not quite what I meant. I would just use the data specified in the extra input paths combined with the data from the current run to generate the plots.

[2021-06-09 14:38] bouweandela commented on #1154
Not necessarily, but I think it should be fine to assume that the output is written to the output directory anywhere in the code, because it's rather surprising to users if you start writing to other places too.

[2021-06-09 14:39] bouweandela commented on #1154
Anyway, I did not mean to say this feature is not necessary, just that I'm not convinced that it is needed yet. Arguments as to why it is needed are very welcome!

[2021-06-09 14:39] bouweandela commented on #1168
Fixed in #1167

[2021-06-09 14:56] valeriupredoi commented on #1168
yup, added it there to be closed when that gets merged :+1:

[2021-06-09 14:58] sloosvel commented on #1159
If it's just to fix the test, specifying the mip in the content of the recipe should be enough. Would that work for you?

[2021-06-09 15:12] bouweandela commented on #1131
Do you have any idea what timescale we're talking about here? My plan was to support both in v2.4.

Do you know if there is or will be some unified way to find out the location of these zarr arrays? I've found some intake catalogs (see #31), but nothing like `esgf-python`.

[2021-06-09 15:32] valeriupredoi commented on #1168
#1167

[2021-06-09 15:32] #1168 closed

[2021-06-09 18:32] #1157 closed

[2021-06-10 08:24] zklaus commented on #1154
I guess right now the pressing question is whether this should be considered a bug that needs fixing for 2.3.0 or not.

@jvegasbsc, will it make 2.3.0 much more useful for you if this is in? Or do you depend on other new additions to the core that would be missing anyways? Could you work around this in a manner as described by @bouweandela, or perhaps with a strategically placed symbolic link?

[2021-06-10 09:31] zklaus commented on #1131
I am not aware of a concrete timeline, but let me split this up into two parts: Phasing out OPeNDAP and providing Zarr et al. Imho, phasing out OPeNDAP has already started since a default installation of an ESGF node will not provide OPeNDAP serving. New technologies are at an advanced experimentation stage at the moment, where there is already some commitment to some particular underlying technol

[2021-06-10 09:34] zklaus commented on #1131
At least the second part will probably not be in place for 2.4.0; what has a higher chance of being in place by then is a WPS based solution, which is being developed within IS-ENES right now. Alessandro Spinuso from KNMI knows more about this.

[2021-06-10 11:24] zklaus commented on #1156
I think #865 is essentially ready, we just got a bit side-tracked in the comments. #184 needs more work, I think. Either way, these will have to wait until *after* the 2.3.0 release.

[2021-06-10 15:34] schlunma opened #1170 "Naming of `extract_levels` schemes"
General question about the naming of the schemes we support for `extract_levels` (i.e., the vertical regridding):

Why are the extrapolating versions of the schemes called `nearest_horizontal_extrapolate_vertical` and `linear_horizontal_extrapolate_vertical`? Do they really consider the horizontal dimensions in some way? I have the feeling they don't...The documentation of [`stratify.interpolate`]

[2021-06-10 16:25] trexfeathers commented on #1158
Note that there is already [API to access the new behaviour](https://github.com/SciTools/cf-units/blob/855077c68d39be652a6dac560d1eaf71af515f36/cf_units/__init__.py#L497):

[code]

[2021-06-11 08:23] zklaus commented on #1158
@valeriupredoi, why are we even doing the conversion to string here? Wouldn't it make more sense to compare the datetime objects themselves?

[2021-06-11 10:28] valeriupredoi commented on #1159
silly GH closing the issue on its own :hand_over_mouth: I just merged a temporary fix that skips the tests that are failing in https://github.com/ESMValGroup/ESMValCore/pull/1169 (cheers for reviewing it, Saskia!). This issue is still ongoing though...

[2021-06-11 11:22] valeriupredoi opened #1171 "Catastrophic failure of tests for Python=3.6 and 3.7"
Tests are failing in an apocalyptic manner for [Python3.7](https://github.com/ESMValGroup/ESMValCore/runs/2798871136?check_suite_focus=true) and the same happens for 3.6 too - I am investigating what's happening now by trying to reproduce the issue on my local Ubuntu machine :+1:

[2021-06-11 11:33] valeriupredoi commented on #1158
that is a very good point indeed @zklaus - let me try set that up! :beer:

[2021-06-11 11:34] valeriupredoi commented on #1158
cheers @trexfeathers - I'll have a look into fixing it either as Klaus or as you point out :beer:

[2021-06-11 11:37] valeriupredoi commented on #1171
OK reproduced it - 490+ errors :open_mouth:

[2021-06-11 12:33] #1171 closed

[2021-06-11 12:35] valeriupredoi commented on #1160
cool, let's come back to this - I intent to do that after I've done fixing a number of test nuisances, next week - cheers for the input @schlunma and @zklaus

[2021-06-11 13:57] #1158 closed

[2021-06-11 14:02] zklaus commented on #1154
There doesn't seem an appetite to push this through before the release. I'll delay it to 2.4.0 since it is arguably not a bug, but a feature. We can then decide how to proceed in the long run.

[2021-06-11 15:33] ledm commented on #1137
Note that PR #1174 doesn't address the issue with the missing boundaries.

[2021-06-11 16:02] valeriupredoi commented on #1166
incidentally, conda build complains about our license `/tmp/tmp2wnrfrma/esmvalcore-2.2.0-py_0.tar.bz2: C1115 Found invalid license "Apache License, Version 2.0" in info/index.json` - you guys know if that's something we're doing wrong?

[2021-06-11 18:36] bouweandela commented on #1166
The easiest solution would probably be to not run the mypy tests when building the conda package, I'm not sure if they bring any added value at that stage.

The alternative is to add the stubs to the test dependencies in meta.yaml, provided that they are available on conda-forge.

[2021-06-11 18:40] valeriupredoi commented on #1166
I agree @bouweandela - let's not run the mypy tests, I too have no knowledge of any added verification from them in conda build. Good weekend, man :beer:

[2021-06-11 19:34] bouweandela commented on #891
@stefsmeets @Peter9192 Can this issue be closed, now that #1150 has been merged?

[2021-06-11 20:12] bouweandela commented on #890
A related problem, it also appears to fail when data have a scalar time coordinate.

[2021-06-14 07:32] stefsmeets commented on #891
We implemented a test for this case, so that will tell you if this can be closed or not 😁

https://github.com/ESMValGroup/ESMValCore/blob/9e27908ab6d5eecfedf846541b103b658e06cbfd/tests/sample_data/multimodel_statistics/test_multimodel.py#L260

[2021-06-14 08:01] bouweandela commented on #644
Re-opening this issue, since I just saw another case of this. [One of the tests failed](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/5054/workflows/c72549bf-0e2d-4f80-b520-547360c02410/jobs/24006) even when running them with `pytest -n 1`. Running certain tests sequentially certainly reduced the number of times this problem occurs, but it did not solve it.

[2021-06-14 08:58] sloosvel opened #1175 "Masked values when regridding datasets with coord `circular=False`"
**Describe the bug**
At the BSC, it was reported that when regridding dataset MCM-UA-1-0, a white line with masked values appeared for lon > 355.
After some debugging it turns out that when the longitudes are not circular and do not span fully from [0,360], those masked values can appear after regridding.

This dataset got fixed in #1098, because (among other issues) the last bound in atmospheric

[2021-06-14 09:02] zklaus commented on #1175
We do need the ability to deal with non-circular datasets, e.g. regional data from CORDEX, subset data after another preprocessor, etc., so I think the easiest approach to this is really to make sure that the datasets are correctly labeled circular if that applies.

[2021-06-14 14:12] #1166 closed

[2021-06-14 16:21] zklaus opened #1179 "Fix bullet list formatting on readthedocs"
The list of changelog entries, which seems to be correct in the rst file, is not formatted as a bullet list. This should be fixed.

[2021-06-15 10:09] bouweandela commented on #1120
Thanks for a fruitful discussion everyone! @sloosvel Could you please add a short summary to this issue, so we don't forget?

If only a duration or wildcard is specified, it would be best if this could be expanded to a start_time/end_time and written to the resulting recipe as proposed in https://github.com/ESMValGroup/ESMValCore/issues/1138. That way it is completely specified to users outside yo

[2021-06-15 13:49] valeriupredoi commented on #927
ping people @here for a solution to this, gents :green_apple:

[2021-06-15 13:50] sloosvel commented on #1120
A new `timerange` tag will be introduced, and will at some point deprecate the use of the `start_year` and `end_year` tags.
The tag will follow the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), which can be parsed with [pyiso8601](https://pyiso8601.readthedocs.io/en/latest/#where-it-differs-from-iso-8601) and will be specified by separating the start and end of the range with `/`. Pos

[2021-06-15 14:11] bouweandela commented on #1120
Regarding the domain that is selected, we would like to keep the current behaviour, e.g. if in the recipe
- `timerange: 1990/2000`, this will select data with time coordinate `>=1990-01-01 00:00:00` and `<2001-01-01 00:00:00`
- `timerange: 199004/200010`, this will select data with time coordinate `>=1990-04-01 00:00:00` and `<2000-11-01 00:00:00`
- etc

[2021-06-15 14:39] zklaus opened #1180 "Remove use of CDO for selecting the right variable in native model fixes"
Out of performance concerns about Iris' loading of individual variables from multi-variable files, the IPSLCM support as implemented in the corresponding fix file, makes optional use of CDO via a pipe interface.

Ideally, we would achieve acceptable performance with Iris alone and remove CDO from ESMValCore. If that turns out to be impossible, we might rewrite the use of CDO with their Python bind

[2021-06-15 14:40] zklaus commented on #1180
@pp-mo wrote:

Hi @senesis @zklaus
I've been listening in here, but it's not really my area to comment.
Except that, I just wanted to remind you that maybe the ideas at our https://github.com/SciTools/iris/pull/4176 might make the use of CDO unnecessary here ?

I was prompted to investiagte that approach by @abooton, who I think discussed it with @zklaus .
I think we will be adopting _something_ l

[2021-06-15 14:41] zklaus commented on #1180
@senesis replied:

Hi @pp-mo, @zklaus , @abooton

Sorry for this late reply.

I am not sure I fully understand everything in SciTools/iris#4176.

Assuming that the question still is "would a simple (and fast) load of the single targeted variable fit the need ?" , I am afraid the answer is no, because the variables which are auxiliary coordinates for the targeted variables should be loaded too, as

[2021-06-15 14:41] zklaus commented on #1180
@pp-mo wrote:

That is absolutely **_not_** what this is doing :  The approach in SciTools/iris#4176 does still analyse the whole file, but it limits which actual cube(s) are generated -- which basically is the slow bit.
The design goal here is that **any particular constrained load will produce _exactly_ the same result as before** (only faster).

So I do think that this approach (if done right)

[2021-06-15 14:42] zklaus commented on #1180
@senesis wrote:

These are good news ! From my point of view, :
- the single constraint type would be on the NetCDF variable name
- the speed up figures you quoted [there](https://github.com/SciTools/iris/pull/4176#issue-661074769) are fine, and impressive
- the feasibility of using iris.load with a constraint instead of using iris.load_raw in ESMValTool is a question that I cannot answer, and tha

[2021-06-15 14:42] zklaus commented on #1180
@bouweandela wrote:

If this is a feature you need, could you please open an issue for it? A discussion in a merged pull request is easily lost over time. Regarding the relative priority of new features: from experience, I can tell that those features that have someone who is actively working on them, tend to get the highest priority.

[2021-06-15 14:42] zklaus commented on #1180
@pp-mo wrote:

If it helps, I can affirm that 'iris.load_raw' is almost never any different from 'iris.load', for netcdf source data.
The essential difference between the two is : 'load' attempts a CubeList.merge on the 'raw' cubes, and 'load_raw' does not.
It is actually quite unusual for there to be mergeable data in a netcdf load : it requires that there are "raw" cubes which differ **_only_**

[2021-06-15 14:47] schlunma commented on #927
Having a look at it right now

[2021-06-15 15:29] valeriupredoi opened #1181 "Test esmvalcore=2.3.0 with current batch of ESMValTool recipes"
- [] recipe_albedolandcover.yml
- [] recipe_anav13jclim.yml
- [] recipe_arctic_ocean.yml
- [] recipe_autoassess_radiation_rms_Amon_all.yml
- [] recipe_autoassess_radiation_rms_Amon_obs.yml
- [] recipe_autoassess_radiation_rms_cfMon_all.yml
- [] recipe_autoassess_stratosphere.yml
- [] recipe_bock20jgr.yml
- [] recipe_capacity_factor.yml
- [] recipe_carvalhais14nat.yml
- [] recipe_climwip_test_basic

[2021-06-15 16:16] schlunma commented on #927
@valeriupredoi I'm having some troubles running all test in the repo. I did a fresh installation in develop mode (with both `main` branches; thus I had to remove the pin to `esmvalcore<2.3`) and tried

- `pytest`: fails with
[code]

- `python setup.py test`: fails with
[code]

What is the desired way of invoking all tests? Should I raise issues for the fails above or are these expected fails since

[2021-06-15 16:27] zklaus commented on #927
Did you install esmvalcore using `pip install -e .[develop]`?

[2021-06-15 16:32] schlunma commented on #927
Yes, I did!

Just reran the entire installation - now `pytest` is working but `python setup.py test` still fails with the error above. No idea what went wrong in the first place. I can work with that, but is the failing of `python setup.py test` something that should be expected? In particular since it says `Testing via this command is deprecated and will be removed in a future version. Users look

[2021-06-15 16:35] valeriupredoi commented on #927
yeah was about to say `python setup.py test` is ye olde. I've not run it since before the pandemic, I believe we gradually removed testing facilities for it and upgraded all packages and functionality to work with `pytest`. But good catch, we should just remove it from the test instructions and be done with it :+1:

[2021-06-15 16:38] valeriupredoi commented on #927
also note that `python setup.py test` runs about half the tests pytest runs

[2021-06-16 08:35] #1175 closed

[2021-06-16 09:00] bouweandela commented on #1181
The usual procedure is to update the ESMValTool repository so it uses the latest version of ESMValCore immediately after the ESMValcore release. That way there are two weeks in which diagnostic developers can try out if their recipes work with the latest version of the ESMValCore before we release ESMValTool.

The bot uses the branch in the ESMValTool repository that you're requesting a test for,

[2021-06-16 09:04] valeriupredoi commented on #1181
yeah, I was thinking of moving it, good point, man!

[2021-06-16 09:26] zklaus opened #1183 "Wrong drs in site-specific example for Jasmin"
The site-specific configuration example in config-user.yml is not working. Judging by @valeriupredoi's configuration, only the CMIP based projects need a drs entry of `: BADC`, all others do not work with that and need the default instead.

[2021-06-16 10:09] #1183 closed

[2021-06-16 13:07] thomascrocker commented on #1141
Thanks @zklaus, just tested and the additions to #245 resolve this issue.

[2021-06-16 13:07] #1141 closed

[2021-06-17 07:28] bouweandela commented on #1179
This problem appears to affect all lists in the documentation, maybe it's a sphinx issue?

[2021-06-17 07:33] bouweandela commented on #1170
`python-stratify` is able to handle multidimensional vertical coordinates if they are present in the input data, but indeed it only looks at the vertical coordinate (that may vary horizontally)

[2021-06-17 07:37] bouweandela opened #1185 "Store CMIP model version in the copy of the recipe that is written to the output directory"
Currently, there is no easy way to tell which version of CMIP model data was used to run a recipe. The only way to find this out is to go and have a look at the provenance. If the CMIP input data is not stored in a directory with the version in it, that even requires looking up the tracking ID in the provenance and going and finding out the version of the model data that had that tracking ID. It w

[2021-06-17 07:38] bouweandela commented on #1185
This feature would have been really useful to avoid confusion, see e.g. https://github.com/ESMValGroup/ESMValTool/pull/2170#issuecomment-862427586

[2021-06-17 07:53] schlunma commented on #1170
Sorry, could have expressed myself better: I know that `python-stratify` handles multidimensional coordinates, but my question was if it really considers horizontal neighbors when extrapolating. I'm pretty sure it does not.

[2021-06-17 07:58] bouweandela commented on #494
Indeed, let's just create a new project per model that uses a custom DRS, until we have too many projects (e.g. > 10) and we need to come up with something smarter.

[2021-06-17 08:18] zklaus commented on #1179
Maybe. [The Sphinx docu](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#lists-and-quote-like-blocks) seems to consistently use `*` for lists, though I did not expect our use of `-` to be a problem.

[2021-06-17 08:21] bouweandela commented on #1179
I suspect it's something to do with a new version of some package, it used to work fine before.

[2021-06-17 08:32] zklaus commented on #1143
@senesis, what do you think, is this issue addressed by now? If not, what are the points that you would still like to see handled?

[2021-06-17 08:38] zklaus commented on #494
Ok, seems we are agreed. Closing this for now, please, anybody, feel free to reopen if you want to discuss this some more.

[2021-06-17 08:38] #494 closed

[2021-06-17 11:57] schlunma commented on #751
I also found this issue while working with ICON data. A possible fix is given in #1079.

[2021-06-17 12:06] schlunma opened #1187 "Dataset problem: invalid time bounds of `gpp_Lmon_MIROC-ESM_esmFixClim1_r1i1p1_000101-014012.nc`"
**Describe the dataset issue**

The first time bound of `gpp_Lmon_MIROC-ESM_esmFixClim1_r1i1p1_000101-014012.nc` is below `datetime.MINYEAR`, which causes trouble when `unit.num2date` is used.

[2021-06-17 12:12] zklaus commented on #1187
Since the file is no longer available from ESGF, could you make it available somehow? Alternatively, you could post `ncdump -h` + `ncdump -v time_bounds` here.

[2021-06-17 12:24] schlunma commented on #1187
https://swift.dkrz.de/v1/dkrz_4eefb34f-8803-415a-bd70-9c455db9a403/CMIP/gpp_Lmon_MIROC-ESM_esmFixClim1_r1i1p1_000101-014012.nc?temp_url_sig=1096d53ba8cbb460f802c17f0897b565625c9cb1&temp_url_expires=2021-07-17T12:24:07Z

[2021-06-17 16:16] #1143 closed

[2021-06-18 08:22] tomaslovato opened #1189 "fx_data not preserved as 'cell_measures' after iris aggregated_by and 'extract_levels' processor"
Running a recipe with time aggregation (any using `cube.aggregated_by()`) followed by area statistics crashes as the latter doesn't find the 'cell_measures' variable in the cube. Note that this extends also to `cube.collapsed()` operation.

I've been already discussing this with @schlunma in #1096 and after digging a bit of testing I realized that the example we looked in there (https://github.com

[2021-06-18 09:02] zklaus commented on #1180
To move forward with this: @senesis, what are the load times you experience with Iris 3.0.2 for a single variable (in the data-variable sense, i.e. including all coordinates, auxiliary variables, etc.) from a multi-variable file? How does that compare with CDO? What speed do we need to achieve?

[2021-06-18 11:49] senesis commented on #1180
Using a typical IPSL-CM multi-variable file (the one with 314 variables used by pp-mo [there](https://github.com/SciTools/iris/pull/4176#issue-661074769)) in a basic recipe (namely a simplified example_python.yml, with a single dataset, and only the map part) , I get :
- with CDO :
  - CDO extraction : 1.09s,
  - iris load : 0.18s
- without CDO :
  - iris load : 7.4s

The figures quoted by pp-mo [

[2021-06-18 12:00] zklaus commented on #1180
Great, thanks. @pp-mo, sorry if you already said this, but things have become a bit scattered and I may have missed something. Is there an easy way for us to test your suggested fix?

[2021-06-18 12:55] #1072 closed

[2021-06-18 12:58] zklaus commented on #1189
@sloosvel, could you please have a look at this?

[2021-06-18 13:15] schlunma commented on #1189
As I commented [here](https://github.com/ESMValGroup/ESMValCore/issues/1096#issuecomment-848674115), I'm fairly sure that this is not a bug of `iris`. Performing statistical operations over a coordinate is not straightforward. As shown in the comment, one way to tackle this (for true fx variables) is to **not** broadcast the the fx variables before adding them to the cube and only contain the dime

[2021-06-18 14:29] tomaslovato commented on #1189
@schlunma I agree with you about the choice made in iris to neglect such a sneaky problem of handling time dependent metrics (sorry but I was a bit slow in getting the whole thing).

I guess that there should be a discussion within the core team about how the metrics are organized at the CMIP level and how to handle them throughout the different cases.

From my understanding, metrics that belong t

[2021-06-18 14:36] pp-mo commented on #1180
Well, there's nothing in a channel ATM.
But the code in the draft PR https://github.com/SciTools/iris/pull/4176 has only one commit so far,
so if you can test with a checkout you should be able to merge it easily into some branch ?

As given, it can only give speedup for a load with a single NameConstraint,
like `iris.load(file, NameConstraint(var_name='xx'))`
Standard or long names will also work

[2021-06-21 08:41] tomaslovato commented on #1189
This issue comes with a number of technical constraints, so maybe a recap from the whole discussion might be useful to see if there is a viable way through.

At the moment time preprocessor do not preserve grid metrics and spatial aggregation preprocessors cannot be executed afterwards. I'm wondering if this applies to both CMIP5 and CMIP6? (but I guess it will be probably just the latter)

There

[2021-06-21 09:45] zklaus commented on #1180
Sounds good. I will have a look at this after the pending release of ESMValTool at the end of this month.

[2021-06-22 08:11] sloosvel commented on #1189
I don't have much of an opinion in the `time_statistics` issue but if computing the mean for the fx vars would work for you, I think it's doable.

And in the case of `extract_levels`, I think that the only function that needs to be expanded to take into account the presence of cell measures is `_vertical_interpolation`. If the level extraction is done performing `cube.extract`, the cell measures g

[2021-06-22 19:43] #961 closed

[2021-06-23 09:18] katjaweigel opened #1191 "Fix model fix for MIROC5 (hfls and evspsbl)"
**Describe the bug**
The merged pull request #1110 introduced a rounding for latitude for the variable pr. Therefore its grid is now in conflict with the one from hfls and evspsbl which should be used to calculate the derived variabe lvp (used by recipe_deangelis15nat.yml), see also https://github.com/ESMValGroup/ESMValTool/issues/2198.
[main_log.txt](https://github.com/ESMValGroup/ESMValCore/file

[2021-06-24 12:24] schlunma opened #1193 "Memory issues despite lazy operations"
Right now, I'm trying to analyze 25 years of monthly ERA5 data (variable `ta`). Since this dataset is 4D (time, height, lat, lon), the file sizes are pretty large. After concantenation, the cube's shape is `(300, 37, 721, 1440)`, which corresponds to about 86 GiB assuming `float64`.

When using the following recipe to extract the zonal means

<details>

[code]

</details>

on a node with 64 GiB me

[2021-06-24 12:27] zklaus commented on #1193
For possible reference: dask/distributed#2602

[2021-06-24 15:33] schlunma commented on #1193
Thanks @zklaus, that sounds exactly like the problem here.

I found a (relatively) easy workaround for this: By moving the preprocessor step `concatenate` down in the preprocessing pipeline right before `save` and realizing the data in it removes this issue. Basically, by doing this all other preprocessing operations are executed serially for each input file. Right now, due to the concatenation of

[2021-06-24 15:40] valeriupredoi commented on #1193
nice find @schlunma - unfortunately we need to perform the preprocessor: concatenation at the beginning, data is fragmented most of the times. Unless I am misinterpreting your workaround?

[2021-06-24 15:51] schlunma commented on #1193
Ahh! Yes --- now that I think about it --- most of the time related preprocessors would fail. In my case it worked just fine (I only used `zonal_statistics`), but e.g. calculating a mean over all time steps would fail brutally :smile:

I will do some more tests tomorrow with a dataset that is not spreaded among different files and see how that performs - my guess is that it works well, similar to

[2021-06-25 22:40] hahsan1 opened #1196 "Coordinate not found error for atmospheric data"
I am trying to extract level data from a model file. This file uses the alternate hybrid sigma pressure coordinate.

I've been getting the error: `CoordinateNotFoundError: 'Expected to find exactly 1  coordinate, but found none.'`

The recipe I am using does work for other model files though, so I'm not sure what's wrong with this particular file. Perhaps something in the metadata?

I have attache

[2021-06-28 10:19] tomaslovato commented on #1189
@sloosvel @schlunma  I'm not sure if this relates to some other on-going development branch, so before creating a new branch/PR, I put here below a first rough,working version of this 'in house' function to handle the issue.
(I didn't found a better way to get back the `fx_cube` from `cell_measures` but someone more experienced than me could improve this aspect!)

[code]

[2021-06-28 13:02] katjaweigel opened #1198 "Multi-model mean fails for Core V2.3.0 because of difference in aux_coords"
**Describe the bug**
A multi-model mean, which was running for the last core version now fails because:

Different to the case reported here: https://github.com/ESMValGroup/ESMValTool/issues/2198
the recipe does not use "extract_level" but "extract_region" and "extract_season", could this be connected?

**Please attach**
  - The recipe is attached here, it belongs to the PR https://github.com/ESMV

[2021-06-28 13:44] valeriupredoi opened #1199 "Drop support for Python 3.6"
it's very old, we don't support it in ESMValTool no more and some of the latest dependencies are not supporting it (eg `cf-units=3.0.0`)

[2021-06-29 01:04] hahsan1 commented on #1196
Thank you @schlunma, I managed to get this working now!

First I used an nco command to change the formula field to `p(n,k,j,i) = ap(k) + b(k)*ps(n,j,i)` which is the appropriate formula for pressure. The formula it had before is for calculating level k (based on this  [CF conventions website](https://cfconventions.org/Data/cf-conventions/cf-conventions-1.0/build/apd.html)).

Then I added the appr

[2021-06-29 07:21] sloosvel commented on #1198
I doubt it's a problem with `extract_region`, because this feature was added so the `extract_region` step would work on the fx vars. But I will take a closer look.

[2021-06-29 07:35] sloosvel commented on #1189
You could acces the fx cube by looping over the  cube.cell_measures() so there would not be a need to copy again the variable (a bit like it's being done in the `remove_fx_variables` step). And then import `add_cell_measure` from the `ancillary_variables` to add the new fx cube. That way you could spare having to define again the measure.

[2021-06-29 07:45] schlunma commented on #1196
Great! If you have write access to the data then your solution of course also works :tada: Closing this, feel free to re-open if necessary.

[2021-06-29 07:45] #1196 closed

[2021-06-29 08:34] sloosvel commented on #1198
Sorry I just checked the recipe, and at no point fx variables are being used. So if the multimodel step is failing it must be due to something else, and it is not related to what was reported in https://github.com/ESMValGroup/ESMValTool/issues/2198 with the `extract_levels` function. The most recent changes in the multimodel stats were made in #1150 .

[2021-06-29 08:47] katjaweigel commented on #1198
Ok, thanks a lot @sloosvel! I tested without extract_season but with multi model mean now, and there is a new error:

...

There are several Warnings (which are also there in the case above when the multi-model mean does not run with extract_season and extract_region).

[2021-06-29 08:50] katjaweigel commented on #1198
Here is the complete log and the recipe.
[run_main_log_debug_coord_issue_multi_model_mean_noseason.txt](https://github.com/ESMValGroup/ESMValCore/files/6731918/run_main_log_debug_coord_issue_multi_model_mean_noseason.txt)
[recipe_pv_capacity_factor.yml_coord_issue_multi_model_mean_noseason.txt](https://github.com/ESMValGroup/ESMValCore/files/6731922/recipe_pv_capacity_factor.yml_coord_issue_multi_

[2021-06-29 09:20] schlunma commented on #1189
Nice @tomaslovato! Some comments that might be relevant for the actual implementation:

- @ESMValGroup/esmvaltool-coreteam any objections on calculating the mean over `fx` variables for cube aggregation? If the fx variables are not dependent on the dimension that is collapsed, this is perfectly valid; if not, then I'm still not 100% sure that this is (in general) scientifically valid.
- Apart from

[2021-06-29 09:34] tomaslovato commented on #1189
Thanks @sloosvel for the suggestions !!

I tried to import the `add_cell_measure` at the top of `_time.py` module but I got swamped into a circular dependency error
[code]
so, for testing purposes, I imported `add_cell_measure` within the function and it works perfectly, but I'm not sure this way would comply with ESMValCore general coding structure.

I had a look at `remove_fx_variables` as you s

[2021-06-29 10:02] valeriupredoi commented on #1198
@katjaweigel thanks for the detailed error report and logs. The last error tells me that a certain cube from the cubes list has the time axis shorter by exactly one point than the first cube in the list, which should not happen since they must have the same length of the time axis. I'll investigate on JASMIN

[2021-06-29 10:17] tomaslovato commented on #1189
I think the mean is a reasonable for `cell_measures` such as grid area or volume, but compiling a list of both `cell_measures` and `ancillary variables` handled by ESMValCore may help to better tailor their treatment

@schlunma I was more oriented toward the creation of a python function contained in `_time.py` (just to make clear it applies within this preprocessor) ... I'm not sure it might be p

[2021-06-29 11:40] valeriupredoi commented on #1198
OK a first pass explains why the merge is failing - ACCESS1-3 has `AuxCoord` height at 1.5m as compared to (a subset of) the other models that have it at 2m, I had to use a subset of the models since the code is **extremely** slow, and using all the models I'd wait until England-Germany football game :soccer:

[2021-06-29 11:54] valeriupredoi opened #1201 "New multimodel module can be slow and buggy for certain recipes"
Unfortunately I must consider reverting to the older multimodel module asap - the new module is EXTREMELY slow, buggy in different spots and not that much more efficient for memory usage. Take this recipe for instance:

[code]

- this is the chopped up recipe that @katjaweigel uses to report a suite of issues in https://github.com/ESMValGroup/ESMValCore/issues/1198 - the whole thing runs in 7min w

[2021-06-29 11:57] valeriupredoi commented on #1198
thanks very much @katjaweigel - I've opened an issue in Core related to this, I will revert to the older 2.2.0 module for now, the new module is unacceptably slow and does contain the bugs you found yourself. I'll ping you here when I have reverted to the old module so you can run (just tested it myself and runs fine and fast) :+1:

[2021-06-29 12:02] katjaweigel commented on #1198
@valeriupredoi ok, thanks a lot!
That probably causes the

Warning and following issues.

The reason for the

Warning and the

Error is most probably, that there are is a different number of days in the 26 years the recipe tries to look at, either 9490 days or 9497 days (probably depending on if the calendar contains leap years or not).
I'll try if "regrid_time" would help.

[2021-06-29 12:04] zklaus commented on #1201
First, let's try to stay factual and polite. SHOUTING is not generally considered that.

On the points:
- I think it is (almost) meaningless to look at runtime and, for that matter, memory before the two approaches are successfully doing the same thing.
- For the different heights, I like the new approach more than the old one. Silently ignoring a coordinate that is different doesn't seem correct

[2021-06-29 12:09] katjaweigel commented on #1201
@zklaus: The different length of the time axis seems to be connected to leap years. I just wrote in the other issue:
The reason for the

    WARNING [32819] /work/bd0854/b380216/anaconda3/envs/esmvaltool202106/lib/python3.9/site-packages/iris/coords.py:1979: UserWarning: Collapsing a non-contiguous coordinate. Metadata may not be fully descriptive for 'time'.
    warnings.warn(msg.format(self.name

[2021-06-29 12:12] katjaweigel commented on #1201
(esmvaltool202006) b380216@mistralpp3% grep -in Running.extract_region.air_temperature.*time: /work/bd1083/b380216/output/recipe_pv_capacity_factor_20210629_095915/run/main_log_debug.txt
6449:2021-06-29 10:00:43,142 UTC [9314] DEBUG   esmvalcore.preprocessor:279 Running extract_region(air_temperature / (K)               (time: 9490; latitude: 241; longitude: 480)
6731:2021-06-29 10:01:01,890 UTC [

[2021-06-29 12:13] valeriupredoi commented on #1201
yes @katjaweigel that's exactly that, well spotted! About @zklaus point about run times, I agree, in principle, if it was a run time difference of tens of percent, but a factor 4 or 5 is unacceptable. I am aware of this happening in certain situations but I've done quite a few tests prior to this being merged and noticed it consistently, albeit those tests were done with significantly lower amount

[2021-06-29 12:16] valeriupredoi commented on #1201
agreed! but we need a checker inside multimodel to either ignore or fix that AuxCoord (or others that might differ). Failing on a coordinate that is not used in the statistic itself is not the desired behavior

[2021-06-29 12:29] zklaus commented on #1201
On the runtime: @valeriupredoi, your opinion is noted and will of course be taken into consideration.

On the AuxCoord: This coordinate *is* used. What is the correct height of the resulting data? 2.0m? 1.5m? The weighted average? I don't see that the multimode preprocessor is in a good position to make that call. Since the overwhelming majority of models does use 2m and this is the suggested heig

[2021-06-29 12:33] katjaweigel commented on #1198
Doesn't solve the leap year issue, its fails with:

and there are still cubes with 9490 and 9497 days.

[2021-06-29 12:35] katjaweigel commented on #1201
Currently, the preprocessor setting:

Doesn't solve the leap year issue, its fails with:

and there are still cubes with 9490 and 9497 days.

[2021-06-29 12:35] bouweandela commented on #1201
Note that work on the performance is still in progress in #968, no performance improvement should be expected from the current implementation. The improvement that **is** included in `main` branch at the moment is that it uses iris instead of numpy for computing the statistics. As expected, this will lead to more strict handling of metadata. We will probably need some additional fixes for that, e.

[2021-06-29 12:37] valeriupredoi commented on #1201
the old preprocessor would find the overlap via `np.intersect1d` and would chop the data around it (if `overlap` was the setting), I think this new one does it in a similar manner but looks at the start/end points without checking that the points inside the overlap interval are the same (or time points arrays have equal lengths)

[2021-06-29 12:38] bettina-gier commented on #1201
If we're talking issues with the new mmm handling that weren't there before the refactoring, I also found one testing recipe_perfmetrics_land_CMIP5.yml as mentioned in this comment: https://github.com/ESMValGroup/ESMValTool/issues/2198#issuecomment-870450689
After regridding not all models had bounds for the longitude coordinate, making iris fail the cube merge. If I add a guess_bounds in there, t

[2021-06-29 12:38] valeriupredoi commented on #1201
right on, but how can you explain the slowness?

[2021-06-29 12:39] valeriupredoi commented on #1201
good call @bettina-gier :+1:

[2021-06-29 12:43] zklaus commented on #1201
Note that all the problems we have discussed so far (including the one brought up by @bettina-gier) are pre-existing bugs that have passed us unnoticed until now. Reverting would therefore not solve any issue but just cover up wrong results. I am at the moment not convinced that is the right way to go about it.

Let's try to focus our energy now on understanding the problems and move to a solution

[2021-06-29 12:51] valeriupredoi commented on #1201
Klaus, those are not masked problems but rather things we don't really care for enough to fix them in the old module and we don't care enough to cause failures in the new module. We have a broken MM module on several aspects and the time we need to address those aspects is much longer than the time to revert and have a working module. We care about functionality foremost and then about improving p

[2021-06-29 13:03] zklaus commented on #1201
V, I disagree with that assessment and don't think you can speak for all of us here.

As a point in case, trying to advance the issue of the uneven time axis, MOHC's HadGEM2-ES uses a 360 day calendar. Over the 25 year period of this recipe, that's a difference of 25*5+25/4=131 days or over 4 months of data that get chopped off the end of *all* models when you add HadGEM to the list of datasets. W

[2021-06-29 13:12] valeriupredoi commented on #1201
I don't speak for the others - I speak for the core functionality of a key module in ESMValTool which is currently busted and it needs serious repairs to get both its functionality and performance to standards. Interim solution is to replace it with the old module which is known to work (and has been tested against reference results) while we perform the needed fixes and performance optimizations,

[2021-06-29 13:27] zklaus commented on #1201
I gave a concrete example of where the old module seems to lead to very wrong results. Do you think that example is wrong? Do you think people are aware of this?

[2021-06-29 13:30] valeriupredoi commented on #1201
*seems* is the key word, the module has been tested thoroughly against reference results, unlike the new one. Have a go using the revert branch when you have some time and if that's a bug indeed, then we list it here and we weigh in the arguments for or against reverting

[2021-06-29 14:25] valeriupredoi opened #1203 "Test multimodel for sample data fails with Runtime error"
see [test](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/5161/workflows/4a7017f9-56a6-4e11-bb83-9c5b16491112/jobs/24577) - the problem is that re-adding the files is barred by `.gitignore` since that ignores any `.nc` files, one can always force that but I reckon this is not quite an elegant implement

[2021-06-29 14:40] valeriupredoi commented on #1201
OK @zklaus @katjaweigel I have got the revert done in https://github.com/ESMValGroup/ESMValCore/pull/1202 (just need to fix the docs build but that's be done if we decide to revert) - if you guys want to test/or just run your recipes to actually get results, go for it! I think we need to talk about this asap, lucky we have the ESMValTool call on Thu, @bouweandela sign me up for this pls :grin:

[2021-06-29 14:59] stefsmeets commented on #1203
Why am I assigned to this?

[2021-06-29 15:10] stefsmeets commented on #1203
Seems to me like you deleted the old reference data, committed the deletion, and then didn't re-add the files. Since the files are already tracked in git, they should show up as changed.

+1 for assigning @Peter9192 😅

[2021-06-29 15:21] valeriupredoi commented on #1203
I did exactly that but still we should be able to recreate those without stepping on git toes and don't have the CI belching Runtime errors, anyways problem solved now, but I'd replace that Runtime error with a warning, what say you @Peter9192 :beer:

[2021-06-29 16:30] Peter9192 commented on #1201
Sorry to hear that you're experiencing issues with the updated multi-model code. My intention has always been for the code to be more transparent, so that it will be easier to understand, debug, and optimise. While I understand it's annoying that this recipe doesn't work, let's not rush into reverting the update.

I agree with @zklaus that we should prefer solving these bugs that are surfacing rig

[2021-06-29 16:40] Peter9192 commented on #1193
Sounds quite similar to the behaviour I've observed in https://github.com/ESMValGroup/ESMValCore/pull/968#issuecomment-802666405, and that conversation in the dask repo is interesting!

Not sure if what you mention here:

is actually the backpressure that they're talking about. The way I understand it, "backpressure" would be an analogy to a channel flow (or any kind of flow, really) where a bottl

[2021-06-30 06:59] schlunma commented on #1193
Yes @Peter9192, you are 100% correct!

[2021-06-30 07:08] stefsmeets commented on #1203
It seems to me that the runtime error is doing it's job, it's letting you know that the reference data are missing (and thus newly generated). Do you think you would been clearer if a warning was raised instead?

[2021-06-30 07:36] katjaweigel commented on #1201
@Peter9192 thanks for the summary and the links to the related issues!
So far, I did not find any recipe that uses mip = day and multi-model statistics (recipe_pv_capacity_factor.yml is not merged yet and the multi-model mean was removed from the PR) but one never knows what happens in non merged recipes.
I think the leap year issue could be solved through the preprocessor setting regrid_time?
But

[2021-06-30 08:17] #336 closed

[2021-06-30 08:32] schlunma commented on #1189
Sounds good!

Yes, but I think it's fairly easy to write a general function with the signature

[code]

that applies the operator `cell_measures_operator` to all cell measures, the operator `ancilliary_variables_operator` to all ancilliary variables and finally performs `cube.aggregated_by(coords, operator, **kwargs)`. In `_time.py` you can use this function with `cell_measures_operator=iris.analy

[2021-06-30 09:52] Peter9192 commented on #1201
I think so too. Also relevant: https://github.com/ESMValGroup/ESMValCore/issues/744 (and see #781 for an overview of many related developments)

Not sure what you mean by 'marking' here. I see no label or so on the PR you linked. I think we've made a lot of progress in improving the development process, but this could've been smoother, I agree.

I think there's several reasons for that. For one, t

[2021-06-30 10:05] valeriupredoi commented on #1203
I just don't think raising an error (of any type) is useful, if those files get (re-)created anyway why break a test for it?

[2021-06-30 10:10] katjaweigel commented on #1201
@Peter9192 Thanks for your answer!
With marking I meant just to write "@ESMValGroup/esmvaltool-developmentteam" somewhere in the discussion, as for the issue I mentioned above. Then everybody in the development team gets an email to be aware of the discussion. I think there was the idea communicated during the last ESMValTool workshop that this should be done for potential "breaking changes", i.e.

[2021-06-30 10:18] valeriupredoi commented on #1201
cheers @Peter9192 :beer: Here's how I see it:

- the new MM module is a visible improvement on many aspects compared to the previous implement, but needs thorough testing both to confirm its functionality and performance (tweaking the performance is ongoing, as Bouwe points out); I must confess I should have tested it much more than I did, but I can say the same about all you folk :grin:
- we want

[2021-06-30 10:36] axel-lauer commented on #1201
I like the idea of going back to the old version and waiting until the "shakedown" is finished. A bugfix release once we are happy with the new version sounds like the way to go.

[2021-06-30 11:49] #1187 closed

[2021-06-30 14:24] stefsmeets commented on #1203
The tests are broken by deleting the reference data. By just issuing a warning, the tests would always pass (whether the reference data are there or not). That's why the tests require a double pass to ensure that the tests pass with the newly generated data.

[2021-06-30 14:30] stefsmeets commented on #1201
Would it be an idea to have both functions side by side? i.e. users can call `multimodel_statistics` for the old implementation (I recommend a very annoying deprecation warning!), and `multimodel_statistics2` for the new implementation.

Then you can have the benefit of having no breakage of the old recipes giving users some time to migrate, while also having the new implementation available in th

[2021-06-30 14:42] zklaus commented on #1201
Here is how I see it:
- The new version works correctly *according to the implementor(s) of the old version* since it passes their tests that guarantees it.
- It improves the integrity and has already uncovered two bugs in recipes:
  - one, where incorrectly data from different heights is being averaged as if it was at the same height and
  - one, where data from different days is averaged and pas

[2021-06-30 15:53] Peter9192 commented on #1203
Hmm I see how the error is confusing, but I also agree with Stef that it doesn't make sense for the tests to pass if they just regenerate the data (but not actually test anything). Maybe a clearer error message would help?

[2021-06-30 17:25] valeriupredoi commented on #1201
that's the right way from a software cycle point, absolutely, and in fact it'd be easy since we don't have to change anything in Tool - it'd also allow us to do a direct apples-to-apples comparison between the two modules, I like the idea  :+1:

[2021-07-01 07:35] katjaweigel commented on #1201
@zklaus
To "fix the recipes" one probably needs to do additional fixes in the core in most cases:

- As far as I understood the bounds issue from @bettina-gier, this should be fixed in the core.
- The only way to "fix" the leap year issue is at the moment, not to use the multi-model mean for daily data (what was done for the recipe where I encountered it). To really fix it, we would probably need

[2021-07-01 08:14] stefsmeets commented on #1203
When I wrote these tests, I added some info about how it works in the docstring for the test (this seemed like the most appropriate place to me):
https://github.com/ESMValGroup/ESMValCore/blob/e573b5d93dc350afd7f36264fd1e6026b349e65f/tests/sample_data/multimodel_statistics/test_multimodel.py#L190

Would it help if that was moved or copied to the error message?

[2021-07-01 08:53] Peter9192 commented on #1203
I like that! Would that be clear for you as well @valeriupredoi ?

[2021-07-01 08:54] zklaus commented on #1201
There certainly may be changes necessary in the core and a bugfix release is a real possibility. We may even decide to revert the multi-model statistics if weighing the issues and solutions makes that the best choice.

But we should be clear where the problems lie, so as
- not to unfairly blame people that have, with a lot of work, improved our codebase
- to avoid that people come away from this d

[2021-07-01 09:33] ruthlorenz commented on #1201
I totally agree with Katja on the tas height issue.
Actually, tas is defined as "near-surface (**usually**, 2 meter) air temperature". Some models give it at 1.5m (definitely ACCESS and I guess anything else using UM for the atmosphere, so UKESM, HadGEM etc.). So its quite a few models from the same family. Ignoring all of them in a multi-model mean because they define tas on a different height is

[2021-07-01 09:39] katjaweigel commented on #1201
@zklaus I'm not blaming the changes in the core for the issues themselves. I'm just not happy, that there were not enough test before the release to discover them and that there was no warning about possible "breaking changes". It would be good, if everything in the tool would be working, when it is released and at the moment that is not the case with the new core. So I wonder how that could be so

[2021-07-01 09:59] zklaus opened #1204 "How should multi-model statistics work on tas?"
More comprehensive metadata handling in the multi-model statistics recently turned up a conceptual issue for multi-model statistics on near-surface temperature (`tas`).

This variable is always "near-surface", but different models use slightly different heights, typically 2m or 1.5m.
It seems to be a consensus that a multi-model mean should just be calculated across all models, regardless of the e

[2021-07-01 11:12] zklaus commented on #1201
@ruthlorenz, @katjaweigel, it's good to know that more models are affected (and I confirmed this for both CMIP5 and CMIP6). I opened a new issue to discuss specifically the question on how to treat this. It would be great if you could help to resolve the questions over there in #1204.

@katjaweigel, on tests vs releases, first, keep in mind that the current released version of the tool, 2.2.0, req

[2021-07-01 11:20] valeriupredoi commented on #1203
not quite - I want something like this https://github.com/ESMValGroup/ESMValCore/pull/1205 - don't throw any exceptions, just run seamlessly and create the files if they're not there. This is good for the automated testing environment, as we re-activate tests we will re-add the reference data files. Regression tests should test validity of results only and not file existence I know I'm being nit p

[2021-07-01 11:34] katjaweigel commented on #1204
A recipe, which is probably affected by this issue is recipe_flato13ipcc.yml (according to the list in https://github.com/ESMValGroup/ESMValTool/issues/2198 it hasn't been tested for the new core, yet).

[2021-07-01 11:35] valeriupredoi commented on #1203
another thing I noticed is that the reference data, if not existent in the form of the netCDF files, is constructed using the current version of the MM module - this is a bit of a chicken and egg problem, ideally we'd want to test against a reference dataset constructed with the latest stable release, so really - create those files once per release

[2021-07-01 11:57] stefsmeets commented on #1203
@valeriupredoi I don't understand anymore what you are trying to achieve. The fact that the reference data cannot be found should always result in a fail.

The tests try help you by generating data that you may possibly want to use for the reference data, so that they can easily be added if you wanted. You are, of course, free to generate/add your own reference data if you prefer. You could argue

[2021-07-01 12:53] alistairsellar commented on #1204
To answer youir 3rd question @zklaus...
As far as I'm aware tas is the only CMIP variable which has this degree of flexibility in spatial metadata, so I think that tas is a special case when it comes to metadata.

There is a wider category of variables where you shouldn't make a multi-model mean because the variable has a different meaning for different models. Top level soil moisture (mrsos) is o

[2021-07-01 13:11] zklaus commented on #1204
Ok, sounds like there should be a special case to ignore the scalar height dimension only for `tas`. @Peter9192, would you be willing to prepare a PR with such an addition for the multi-model statistics?

[2021-07-01 13:15] valeriupredoi commented on #1203
yeah agreed - am thinking a little too much ahead and am not doing it proper in code (at the moment) - just gonna close this and revisit at some point, there's a few other things that are more stringent now - this is a bit of an egg deodorant case I am yapping about :grin:

[2021-07-01 13:15] #1203 closed

[2021-07-01 13:42] schlunma commented on #1204
One suggestion: Would it maybe make sense to add an optional keyword `ignore_scalar_coordinates` to `multi_model_statistics`? `height` is not the only scalar coordinate that is included in some variables (see [here](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/cmor/_fixes/shared.py#L302) for various examples of fixes) and it might be useful to explicitly ignore these if desired.

[2021-07-01 15:15] #799 closed

[2021-07-01 15:31] valeriupredoi commented on #1137
would you be willing to fix this (well, just the bounds bit) @ledm pls :beer:

[2021-07-01 15:32] valeriupredoi commented on #1139
yeah @bouweandela - that's exactly where locks come in hand :+1:

[2021-07-01 15:37] valeriupredoi commented on #1121
it's been behaving lately, it dies but that's coz the tests die, and for that we have a fix

[2021-07-01 15:37] #1121 closed

[2021-07-01 15:42] valeriupredoi commented on #1063
the mystery related to this issue is solved by figuring out #1159 - a problem that's got its own isue, so closing this, my apologies for doubting the sanity of your test container @bouweandela :grin:

[2021-07-01 15:42] #1063 closed

[2021-07-01 15:45] valeriupredoi commented on #989
just passing by this in passing (terrible pun, I know :rofl: ) but do we still want to work on this? ie @Peter9192 did you have a chance to add your JupyterLab instructions or do we have anything moving at ETHZ?

[2021-07-01 15:47] valeriupredoi commented on #948
we talked abut this at our last Tech meeting, do we aim at formalizing anything or it's still anyone's game?

[2021-07-01 15:50] valeriupredoi commented on #863
has the data been de-haloed ie have they removed the NEMO halo at the edges? This might be the problem - UKESM1 does this before pushing to ESGF

[2021-07-02 08:31] ledm commented on #1137
I came up with a workaround at the diagnostic level, but sure it would work in the preprocessor...

[2021-07-02 10:03] Peter9192 commented on #1198
I don't think the height coord is a problem after all. Will write the details in #1204.

The leap years issue also triggers a warning (I think this is quite nice, actually):

`6-29 08:15:56,307 UTC [32819] WARNING esmvalcore.preprocessor._multimodel:117 Multimodel encountered (sub)daily data and inconsistent time units or calendars. Attempting to continue, but might produce unexpected results.`

L

[2021-07-02 10:07] SarahAlidoost opened #1208 "An import from esmvalcore 2.2.0 sets the CPU affinity to a single CPU core"
We (@sverhoeven and I) found that for example `import esmvalcore.preprocessor` changes the CPU affinity of the current process, here python. This makes a problem when running a process in parallel after the import. So, all the processes run on a single CPU core which we don't want. We use [multiprocessing package ](https://docs.python.org/3/library/multiprocessing.html) for parallel processing. Se

[2021-07-02 10:13] Peter9192 commented on #1204
I started with implementing a test in #1209 to establish the desired behaviour, but interestingly I find that iris already copes with this situation. It averages the coordinate value and sets bounds as well. Multi-model statistics pass just fine.

Does someone want to elaborate on a use case that failed for them?

[2021-07-02 10:52] Peter9192 commented on #989
I was thinking to update the JupyterLab instructions somewhen after the new release. Can we keep it open for a bit longer?

[2021-07-02 11:30] zklaus opened #1210 "How should multi-model statistics handle daily data on different calendars?"
More comprehensive metadata handling in the multi-model statistics recently turned up a conceptual issue for multi-model statistics on daily data with different calendars.

The issue is that in this case there are days, for which only a subset of models may provide data. This happens usually for datasets that contain leap days (gregorian or standard calendar, all_leap) vs those that don't (noleap)

[2021-07-02 11:33] zklaus commented on #1210
My own suggestion would be to implement the first alternative here, i.e. an overlap mode and a full mode as closely following the current implementation behavior as sensible for now (the bugfix release).

But I am also interested to have a discussion on the long-term best scientific strategy. If that differs from the bugfix strategy, we may tackle that after the 2.3.0 release of the tool.

In any

[2021-07-02 11:34] ruthlorenz commented on #989
I do not think there has been anything moving at ETHZ, Bas is not here anymore :-(
We have talked about it with our sysadmins but at the time the decision was not to have a central installation (mainly because all the users were developers, so it would not help much). But maybe @lukasbrunner wants to look into it again?

[2021-07-02 13:43] Peter9192 commented on #1210
We had an implementation at some point where we did something much closer to the original behaviour:

https://github.com/ESMValGroup/ESMValCore/blob/a43ecb9082c405839cd4a0c39a2116da2b347135/esmvalcore/preprocessor/_multimodel.py#L130-L164

I thought the implementation was quite elegant from a readability point of view, but we weren't happy that we had to use an interpolation method for iris to ext

[2021-07-02 13:48] zklaus commented on #1210
And the problem with the lazy aspirations is the lack of a `da.intersect1d` and `da.union1d`?

[2021-07-02 13:53] Peter9192 commented on #1210
Don't really remember.. realizing only the values of the time arrays shouldn't be a problem I suppose. I think it had to do with the interpolation.

[2021-07-02 13:54] zklaus commented on #1210
Ok, sounds good to me. Could you go ahead with this approach?

[2021-07-02 14:19] bouweandela commented on #1148
It looks like embedding provenance in .png files is also not that ideal, it crashes the tool if the provenance is too large (see linked issue).

[2021-07-03 15:23] fserva commented on #1136
Thanks Bouwe, sorry for the long time to respond.

Now I have access also to the space `esmeval` on JASMIN; would you suggest to use the default install (https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/install.html#pre-installed-versions-on-hpc-clusters) or would it be better to make a new local one (since I understand there are changes in the core packages https://github.com/

[2021-07-05 08:15] bouweandela commented on #1193
Looks like the linked dask issue finally got fixed, so it would be interesting to see if our problem also disappears with the next release of dask.

[2021-07-05 08:40] zklaus commented on #1193
Yes, though note that that specific issue is in [distributed](https://distributed.dask.org/en/latest/). If I recall correctly, we might be using different dask schedulers, so that the implications might be weaker.

[2021-07-05 09:18] zklaus commented on #1208
This will have to wait for at least the next release. I think the problem is that there are too many levels of parallelism involved in ESMValTool: we have our own, home-grown task parallelism (multiprocessing based), dask, and I think there are a few diagnostics that involve multiprocessing as well.

But I agree that merely importing a preprocessor should not have this effect if we can avoid it, a

[2021-07-05 09:24] zklaus commented on #1137
I am not sure there should be bounds here. In the example, the points happen to lie on the same latitude, so on the face of it, bounds seem to have a clear interpretation, but what if the trajectory is not aligned like this. Does it really make sense to build rectangular cells around the points in that case? Should those touch at corners, or would you want to add parameters to the preprocessor to

[2021-07-05 10:19] Peter9192 commented on #1198
@katjaweigel can we change the title of this issue to something like "multimodel fails for daily data with different calendars"?

[2021-07-05 10:21] Peter9192 commented on #1210
I can give it a try, but I'm still not quite sure if we have agreed what the desired behaviour is. Effectively what this will do is:

- `span="overlap"`: discard those days that occur only in certain calendars but not in others
- `span="full"`: keep all days, and for each day compute the statistics over those datasets for which that specific day is available. So if you have 10 datasets of which 8

[2021-07-05 11:06] zklaus opened #1211 "How should multi-model statistics work for a single cube?"
The new multi-model statistics code refuses to calculate statistics on a single model.
That is one approach to things, but for most statistics it's perfectly possible to compute them on a single cube as well, albeit perhaps not super useful.

To me, it seems the two alternatives here are
- Refuse computation on a single cube
- Compute according to the following table that lists all supported stati

[2021-07-05 11:07] zklaus commented on #1210
I think the goal for now is to emulate the behavior of the old code. For `overlap` that is what you describe, for `full` I think so too, but was not able to confirm yet.

[2021-07-05 11:17] stefsmeets commented on #1211
The output for `pXX.YY` should also be the input.

[2021-07-05 11:22] stefsmeets commented on #1210
Yes, we worked around this, because it is _not_ lazy.

[2021-07-05 11:28] zklaus commented on #1210
Ok, most importantly, since this is really urgent, let's do as discussed above with the previous code, even though it is not lazy.

Long-term, it is understandable that there are no general, lazy dask intersect1d and union1d routines since for both one needs to take all of the data into account, these are in some sense fancy sorting routines, and dask doesn't [do sorting](https://docs.dask.org/en/

[2021-07-05 13:40] Peter9192 commented on #1210
see #1212

I was a bit too quick there. Actually, for a leap day, #1212 uses neirest-neighbour lookup to fill the missing data. Masking only happens outside the original date range. ATM I don't see an easy way to mask the missing days in the interior (okay perhaps through xarray...).

[2021-07-05 18:29] bouweandela commented on #1211
I would prefer a refusal to compute, because trying to compute a multimodel statistic on a single model probably means that there is a mistake in the recipe.

[2021-07-06 11:38] sloosvel opened #1213 "Presence of ancillary vars breaks multi-model statistics step"
**Describe the bug**
Due to the recent updates in both the handling of fx variables and the multimodel statistics preprocessor, there appear issues when combining these two steps. Because some models might not have fx files available, and therefore some cubes will not have ancillary variables or cell measures, maybe the multimodel statistics step should check their presence and remove them before

[2021-07-06 12:25] zklaus commented on #1213
Thanks for opening the issue! Before moving to how to address this issue ("maybe remove..."), let's try to clarify a bit more.

What variables are we talking about? Is there a material difference between `cell_measures` and `ancillary_variables`? Could averaging or another approach be reasonable?

Since the grids and coordinates need to be the same for the multi-model statistics anyway, at least m

[2021-07-06 12:26] zklaus commented on #1211
I also think refusing to compute makes sense. @remi-kazeroni, @katjaweigel I think you guys stumbled over this recently. What do you think?

[2021-07-06 13:06] tomaslovato commented on #1189
@schlunma @sloosvel
I spend a bit of time trying to map which variables are handled as  `cell_measures` and `ancilliary_variables` to better frame the application of appropriate statistics.

`areacella`, `areacello`, `volcello` are the only fields accepted as **cell_measures** [see here](https://github.com/ESMValGroup/ESMValCore/blob/e573b5d93dc350afd7f36264fd1e6026b349e65f/esmvalcore/preprocessor

[2021-07-06 13:16] #1191 closed

[2021-07-06 13:29] sloosvel commented on #1189
Used in recipes, there is also `sftof`. But I guess that any other variable in `CMIP6_fx` could also be added as an ancillary one in a cube.

[2021-07-06 14:07] schlunma commented on #1189
I thought about this a little bit more and I think that the statistical operation that is necessary for the fx files also depends on the dimension that it's applied to. For example, cell areas like `areacella` and `areacello` should be averaged over time, but summed if the statistical operation is performed over the latitude and longitude. Other variables like the land area fraction `sftlf` should

[2021-07-07 08:51] zklaus commented on #1204
It seems that this was first diagnosed in https://github.com/ESMValGroup/ESMValCore/issues/1198#issuecomment-870520414. @valeriupredoi, can you confirm that this is actually a problem?

Otherwise we'll close this issue sometime today.

[2021-07-07 08:53] zklaus commented on #1211
There seem to be no opposing views, so we'll keep the current behavior.

[2021-07-07 08:57] zklaus commented on #1210
From discussions in #1212 it seems a bit more work is needed and probably also #744. Furthermore, the only recipe that had been using the multi-model statistics on daily data doesn't do so anymore. Since our documentation says that (sub-)daily data isn't supported and a warning to that effect is issued as well, we will bump this to 2.4.0.

[2021-07-07 09:12] katjaweigel commented on #1198
@Peter9192 sure, you can change it, since there is an own tas issue (#1204) now (sorry somehow I overlooked this and only saw the PR).

[2021-07-07 09:14] zklaus commented on #1159
To summarize the issue:
- This occurs when a requested variable exists in more than one "fx" table (which may even be a `yr`, `mon`, or `dec` table in reality).
- This ambiguity can not be resolved in general.
- Specifying the table manually per @sloosvel's comment above resolves the problem.

Is this accurate? If that is the case, I suggest improving the documentation to clarify this and fix the

[2021-07-07 09:18] #1198 closed

[2021-07-07 09:28] katjaweigel commented on #1204
I'll test if it is still an issue on the modified version of recipe_pv_capacity_factor.yml, where @valeriupredoi saw it first and on a short version of recipe_flato13ipcc.yml only for the first figure, where it could play a role (it uses tas, a multi-model mean and ACCESS1-3 together with many other models).

[2021-07-07 09:35] katjaweigel commented on #1204
Fig 9.2 from recipe_flato13ipcc.yml runs, just produces the Warning:

so this looks ok to me. ( recipe_pv_capacity_factor.yml produces the Warning as well but is not finished, yet.)

[2021-07-07 10:15] zklaus commented on #1213
This seems to be the toughest nut to crack right now. @bouweandela, @Peter9192, do you have some insight or ideas?

[2021-07-07 10:36] Peter9192 commented on #1213
A minimal use case that triggers this problem might help...

[2021-07-07 10:36] sloosvel commented on #1213
I proposed to remove it because fx vars are not always present.  If you compute an statistic 10 datasets and only 2 of them have ancillary vars, the result would be a cube with data from 10 datasets and an average ancillary var with data from 2 of them.

I am not sure if there are significant differences in those variables from model to model, or if that would make this approximation be a source o

[2021-07-07 10:37] Peter9192 commented on #1204
Thanks for checking @katja. That warning is harmless.

[2021-07-07 11:02] bouweandela commented on #1213
I agree with @sloosvel that it might be difficult to come up with reasonable values and I also feel that coming up with reasonable values for the computed statistics is a new feature that could be worked on later. However, the current position of the multimodel statistics preprocessor function in the default order is before the statistics functions that use cell measures: https://github.com/ESMVal

[2021-07-07 12:02] bouweandela commented on #1208
I doubt whether the esmvalcore package itself changes the cpu affinity, we most certainly do not have any code that does this. It seems more likely that one of the dependency packages that we import changes the cpu affinity on load. It would be good to find out which package is causing this, perhaps by writing a small script that imports all our dependencies one by one and seeing after which impor

[2021-07-07 12:57] zklaus commented on #1204
Great, thanks @katjaweigel and @Peter9192 !

[2021-07-07 12:57] #1204 closed

[2021-07-07 13:06] schlunma commented on #1204
Just out of curiosity: Were there any changes in the code or did this problem disappear by itself?

[2021-07-07 13:08] zklaus commented on #1204
As far as I can see there were no changes and this may never have been the problem, rather a similarity in error messages/warnings led to a misdiagnosis.

[2021-07-07 13:20] katjaweigel commented on #1204
Yes, it looks like for different heights for tas there was all the time only a warning, the recipe contained both, different heights for tas and different calendars, gave Warnings for both but failed due to the leap year issue.
Since several people said, averaging 2m and 1.5m tas should be ok, I guess for tas this is good like it is and needs no further changes. But it remains open, what happens w

[2021-07-07 13:56] bouweandela commented on #1213
To explain the above a bit more clearly, here are some examples of preprocessing chains that users could build:

Current implementation:
* 2D input -> regrid -> multimodel stats -> area stats
* 3D input -> extract levels -> regrid -> multimodel stats -> volume stats
* daily input -> multimodel stats (fails because of 360 day + 365 day calendars) -> monthly statistics

Whereas if we would move mult

[2021-07-07 14:33] zklaus commented on #1213
Thanks, @bouweandela, that makes sense to me.

As for coming up with reasonable values, I am not so sure this will be difficult after all. @tomaslovato made an interesting comment about this: https://github.com/ESMValGroup/ESMValCore/issues/1189#issuecomment-874742702.
To my mind, there are `cell_measures`, i.e. measures of the cells that reflect intrinsic properties of the cells that must be the

[2021-07-07 14:44] tomaslovato commented on #1189
Did you refer to the `CMIP6_fx` table only or also to some specific ones that contains variables which can potentially become `ancillary`?

I agree with you that time average should be the right operation, at least for `CMIP6_fx` as these are declared as time-invariant variables (time coord is added by `_ancillary_vars.py`)

[2021-07-07 14:50] zklaus commented on #1213
One comment that shows the problem is https://github.com/ESMValGroup/ESMValTool/issues/2198#issuecomment-863238983.

[2021-07-07 14:58] Peter9192 commented on #1213
I'm sorry, but I really don't have a lot of time for this. It sounds quite straightforward, but most of the time for me would be in setting up the test case that the new fix should be able to pass. If someone could go ahead and write a test (similar to what I've done [here](https://github.com/ESMValGroup/ESMValCore/pull/1209/commits/36fbe7ab883dac220dfd91b6b24eb5aaaf63bd15)), then I might be able

[2021-07-07 15:00] Peter9192 commented on #1204
Do we still want to merge #1209? That PR adds a test to verify the behaviour discussed in this PR.

[2021-07-07 15:02] schlunma commented on #1189
I was mainly referring to `CMIP6_fx`, but it could also make sense for time-dependent variables like `volcello` from `Omon`.

[2021-07-08 08:16] katjaweigel commented on #1213
Sounds interesting, but I think it must be tested well, because it can change results if there is anything non-linear involved. I remember there was some issue long time ago,  when suddenly the global mean temperature was not the same as expected. This could possibly cause similar things.

[2021-07-08 09:03] katjaweigel commented on #1213
Some recipes, where this order play a role already use "custom_order" to set it the way @bouweandela proposes, e.g. esmvaltool/recipes/recipe_ocean_bgc.yml and esmvaltool/recipes/recipe_ocean_example.yml

[2021-07-08 09:06] Peter9192 commented on #1213
Yep, same for `recipe_kcs.yml`

[2021-07-08 09:59] bouweandela opened #1219 "Multimodel statistics clutters the log with warnings"
See here an example of the warnings generated by running `examplex/recipe_python.yml` from the ESMValTool: https://github.com/ESMValGroup/ESMValCore/files/6782756/log.txt

[2021-07-08 10:30] bouweandela commented on #1213
I just looked through all recipes in the ESMValTool repository and there is no scientific recipe that would be impacted by this change in order.

[2021-07-08 11:03] sloosvel commented on #1213
If that's what is agreed on, I have some time to implement the changes.

[2021-07-08 11:56] zklaus commented on #1213
That would be great, @sloosvel! For the test, you can have a look at the similar test that @Peter9192 linked above https://github.com/ESMValGroup/ESMValCore/issues/1213#issuecomment-875677347.

To be clear, I think we agree that the multi-model statistics should remove ancillary variables and cell measures, at least when they are conflicting.
Then, perhaps in a second step, we can consider changin

[2021-07-08 12:13] #1219 closed

[2021-07-08 12:37] zklaus commented on #1204
@Peter9192, sounds good. Could you estimate when you have time for it, assign the 2.3.1 or 2.4.0 milestone accordingly, and wrap it up? I'll be happy to do the review.

[2021-07-09 07:53] bouweandela opened #1221 "Move multimodel statistics preprocessor to after spatial/temporal statistics in default preprocessor order"
At the moment, the multi_model_statistics preprocessor function is by default executed before any temporal/spatial statistics preprocessor functions. This is computationally inefficient and possibly less accurate, because it introduces the need for extra regridding/vertical interpolation before the multimodel statistics can be computed. Therefore I propose to move `multi_model_statistics` all the

[2021-07-09 07:54] bouweandela commented on #1213
I created a new issue for changing the default preprocessor order:  #1221

[2021-07-09 07:57] bouweandela commented on #1221
Previous discussion on this topic took place in #1213

[2021-07-09 08:49] bouweandela commented on #948
The @ESMValGroup/tech-reviewers  team decided that the release manager will take on the role of infrastructure maintainer from his/her release until the next release. It would be good to write this down in our documentation (and possibly governance) too.

[2021-07-09 08:50] jvegasbsc commented on #1221
A general consensus at BSC is that you should do as much as you can in the native model grid, so this new default order is great for us.

[2021-07-09 08:51] valeriupredoi commented on #948
woohoo, the meeting I manage to miss (coz of bad planning on me part) is the one that frees me from maintenance shackles :laughing: Surely you guys decided that the release co-manager should help the manager too no?

[2021-07-09 08:54] jvegasbsc commented on #1213
I think we should wait. It is not only that is too big for a patch, it is too big to be merged so soon before any kind of release

[2021-07-09 09:22] bouweandela commented on #1189
I think it would be good to take this up with the iris developers, as our general [strategy is to make generic code available through iris instead of implementing it in ESMValCore](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#design-considerations). Are there any existing issues or discussions in the iris repository?

It may be better **not** to broadcast on load (ev

[2021-07-09 09:32] schlunma commented on #1189
For "true" fx variables (not time-dependent) I think this is by far the safest way to go. Calculating statistics over these variables is non-trivial and dependent on the type of variable and dimension you're aggregating, so I don't think that is something that will be in `iris`.

[2021-07-09 10:17] valeriupredoi commented on #1189
I agree with @bouweandela and @schlunma - most of the cases I heard from @ledm meant fx vars need to be used as masksand then all sorts of temporal statistics are being calculated, after they've been used as masks - btw Lee is a good person to have contribute here, lots of experience with ocean cell measures; also, not to do stuff that could be done in `iris` is also a very good point, they stick

[2021-07-12 14:57] #1159 closed

[2021-07-12 15:07] #1213 closed

[2021-07-12 15:13] zklaus commented on #1221
@bouweandela, would you be ok with targetting 2.4.0 for this?

[2021-07-13 07:30] #989 closed

[2021-07-13 08:58] axel-lauer opened #1222 "Problem with new multi-model statistics and variables on hybrid levels"
Variables on hybrid vertical levels (e.g. clw) have to be converted to pressure or height levels to be able to be processed by some diagnostics and to be able to calculate meaningful multi-model statistics across different models. For this conversion, some models provide an auxiliary coordinate 'p0'. Calculating the multi-model mean over such datasets converted to pressure or height levels fails b

[2021-07-13 09:23] sverhoeven opened #1223 "output of era5 cmorizer recipe run on different years can not be used together in recipe"
I tried to run the `hydrology/recipe_pcrglobwb.yml` on 1990+1991, but failed with
[code]
in [log.txt](https://github.com/eWaterCycle/ewatercycle/files/6806715/log.txt), also see [main_log_debug.txt](https://github.com/eWaterCycle/ewatercycle/files/6806720/main_log_debug.txt)
I used ESMValCore v2.2.0 and ESMValTool v2.2.0

The `OBS6_ERA5_reanaly_1_day_tas_1991-1991.nc` file was generated last year

[2021-07-13 09:39] tomaslovato commented on #1189
Thanks for the tips @valeriupredoi !

Summarizing latest comments from @bouweandela and @schlunma I kind of realize that
there is a consensus in **not broadcasting** "true" `fx` fields (namely from `CMIP6_fx` table) on data load, right?

If so, this part of the code (and some other) has to be modified to remove broadcasting:
https://github.com/ESMValGroup/ESMValCore/blob/197a9a16d9feec3ba3c168eb98

[2021-07-13 10:04] #1018 closed

[2021-07-13 10:43] zklaus commented on #1223
@Peter9192, @bouweandela, could you please have a look at this?

[2021-07-13 10:46] zklaus commented on #1222
Thanks for reporting this issue, @axel-lauer. Is there a recipe in ESMValTool that is impacted by this?

[2021-07-13 12:01] Peter9192 commented on #1223
I can confirm the issue is with `iris.cube.CubeList.concatenate_cube()` not liking that comment.

We discussed whether this note should be added [here](https://github.com/ESMValGroup/ESMValCore/pull/358#pullrequestreview-348975745). We can consider removing the timestamp, but actually I think it's good practice to store that sort of information in the cube metadata. On the other hand, I'd say ESMV

[2021-07-13 12:02] axel-lauer commented on #1222
As far as I know, this issue affects recipes under development only.

[2021-07-13 12:03] zklaus commented on #1222
Ok, in that case I will target 2.4.0 here.

[2021-07-13 12:18] ledm opened #1224 "Minor quality of life improvement suggestion - sort "no input available for years"."
Just a very minor QoL suggestion:

When a dataset is absent, ESMValTool prints out the missing years. It will look something like this:
[code]

Can we please sort the list of years before printing it please? It would make this 1000x more readable.

[2021-07-13 12:56] ledm commented on #1224
Just writing to confirm that the change in this PR sorts the years:

[code]
Difference file, but they're sorted now!

[2021-07-13 14:07] ledm opened #1226 "Link historical-ssp scenarios with different ensemble tags"
Hi,

so I've just discovered (with @valeriupredoi) that UKESM has published linked historical-ssp??? scenarios where the historical and the ssp run have different ensemble numbers.

ie, the two datasets are linked:

[code]
(note  ensemble: **r5i1p1f3** and **r5i1p1f2**.)

So, we should be able to combine them into a single recipe dataset entry:
[code]
Is that possible somehow?

[2021-07-13 14:16] valeriupredoi commented on #1226
yes, see the [doc entry](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/overview.html) :grin:

[2021-07-13 15:11] valeriupredoi opened #1227 "Use mamba instead of conda"
[mamba](https://github.com/mamba-org/mamba) is a fast alternative to `conda`; oftentimes env solving is done factors faster with mamba than with conda, and the results *should* be identical. I am running a systematic comparison `mamba` vs `conda` here so we start using it instead of Madame Conda.

*Operating system*
[code]

*Conda/Mamba versions*

[code]
`mamba` build:
[code]

**ESMValCore Tests**

[2021-07-14 09:21] zklaus commented on #1227
Thanks, @valeriupredoi, this is good information. I wonder though, what the associated action is? What is the criterion for closing this issue?

[2021-07-14 09:29] valeriupredoi commented on #1227
Hang on, still testing, it's not an issue perse, it's a place where I put test results, @bouweandela and meself decided to put mamba through the paces before we start using it proper

[2021-07-14 11:29] jvegasbsc opened #1229 "CircleCI tests fail because curl can not be install"
Tests on CircleCI were failing because we could not install curl, which is needed to report to Codecov.

The reason is explained at https://stackoverflow.com/questions/27273412/cannot-install-packages-inside-docker-ubuntu-image

It is fixed in #1228

[2021-07-14 11:29] #1229 closed

[2021-07-14 13:06] #1224 closed

[2021-07-14 14:59] valeriupredoi commented on #1227
installing `esmvaltool` from conda gets us pretty much the same differences in envs (note the mamba install is MUCH faster)
[code]

One thing I noticed is that when conda (and mamba for the matter) install esmvaltool from conda, the version displayed via `conda list esmvaltool` is 2.1:
[code]

which is dodgy (the actual package installed is 2.2.0 indeed). I looked all over https://anaconda.org/esm

[2021-07-15 10:11] zklaus commented on #1226
Seems this is already in. Closing for now, @ledm, if this does not work for you, please reopen and describe what goes wrong.

[2021-07-15 10:11] #1226 closed

[2021-07-15 10:22] zklaus commented on #1223
I think there are three global attributes that commonly cause this kind of problem:
- `creation_date`
- `history`
- `tracking_id`
- `comment`

Note that this is no coincidence: `history` and `comment` come directly from [the CF conventions](http://cfconventions.org/cf-conventions/cf-conventions.html#description-of-file-contents), while `creation_date` and `tracking_id` come from [CMIP](http://goo.

[2021-07-15 11:01] Peter9192 commented on #1223
That makes a lot of sense to me 👍

[2021-07-15 12:05] valeriupredoi commented on #1227
nevermind my last comment, have no idea why that 2.1 creeped up in me env, did a fresh install and got the right versioning:
[code]

[2021-07-15 14:52] Peter9192 opened #1230 "New regional regrid option fails with float inputs for target grid"
Trying to use the new regional regrid option from #1034 with the following spec

[code]
fails for me with

[code]

Initial discussion in https://github.com/ESMValGroup/ESMValCore/pull/1034

[2021-07-15 14:59] stefsmeets commented on #1230
Reason the decimal conversion is needed:
https://github.com/ESMValGroup/ESMValCore/pull/1034#issuecomment-796650877

[2021-07-15 15:02] stefsmeets commented on #1230
I wonder if this works:

`num = int(decimal.Decimal(stop - start) // Decimal(str(step)))`

instead of:

https://github.com/ESMValGroup/ESMValCore/blob/2a0bb11cb52df3ec4a485a16bf92356e04617b52/esmvalcore/preprocessor/_regrid.py#L257

[2021-07-15 15:09] Peter9192 commented on #1230
seems it does

[2021-07-15 15:13] Peter9192 commented on #1230
Although the resulting grid values are now:

[code]

not sure if that's what we want

[2021-07-15 15:23] zklaus commented on #1230
This might need more discussion to determine what is the desired behavior.

[2021-07-15 15:30] Peter9192 opened #1232 "Running a recipe through the python API fails because of missing `extra_facets_dir`"
[code]

fails with

[code]

Running the same recipe from the command line works fine.

[2021-07-16 09:07] stefsmeets commented on #1230
@zklaus No further discussion is needed, see this comment from @Peter9192: https://github.com/ESMValGroup/ESMValCore/pull/1231#issuecomment-881286124

[2021-07-16 10:38] valeriupredoi commented on #1232
that dir needs to be set in the config file, from the doc:
[code]

[2021-07-16 10:43] zklaus commented on #1232
Yes, so the issue, if I recall correctly, is that the Python API (i.e. the experimental future config API) uses the example config_user.yml as the repository of default values, whereas the current config system has a separate place for default values. It was decided to leave the `extra_facets_dir` out of the example `config_user.yml` so as not to confuse users unnecessarily.

Overall, I think it i

[2021-07-16 11:03] valeriupredoi commented on #1208
it could be a dependency of a dependency, this is a nasty search and rescue operation :grin: I'll have a stab at it now

[2021-07-16 11:12] valeriupredoi commented on #1208
hi @SarahAlidoost I can not reproduce the said behavior with esmvalcore=2.3.0:

[code]

gives me
[code]
on a Debian-based machine:
[code]
I'll try with 2.2.0 see what I gets

[2021-07-16 11:26] valeriupredoi commented on #1208
nope, same (good) stuff for 2.2.0:
[code]

I suspect that what you see might be related to iPython only or Python version, what you have for Python version?

[2021-07-16 13:23] valeriupredoi commented on #1208
we should actually have this in a eg `tests/integration/system_test.py` where we put all these sort of system queries, I can start a test module for this, is there anything else we can think of to add to it? @ESMValGroup/esmvaltool-coreteam

[2021-07-16 14:25] fserva commented on #1136
Hello @bouweandela from what I can see in `/gws/nopw/j04/esmeval/obsdata-v2/Tier3/ERA5/` there is only precipitation.
I do not have access to Mistral, so I guess I will simply download the files in their native format for testing.

[2021-07-16 16:35] valeriupredoi opened #1234 "Codecov doesn't work as expected"
codecov runs once then comments (attaching the graph) for the first commit then keeps reporting the same issue (if one is found), if the issue is fixed and the coverage is actually increased via subsequent commits, it still reports the same first issue and fails to regenerate both the comment with updated graph and not to fail - see https://github.com/ESMValGroup/ESMValCore/pull/1233 - I fixed the

[2021-07-19 07:49] stefsmeets commented on #1232
I proposed this a while back while I was working on the experimental config, because I was worried the two implementations would diverge at some point. In anticipation of a default config file, it can be set here: https://github.com/ESMValGroup/ESMValCore/blob/2a0bb11cb52df3ec4a485a16bf92356e04617b52/esmvalcore/experimental/config/_config_object.py#L239

[2021-07-19 09:04] zklaus commented on #1232
Nice. So should we just duplicate the existing example in a new location and add the new key there? I think this would be sensible, and to be honest I was thinking about collecting all internal configuration files in one place like `esmvalcore/etc` or similar anyway.

But it would also be a somewhat big change with some chance of confusion in the future if we have to maintain two different `config

[2021-07-19 09:31] stefsmeets commented on #1232
In my view it's far simpler to maintain two config files than two implementations. One will be a subset of the other, so you could add a test to ensure that the keys in `config-user.yml` are equivalent to what is in `config-default.yml`. The latter can serve as the `master` in this case. The config validators can be used to ensure that the input is valid.

The idea was that the experimental config

[2021-07-19 09:36] zklaus commented on #1232
Oh, I am absolutely in favour of having the two files. I just want to make sure that everyone who might add/remove/change an option in the future is aware of where that has to happen, and I think there are some questions that need to be addressed like:
- What should be names and locations of the two files? I always thought it would be good to name the example as such, i.e. `config-user.yml.example

[2021-07-19 09:39] stefsmeets commented on #1232
It's also an opportunity to pick up on some 'hidden defaults' set by the CLI: https://github.com/ESMValGroup/ESMValCore/blob/2a0bb11cb52df3ec4a485a16bf92356e04617b52/esmvalcore/_main.py#L307

[2021-07-19 14:07] zklaus opened #1235 "The climate_statistics preprocessor sometimes changes the dtype"
**Describe the bug**
It has been reported that the multi-model statistics can have a problem with inconsistent dtypes (see https://github.com/ESMValGroup/ESMValTool/discussions/2218#discussioncomment-992288 and https://github.com/ESMValGroup/ESMValTool/issues/2198#issuecomment-863908898).

This seems, however, to originate a bit higher up in the processing chain. In this case, the climate_statisti

[2021-07-19 14:15] zklaus opened #1236 "The area_statistics preprocessor sometimes changes the dtype"
**Describe the bug**
It has been reported that the multi-model statistics can have a problem with inconsistent dtypes (see https://github.com/ESMValGroup/ESMValTool/issues/2198#issuecomment-872966389).

This seems, however, to originate a bit higher up in the processing chain. In this case, the ares_statistics preprocessor sometimes changes the dtype of the incoming cube, leading to inconsistent d

[2021-07-19 15:32] valeriupredoi opened #1238 "OBS `Tier1/ISCCP/clisccp_ISCCP_L3_V1.0_*` on esmeval/JASMIN is slightly dodgy according to esmvaltool's CMOR checks"
running `recipe_autoassess_radiation_rms_cfMon_all.yml` gives me this complaint:
[code]
the files are all in `/gws/nopw/j04/esmeval/obsdata-v2/Tier1/ISCCP/clisccp_ISCCP_L3_V1.0_*` and I see they have been updated on April 8 by our OBS expert @remi-kazeroni - could you have a look please, mate :beer:

[2021-07-19 16:23] valeriupredoi commented on #1238
yeah sorry, not cmor-related, I mean I though it is, but even if one uses `ignore` flag it still goes to the fishes :fish:

[2021-07-20 07:56] zklaus commented on #1201
I think all issues raised here are now being addressed in other issues. An overview can be found in https://github.com/ESMValGroup/ESMValTool/discussions/2218. Closing this. If you disagree, please feel free to reopen with a comment explaining the need.

[2021-07-20 07:56] #1201 closed

[2021-07-20 10:07] remi-kazeroni commented on #1238
sorry I guess I removed that label accidentally without noticing it 😬

Nevertheless, I have not added that dataset to Mistral myself and I have never worked with that. @axel-lauer could you please have a look whenever possible? Have you used this dataset successfully in the past?
The data were added on Mistral on October 2019 and the symbolic links (clisccp_ISCCP_L3_V1.0_*) last March. I only tran

[2021-07-20 11:26] zklaus commented on #1223
@Peter9192, would you mind putting a PR together for this?

[2021-07-20 11:51] #1235 closed

[2021-07-20 11:52] #1230 closed

[2021-07-20 13:02] #1236 closed

[2021-07-20 13:46] valeriupredoi commented on #1238
aha cheers @remi-kazeroni - it might me only some of those datasets are dodgy, and we've not found them until re-running that particular recipe :+1: I'll have a closer look

[2021-07-20 14:38] valeriupredoi opened #1242 "`conda_build` test taking in excess of an hour and failing often on Circle"
Conda is capricious again - I'll have a look now what's going on

[2021-07-20 18:19] bouweandela commented on #1208
No, you're not telling me you're no longer running the 2014 Ubuntu @valeriupredoi ? 🤣

Anyway, did you try with the environment.yml file provided in the top post?

[2021-07-21 08:42] valeriupredoi commented on #1208
I had it coming :rofl:

No, good point, had missed that env file, but in that case, the case becomes particular to that setup and can not be generalized to the esmvalcore we distribute, I'll have me a look

[2021-07-21 13:40] zklaus opened #1245 "CMIP3 uses "." as a separator for the time range part of the filename"
**Describe the bug**
CMIP3 doesn't follow the usual approach of separating components of the filename with `_` or `-`, but additionally uses also `.`, particularly for the time range part of the filename. This is no longer detected correctly since the update of the time range regex.

I think we can simply add `.` to the list of allowed characters for the `context` in https://github.com/ESMValGroup

[2021-07-21 14:07] zklaus opened #1246 "Update Jasmin example config in config-user.yml to include native6 project"
**Is your feature request related to a problem? Please describe.**
The Jasmin config does not yet include the `native6` project. This leads to some unexpected error messages.

[2021-07-21 14:10] zklaus commented on #1246
Or perhaps this is because the RAWOBS are not available on Jasmin? @valeriupredoi, what's the situation?

[2021-07-21 14:35] zklaus opened #1247 "`fix_metadata` sometimes only works in serial (at least) for CMIP3"
**Describe the bug**
The `fix_metadata` preprocessor step can hang if executed in parallel on CMIP3 data. This is illustrated in `recipe_bock20jgr.yml`.

[2021-07-21 15:06] valeriupredoi commented on #1246
no RAWOBS on JASMIN indeed, @jvegasbsc had a shy tentative of starting one but I barked at him so badly (no disk space) that the poor fella deleted it. I don't think we can accommodate one, there is really not much room, currently `esmeval` is like this:
[code]
and we should leave plenty of room for upcoming cmorized datasets; to get another group worspace for the same purpose will be virtually im

[2021-07-21 15:11] zklaus commented on #1246
So we use around one quarter of the diskspace and have 3.3 terabytes available still? I think that's a solid case for including at least the native6 datasets, i.e. those that we support natively. After all, this will be more and more of the most interesting ones. For example, I think people will start to get cross if we don't offer ERA5.

Perhaps we should have a separation of the RAWOBS in native

[2021-07-21 15:28] valeriupredoi commented on #1246
am all for it, if you could give me an estimate of the native6 size, we want to get ERA5 (currently have a puny 40 years of `pr` :grin: ) and I suspect there's plenty more on DKRZ -> @remi-kazeroni would be able to tell you; so that'd be three big chunks: one for ERA5, one for upcoming OBS in cmorized format and one for native6, say 1T each?

[2021-07-22 09:30] #1245 closed

[2021-07-22 14:14] thomascrocker opened #1249 "Add percentile stat for time statistics to pre processor"
**Is your feature request related to a problem? Please describe.**
The preprocessor does not currently support the iris percentile aggregator for time based statistics. https://scitools-iris.readthedocs.io/en/stable/generated/api/iris/analysis.html?highlight=percentile#iris.analysis.PERCENTILE

**Would you be able to help out?**
I've produced a PR #1250 that implements this for the climate statist

[2021-07-22 15:19] valeriupredoi commented on #1245
yup, sorry @zklaus am a bit late to the show, I was just worried that if we use `os.path.splitext` (and we do in `_io.py`) that'll be dumb and confuse the extension, but that's fine, I checked that and it's all good :+1:

[2021-07-23 14:31] SarahAlidoost commented on #1208
@valeriupredoi sorry for my late response. I checked this issue with two versions of esmvalcore:

- 2.2.0 has this problem,
- 2.3.0 works fine.

Also, this issue with **esmvalcore 2.2.0** happens on two different machines:

[code]
and
[code]

[2021-07-23 14:47] remi-kazeroni commented on #1246
On Mistral we have 15T in the RAWOBS folder:
[code]
and regarding native6 datasets:
[code]

Mirroring all ERA5 data to Jasmin would require almost all free disk space remaining... Without getting more disk space, we would first need to select what is needed for Jasmin. For info:
[code]
and the [variables](https://docs.esmvaltool.org/en/latest/input.html#supported-datasets)

[2021-07-23 14:47] bouweandela commented on #1223
I'm not sure if adding `comment` is really the way to go here, there can be an endless variety of netcdf attributes that are not equal on all input files. That's why we've designed the [`esmvalcore.preprocessor.concatenate`](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/api/esmvalcore.preprocessor.html#esmvalcore.preprocessor.concatenate) function such that it is able to deal with them

[2021-07-23 14:59] bouweandela opened #1254 "Add link to figures and work directory on index.html"
Hi! I recently used the bot for the first time and needed some help finding the output figures. Is the link to the figures something you could add to the output page? The output page looks really pretty btw.
"The figures are there: https://esmvaltool.cloud.dkrz.de/shared/esmvaltool/esmvalbot-output/pvcf_gmddraft-kr0c7llt/recipe_pv_capacity_factor_20210712_081803/plots/capacity_factor/main/
This re

[2021-07-26 07:24] jvegasbsc commented on #1246
ERA5 is already at jasmin in `/badc/ecmwf-era5`. We do not need the `RAWOBS` for this

[2021-07-26 09:19] valeriupredoi commented on #1246
thanks @jvegasbsc - do we have this written anywhere in the documentation and/or the cmorizer docstring? Doing an e.g. `ncdump -h /badc/ecmwf-era5/data/enda/an_sfc/2020/01/31/ecmwf-era5_enda_an_sfc_202001311500.mem6.2t.nc` shows me the data is slightly not cmorized :grin:

[2021-07-26 09:39] jvegasbsc commented on #1246
Yes, that's why we should configure the `native6` to work with that. I thinl @bouweandela  told me that it should work that way

[2021-07-26 09:41] stefsmeets commented on #1254
It should link the images if they are provided in the provenance. Could this be an issue with the recipe? Did the authors declare the path to the output png as part of the provenance?

[2021-07-26 09:48] bouweandela commented on #1246
It should work if the ERA5 time frequency is hourly or monthly (what does the `mem6` mean in the DRS above?), unless you want to use another native6 dataset that is not ERA5 at the same time (see the now-closed #494).

To be really user-friendly, the era5 variable name (and possibly other facets in the DRS) will need to be automatically added to the recipe, see #1125 for a start on that. Until tha

[2021-07-26 09:51] bouweandela commented on #1246
Note that the ERA5 data on Mistral appears to be far from complete, there are several recipes failing to run because of missing ERA5 data: https://github.com/ESMValGroup/ESMValTool/issues/2198#issuecomment-872966389. @remi-kazeroni Any chance of adding the missing data?

[2021-07-26 09:51] valeriupredoi commented on #1246
no idea, I just grabbed a random file I could find there just to see what's the hap with the data, I am by far the least knowledgeable one amongst us when it comes to ERA5 :grin:

[2021-07-26 09:54] bouweandela commented on #1246
This is of course the point of supporting the data in it's native format (see [fixes](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/cmor/_fixes/native6/era5.py), it is only slightly non-cmor) and like this we avoid having to copy this massive dataset. This file contains `2t`, i.e. what we know as `tas`.

[2021-07-26 10:01] bouweandela commented on #1254
Indeed this is only useful if the provenance is not quite right yet. Or maybe if you would want to download all figures?

[2021-07-26 10:14] bouweandela commented on #1234
Discussion on this issue is now taking place in #1241.

I think the comment is correctly updated https://github.com/ESMValGroup/ESMValCore/pull/1233#issuecomment-881369091, but this didn't happen if the unit tests failed because previously no coverage got uploaded to codecov in that case. Does that make sense?

[2021-07-26 10:17] stefsmeets commented on #1254
Made a small pr with what this could look like. I don't have much time to test/debug it, so feel free to hi-jack in case this is useful, or otherwise close 😁

[2021-07-26 10:23] Emmadd commented on #1254
I think the png path was included in the provenance. @katjaweigel should know for sure

  # Set provenance for output files
   xprov <- list(
     ancestors = list(
       fullpath_filenames[i]
     ),
     authors = list(
       "cionni_irene"
     ),
     projects = list("crescendo"),
     caption = title,
     statistics = list("other"),
     realms = list("atmos"),
     themes = list("phys"),

[2021-07-26 10:30] bouweandela commented on #1254
Ok, if that is the problem, this is partly my fault. Recording provenance for figures like this never quite worked as it should and we intend to completely drop support for it (it is already buggy). The correct way to do it would be
[code]

[2021-07-26 10:42] valeriupredoi commented on #1234
could be, I made the upload happen `always` so it should be fine now (hopefully?)

[2021-07-26 11:37] katjaweigel commented on #1254
Ok, good to know, then I'll change that in the PR #2153 (when Mistral is working again)

[2021-07-26 13:14] bouweandela commented on #1234
Yes, I think so.

[2021-07-26 13:25] #1254 closed

[2021-07-26 14:07] bouweandela commented on #1136
Apparently there is not enough space on the group workspace on Jasmin, but there is ERA5 data available in another directory, see here for some recent discussion on the topic: https://github.com/ESMValGroup/ESMValCore/issues/1246.

[2021-07-26 14:17] fserva commented on #1136
Ok, I see.

In the Jasmin disks there are surface variables and some model level variables under `/badc/ecmwf-era5/data/oper/an_ml/`, but the geopotential there is the surface orography `short z(time, latitude, longitude)`. If I well recall it is possible to derive geopotential on pressure levels but that is maybe be too complex.

I have some hourly data for geopotential on pressure levels and I a

[2021-07-26 14:18] bouweandela commented on #1232
Sure, that's fine.

They should probably be placed in [`esmvalcore/_config`](https://github.com/ESMValGroup/ESMValCore/tree/main/esmvalcore/_config) (at some point to be moved to `esmvalcore/config` when we integrate the experimental module into the main esmvalcore). We left config-developer.yml and config-user.yml one level up because we thought they might be easier to find there for users, but m

[2021-07-26 14:43] bouweandela commented on #1139
You can't use the lock file when the dependencies change, you'll need to regenerate it then. The nightly tests are also meant as a way to spot problems with updated versions of packages early, if you run them from an environment lock file there may not be much added value left.

[2021-07-27 08:50] axel-lauer commented on #1238
Some of the variables provided by this obs4mips dataset are used by recipe_autoassess_radiation_rms_cfMon_all.yml. Variable clisccp, however, is currently not used. If I remember correctly, this variable was used in ESMValTool v1.0 but the diagnostics have not been ported completely. So my guess is that this is why this issue has not been found before. As I think it would be good to keep this vari

[2021-07-27 10:09] zklaus commented on #1136
It may also be possible to augment the data available on jasmin by asking the right people there. For that, it will be very useful to consult [the ERA5 documentation](https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation) to specify exactly which data one is interested in.

[2021-07-27 10:49] bouweandela opened #1257 "Hard to understand error about missing CMOR tables when a directory cordex is present in current working directory"
If there is a directory called `cordex` in the current working directory, the `esmvaltool` command crashes with the following stack trace:
[code]

Steps to reproduce:
[code]

This problem looks the same as #316 but then for a directory called `cordex` instead of `cmip5`.

[2021-07-28 13:18] bouweandela commented on #1227
I tried installing ESMValTool on Mistral with mamba instead of conda and ran into problems. When I install with conda things work just fine.

When I try to run a recipe, the tool crashes with:
[code]

Versions:
mamba 0.7.3
conda 4.10.3

It looks like the problem is that mamba installs the `pillow` package from the defaults channel instead of from conda-forge. The mamba installed `pillow` package t

[2021-07-28 13:21] bouweandela commented on #1227
It looks like all required packages are available on conda-forge, but we would need some way to tell mamba to not install anything from the defaults channel.

[2021-07-28 13:24] valeriupredoi commented on #1227
right on Bouwe, but @zklaus reported the same issue with what I believe to be a non-mamba installation (and it might be something Mistral-specific), can you maybe try the same install process but with conda (not rely on an older installation and say that works fine)

[2021-07-28 13:26] valeriupredoi commented on #1227
we should be able to do that by removing the `defaults` channel from the condarc or mambarc (if there's one?) conf file

[2021-07-28 16:02] bouweandela commented on #1227
That is exactly what I did above. It is a development installation, so from the environment.yml. suprisingly conda seems to pick up the older esmvalcore (v2.3.0 instead of v2.3.1). Maybe that needs to be pinned?

[2021-07-28 16:15] valeriupredoi commented on #1227
ah fair do's, OK - I'll test too, can you pls post the exact commands you used to be able to reproduce the behavior? About 2.3.0 - there is absolutely no reason why conda should pick that up unless you using Python 3.6 - I checked that with the GA tests https://github.com/ESMValGroup/ESMValTool/actions/runs/1073166287 - we'll pin anywa, pinning is always a good idea even if only for restricting co

[2021-07-28 17:36] hahsan1 opened #1258 "Installing an older version of ESMValCore (v2.1.0)"
I wasn't able to find instructions for installing an older version of ESMValCore. I would like to install v2.1.0.

We tried running `conda install -c esmvalgroup -c conda-forge esmvalcore==2.1.0`, but that didn't seem to work, since `conda list` still shows the current installed version of esmvalcore (v2.2.0)

[2021-07-28 19:04] bouweandela commented on #1227
Clone repo:
[code]
Mamba install:
[code]
Conda install:
[code]

[2021-07-29 09:32] zklaus commented on #1227
Three comments:
First, the glibc thing really is a bit mistral specific in that it has an ancient version of OS and with it glibc, see [this DKRZ blog post](https://blog.dkrz.de/glibc-and-the-container-based-workaround.html).
Second, perhaps you should update your mamba, see [this blog post](https://wolfv.medium.com/mamba-0-15-0-475d1dca0418), particularly the comment on channel priorities. Mamba

[2021-07-29 09:34] zklaus commented on #1258
Thanks for your interest, @hahsan1!  Could you tell us what went wrong? Was there any output from the `conda install` command?

[2021-07-29 11:54] valeriupredoi commented on #1227
hey @bouweandela I tried exactly your workflow (on my laptop, I'll try on JASMIN too but I don't expect any change) and all goes fone for me:
[code]
and `esmvaltool run` works fine. Can you please update your `mamba` and try again? As @zklaus mentioned, your mamba's old, buddy :grin:

[2021-07-29 11:59] valeriupredoi commented on #1258
hello @hahsan1 cheers for opening an issue with us! Here's what worked for me:
[code]
it#s always advisable to first create an empty environment where you will be installing the desired package from conda. You nay also want to try mamba instead of conda, but before doing that, as @zklaus pointed out, let's first try understand what went wrong with your installation -> could you please post the out

[2021-07-29 13:06] valeriupredoi commented on #1227
OK I visited my beloved Jasmin and there I had a mamba=0.13 so I used it instead of upgrading it, and lo and behold pillow got installed from defaults, bit even so, the installation and run of esmvaltool went fine (I ran examples/recipe_python.yml no problemo); then I updated mamba to 0.15.2 and repeated the process, this time around just fftw gets installed from defaults/main, pillow is nice and

[2021-07-30 10:28] egalytska commented on #1227
Dear all,
Unfortunatelly I ran into the same issue in Mistral. Trying to install ESMValTool (from scratch) with conda would give me weird message "/lib64/libc.so.6: version `GLIBC_2.15' not found (required by /.../python)".
But mamba helped. Below I post in details what I encountered.

[code]

To install ESMValTool I follow instructions from [here](https://docs.esmvaltool.org/en/latest/quickstart/

[2021-07-30 11:20] valeriupredoi commented on #1227
@egalytska cheers for the heads up!

no problem there, cond tries different strategies to solve the environment (all slow, mind you) - the first one is a more restrictive and most of the times fails, then it tries another one that's a bit more inclusive, and that usually leads to the env being solved

About mamba being old, you can try installing it with `conda install -c conda-forge mamba==0.15`

[2021-07-30 11:58] zklaus commented on #1227
Well, GLIBC is so fundamental, that updating it means moving to the next generation of the operating system. This will simply not happen on mistral, which has been installed in 2015 and will be replaced by the new BullSequana based system, which in turn is supposed to become available mid-2021, i.e. now(ish). See [the press release](https://www.dkrz.de/de/kommunikation/aktuelles/news-dokumente/de-

[2021-07-30 12:01] zklaus commented on #1227
Well, GLIBC is so fundamental, that updating it means moving to the next generation of the operating system. This will simply not happen on mistral, which has been installed in 2015 and will be replaced by the new BullSequana based system, which in turn is supposed to become available mid-2021, i.e. now(ish). See [the press release](https://www.dkrz.de/de/kommunikation/aktuelles/news-dokumente/de-

[2021-07-30 13:20] remi-kazeroni commented on #1227
We have already encountered that issue with different software used in our group on Mistral. As @zklaus pointed out, there is no chance to get such libraries updated a few months before Mistral will be decommisioned (see [schedule](https://doc.dkrz.de/doc/levante/index.html)). We have tried to ask unsuccessfully in the past.

Does it mean that from now on we won't be able to install ESMValTool on

[2021-07-30 13:21] valeriupredoi commented on #1227
perfectly fine, in fact encouraged, since updating a base env takes much shorter than creating the full blown env from scratch :+1:

[2021-07-30 13:22] #1199 closed

[2021-07-30 13:32] #927 closed

[2021-07-30 13:33] #1242 closed

[2021-07-30 13:44] bouweandela commented on #1227
@remi-kazeroni @valeriupredoi This may result in problems with solving the environment. At the moment, the recommended installation procedure is to first create an environment with just Python in it and then update that with the environment.yml file, see https://docs.esmvaltool.org/en/latest/quickstart/installation.html#install-from-source. That may change of course, as we would like switch to rec

[2021-07-30 13:48] bouweandela commented on #1227
The point is that packages installed from conda should not try to use system libraries, but the files that are shipped with the conda compilers. However, we are installing the compilers from conda forge, so if a package then comes from another channel, it will not have been compiled against these libraries and fall back on system libraries.

For me, the problem with the glibc library on mistral do

[2021-07-30 13:59] valeriupredoi commented on #1227
not when you want to install ESMValCore locally with `pip` in development mode; the alternative is to install Core as a dependency of Tool (from conda-forge) at Tool install point then go to your esmvalcore dir and run a `pip install -e .[develop]` - that will supersede the conda package install from `site-packages` but this is a dirty installation procedure and may result in mixed paths for libra

[2021-07-30 14:00] bouweandela commented on #1234
It's still not working if the tests fail, I found more problems with uploading test coverage for failed tests:
1) curl doesn't get installed because that step is not skipped. This is easily solved by adding a `when: always` to that step too
2) because we run two pytest commands, the second pytest command will not be executed if there is a problem with the first one, so this will lead to a dramatic

[2021-07-30 14:03] valeriupredoi commented on #1227
also note that I experienced issues with `mamba` doing this (create Core env + install Core + update env for Tool + install Tool); but `conda` has no issues doing that. In fact many CI tests use `conda update` as a main call, rarely they `conda create` any bulky environments

[2021-07-30 14:03] bouweandela commented on #1227
Except when the installing core creates an environment that conda is unable to update for the tool installation, as has happened so often in the past with conda.

[2021-07-30 14:06] valeriupredoi commented on #1227
indeed, this was endemic in the past, but more recently all is good with this eg see Remi's attempt too

[2021-07-30 14:15] remi-kazeroni commented on #1227
Yes this is exactly what I did: installing the Tool and then the Core in dev mode once the conda environment was solved (created from the Core and updated with the Tool).

[2021-07-30 14:16] valeriupredoi commented on #1227
Sounds good, Bouwe, I bet you my boots it'll be okay. Here's the question though - I thought the base Python in any conda env (including `base`) needs the system GLIBC no? As @zklaus mentions, newer conda's struggle on CentOS's (see https://github.com/conda/conda/issues/10657 ) and 1. the system GLIBC gets too old and is not recommended to upgrade it and 2. Anaconda does supply a GLIBC package but

[2021-07-30 14:19] valeriupredoi commented on #1234
agreed! or rerun if it's some fluke error during the tests run. Shall we bin this then?

[2021-07-30 14:26] remi-kazeroni commented on #1227
I also wanted to bring that up. It may need a separate issue but the link above says:

**_How do you define commercial usage?_**

_We clarified our definition of commercial usage in our Terms of Service in an update on Sept. 30, 2020. The new language states that use by individual hobbyists, students, universities, non-profit organizations, or businesses with less than 200 employees is allowed, an

[2021-07-30 14:38] remi-kazeroni opened #1260 "ESMValTool version number displayed"
**Describe the bug**
Not critical but when trying the latest release of the ESMValTool, I noticed that the `main_log.txt` says that:
`
INFO    [16090] Starting the Earth System Model Evaluation Tool v2.3.1 at time: 2021-07-30 08:55:47 UTC
`
Shouldn't it be v2.3.0 instead? I guess we're seeing this difference because of the different version numbers for the Core and Tool. Would it make sense to rep

[2021-07-30 14:42] zklaus commented on #1227
That conda/conda issue really is a red herring. That guy is asking how to run the current, 2021 conda on a RHEL 5.4 server. That was released in 2011. And he also want's to do this on the beta. Everything from today will struggle there.

In general you are right, but glibc really is special. From [their website](https://www.gnu.org/software/libc/)

In other words, it is tied so intimately to the k

[2021-07-30 14:46] valeriupredoi commented on #1227
oh an OS from 2011 - worse than me and my Ubuntu 14.04 :rofl:

[2021-07-30 17:39] hahsan1 commented on #1258
Thank you @valeriupredoi we were able to install the specific version of esmvalcore after deleting and then making a new conda version.

However, my colleague @hsuchyta was not able to install esmvaltool v2.1.1. We tried `conda create --name esmvaltool -c esmvalgroup -c conda-forge esmvaltool==2.1.1` but he was having some issues. So he will make a post on the ESMValTool page to explain that in mo

[2021-07-30 17:39] #1258 closed

[2021-07-31 09:06] bouweandela commented on #760
This is now available: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/develop/preprocessor_function.html

[2021-07-31 09:06] #760 closed

[2021-07-31 09:30] #662 closed

[2021-07-31 09:40] bouweandela commented on #57
We're doing synda in favor of esgf-pyclient in #1217

[2021-07-31 09:40] #57 closed

[2021-07-31 09:41] bouweandela commented on #71
We're dropping synda in favor of esgf-pyclient in #1217

[2021-07-31 09:41] #71 closed

[2021-07-31 09:50] #130 closed

[2021-08-02 10:56] bouweandela commented on #1260
The ESMValCore package can also be used without ESMValTool, so just replacing like this would not work. A nicer solution would be to print both versions, as the `esmvaltool version` command does:
[code]

[2021-08-03 07:43] egalytska commented on #1227
Dear @valeriupredoi, thanks for explaining.

Btw. It did not work =/  Mamba stayed the same 0.7.3

And here comes the worst part: seems that I am still not over GLIBC issue. Despite ESMValTool and Core were installed successfully, I receive similar error while trying to run a recipe.
[code]
Do you have any idea how to overcome it?

[2021-08-03 09:29] jvegasbsc commented on #1260
I can do it

[2021-08-03 10:01] #281 closed

[2021-08-03 10:40] remi-kazeroni commented on #1227
Using `conda install -c conda-forge mamba==0.15` from the base environment on a Mistral login node worked fine for me:
[code]
@egalytska which version of conda are you using? It can be updated with: `conda update --name base conda`

Good to hear. To summarize, here's how I installed the ESMValTool v2.3 on Mistral (both Core and Tool in developer mode):
[code]
This installation finished in about 10

[2021-08-03 10:52] bouweandela commented on #1227
@remi-kazeroni Could you try with `conda create --name esmvaltool 'python=3.9' -c conda-forge` instead of `conda create --name esmvaltool 'python=3.9'`?

[2021-08-03 12:47] remi-kazeroni commented on #1227
Good point, I could solve the environment in 40 minutes on Mistral by doing:
[code]
Would it make sense to change our [instructions ](https://github.com/ESMValGroup/ESMValTool/blob/main/doc/sphinx/source/quickstart/installation.rst)to add `conda-forge`

[2021-08-03 13:44] jvegasbsc commented on #1246
@lpcaron needs this for a paper's revision, so I am starting to work on it. I will keep you updated

[2021-08-05 10:25] egalytska commented on #1227
This worked for me as well.

@remi-kazeroni, it is 4.10.3. But for now I leave mamba as is.

[2021-08-05 10:53] SarahAlidoost commented on #1208
@bouweandela and @valeriupredoi Here is an update:

**Preparation:**
1- install esmvalcore 2.3.1 via conda `create --name esmvalcore231 -c esmvalgroup -c conda-forge esmvalcore`.
This command creates the conda environment `esmvalcore231`. let's look at some of the packages:
[code]
2- To get some information about CPU affinity, activate the `esmvalcore231` and in a python console run:
[code]
The pr

[2021-08-05 13:40] bouweandela commented on #1208
Maybe you could contact the ESMF developers to ask about the issue here? https://earthsystemmodeling.org/support/

I tried installing with the following command:
[code]
that got me these versions of esmf:
[code]
and those also seem to work fine:
[code]

It looks like it is only esmf 8.1.0 that is affected, so maybe we could pin esmf like this?

[2021-08-05 16:15] fserva commented on #1136
I made some test with https://github.com/ESMValGroup/ESMValCore/issues/1136#issuecomment-850216172

The run finished correctly, even if no file was produced (I guess it is normal). There were some warnings
[code]
related to the fact that units of data downloaded from the CDS are hPa. Maybe they can be changed manually in advance, or there is a better procedure?

[2021-08-06 07:07] bouweandela opened #1265 "`area_statistics` preprocessor may silently use cell measures for the wrong grid"
If the user does not specify whether they want `areacella` or `areacello` in the recipe, i.e. defines the preprocessor like this:
[code]
instead of
[code]
the `area_statistics` preprocessor will add both cell measures to the variable and use whatever file is available. This may result in using atmospheric cell measures to compute area statistics for ocean variables and vice versa. If the model use

[2021-08-06 07:22] schlunma commented on #1265
fx variables are only added as `cell_measures` when they are broadcastable to the original file, see

https://github.com/ESMValGroup/ESMValCore/blob/362eec95d8df58fcb47c9ddc649bfb4ab91045c7/esmvalcore/preprocessor/_ancillary_vars.py#L89-L95

That means we only run into troubles when the the atmospheric and ocean grids differ but have the same shape (by chance). I don't know how likely that is. Che

[2021-08-06 07:40] bouweandela commented on #1136
Files are produced, but deleted after a successful run. You can set `remove_preproc_dir: false` if you want to keep the preprocessed files.

The warning is not about the units, but it tells you that some pressure levels that are mandatory for the zg coordinate in the CMOR table are not present, this is only to be expected because this is not CMIP data.

[2021-08-06 14:05] fserva commented on #1136
Thanks Bouwe, your tip worked and the file is produced; levels are converted to Pa as for CMOR standard.
I was trying to obtain the daily means, so I took some definition from the cmorizer:
[code]
however this did not work (output is hourly). Not sure if the problem is `mip: day`, using `mip: E1hr` (table for hourly extra variables) failed.

[2021-08-06 14:16] bouweandela commented on #1136
It probably doesn't matter too much what mip you choose, but to signify your intent I think `mip: E1hr` would make most sense, because the variable specifies the input data. What was the error message?

[2021-08-06 14:29] fserva commented on #1136
Yes, I also think so. It's iris complaining about the coordinates (not new likely)...
[code]

[2021-08-06 14:47] remi-kazeroni opened #1266 "Add paths to auxiliary data directories on Mistral and Jasmin to `config_user.yml`"
**Is your feature request related to a problem? Please describe.**
A shared directory where auxiliary data are stored (shape files, ...) is available on Mistral. Its working is similar to the OBS and RAWOBS directories. This shared directory is also mirrored to Jasmin.
It would be great if the developers use these directories when adding new auxiliary data so that we avoid duplication and missing

[2021-08-06 14:49] Peter9192 opened #1267 "Run preprocessor for multiple regions"
I know at least four use cases* where it would be useful to be able to run the same preprocessing chain for multiple regions. Of course I could run the recipe multiple times, but that feels rather convoluted and moreover, I would like to be able to combine the results in the diagnostic script. Therefore it would be really nice if I could do something like

[code]

and get the mean field for each o

[2021-08-06 14:55] bouweandela commented on #1136
Ok, yes, I forgot about that. This is the problem from the top post and it can indeed be solved by picking a table that does contain `zg` variable with the right coordinates https://github.com/ESMValGroup/ESMValCore/issues/1136#issuecomment-850216172.

[2021-08-06 15:00] fserva commented on #1136
So the `mip: day` is a good choice in this context. For my needs the problem is then solved, I'll let you close the issue in case. Thanks all for the tips!

[2021-08-06 16:40] #1136 closed

[2021-08-09 14:18] remi-kazeroni opened #1505 "Download instructions for the MSWEP data"
**Describe the bug**
The MSWEP data needed for the recipe `hydrology/recipe_hydro_forcing.yml` are a bit difficult to download. The current instructions can be found in the [ESMValCore documentation](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/develop/fixing_data.html#mswep) but the link there ([http://www.gloh2o.org/mswep/](http://www.gloh2o.org/mswep/)) only gives access to the lat

[2021-08-09 14:43] Peter9192 commented on #1267
Aha, it seems that my MWE actually works (it crashed before because it was quite inefficient, not because it wasn't valid). Still won't work for extract_region then, but this is good enough for me as of now.

[2021-08-09 14:43] #1267 closed

[2021-08-09 15:05] SarahAlidoost commented on #1208
Thanks, right, 8.0.1 works fine too.

[2021-08-12 09:20] thomascrocker commented on #333
Just to add a +1 to this issue from me. One of the diagnostics I have been asked to implement in ESMValTool for the LaunchPAD project https://www.geog.ox.ac.uk/news/2019/0708-launchPAD.html requires geopotential height (zg) data from the zg27 CMIP6 table. It looks like #1099 should address the problem once it is merged.

[2021-08-12 13:46] thomascrocker opened #1270 "Dataset problem: Bug with regridding and FGOALS-f3-L"
I've developed a diagnostic looking at SST biases from CMIP6 models. It works fine for all the models I've used it with except one. FGOALS-f3-L.
When plotting, there is a strip of blank data either side of the meridian. This isn't present for any of the other models.
![image](https://user-images.githubusercontent.com/17336982/129206183-3b058b33-fa66-445b-bb85-fa040edf6b6c.png)

The recipe uses the

[2021-08-12 16:37] thomascrocker commented on #1270
Tagging @ellendyer and @rjames-at-rwjames for future reference

[2021-08-13 10:22] ledm opened #1271 "ESMValTool can be wasteful with computational resources - so we should link to previous runs"
I'm working on a large and expensive recipe right now. This recipe make a an ensemble of the SST for every model, every ensemble member every scenarioMIP analysis.

It's great to have ESMValTool to do this as it's very little work from me to get this done. However, it's a ton of work for ESMValTool to perform these calculations. In the most recent run, I got through about a quarter of the recipe i

[2021-08-16 16:42] valeriupredoi opened #1272 "Pin `numpy>=1.20`: `numpy=1.20` has a change in its C API that may trigger a backwards incompatibility error"
I'm back, with technical gubbins!

[Error seen and asked about here](https://stackoverflow.com/questions/66060487/valueerror-numpy-ndarray-size-changed-may-indicate-binary-incompatibility-exp) - third answer is the relevant one - this may bite us more frequently than we think since e.g Core may be installed from conda and built with a `numpy<1.20` and then when one installs a new dependency in the

[2021-08-18 13:25] pp-mo commented on #1180
N.B. @senesis @bouweandela @zklaus we just cut the Iris 3.1 release candidate.

The https://github.com/SciTools/iris/pull/4176 solution is in there ...
https://scitools-iris.readthedocs.io/en/v3.1.0rc0/whatsnew/3.1.html#performance-enhancements

So please check out : This should appear in Iris 3.1, which will will finalise in a couple of weeks' time.

[2021-08-19 08:11] bouweandela commented on #1272
Maybe if people would want to use other libraries in the same environment as esmvaltool that do not support numpy 1.20?

The alternative solution in the stack overflow answer might be a bit less restrictive:

But if you think that doesn't work for us, I would be fine with just using the latest numpy versions.

[2021-08-19 15:01] valeriupredoi commented on #1272
good point, Bouwe! My train of thoughts would be let's first go with the pin and see if there are any requests for use of `numpy<1.20` (bet you my boots there aren't since we've been building/installing with it for a few months now, and nobody said nothing) - plus, a pin always helps with a faster env solving :grin:

[2021-08-20 11:14] valeriupredoi opened #1279 "`conda_install` test on Circle CI is failing often running out of available machine memory"
[bummer example](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/5450/workflows/70af57ee-da6a-4ddc-9cb9-b85c51439234/jobs/26109) - am looking into it now

[2021-08-20 14:51] valeriupredoi opened #1282 "Optional flag that if on stops the run if any of data files not found"
Was chatting to @ledm and he raised this point, with the following used case: if a certain fx file needed for a preprocessor (area, volume etc) is not found, the user should be able to turn a button on and have the run exit without continuing (in this case, the code goes on since it may be able to use the NE masks instead of the fx data). We do have the code exit if there is Missing Data, but if o

[2021-08-20 15:27] valeriupredoi opened #1283 "Dodgy process makes the memory used by running tests go up the roof"
`pytest -n 2 -m "not installation and not sequential"` may take up more than 4GB as we can see from *some* failed CI tests eg [this one](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/5481/workflows/c652d3f7-3d2a-4afb-8961-3a8fcda97444/jobs/26270) - there is something dodgy that we have to catch...

[2021-08-23 10:55] #1223 closed

[2021-08-23 11:47] #1279 closed

[2021-08-23 16:33] valeriupredoi opened #1285 "Case to fully replace CircleCI tests with Github Actions (and retire CircleCI tests)"
This is a very tentative issue - I am not saying we should do that, but I reckon there are a few solid reasons why we should:

- Circle doesn't offer support for multiple OS's and Python versions (unless you pay)
- Circle has a max resident memory per process per machine of 4GB vs 8GB for GA
- I have noticed a **lot** more segfaults (our famous unexplained segfaluts even for single-thread runs) on

[2021-08-23 18:12] jvegasbsc commented on #1285
I prefer to have everything in one platform if possible. Redundancy is nice, but a simplified workflow will be easier to maintain and more of us will be able to fix whatever is needed.

[2021-08-24 07:30] bouweandela commented on #1285
My take on this would be don't fix it if it ain't broken, there is enough broken stuff that needs fixing. I agree that it's kind of nice to have everything in once place though.

Some of the reasons for changing listed above are not quite true:
- Indeed CircleCI doesn't offer free support for MacOS and Windows, but you can run any Docker container on it, something I believe you cannot do on GitHub

[2021-08-24 08:54] bouweandela commented on #1271
@ledm All very good points, but please note that some of these problems are fairly easy to avoid by making better use of existing tools:
- SSH disconnect: if you use a tool like [screen](https://linuxize.com/post/how-to-use-linux-screen/) to do your interactive work, a broken SSH connection will not interrupt your running recipe
- the job ended after 24 hours: Are you [using slurm](https://help.ja

[2021-08-24 10:47] bouweandela opened #1286 "Dataset problem: CMIP6 Earth3 historical r3i1p1f1 appears to have the wrong calendar and a rounded latitude coordinate"
**Describe the dataset issue**
A clear and concise description of what the problem with the data is is. Here are some guidelines that you can use
right out the box by filling in the blanks (note that, if needed we will assist you with writing a fix; also note that
if the problem is with a CMIP6 dataset, we will alert the ESGF and/or the model developers for them to fix the problem
in the long run;

[2021-08-24 11:38] valeriupredoi commented on #1285
good points all round, gents! I propose we discuss this at the (hopefully) upcoming workshop on ESMVal testing that @zklaus was proposing and I was supporting; in fact, I am going to create a label for this and start labelling issues relevant to that wkshop :hammer_and_wrench:

[2021-08-24 11:48] valeriupredoi commented on #1012
here's a handy set of instructions, do we want these in the docs here or we just close and forget about it? https://github.com/ESMValGroup/ESMValTool/issues/2265

[2021-08-24 11:49] valeriupredoi commented on #963
we have exercised this, so am closing it :+1:

[2021-08-24 11:49] #963 closed

[2021-08-24 11:51] valeriupredoi commented on #763
we're done past this, pip is at 21 now and all is fine and dandy

[2021-08-24 11:51] #763 closed

[2021-08-24 11:52] valeriupredoi commented on #650
dis obsolete

[2021-08-24 11:52] #650 closed

[2021-08-24 11:55] valeriupredoi commented on #354
resurrecting this - do we want to support the package(s) on NixOS - @ESMValGroup/technical-lead-development-team

[2021-08-24 11:58] valeriupredoi commented on #31
@bouweandela did you not mention that Intake will be retired or am I being goldfish-memoried again?

[2021-08-24 12:16] bouweandela opened #1287 "Should we list all found input files?"
When running a recipe with a relatively large number of models such as [recipe_impact.yml](https://github.com/ESMValGroup/ESMValTool/blob/1fff5e4178f0c7ebc8d3fc2e224a027741ee0c1b/esmvaltool/recipes/recipe_impact.yml), the number of log messages printed to the screen becomes very large (over 25000 lines of log messages in this case). Do we really want to print the names of all input files to the sc

[2021-08-24 12:29] bouweandela commented on #31
I believe @zklaus mentioned something like that, but if I remember correctly, that applied only to a very specific use case. If I have the time, I plan to finish #1218 so `esmvaltool` supports it.

[2021-08-24 12:34] Peter9192 commented on #1287
I'd prefer less noise 👍

[2021-08-24 13:32] valeriupredoi commented on #1287
good question - who reads that? It'd be good for debugging though, but only for debugging, I'd still list them if eg the number of models is <10 - this comes in handy when people are new to the tool and just want to see what it's doing and how it's doing without running in debug mode

[2021-08-24 13:41] jvegasbsc commented on #1287
Is not only a matter of the number of models. I have been using ERA5 native on Jasmin, and some variables are stored in hourly files. The log becomes so large that is nearly impossible to browse

[2021-08-24 13:44] valeriupredoi commented on #1287
very good point! Even the daily data is like the end credits from Avatar

[2021-08-24 13:58] valeriupredoi commented on #31
awesome, cheers, man! Lemme know if you need any help with that!

[2021-08-24 14:52] thomascrocker opened #1288 "Dataset problem: Coordinate issue with FGOALS-g3 mrsos"
**Describe the dataset issue**
The mrsos data for FGOALS-g3 has incorrect bounds information on it's latitude coordinate. The bounds are clearly wrong (points array looks OK), and causes iris to complain that the coord is not monotonic, this causes ESMValTool to stop when it tries to load the data.

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed

[2021-08-24 14:56] thomascrocker commented on #1288
Tagging, @ellendyer @rjames-at-rwjames

Closing this will allow use of FGOALS-g3 in the TCI diagnostic.

[2021-08-24 18:06] malininae commented on #1287
Just a piece of mind, for AR6 figures, I used these log files and the provided there information on all the input files to create the requested by IPCC metadata files, and I found it extra handy, in particular on Jasmin, where the versions are noted a bit odd and provenance is not of a big help. That being said, it's a very unique task, but answering the question from @valeriupredoi , I read and a

[2021-08-25 08:06] bouweandela commented on #1286
Another problem in the same dataset is that the latitude coordinate looks like it has been rounded down to float32 precision:
[code]
[code]
[code]
[code]

[2021-08-25 08:48] bouweandela commented on #1287
The proposal here would be to change the log level of these messages from INFO to DEBUG, so the tool would still save the filenames of all the input files in the file run/main_log_debug.txt, but no longer display them on the screen or save them in run/main_log.txt.

Actually, the provenance is much more suitable for finding out which files were used to create which figure, because it is saved per

[2021-08-25 09:27] bouweandela opened #1291 "Dataset problem: MPI-ESM1-2-HR r2i1p1f1 latitude coordinate differs between historical and ssp585 experiments"
**Describe the dataset issue**
MPI-ESM1-2-HR r2i1p1f1 latitude coordinate differs between historical and ssp585 experiments

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not
supporting custom-made datasets that present problems, it is your resposability to fix those problems):
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full data

[2021-08-25 11:14] valeriupredoi commented on #1286
@zklaus I think this really needs to be reported since it seems that there was an intentional change of calendar, post-CMORization - they need to explain that - @bouweandela if you could reopen the issue after it's been closed automatically by the associated PR merge, that'd be grand (please ignore my question on the PR, the answer's here, or the lack of it, that is) :beer:

[2021-08-25 11:25] valeriupredoi commented on #1287
yesh, I likes that! Or, we can write a separate log file with only the files used from the data finder stdout?

[2021-08-25 11:58] #1291 closed

[2021-08-25 12:06] jvegasbsc commented on #1287
No more files with duplicated info, please! The output structure is complex enough to leave new users guessing already.

The helper tool for the provenance is a good idea, my only doubt if it should be part of ESMValTool or a contribution to the provenance framework (I don't know enough about the technical implementation of the provenance to have an opinion on this)

[2021-08-25 12:18] valeriupredoi commented on #1287
I like me log files, man, have you seen Apollo 13? - log files and socks saved those three astronauts :laughing: No but yeah, I agree, too much stuff for users

[2021-08-25 13:07] bouweandela commented on #1287
This would be a tiny script that makes use of the [`prov`](https://prov.readthedocs.io/en/latest/) library. We could keep it in [esmvaltool/utils](https://github.com/ESMValGroup/ESMValTool/tree/main/esmvaltool/utils)

[2021-08-25 16:19] #1283 closed

[2021-08-26 08:28] bouweandela opened #1294 "Dataset problem: CCSM4 r6i1p1 latitude coordinate differs between historical and rcp85 experiments"
**Describe the dataset issue**
The latitude coordinate differs for CCSM4 r6i1p1 between historical and rcp85 experiments for variable pr, preventing concatenation. There is a fix present that rounds all coordinates for several other variables, but not for pr. In #105 this fix was changed from rounding just the latitude coordinate to rounding any coordinate. @schlunma Do you remember why you change

[2021-08-26 15:46] #1294 closed, assigned to zklaus, valeriupredoi, schlunma

[2021-08-30 12:47] bouweandela commented on #1287
I have created a pull request to reduce the number of log messages shown on the screen here: #1296, please try it out if you're interested.

[2021-08-30 12:48] zklaus commented on #354
I would say no. This seems very niche and if we wanted to venture more into packaging, we would probably rather start by packaging for ubuntu, redhat, etc. I vote to close.

[2021-08-31 08:42] bouweandela opened #1297 "Provenance is not recorded for fx files used by preprocessors"
**Describe the bug**
The provenance of fx files used by preprocessors that need fx files, e.g. `area_statistics`, is not recorded.

**Please attach**
  - The recipe that you are trying to run, you can find a copy in the `run` directory in the output directory
[recipe_python.yml.txt](https://github.com/ESMValGroup/ESMValCore/files/7082405/recipe_python.yml.txt)
  - The `main_log_debug.txt` file, th

[2021-09-01 08:56] bouweandela opened #1298 "Recipe with many datasets may crash when run in parallel"
When running [recipe_impact.yml](https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/recipes/recipe_impact.yml) which uses 4 variables with 385 datasets, collecting provenance takes half an hour, while running the computations takes 1 hour in parallel and almost 2 hours with `max_parallel_tasks = 1` on my laptop (2 physical cores, 4 virtual). **This has been fixed in #1327, but the next

[2021-09-01 11:04] zklaus commented on #1272
I don't think this is an issue for us, here's why: The problem described in the linked Stackoverflow question happens when the numpy version in the build environment, particularly during the build of something that uses the C API of numpy, is different from the numpy version in the runtime environment.

This should be a complete non-issue for us if we have no c-extensions of our own. We don't, rig

[2021-09-01 11:04] #1272 closed

[2021-09-01 12:43] #1266 closed

[2021-09-02 17:14] schlunma commented on #1170
Anymore opinions on this? I'd like to open a PR for this to get this into v2.4.

[2021-09-03 11:07] valeriupredoi commented on #1170
I reckon best bet would be to target ask @bjlittle and/or @zklaus dude :beer:

[2021-09-06 15:45] bouweandela commented on #1148
I tried this, but iris will interpret this as a second cube and that will break many diagnostics, so this does not look like a viable option:
[code]
prints
[code]

[2021-09-06 15:55] valeriupredoi commented on #1148
unknown provenance - a bit of a misnomer :laughing: - why not store it as an attribute in `cube.metadata()`?