[2020-06-04 12:19] valeriupredoi commented on #660
what does `-r` do?

[2020-06-04 12:36] #658 closed

[2020-06-04 12:56] valeriupredoi commented on #660
OK @bouweandela some progress twoards understanding this:

- `conda env create ...` is actually very quick and only taking 1.5G which is normal; why is `conda create ...` so bulky is puzzling;
- installing just `esmvalcore` fails:
[code]
 -> it would be very useful if you could create an up to date esmvalcore package so we can see if the issues with installing `esmvaltool` stem from conflicts with

[2020-06-04 12:58] valeriupredoi commented on #660
*UPDATE*: `\time conda install -c esmvalgroup -c conda-forge esmvalcore` works (duh!) we need to change the instructions at https://anaconda.org/ESMValGroup/esmvalcore

[2020-06-04 13:09] valeriupredoi commented on #660
OK we really need a new `esmvalcore` package, am hitting this (`proj`-related issue that we solved a month or so ago):
[code]

[2020-06-04 13:12] valeriupredoi commented on #660
@bouweandela can you pls produce a new `esmvalcore` package, ship it to `esmvalgroup`, change the install instructions on the page and let me know when you've done that, please mate? I will test the installation from conda right away that's done, I suspect our conda woes will be fixed by doing this :beer:

[2020-06-04 13:24] bascrezee commented on #126
It looks like I am also running into this issue when adding a new variable [here](https://github.com/ESMValGroup/ESMValCore/pull/664). What is the current status?

[2020-06-04 13:50] bouweandela commented on #126
This could be related to pull request #595 that @jvegasbsc is working on, but the pull request is currently stuck on this https://github.com/ESMValGroup/ESMValCore/pull/595#discussion_r403047646.

[2020-06-04 13:59] bouweandela commented on #660
It installs only the `esmvaltool-r` subpackage, as described in our [installation instructions](https://esmvaltool.readthedocs.io/en/latest/quickstart/installation.html#installation-of-subpackages).

I've done that a few times already, but these instructions get overwritten with the default every time I upload a new package, so I'm not going to do that anymore. I reckon people should just use the

[2020-06-04 15:00] LisaBock opened #665 "Multi-model statistics shift time coordinate"
I tried to calculate the multi-model mean of several models with different time axes. So I chose `span: full` . After that the time axis of the MulitModelMean preproc file has different time points. And it does not fit to the overall time period of the models anymore.
Did I something wrong?
Could anybody help me?
Thanks!

recipe to test:
[code]

[2020-06-05 06:35] mwjury commented on #576
@npgillett @valeriupredoi I ran into the same problem when combining tas Amon historical and ssp585 and here is what I believe to be the main problem which may add to the already identified for NCC  NorESM2-LM:
historical/r1i1p1f1/Amon/tas/gn/v20190815  files:
    lon  [0, 2.5 ... 355, 357.5]
    lon_bnds  [0, 1.25] .... [356.25, 360]
ssp585/r1i1p1f1/Amon/tas/gn/v20191108
    lon  [0, 2.5 ... 355,

[2020-06-05 06:50] mwjury commented on #576
@npgillett A very similar issue, though not happening in the concatenation of the data is happening for
/UA/MCM-UA-1-0/historical/r1i1p1f2/Amon/tas/gn/v20190731/tas_Amon_MCM-UA-1-0_historical_r1i1p1f2_gn_185001-201412.nc
UA/MCM-UA-1-0/ssp585/r1i1p1f2/Amon/tas/gn/v20190731/tas_Amon_MCM-UA-1-0_ssp585_r1i1p1f2_gn_201501-210012.nc

again with bad lon_bnds:
longitude [0, 3.75 ... 352.5, 356.25]
lon_bnd

[2020-06-05 06:52] mwjury commented on #576
@valeriupredoi @zklaus Can you give me an idea how to approach such issues? Since this is a clear error on the data (description) side, should this be reported to the modellers, or, since it's rather minor issues and is clear where the error lies, be fixed in ESMVal?

[2020-06-05 08:40] mwjury opened #666 "Dataset problem: FGOALS-f3-L sftlf"
**Describe the dataset issue**
FGOALS-f3-L sftlf has unit %, values are <= 1.

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not supporting custom-made datasets that present problems, it is your resposability to fix those problems): No
- Project (CMIP5/CMIP6/OBS/obs4mips/etc): CMIP6
- Full dataset description (fill out as many as you kn

[2020-06-05 08:45] mwjury commented on #666
I made a merge request #667 . Though it does not work and I have no idea why.
Could you give me a hand please.

[2020-06-05 10:20] bascrezee commented on #624
I am reopening, since I am having issues. I followed the exact commands by @bouweandela. Installation finishes fine, but it falls back into using the `conda path` to the ESMValCore and not the path to my local copy of the repository of ESMValCore when running ESMValTool.

Here is what happens:

[code]
All good so far. Let's check the paths to be sure.
[code]
All good so far. Now let's run the tool

[2020-06-05 10:36] #653 closed

[2020-06-05 10:39] SarahAlidoost commented on #665
I got almost the same problem while using multi_model_statistics preprocessor.
Here, some values of time points for **raw** and **fix_metadata** files for two models of ACCESS1-0 and CCSM4. It seems that after fixing the metadata, the values of times are changed for ACCESS1-0 whereas, not for CCSM4.

- Raw datasets are:
[code]

[code]

- Fix meta data datasets are:

[code]

[code]

CC: @Peter9192

[2020-06-05 12:03] mattiarighi commented on #70
Closing since not required anymore.

[2020-06-05 12:03] #70 closed

[2020-06-08 06:42] bascrezee commented on #624
Everything works fine today. No clue to what happened (maybe related to using Jupyter-Lab as working environment).

[2020-06-08 06:42] #624 closed

[2020-06-08 07:25] bouweandela commented on #315
@bjoernbroetz Would you be able to do this?

[2020-06-08 07:32] bouweandela commented on #448
Why is #439 needed to solve this issue? Is this a bug in the `master` branch or in an unmerged branch?

[2020-06-08 07:38] bouweandela commented on #93
Setting `max_data_filesize: 100` has been removed since this issue was opened.

[2020-06-08 07:42] bouweandela commented on #480
@zklaus Any news on this? Is this an issue with the data or the regridder?

[2020-06-08 07:57] bouweandela commented on #286
@schlunma Is the data still stored in the way you reported in this issue, or was it a mistake that has now been corrected?

[2020-06-08 09:17] Peter9192 commented on #665
@LisaBock I don't think you can perform multimodel statistics over two timeseries with (completely) different time points, as the statistics are computed for each time point that the datasets have in common. Perhaps you could add the [`regrid_time` preprocessor](https://esmvaltool.readthedocs.io/projects/esmvalcore/en/latest/recipe/preprocessor.html#regrid-time) to align your data first?

@SarahAl

[2020-06-08 09:25] schlunma commented on #286
I recently found another example where the data was structured like this (can't remember which data is was, though), so I guess this is not a mistake.

[2020-06-08 09:27] schlunma commented on #448
This is a bug in the master branch and independent from #439. I will add a PR that fixes this.

[2020-06-08 09:35] bouweandela commented on #662
We could run the tests for the master branch once a day.

[2020-06-08 09:40] valeriupredoi commented on #662
we could use [Github Actions](https://lab.github.com/githubtraining/github-actions:-continuous-integration) to do that since that one supports different OS's and Python versions for free - tyhat can actually allow us to run the MacOS tests too

[2020-06-08 09:44] zklaus commented on #479
It's a problem with the preprocessor. The presence of a `grid_mapping` attribute needs to be detected and dealt with. I can take this on.

[2020-06-08 09:56] zklaus commented on #480
I have only looked at this from the perspective of reporting the issue upstream (which we don't since it is CMIP5).
Looking at the original data, it's a bit odd in that it claims to be on a rotated grid (via using `grid_latitude`), but really is a tripolar grid (as seen from the `lat`/`lon` fields).

More analysis is needed.

[2020-06-08 10:03] valeriupredoi commented on #665
about `full`: the multimodel statistic is computed across the full length of timeseries data for each cube - se we have three timeseries T1, T2 and T3: T1 has time points [1800...2000], T2 has time points [1900...2000] and T3 has time points [1950...2100] - because the statistic can only be computed if at least two members are available the multimodel cube will start at 1900 and will end at 2000;

[2020-06-08 10:18] valeriupredoi commented on #660
[code]
am trying it on Jasmin as well at the mo, will report back :beer:

[2020-06-08 10:23] Peter9192 opened #669 "Bug in ACCESS1-0 calender fix that modifies the time point values unintentionally."
https://github.com/ESMValGroup/ESMValCore/blob/2fbe3e55e07672c52a968fd1d2d9d65d081c8866/esmvalcore/cmor/_fixes/cmip5/access1_0.py#L34

This fix changes merely the name of the calendar, but not the time points. Consequently, the time points are interpreted differently:

[code]

Note the comment to [this answer](https://stackoverflow.com/a/53373130/6012085) and a related discussion [here](https://gi

[2020-06-08 10:25] Peter9192 commented on #665
@SarahAlidoost I made a new issue about the access data: #669

[2020-06-08 10:32] Peter9192 commented on #665
Are you sure about this? As far as I see, [this](https://github.com/ESMValGroup/ESMValCore/blob/cac2d438c8714b63634325fcce8f21f270f853f3/esmvalcore/preprocessor/_multimodel.py#L272) just creates a new time array containing all unique time points in the input data. But if they are offset with respect to one another, you'll get multiple indices. Lets say dataset 1 contains [01-15, 02-15, 03-15, ...]

[2020-06-08 10:38] valeriupredoi commented on #665
yes, `_monthly_t()` using `_datetime_to_int_days()` sets all the days to 1 - as I said, this is the rough regridder but works only for monthly data as it says in the code comment; I have not written `_multimodel.py` for daily data, that will be a monster in terms of memory and will need to be rewritten with a lot of dask in it :grin:

[2020-06-08 10:58] Peter9192 commented on #665
Ah okay, I see. But then I don't understand how both Lisa and us are getting the unexpected behaviour where the length of the time coordinate get's doubled. Let me dive into it a bit deeper.

[2020-06-08 11:01] valeriupredoi commented on #665
can you pls post the actual times you mean by double? :beer:

[2020-06-08 11:12] Peter9192 commented on #665
[code]

With this recipe specification:
[code]

[2020-06-08 11:13] Peter9192 commented on #665
But I see it's not actually the time coordinate that's causing the problem in our case.

[2020-06-08 11:38] Peter9192 commented on #665
Okay never mind.

[2020-06-08 11:52] Peter9192 commented on #665
I managed to reproduce our problem. Here's a MWE:

[code]

The preprocessed output files of this recipe contain 139 time points for both the access1-0 and the CCSM4 dataset, but 278 time points for the multimodelmean. Perhaps this is caused by different calendars, still looking into it.

[2020-06-08 11:56] Peter9192 commented on #665
I guess the problem is that we're passing yearly data to the multimodel stats, and due to the unfortunate time difference between our datasets, the annually average time points end up in the beginning of July for the one dataset, and end of June for the other.

[2020-06-08 12:09] bouweandela commented on #436
There will be much better support for ancillary variables in iris 3. Removed this from the v2.0.0 milestone, since the release of iris 3 is scheduled after the ESMValCore v2.0.0 release.

[2020-06-08 12:12] bouweandela commented on #449
Depends on #436. There will be much better support for ancillary variables in iris 3. Removed this from the v2.0.0 milestone, since the release of iris 3 is scheduled after the ESMValCore v2.0.0 release.

[2020-06-08 12:32] katjaweigel commented on #669
Hi @Peter9192
good that you spotted this! My assumption was always that only the calendar name was wrong and therefore I got an error of none existing dates without the fix. I wonder a little bit that the fix effects historical data at all, because of
`
            try:
                time = cube.coord('time')
            except iris.exceptions.CoordinateNotFoundError:
                continue

[2020-06-08 13:14] bouweandela commented on #660
Could you also share the commands you used to create the environment that you're installing into?

[2020-06-08 13:21] valeriupredoi commented on #660
no other commands man, installing in the conda (base) - ideally when a user does `conda install ...` they should not create any environment prior to :beer:

[2020-06-08 13:39] bouweandela commented on #660
I just downloaded conda (version 4.8.3) and ran
[code]
and everything worked perfectly. What version of conda are you using? Can you provide a link for downloading from the archive: https://repo.anaconda.com/miniconda/

[2020-06-08 13:40] bouweandela commented on #660
Or maybe a link to a docker container that runs the conda version that has the problem?

[2020-06-08 13:57] Peter9192 commented on #669
Hi @katjaweigel , thanks for the quick response!
I was also a bit surprised that the actual dates changed, but then I noticed that they were "days since 0001-01-01". I found that the following actually does preserve the dates:

[code]

[2020-06-08 15:08] valeriupredoi commented on #660
here are the traceback steps Monsieur Le Bouwe:
[code]
note that I accepted conda to prepend the installation and activate `base` right away, equivalent to the snippet in `.bashrc`:
[code]
and for the big finale:
[code]
a few pointers:
[code]

[2020-06-08 15:10] valeriupredoi commented on #660
moar pointers:
[code]

Note that on Jasmin the install didn't even finish, it was going in circles trying to solve the environment, on my laptop it was very snappy (as pointed above)

[2020-06-08 15:12] Peter9192 commented on #665
Final diagnosis: CCSM4 data has a no-leap calendar, and ACCESS-1 a gregorian calendar (that seems to need an extra fix: #669). The multimodel preprocessor can deal with this as long as it's monthly data, but it fails if we first compute annual means, because the two calendars' time points average out into different months.

So my questions are:
- Should it be mentioned somewhere (docs) that multim

[2020-06-08 15:19] valeriupredoi commented on #660
Massive hint: when you uninstall esmvalcore and install `esmf`(since it'll be removed with the uninstall of esmvalcore) that one is compiled correctly against mpi with mpich:
[code]
right after this if you re-install esmvalcore, then it'll work nicely. You need to check that the requirement for `esmf` in the conda recipe for esmvalcore is set correctly for mpi with mpich :beer:

[2020-06-08 16:07] valeriupredoi commented on #660
strange, I have repeteated the install steps on Jasmin and all works fine there out the box with
[code]
I still reckon it's best to run a few installation tests on different OS's after the package gets built. It might be that my OS is old (Ubuntu 14 is ancient, 6 years old) but even so it shouldn't matter

[2020-06-08 16:10] bouweandela commented on #660
It also works fine on my laptop and on [CircleCI](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/2590/workflows/40beb102-c62d-49a5-95cc-550abe293b8e), so I wouldn't be suprised if it's somehow related to your OS or user profile.

[2020-06-08 16:10] Peter9192 commented on #669
I made a PR (#671) that implements this.

[2020-06-08 16:15] valeriupredoi commented on #660
what are you running on your laptop - if it's a Debian-based OS then am OK to call this solved (well, the installation of `esmvalcore` that is, for now, I am still struggling with `esmvaltool`) :beer:

[2020-06-08 16:17] bouweandela commented on #660
I'm running ubuntu 20.04. Trying to reproduce your issue now with ubuntu 14.04.

[2020-06-08 16:18] bouweandela commented on #660
Yes, I  managed to reproduce it!

[2020-06-08 16:25] valeriupredoi commented on #660
excellent! did you build a container with that ye olde OS? Got good news - I managed to install `esmvaltool` on Jasmin straight from conda (well, it's installing now, but the env solving laster about a smoke's time :grin: ) - this was *after* I've installed `esmvalcore` from conda so it may be that either this is a workaround or conda fixed their troubles (I'll uninstall them both and try installi

[2020-06-08 16:26] valeriupredoi commented on #660
way to go updated OS, man! What's that one called, Flying Dutchman? :grin:

[2020-06-08 16:32] bouweandela commented on #660
Indeed I did
[code]
and that reproduced the problem. I also found lots of other people having the same issue: https://github.com/pytorch/pytorch/issues/2575#issuecomment-523667875

It looks like the publicly available Ubuntu 14.04 is no longer maintained: https://ubuntu.com/about/release-cycle, so maybe now would be a good time to upgrade?

[2020-06-08 16:36] valeriupredoi commented on #660
aw mate, 14.04 hasn't been supported since April last year :grin: but you know, updating an OS that is 11 version increments old is probably suicidal. Nah, it's fine, we should log this somewhere and if some oldtimer like me complains in a future issue we will know what he problem is

[2020-06-08 16:48] valeriupredoi commented on #660
new roadblock; while installing `esmvaltool` from conda (`conda install -c conda-forge -c esmvalgroup esmvaltool`) it complains about Julia:
[code]

[2020-06-08 17:01] valeriupredoi commented on #660
full output:
[code]
and `esmvaltool --help` dont work :cry:

[2020-06-08 17:04] valeriupredoi commented on #660
that's it for me for today, off to make dinner :pizza:

[2020-06-09 07:59] Peter9192 commented on #52
Any new insights on this? @sloosvel have you abandoned that branch or do you think it's still a viable option?

[2020-06-09 10:43] axel-lauer commented on #315
I think this is a good idea and I started looking into this. I'll report back soon.

[2020-06-09 10:58] axel-lauer commented on #315
The documentation is now available at: http://docs.esmvaltool.org/
Not sure why only "http" works but "https" does not. But maybe this is not a problem for the documentation? If people are happy with this, I would replace the links to the documentation on the esmvaltool website with docs.esmvaltool.org.

[2020-06-09 11:17] valeriupredoi commented on #665
@Peter9192 a few points:

- ```ValueError: shape mismatch: value array of shape (1668,192,288) could not be broadcast...``` - that's because the datasets were not regridded on a common grid, mate
- the MM preprocessor can not handle yearly nor daily datas or, better said, it doesn't crash but the results are at risk and most of the times will be incorrect if corner cases are present: yearly datas

[2020-06-09 11:50] #630 closed

[2020-06-09 12:56] bouweandela commented on #315
Looks very good! https://docs.esmvaltool.org works fine on my computer too.

[2020-06-09 12:59] axel-lauer commented on #315
https now also works for me, maybe it simply took a bit to reissue the ssh certificate. I'll change the links on esmvaltool.org then.

[2020-06-09 12:59] bouweandela commented on #660
It would be really helpful if you could read the [installation instructions](https://docs.esmvaltool.org/en/latest/quickstart/installation.html). Quoting from there:

[2020-06-09 13:10] valeriupredoi commented on #660
you reckon I don't know that? :grin:  I am not happy with the conda installation to fail because of that - we need to make it install and throw a big warning at the end saying this and that Julia but not to fail altogether; this is in line with that R diagnostic test that is still failing if R is not installed (bump: approve that PR, mate) :beer:

[2020-06-09 13:46] bouweandela commented on #660
Maybe you could open a pull request to improve the error message?

[2020-06-09 16:03] valeriupredoi commented on #660
oh I will and it'll contain a few changes:
- you do realize that just by pointing the user to the Julia download page will not cut the mustard - that page is cryptic to start with and the actual installation procedures specific for a conda env to be correctly built are not there;
- can we default the installation from conda (`conda install -c conda-forge -c esmvalgroup esmvaltool`) to the installa

[2020-06-09 16:41] valeriupredoi commented on #660
OK I managed to catch this loose tiger that conda pretends to be: if you want to install esmvaltool from conda you will end up spending the good part of your day looking at that spindle spin and not solve the environment - if you install esmvalcore first, esmvaltool env will be solved in 3min and chuck at most 2G of mem. I will make a PR with updated instructions including how to install and softl

[2020-06-10 07:22] axel-lauer commented on #315
Just updated the links to our documentation on esmvaltool.org (changes should be online soon). I guess we could now close this issue?

[2020-06-10 07:22] Peter9192 commented on #665
@valeriupredoi Yep, thanks for the explanation. I was trying to reproduce our earlier workflow, but overlooked the custom_order setting. I'm still a bit confused about this, though:

I understand that it *shouldn't* be possible, but still something weird happens there.

And in general: should all calendars be 'gregorian', or is it okay for datasets to have different calendars?

[2020-06-10 07:23] mattiarighi commented on #315
Yes, thank you.

[2020-06-10 07:27] bouweandela commented on #315
We also need to change the links everywhere in the ESMValCore and ESMValTool repositories

[2020-06-10 08:23] sloosvel commented on #52
It must be quite outdated, but I think that with #637 it will be easier to implement.

[2020-06-10 10:21] Peter9192 commented on #52
So you'd suggest starting from scratch, or is there anything that can be re-used from your branch?

If starting from scratch, and considering that

would it make sense to write a new function, rather than calling multimodel stats under the hood? I suppose doing multimodel stats on consistent (same model/grid/etc) datasets could be more straightforward and maybe even lazy?

[2020-06-11 06:49] Peter9192 commented on #52
Thanks for all the info Bouwe! My use case would be to combine both ensemble means and multimodel statistics, to prevent models with many ensemble member getting excessive weight in the MM stats.
Like you say, this can be achieved with the current functionality by doing the multi model stats in a Python diagnostic, but a separate preprocessor function would be nicer. An alternative solution for th

[2020-06-11 11:42] valeriupredoi commented on #665
@Peter9192 what type of data is it (monthly, yearly means?), also can you pls post sample minimal recipe with which I could attempt to replicate the behaviour? :beer:

[2020-06-11 15:13] bouweandela commented on #660
No, I think not, because then it will not work if people try to run a Julia diagnostic. For advanced users that know they do not want Julia diagnostics, we have the subpackages, e.g. `conda install esmvaltool-python esmvaltool-r esmvaltool-ncl` will get you esmvaltool without Julia. Maybe we could make it possible to install the julia dependencies later, once we have the new command line interface

[2020-06-11 15:40] valeriupredoi commented on #660
OK let's keep it this way then, I am happier now that we are actually telling the user how to install Julia and make the executable available. I will try today or tomorrow see if we can get Julia back inside the conda environment, although doubt much has changes in the meantime :beer:

[2020-06-12 07:24] Peter9192 commented on #665
Hey @valeriupredoi thanks for looking into this. It's monthly data, that we first yearly means on, and then multimodel means.

See [my earlier comment](https://github.com/ESMValGroup/ESMValCore/issues/665#issuecomment-640556288). We need the custom order and the anomalies. However, the behaviour can also be replicated with this:

[code]

Without the `regrid_time` preprocessor, the ACCESS data is a

[2020-06-12 12:53] sloosvel commented on #52
I think that this combined with the groupby option is the most convenient solution. Because at some point I tried to extend the multi_model function and it ended up being very messy.

[2020-06-12 13:41] bouweandela commented on #53
The current strategy is to try to implement fixes in such a way that only data that needs to be fixed gets fixed. It depends on what is wrong whether this is possible or not. Unfortunately data versions are only available in the filename, not as a global netcdf attribute. @zklaus @jvegasbsc any ideas on this?

[2020-06-12 14:28] jvegasbsc commented on #53
What I am doing when not all files require the fix is to add logic that checks if the error is there. This is quite easy for some errors, like units declared as K but stored as degC but may not be feasible in all cases.

I need to check, but I think the version appears only as an intermediate folder, not in the filename. If that is the case, getting it will not be possible in all cases, as most in

[2020-06-12 14:32] bouweandela opened #674 "Make preprocessor lazy"
Overview issue with laziness status of preprocessor functions:

- [ ] fix_file - copies files on disk
- [x] load
- [ ] derive - lazy for most variables #42, but all data is saved to disk #377
- [ ] fix_metadata - depends on model/variable
- [x] concatenate
- [x] cmor_check_metadata
- [x] extract_time
- [x] extract_season
- [x] extract_month
- [ ] fix_data - ?
- [ ] extract_levels - not if interpol

[2020-06-12 14:35] bouweandela commented on #32
Created a new overview issue: #674

[2020-06-12 14:35] #32 closed

[2020-06-15 08:21] axel-lauer commented on #315
The links have been updated:

https://github.com/ESMValGroup/ESMValCore/pull/675
https://github.com/ESMValGroup/ESMValTool/pull/1679

[2020-06-15 11:30] #315 closed

[2020-06-15 12:57] #669 closed

[2020-06-15 14:43] ValerioLembo opened #676 "Frequency mon does not match input data for EC-Earth-Veg"
- Project: CMIP6
- Full dataset description (fill out as many as you know, please):
  - Model: EC-Earth-Veg
  - Experiment: historical
  - Mip: Amon
  - Grid: gr
  - Run: r1i1p1f1;
  - v. 20190605;
  - Variable used: rlus;

- Problems encountered (please describe what the actual problems are: e.g. wrong standard name, issue with dimensions): Time record mismatch (`Frequency mon does not match inpu

[2020-06-16 10:50] valeriupredoi commented on #674
good call!! I reckon this is a good first serious feature for v2.1 :beer:

[2020-06-16 11:24] valeriupredoi commented on #665
I see. Cheers for the exact pinpointing! It's actually a combination of two things: lack of feature on the multimodel preprocessor side and garden variety in input data time axes. The MM can not actually handle correctly this case since it computes a set on the days and not months too. Let me try fix it and write a test for it too :beer:

[2020-06-16 13:24] valeriupredoi commented on #665
@Peter9192 could you test your failed recipe with #677 please mate? That should fix the yearly data behaviour :beer:

[2020-06-17 07:27] LisaBock commented on #665
@valeriupredoi I tested again with #677 and sorry, but it fails again.
The problem is that the timestamp of the MulitModelMean shifts every month one day further. And when the time period is long enough, it will be shifted in the next month. See below the result of a shorter test recipe:

recipe:
[code]

And the timestamps of my preproc file `MultiModelMean_Amon_tas_1850-1910.nc` lokks then like t

[2020-06-17 09:17] LisaBock commented on #665
I tried now to add to the preprocessor `regrid_time` as sugested from @Peter9192
[code]
And now it works!

[2020-06-17 09:30] valeriupredoi commented on #665
@LisaBock are you running with monthly or yearly means data? The fix from #677  is for yearly data only :beer:

[2020-06-17 09:34] valeriupredoi commented on #665
also those timestamps look fine to me (cheers for posting them) - what is the issue? There is no risk of spillover since they reset back to 1 if they reach the end of the month - that is, they look good if the data is monthly means

[2020-06-17 09:39] LisaBock commented on #665
I am running monthly data.

[2020-06-17 09:42] valeriupredoi commented on #665
OK then #677 will not change anything to your data; the monthly data MM dates seem fine to me - can you please state again what the problem is? Also bear in mind that if you see dates in the `coord("time")` that are exceeding your boundaries that's because this is the `full` option and those points that are from time stretches that are only for a certain model will be masked, so the actual data is

[2020-06-17 09:47] LisaBock commented on #665
The problem is that it does not reset simply back to 1 but shift to 1 in the next month...

I extract two part of the dates:
`1957-05-15  1957-06-15  1957-07-16  1957-08-17  1957-09-16  1957-10-17  1957-11-17  1957-12-18  1958-01-18  1958-02-19  1958-03-20  1958-04-20  1958-05-21  1958-06-21  1958-07-22  1958-08-23  1958-09-21  1958-10-22  1958-11-22  1958-12-23  1959-01-23  1959-02-24  1959-03-25

[2020-06-17 10:03] Peter9192 commented on #665
I can confirm that this fixes our recipe. Let me have a better look at the PR though, see you there. :beer:

[2020-06-17 10:04] valeriupredoi commented on #665
@LisaBock yes but the actual data point that spills over will be masked so will not affect the actual computation. Can you pls confirm that? :beer:

[2020-06-17 10:08] valeriupredoi commented on #665
also - beats me if I can see any missing month - can you post that bit of time points (+/- 1 month before and after), it might be just me being blind :grin:

[2020-06-17 10:13] LisaBock commented on #665
@valeriupredoi
this are the critical points:
`1960-02-29 1960-03-30 1960-04-30 1960-06-01 1960-07-01 1960-08-02 1960-09-03`
and
`2000-09-29 2000-10-30 2000-11-30 2001-01-01 2001-02-01 2001-03-02 2001-04-03`

the problem is that for every month which is missing (here: 1960-05 and 2000-12) the time period is extended by one month. As I said all models end in 1999-12 but the MulitModelMean is extende

[2020-06-17 10:15] valeriupredoi commented on #665
aaah now I see - cheers for the clarification! Not good :grin: - let me extend #677 to monthly data too

[2020-06-17 10:28] Peter9192 commented on #665
Seems I was too quick to confirm. The duplicates are gone because of #671, but the time array is still showing these strange offsets, and for longer time ranges than in my previous example, they also start wandering, like Lisa described.

[2020-06-17 10:31] valeriupredoi commented on #665
this time round for yearly means data right?

[2020-06-17 10:35] Peter9192 commented on #665
yep. So the [MWE](https://github.com/ESMValGroup/ESMValCore/issues/665#issuecomment-643115095) now produces single time stamps per year (which is good, much better than before), but they're not at the first of the month, and for longer time arrays they start shifthing.

[2020-06-17 10:36] valeriupredoi commented on #665
can you pls post a snippet of the time points?

[2020-06-17 10:38] Peter9192 commented on #665
[code]

[2020-06-17 10:42] valeriupredoi commented on #665
right, cheers, I know where the bugger is! :beer:

[2020-06-17 11:59] valeriupredoi commented on #665
OK can you guys please give it one more test with #677 - I have shifted the points for `full` and moved them to the middle of the month so there is no corner case anymore. Hopefully that will fix it :beer:

[2020-06-17 12:03] Peter9192 commented on #665
Works for me!

[2020-06-17 12:05] valeriupredoi commented on #665
brilliant! cheers for the quick test @Peter9192 :beer: @LisaBock please don't dash my hopes :grin:

[2020-06-18 06:25] LisaBock commented on #665
@valeriupredoi I am very sorry...
But for me the same error occured.
Here the critical part of the dates in the MultiModelMean preproc file:
`1916-07-31  1916-08-31  1916-10-01  1916-10-31  1916-12-01  1916-12-31  1917-01-31  1917-03-03  1917-03-31  1917-05-01  1917-05-31`
Some month occur twice (e.g. 1916-12) and others not even once (1916-11). But the shift of days is now much slowlier, that's w

[2020-06-18 10:52] valeriupredoi commented on #665
looking at it right now. I am smelling a cmip3 particular issue, just noticed your isse is from using cmip3 data. Just got back to Jasmin now so I can do proper debugging :beer:

[2020-06-18 11:14] valeriupredoi opened #681 "Improve error messages resulted from recipe checks with yamale schema"
At the moment I am running a recipe that seems fine to me but all I get is this obscure message:
[code]
Obviously I am missing a field, but which one? :beer:

[2020-06-18 11:20] valeriupredoi commented on #681
in my case the error was coming from actually having two `---` at the start of the recipe:
[code]
This should be nicely reported :grin:

[2020-06-18 12:23] valeriupredoi commented on #665
@LisaBock a few points:
- the recipe you posted has wonky data arguments for CMIP3, the data on BADC has this sort of parameters:
[code]
- what value did you use (if at all) for `--check-level`? `fix_metadata` hangs for me for any value including default

[2020-06-18 12:26] valeriupredoi opened #682 "Fix metadata hangs for CMIP3"
running with CMIP3 data on Jasmin, `fix_metadata` hangs badly:
[code]
no matter what value for `--check-levels` - will investigate more. Anyone else noticed this?

[2020-06-18 14:55] valeriupredoi commented on #665
@LisaBock could you give it one more test please: I managed to reproduce your issue (am back on Jasmin yay!) and @Peter9192 spotted where it actually stemmed from so we fixed it in #677 (hopefully!) :beer:

[2020-06-19 06:50] LisaBock commented on #665
@valeriupredoi and @Peter9192 Thanks a lot! It works now for me! Thank you! Thank you! Thank you!

[2020-06-19 12:08] schlunma commented on #286
I found another example:

[code]

ESMValTool fails to find data from the years 1850-2349 since it only checks the most recent version (`v20200326`).

So this issue is still relevant.

[2020-06-19 12:57] #566 closed

[2020-06-19 13:11] bouweandela commented on #682
Could be a duplicate of #430?

[2020-06-19 13:21] #665 closed

[2020-06-19 13:25] valeriupredoi commented on #682
correct! completely forgot about that, and indeed I was using max parallel processes = 2; funny thing is is 1 out of 3 times it actually ran. Am gonna close :beer:

[2020-06-19 13:25] #682 closed

[2020-06-22 09:38] mattiarighi commented on #448
@schlunma I tried your second recipe above (the one with `OBS`) but it fails:
[code]

[2020-06-22 09:42] schlunma commented on #448
Sorry, I forgot to mention that you have to add the option `exclude: ['CRU']` to the `weighting_landsea_fraction` preprocessor.

[2020-06-22 13:39] #448 closed

[2020-06-24 10:02] rswamina commented on #576
@valeriupredoi - Thanks for the fix via the overhaul_concatenation branch. That issue is closed so I am posting this error here. I continue to get an error when concatenating historical and ssp (e.g. ssp126) data for variable "Amon/tas" and ensemble member r1i1p1f1. The error is this:
ERROR   esmvalcore.preprocessor:226 Failed to run concatenate([<iris 'Cube' of air_temperature / (K) (time: 1980;

[2020-06-24 10:27] bettina-gier commented on #52
Just adding onto this discussion, I talked with members from the 4C project yesterday who were asking about averaging observational datasets in the esmvaltool. Considering there are currently different "projects" for observations like obs4mips, OBS, OBS6, it could be needed to add some kind of optional tag or group to datasets in the recipe, which could then also be the input for the "groupby" opt

[2020-06-24 10:34] Peter9192 commented on #52
This is something I've been thinking about as well in the context of https://github.com/ESMValGroup/ESMValTool/issues/1640. Several different weighting methods are developed in EUCP, and we're considering to add several more of them to ESMValTool. I guess it's a natural way to start implementing them as diagnostics and maybe, once that converges to some sort of common interface, we could consider

[2020-06-24 11:17] rswamina commented on #576
Sorry I forgot to mention this is with the CESM2 model.

[2020-06-29 07:30] katjaweigel opened #686 "Warning for "Invalid ancestor" hard to read if ancestors is s string instead of a list"
**Describe the bug**
In esmvalcore/_task.py a warning should be produced, if the ancestor file in attributes is not found. To identify the filename, attributes['ancestors'] should contain a list with the filename. If a string is found there instead of a list, the loop "for ancestor_file in ancestor_files:" runs over every character of this string and produces a cryptic warning, see below for an ex

[2020-06-29 07:32] katjaweigel commented on #686
Example for the Warning:

2020-06-26 15:17:19,808 UTC [14782] WARNING esmvalcore._task:588 Invalid ancestor file / specified for recording provenance of /work/bd0854/b380216/esmvaltool/v2private/output/recipe_martin2018grl_test_20200626_150647/work/spi_collect/spi_collect/SPI_mapHistoric_Average_SPI_of_Events_MultiModelMean.nc, created by diagnostic script droughtindex/collect_drought_obs_multi.py

[2020-06-29 07:34] katjaweigel commented on #686
Example of the warning:
2020-06-26 15:17:19,808 UTC [14782] WARNING esmvalcore._task:575 Ancestor files kw /work/bd0854/b380216/esmvaltool/v2private/output/recipe_martin2018grl_test_20200626_150647/work/diagnostic1/script1/*_spi_*.nc
2020-06-26 15:17:19,808 UTC [14782] WARNING esmvalcore._task:588 Invalid ancestor file / specified for recording provenance of /work/bd0854/b380216/esmvaltool/v2priva

[2020-06-29 07:56] katjaweigel commented on #686
I'd suggest to add
`            if isinstance(ancestor_files, str):
                logger.warning(
                    "Ancestor file(s) specified for recording provenance of "
                    "%s, created by diagnostic script %s in task %s is "
                    "a string instead of a list", filename,
                    self.script, self.name)
                valid = False
            anc

[2020-06-29 11:54] valeriupredoi opened #687 "Handling of z-coord in multimodel is dodgy"
This block in func:`_put_in_cube()`

[code]

is dodgy as a dodgy plumber.

[2020-06-30 13:11] TomasTorsvik opened #688 "Dataset problem: Missing support for NorCPM1 and NorESM1-F datasets"
**Describe the dataset issue**
A clear and concise description of what the problem with the data is is. Here are some guidelines that you can use
right out the box by filling in the blanks (note that, if needed we will assist you with writing a fix; also note that
if the problem is with a CMIP6 dataset, we will alert the ESGF and/or the model developers for them to fix the problem
in the long run;

[2020-06-30 15:07] bettina-gier opened #689 "How to deal with different units of same variable between projects for obs?"
Conceptual issue I've run into:
tos has units K in CMIP5 but degC in CMIP6. Running the models isn't a problem, but when including the HadISST observational data, it has units K formatted for CMIP5). Many diagnostics (like anavs - carbon_cycle/main.ncl) assume all datasets have the same units if it's the same variable. Do we need to change the diagnostics to always check units, or should we have t

[2020-06-30 16:20] valeriupredoi commented on #689
would [convert_units](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/api/esmvalcore.preprocessor.html#esmvalcore.preprocessor.convert_units) o the job for you or you'd need something more custom tuned? :beer:

[2020-06-30 16:24] valeriupredoi commented on #660
closing this since it works now, beware a reopen :grin:

[2020-06-30 21:23] bettina-gier commented on #689
Ah the issue isn't HOW to do it - the question is where. As I said more conceptual issue - Do we want diagnostics to assume that all inputs for one variable are supplied in the same units? Then might need a check for this in the preprocessor. If this is not the case we might have to retroactively go through a bunch of the diagnostics in the master branch to make sure they can handle this case. Tos

[2020-07-01 14:51] valeriupredoi commented on #689
ahem! got you now. Good question - I am personally on the side of uniform units across all data; especially when we perform multimodel analyses, these details as different units may escape the diagnostic developer and they'll end up with some crazy outliers and pain the neck :grin:

[2020-07-01 14:52] jvegasbsc commented on #93
With the new CLI, all `config-user.yml` options can be set as flags in the run command, maybe we should think in some command line options to be moved to it

[2020-07-01 14:55] bettina-gier commented on #689
I generally agree, but then the question becomes - what "cmor standard" becomes the top priority to conform the rest to - the newest one? Might need some input from @bouweandela @jvegasbsc @mattiarighi on their thoughts.

[2020-07-01 15:45] jvegasbsc commented on #689
I will go for the newest, mainly because it usually means that somebody complaint about the old ones and a bunch of experts decided they should change.

[2020-07-01 16:01] #563 closed

[2020-07-02 11:51] egalytska opened #703 "Issue with siconca variable in EC-Earth-Consortium models in CMIP6 amip simulation"
**Describe the bug**
I assume that there is an issue with **siconca** variable for both models from EC-Earth-Consortium, i.e. **EC-Earth3** and **EC-Earth3-Veg**  in the amip simulation. Sea-ice area should be provided in % and vary from 0 to 100.  In the description of the .nc files from these two models despite it is indicated that units are "%" and comment "Percentage of grid cell covered by se

[2020-07-02 13:16] bouweandela commented on #84
A test package is now available on the test version of PyPI. The package can be installed for testing by running:
[code]
This will first install all dependencies using Conda and PyPI and then the esmvalcore package from the test version of PyPI: https://test.pypi.org/project/ESMValCore/

To build and upload the package I followed the instructions here and used the commands
[code]

[2020-07-02 16:30] valeriupredoi commented on #84
well done @bouweandela - just tested it and looky what it says:
[code]
:beer: :partying_face:

[2020-07-03 10:24] schlunma opened #694 "Preprocessor climate_statistics fails"
**Describe the bug**
After the merge of #684 the `climate_statistics` preprocessor does not work anymore.

**Error message**
[code]

**Cause**

This is the problematic line:

https://github.com/ESMValGroup/ESMValCore/blob/df98aa0cf38492fe1eab63203bf3fa5447086191/esmvalcore/preprocessor/_time.py#L176

My cube has the shape `(120, 68, 180)` (=`time,lat,lon`) which can not be broadcasted to the shape

[2020-07-06 12:30] valeriupredoi opened #698 "Couple comments/questions about the new CLI"
@jvegasbsc terrific job on the new CLI, mate! :beer: A couple comments I failed to raise before it got merged, but it don't matter too much:

- I am a bit uneasy about the use of `INFO    [31797] Using config file ~/.esmvaltool/config-user.yml` if the user doesn't specify a config file via `--config-file`: first off, that directory doesn't exist and it doesn't get created automatically (which is a

[2020-07-06 12:35] valeriupredoi commented on #689
we only have one CMOR version where the metadata is read/fixed from anyway - the fact that's the latest is a bit of a dodgy one since that depends on us updating the CMOR tables periodically. Speaking of which - we should probably have a test running a git poller on the CMOR releases page alert if there's a new stable version of them tables?

[2020-07-06 13:08] jvegasbsc commented on #698
I understand your issue, but I think is because of old habits. A new user will probably get its `config_user` by calling `esmvaltool config get-config-user` which magically creates it in the default location. We are used to change config file between runs, but this is not something that a user will do frequently.

Also, bear in mind that we don't need to use so many config files now, as every key

[2020-07-06 13:10] jvegasbsc commented on #698
The only performance related change that I did was to put all the imports inside the functions of the CLI, leaving at the top only the ones required by the CLI itself. This should only affect startup time of the executable, though.

[2020-07-06 14:54] valeriupredoi commented on #698
cheers Javi, yeah was thinking the same - but I still think we should change to a warning when printing the message about the default config-file, easier to find in the log for a user, what do you think? :beer:

[2020-07-06 15:13] bouweandela commented on #694
It might be good to fix that test too, CMIP data does not look like that.

[2020-07-07 10:09] jvegasbsc commented on #698
A warning when running using the default option? If it really becomes the default way to run it will be just noise...

[2020-07-07 12:23] valeriupredoi commented on #698
ok cool, let's just leave it as is for now; I might have to be a pain in the rear in the future, but for now cheers for clarifying these points, bud :beer:

[2020-07-07 12:23] #698 closed

[2020-07-07 13:34] valeriupredoi opened #701 "Installation on Windows doesn't work from stock"
So the new GitHub Actions testing I started implementing [here](https://github.com/ESMValGroup/ESMValCore/pull/700) is already proving useful: I have discovered that the current environment can not be built on Windows as it is, since `esmpy` and `libunwind` don't have Windows versions. Do we want to do anything about this or we just say we don't support installation on Windows? If it was me I'd ar

[2020-07-07 13:55] schlunma commented on #694
Fixed tests in #695

[2020-07-08 09:46] ehogan opened #730 "Is there a way to optimise looking for files required for recipes?"
The [recipe_diurnal_temperature_index.yml](https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_diurnal_temperature_index.yml) recipe requires 12 files; in the `main_log_debug.txt` file there are 12 entries with the format `Looking for files matching ['<filename>.nc'] in ['<data_path>']`. However, the `data_path` we are using contains many files (38T!), which means that

[2020-07-08 10:54] jvegasbsc commented on #701
I do not think that having native support is something easy to achieve, lots of scientific packages are UNIX only. But does not mean that Windows users are not able to use ESMValTool. In fact, I am working using a Windows laptop right now using the Windows Subsystem for Linux. Users just need to install an application from the store and then follow the Linux installation steps. This is the one for

[2020-07-08 10:59] valeriupredoi commented on #701
very cool, Javi! Well, I surely didn't know :grin: - any way you can update the Windows tests in #700 so we can autoamte the installation testing for Windows? :beer:

[2020-07-08 15:58] bouweandela commented on #701
@nielsdrost Recently added instructions for installing ESMValTool on Windows to the tutorial: https://esmvalgroup.github.io/tutorial/02-installation/index.html

[2020-07-09 08:02] jvegasbsc commented on #701
Great, we can move it to the documentation.

On the other hand, how we ensure that the tutorial and the documentation are aligned? I bet this is not the only "duplication" we have. Maybe we should put comments in both telling something like "if you are updating this, please update also this section of the documentation/tutorial"?

[2020-07-09 10:27] #694 closed

[2020-07-09 19:05] bouweandela opened #704 "Update CMIP6 CMOR tables"
There have been new releases, so our copy is outdated: https://github.com/PCMDI/cmip6-cmor-tables/releases

@jvegasbsc Would you be able to take care of this?

[2020-07-09 19:08] bouweandela commented on #688
Thanks for reporting the problem. I have created an issue to update the tables: #704. Note that we always use released versions of the CMOR tables, so it is only to be expected that our copy is a bit behind, but there has been a new release recently, so we need to update.

[2020-07-09 19:12] bouweandela commented on #689
You can just use the [`convert_units` preprocessor](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/preprocessor.html#unit-conversion) function in the recipe to ensure that all datasets have the same units (assuming that it is possible to trivially convert the units, that is).

[2020-07-10 07:22] bascrezee opened #705 "cmorize_obs is broken"
My guess would be that it is related to the recent change to using `fire`.

[code]

[2020-07-10 10:48] ledm opened #708 "Global total air sea flux of CO2 removed"
The derived variable  Global total air sera flux of CO2,  `gtfgco2`, is a CRUCIAL measurement of the earth system, and was mistakenly removed in PR #418 during the Christmas break. The changes in pr #418 were pushed without testing their actual functionality.

This functionality is now missing and can't be reproduced using the previously suggested `area_statistics` and `convert_units` preprocessor

[2020-07-10 13:36] bouweandela commented on #708
Just for reference, the proposed way to compute this was to use a preprocessor
[code]
on input variable `fgco2`.

Does this mean that there is a bug in the `area_statistics` function?

Here is an earlier comment by you:

Is this the problem you are referring to? Would multiplying the cube units by the weight units, e.g. here:
https://github.com/ESMValGroup/ESMValCore/blob/64911ebf20dcca711b66c8229

[2020-07-13 06:31] katjaweigel commented on #686
See also https://github.com/ESMValGroup/ESMValTool/issues/1716 for an example

[2020-07-13 08:48] mattiarighi commented on #705
See https://github.com/ESMValGroup/ESMValCore/pull/709

[2020-07-13 08:51] mattiarighi commented on #686
@katjaweigel would you mind opening a PR with the suggested change?
Then I can test it and @bouweandela can hopefully merge this before the official release.

[2020-07-13 08:53] bascrezee commented on #705
Thanks. Good to have a branch where it is working for now.

[2020-07-13 08:54] mattiarighi commented on #705
Plan to merge it soon.

[2020-07-13 08:55] bascrezee commented on #705
Thanks. So how am I supposed to run it now? I don't get `cmorize_obs` working yet.

[2020-07-13 08:57] katjaweigel commented on #686
Ok, but it could take some time, there is no kindergarten today (this means
 Lego movie and preparing pizza in parallel :) )

[2020-07-13 08:57] mattiarighi commented on #705
`--config_file` instead of `-c` should do it.

[2020-07-13 08:58] mattiarighi commented on #686
Kein Stress!

[2020-07-13 08:59] bascrezee commented on #705
Hmmm, not yet.

[code]

[2020-07-13 09:01] mattiarighi commented on #705
Please report on #709

[2020-07-13 09:39] bascrezee opened #710 "Anomaly calculation for OBS got broken early march."
**Describe the bug**
Unfortunately, it seems like none of the tests has flagged (something to look into later I would say!). But for several observational datasets the calculation of anomalies goes wrong with non-physical values coming out of the preprocessor. I could track down the problems to 3-4 March 2020. With everything working fine on the 3rd of March (`git checkout 'master@{2020-03-03}'`)

[2020-07-13 10:47] jvegasbsc commented on #710
Thanks for spotting this. It looks like there is a problem with the management of the NaNs, as the results are pretty close to the fill value. Let me investigate a bit

[2020-07-13 14:41] jvegasbsc commented on #710
One question, @bascrezee

The input data is not available in Jasmin's common data pool?

[2020-07-13 18:55] bascrezee commented on #710
I would expect it to be there, although maybe not precisely this version of the dataset. Who is in charge of the data at Jasmin?

[2020-07-14 06:51] jvegasbsc commented on #710
@valeriupredoi. I only see ERA-Interim data in the Tier3.

[2020-07-14 06:52] mattiarighi commented on #710
Which dataset(s) do you need?

[2020-07-14 06:54] jvegasbsc commented on #710
This one:

[code]

[2020-07-14 07:04] mattiarighi commented on #710
Here https://swiftbrowser.dkrz.de/tcl_s/NRlFdyevrAzCG5

[2020-07-14 07:05] mattiarighi commented on #710
Let me know if it works.

[2020-07-14 08:31] jvegasbsc commented on #710
It works, a bit too well:

![lineplot_sm_2015-2018](https://user-images.githubusercontent.com/13482714/87403396-19c43000-c5bd-11ea-8306-3d6318d11114.png)

[2020-07-14 09:00] schlunma opened #712 "--diagnostics option in CLI fails"
**Describe the bug**
While testing another PR (ESMValGroup/ESMValTool#1585) for ESMValTool I noticed that the `--diagnostics` option in the new CLI does not seem to work. I tried

[code]

and

[code]

for [this](https://github.com/ESMValGroup/ESMValTool/blob/add_ecs_constraints/esmvaltool/recipes/recipe_ecs_constraints.yml) recipe.

**Output**

[code]

Please note this line: **`Running 0 tasks usi

[2020-07-14 09:34] bascrezee commented on #710
What do you mean with 'too well'? Are you not able to reproduce the problem?

[2020-07-14 09:36] jvegasbsc commented on #710
Yes, the above plot is what I got when running the recipe with `v2.0.0` branch for ESMValCore. The conda environment I used:

[code]

[2020-07-14 09:41] bascrezee commented on #710
Can you try running with `master` (see commands in original post). What are the differences at the moment between `master` and `v2.0.0`?

[2020-07-14 09:58] bascrezee commented on #710
For me the error also occurs for ESMValCore `v2.0.0`.

[2020-07-14 10:21] jvegasbsc commented on #710
I think they are almost identical. I used `v2.0.0` because we are trying to test it as much at possible, not for any other thing.

Can you post the output of running `conda list` in your environment, just in case the error is appearing because of differences in the software stack

[2020-07-14 10:27] bascrezee commented on #710
There are slight differences between our environments. I am building a new one now starting again from scratch.

[2020-07-14 11:23] bascrezee commented on #710
So updating my environment solved this issue. I am quite surprised that such a major difference arises from a slightly different version of the Python packages. I am now doing more testing also for the other datasets, but it looks good so far.

[2020-07-14 12:08] jvegasbsc commented on #710
I am not. It is quite easy to mess with the NaN values, and in that case you get 1e20 values all over the place and enormous errors. I am more worried when the differences are small, as it is usually more difficult to find the source of the error,

[2020-07-14 12:30] jvegasbsc commented on #712
Should be fixed in #713

[2020-07-15 11:25] sloosvel opened #715 "Add derivation script for chlora"
**Is your feature request related to a problem? Please describe.**
A derivation script should be added to compute variable `chlora` from model variables `chldiatos` and `chlmiscos`, as observational datasets provide `chlora` directly

**Would you be able to help out?**
yes

[2020-07-15 13:45] ledm commented on #359
I'd like to revive this issue. I've encountered further trouble with the derived variable `amoc` with CMIP6 . I suspect that the fixes in https://github.com/ESMValGroup/ESMValCore/compare/development_amoc_cmip6?expand=1 may be outdated.

[2020-07-20 10:04] valeriupredoi commented on #710
we should probably have a set of tests that test the machine errors - bitwise equality if of course impossible (even though we don't actually use compiled code) but differences in eg numpy or scipy versions may introduce small differences, I reckon a set of tests would be able to detect if those go over some threshold :beer:

[2020-07-20 10:10] #686 closed

[2020-07-20 11:43] bouweandela opened #717 "Update yamale to v3"
A new version of Yamele has been released (v3), but our schemas are not compatible with it.

[2020-07-20 12:43] bouweandela opened #719 "Failing unit tests with Python 3.6, =<3.7.3"
These tests are failing on CircleCI with Python 3.7.3:
[code]

The is probably caused by this bug: https://bugs.python.org/issue23078

[2020-07-20 14:27] #712 closed

[2020-07-20 16:33] bouweandela commented on #84
ESMValCore is now available as a package on PyPI. To use it, run
[code]

[2020-07-20 16:36] valeriupredoi commented on #84
excellent! I will include it in the testing over multiple OS's and python versions via Github Actions :beer:

[2020-07-20 19:13] bouweandela commented on #84
The documentation still needs to be updated: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/install.html, after that this issue can probably be closed.

[2020-07-21 07:38] mattiarighi commented on #84
Great!

Would it be possible to slightly modify the title on the PyPi page?

*ESMValCore: A community tool for pre-processing data from Earth system models in CMIP and running analysis scripts.*

instead of

*Earth System Models eValuation Tool Core*

This is consistent with the description on [Zenodo](https://zenodo.org/record/3952695).

[2020-07-21 07:51] mattiarighi commented on #84
@ledm this should be announced on Twitter :loudspeaker:

[2020-07-21 16:30] valeriupredoi opened #724 "Regrid hangs for ocean variable sea water salinity for standard 2x2 grid"
[code]

if you dont KeyboardInterrupt it'll just hang forever - I recall @schlunma @mattiarighi  and @jvegasbsc have had similar issues? This one's pretty bad since this is a standard ocean recipe `recipe_diagnostic_transect.yml`

[2020-07-22 07:27] bouweandela commented on #84
Yes, that's a much nicer title. You can change it here: https://github.com/ESMValGroup/ESMValCore/blob/d2933db10fd510c907ef0a28aca9a1c77aad59e0/setup.py#L166

The next time we make a release, it will be automatically updated on PyPI. Maybe you could also update this title in the **About** section of the GitHub repository?

[2020-07-22 07:33] mattiarighi commented on #84
#725

Done

[2020-07-22 13:45] bascrezee opened #726 "Standardized anomalies should be unitless."
**Describe the bug**
The title says it all. Found by @hb326 while testing https://github.com/ESMValGroup/ESMValTool/issues/1687.

[2020-07-22 13:55] bouweandela commented on #724
Could it be this? https://github.com/ESMValGroup/ESMValCore/issues/430#issuecomment-575723809

[2020-07-22 14:08] bouweandela opened #728 "variables from FGOALS-g2 without longitude coordinate cannot be read"
The fix that is applied to all variables of the FGOALS-g2 model assumes that there is a longitude coordinate

This can be tested e.g. with recipe_ocean_amoc.yml

[code]

[2020-07-22 15:50] valeriupredoi commented on #724
could be but why is it creeping up here? I need to investigate moar... :beer:

[2020-07-23 13:39] bouweandela commented on #724
The problem occurs if one of the input files is opened by _recipe.py, e.g. to extract the vertical levels to interpolate to, or by _data_finder.py to find the start and end year (in the case of CMIP3 data) and then later in another process by the preprocessor.

[2020-07-23 13:41] bouweandela commented on #724
Maybe you could attach the recipe so other people can try to reproduce the issue? I cannot find `recipe_diagnostic_transect.yml` in the ESMValTool.

[2020-07-23 14:41] valeriupredoi commented on #724
yeah sorry @bouweandela been busy looking at other stuff in the meantime, here it is, I'll start poking around now too, on Jasmin :beer:
[recipe_sections.txt](https://github.com/ESMValGroup/ESMValCore/files/4966706/recipe_sections.txt)
[OM_diagnostic_transects.py.txt](https://github.com/ESMValGroup/ESMValCore/files/4966711/OM_diagnostic_transects.py.txt)
also pinging @omeuriot since she's been run

[2020-07-23 14:45] valeriupredoi commented on #728
yeah I've seen a few such cases in multiple fixes scripts - these need to be fixed (I should have opened an issue right there and then when I saw them) :beer:

[2020-07-23 15:45] valeriupredoi commented on #724
I know what's the problem - the ESMF regridder is trying to construct the regridder but it's not getting anough memory allocated, and it stays there in limbo, if you use `select_levels` instead, no ESMF mumbojumbo, you'll get the memory allocation right away:
[code]

[2020-07-23 15:49] valeriupredoi commented on #724
and I don't blame it - this would mean 37G of mem - absolute mega, but it really should not realize the whole of the data in this manner, after all, the reason why I'm asking for level selection here is to shrink the data

[2020-07-23 15:58] bouweandela commented on #724
neither regridding nor vertical interpolation are lazy at the moment: https://github.com/ESMValGroup/ESMValCore/issues/674

[2020-07-23 16:05] valeriupredoi commented on #724
ya, so we're a bit in the bogs since this will happen all the time when running with these sort of variables and on nodes with poor memory. BTW I just ran the ESMF regridding no problemo (the one both myself and @omeuriot were unable to run) after I have reduced the time to three years and I selected two levels, so it's not an inherent issue with its functionality - it's just really bad at telling

[2020-07-23 16:17] valeriupredoi commented on #724
here - at the point of realizing the lazy data:
[code]
it's trying to move about 25G of lazy data to real, and my node has only 14G of available mem, the unloader should kick me out right away. The only way we can run such variables on Jasmin is on sci3 which is dreadfully slow and hammered by everybody and their dog. If we don't select levels in advance, or regions these sort of recipes are impos

[2020-07-23 16:43] valeriupredoi commented on #724
OK I managed to run the 2x2 ESMF regridding without level selection (all 75 levels in), it took 14min to run a single year worth of monthly data (12 time points, 330x360 grid) - 99.9% of it was waiting on available memory (ran it on sci5 where you usually get about 14G of avail mem) -> this is pretty lamers :grin:

[2020-07-24 13:58] bouweandela commented on #730
That would require some changed to the code that looks for files. Maybe it can be taking into account together with #281.

[2020-07-27 11:42] valeriupredoi commented on #730
we have a to-do item that will use wildcards to select all data files with a certain naming template see this too https://github.com/ESMValGroup/ESMValCore/issues/589 - I will have to get my head around this and start working on it soon :beer:

[2020-07-27 11:51] valeriupredoi commented on #701
sorry guys, where are the Windows installation instructions now? I am trying to update and test the Github Actions tests :beer:

[2020-07-27 14:44] valeriupredoi commented on #84
OK @bouweandela I tested this both with anaconda3 and miniconda3 envs - all perfect, having some issues with the Github Actions tests but am quite sure that's because of the testing environment and not smth wrong with the PyPi package; will keep you updated when I fix those

[2020-07-27 14:53] bouweandela commented on #701
The tutorial repo was renamed, they now live here: https://esmvalgroup.github.io/ESMValTool_Tutorial/02-installation/index.html

[2020-07-27 15:04] valeriupredoi commented on #84
OK @bouweandela multiple Pythons on Ubuntu and OSX love your package https://github.com/ESMValGroup/ESMValCore/pull/700 - way to go dude! :beer:

[2020-07-27 15:10] valeriupredoi commented on #701
cheers @bouweandela - unfortunately enabling an automated test for the WSL stuff is nye on the impossible - I removed the Win workflow from Github Actions, all the others are passing nicely though :beer:

[2020-07-27 15:11] #701 closed

[2020-07-27 16:11] ehogan commented on #730
@bouweandela @valeriupredoi that sounds great, thanks! :)

[2020-07-27 16:28] bouweandela commented on #730
@mattiarighi The work still needs to be done first..

[2020-07-27 16:30] mattiarighi commented on #730
I closed because it looks like a duplicate of #589

[2020-07-27 16:35] bouweandela commented on #730
It's a different problem, only related to the same code.

[2020-07-27 16:40] bouweandela commented on #730
@valeriupredoi Maybe you can try writing a cached version of [`os.scandir`](https://docs.python.org/3/library/os.html#os.scandir) by using [`functools.lru_cache`](https://docs.python.org/3/library/functools.html#functools.lru_cache) and then patch the [`glob`](https://docs.python.org/3/library/glob.html) module so it uses that?

[2020-07-28 12:07] valeriupredoi commented on #660
ah the dreaded reopen :grin: As per the [instructions] (https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/install.html) installing from conda via simple conda invocation gets stuck in conflict zone:
[code]
on an anaconda install, in a base environment:
[code]
I am adding the conda install test in #700 now and we can see this distributed to both Linux and OSX for different Python

[2020-07-28 12:14] valeriupredoi commented on #719
this happens both on Linux/Python3.6 and OSX/Python3.6 and 3.7 as well, Bouwe, see https://github.com/ESMValGroup/ESMValCore/pull/700 (note that 3.8 for OSX is in fact 3.7, they haven't upgraded the machine's OSX Python yet, 3.8.5 is a week old)

[2020-07-28 16:13] valeriupredoi commented on #660
too much fluff here, closing this and reopening a new, more precise one :beer:

[2020-07-28 16:13] #660 closed

[2020-07-28 16:32] valeriupredoi opened #731 "Installation and testing of esmvalcore package"
#732  and its Github Actions give us insight into the portability of `esmvalcore` as package:

**Installation**:
- installation from PyPi works fine for both Linux (Python>=3.6, <=3.8) and OSX (Python>=3.6, <=3.7)
- installation from conda:
  - works fine via miniconda on Linux (Python>=3.6, <=3.8)
  - works fine via anaconda on Linux (Python>=3.6, <=3.8) **only** if inside an empty virtual env (`

[2020-07-29 17:26] valeriupredoi commented on #731
**UPDATE** on testing: oddly enough both Circle and Github Actions CI's fail all Python tests with the system-specific `INTERNALERROR> AttributeError: 'tuple' object has no attribute 'rsplit'` but I am not seeing this on my local machine

[2020-07-29 17:38] valeriupredoi commented on #731
solved by merging `master`

[2020-07-31 08:04] #84 closed

[2020-07-31 10:48] valeriupredoi commented on #731
OK @bouweandela last PR https://github.com/ESMValGroup/ESMValCore/pull/735 addresses the instructions specifically encouraging the use of miniconda and telling users to create an empty env if the env cannot be solved in `(base)`. There still are a few outstanding issues though:

Changed the PR to https://github.com/ESMValGroup/ESMValCore/pull/732 and reporting this from there:

- tests for Python

[2020-08-03 09:37] bouweandela commented on #719
Updating the docker container that we use for running our unit tests on CircleCI fixed this.

[2020-08-03 09:37] #719 closed

[2020-08-03 10:01] valeriupredoi commented on #731
@bouweandela you closed #719 but tests are still failing, see https://github.com/ESMValGroup/ESMValCore/pull/732

[2020-08-03 11:32] valeriupredoi commented on #731
@bouweandela when you do stuff that affect the tests and/or installation can you also post a ping here too please mate :beer:

[2020-08-03 11:45] bouweandela commented on #731
Yes, use a newer version of Python, i.e. Python 3.7.4 or later or Python 3.8 (the bugfix will not be included in Python 3.6, because that's too old).

[2020-08-03 12:17] valeriupredoi commented on #731
so we're not officially supporting Python<3.7.3 then? :beer:

[2020-08-03 13:36] bouweandela opened #737 "Preprocessor function multi_model_statistics depends on the name of the vertical coordinate"
See the code here:
https://github.com/ESMValGroup/ESMValCore/blob/574ad007a03ad640619c653eb4210c849142db6c/esmvalcore/preprocessor/_multimodel.py#L170-L184

This does not work if the coordinate has a different name. The code could e.g. be changed so it uses `cube.coord(axis='Z')`.

[2020-08-03 13:38] bouweandela opened #738 "Preprocessor function multi_model_statistics does not work if no time coordinate or only single time point in data"
Because the code assumes a time coordinate is present and does `cube.coord('time').guess_bounds()`

[2020-08-05 08:50] pcosbsc opened #739 "Adding area weighted RMS to area_statistics"
Would it be possible to add the iris analysis operator Root Mean Square (with area weighting) to the `area_statistics` function?
My guess is that just adding it to the`operators` array in the `get_iris_analysis_operation` function should solve it.

[2020-08-05 12:09] bascrezee opened #741 "Standardized CMOR variables having unit 1 not supported at the moment."
**Describe the bug**
On suggestion of @hb326 I made the preprocessor function `anomalies` set the units to `1` if standardized anomalies are requested, see [here](https://github.com/ESMValGroup/ESMValCore/pull/727). This is exactly how it should be, since standardized anomalies are unitless. This however, leads to the following error when calculating standardized anomalies on a CMOR variable (e.g.

[2020-08-05 13:44] bouweandela commented on #731
Maybe we can drop support for Python 3.6 once 3.9 is released? That will be this autumn.

About using Python 3.7.3, that was released in March 2019 and a number of bug and security fixes have been published since, so if you run into one of those, as is the case here, your only option is to upgrade. The list of Python releases and their release dates can be found here: https://www.python.org/downlo

[2020-08-06 06:17] jgriesfeller opened #742 "tracking of the data versions used to run a receipe"
In the IS-ENES3 project there's this small task named 'Version documentation of **utilized** observations' that asks for version info of observations to be added to the provenance information. This info is mostly important for data sets that change their version frequently (e.g. AERONET updates once a week, but does not keep elder versions for reference).
But given that during the last part of the

[2020-08-06 14:21] bouweandela commented on #742
The information is not present in the log files, but in the provenance (in [W3C prov XML format](https://www.w3.org/TR/prov-xml/) that the ESMValCore records.

All paths and global attributes of input NetCDF files are stored in the _provenance.xml files that are produced for each figure/output file, so in some cases recording the provenance will work just fine:
- For data that has the version stor

[2020-08-06 15:04] bouweandela commented on #741
The problem is the default preprocessor order. as a workaround you can use
[code]

[2020-08-06 15:44] bouweandela commented on #741
I realized that the order of this preprocessor function is not configurable, so the only possible workaround would be to completely disable it:
[code]

[2020-08-07 09:18] bouweandela opened #744 "Move temporal 'regridding' from multi_model_statistics preprocessor to regrid_time preprocessor"
At the moment, the preprocessor `multi_model_statistics` will also attempt to automatically 'regrid' the time coordinate of the incoming datasets. Other coordinates, such as horizontal and vertical coordinates, need to be explicitly regridded by defining a preprocesor in the recipe. It would be good to be consistent and make the temporal regridding more visible and move the temporal regridding to

[2020-08-07 10:00] bouweandela commented on #124
The plan for the next release will be to implement the schema and only allow a single correct type for each entry.

[2020-08-07 10:02] bouweandela commented on #124
Note that currently there is a warning if no ancestor files are provided, however, this is probably a valid use case if the file is generated from code alone: https://github.com/ESMValGroup/ESMValTool/pull/1722#issuecomment-660959216, so this should be supported.

It would also be nice to add provenance for ancestor files from `auxiliary_data_dir` (and drop the warnings if these are used).

[2020-08-07 14:04] #388 closed

[2020-08-07 14:09] bouweandela commented on #34
This is a very old issue that deals with many different topics. @ledm If any of this is still relevant, can you please open a new issue? Preferably using the new template for data issues?

[2020-08-07 14:09] #34 closed

[2020-08-07 14:54] bouweandela commented on #739
Yes, I think so. Would you be able and willing to implement this and make a pull request? Let me know if you need help.

[2020-08-11 11:38] jgriesfeller commented on #742
@bouweandela Thanks for the information. I will put this information into my deliverable document including the link to this issue.

[2020-08-11 11:52] jgriesfeller commented on #742
Since the IS-ENES3 activity covers observational data only (for which the requirement is met), I will close this issue.

[2020-08-11 11:52] #742 closed

[2020-08-12 06:31] pcosbsc commented on #739
Yes, thanks @bouweandela! I'll create the pertinent pull request.

[2020-08-12 08:03] pcosbsc commented on #739
The enhancement is ready to be pushed to a new branch but I don't have permission to ESMValGroup/ESMValCore.git. Would you be able to grant me access?

Thanks

[2020-08-12 08:30] SarahAlidoost opened #746 "A bug in using np.trunc() in regrid preprocessor"
Some hydrological models e.g. [GlobWat](https://github.com/Jippe-FAO/GlobWat/blob/master/How%20to%20use%20GlobWat1-0.pdf) use input data with pixel size 0.08333. The preprocessor regrid raise an error if we set the `target_grid` as 0.08333 by 0.08333, whereas it works with `target_grid` as 0.08333333333333333 by 0.08333333333333333.
The [error](https://github.com/ESMValGroup/ESMValCore/blob/d70c86

[2020-08-12 09:26] bouweandela commented on #739
Great!

I believe everyone who is able to do that is on holiday at the moment. Maybe it would be easiest if you could fork the repository and make the pull request from there. Would you be able to do that?

[2020-08-12 15:25] IngoBethke commented on #504
The issue has been fixed. See https://errata.es-doc.org/static/view.html?uid=ad9e4213-f254-e930-a143-030a4b0f8a32

[2020-08-12 15:47] davidhassell commented on #504
Hi - the work to  simplify and centralize the reporting of apparent errors in CMIP6 datasets has started, and is due, as far as I'm aware in, ~October. It's not a trivial change, as the errata library needs refactoring to deliver the new functionality.

[2020-08-12 16:01] taylor13 commented on #504
I agree that the change will not be trivial, and I was told by the development team that it might not be available until the end of the year, so October might be too optimistic.  The important thing is that the WGCM and modeling groups all seem supportive of making the change, so we can proceed.

[2020-08-17 09:40] #726 closed

[2020-08-17 09:41] #741 closed

[2020-08-17 09:41] #212 closed

[2020-08-18 15:20] koldunovn opened #748 "Thetao and so in BCC models"
**Describe the bug**
Variables `thetao` and `so` for BCC models (`BCC-CSM2-MR` and `BCC-ESM1`) were not passing cmip6 fixes. I will reuse fix that is available for `tos` and do the PR.

[2020-08-18 15:41] schlunma opened #750 "Wrong units after derivation of variable"
After the derivation script of a variable is executed, the units of the resulting cube are set to the ones given by the CMOR table without converting the data / checking if the units are correct:

https://github.com/ESMValGroup/ESMValCore/blob/594cb65498f92e6c08586e86d05933538be09de1/esmvalcore/preprocessor/_derive/__init__.py#L106

This is particularly problematic if the units after the derivatio

[2020-08-18 15:51] schlunma commented on #487
I tried to implement the feature that @bascrezee describes in this issue (apply a common mask to all datasets) with this recipe (also following [this](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/preprocessor.html?highlight=mask#common-mask-for-multiple-models) section of the documentation).

[code]

However, the preprocessed files do not have the same mask:

**GitHub does not

[2020-08-18 15:52] schlunma commented on #487
I tried to implement the feature that @bascrezee describes in this issue (apply a common mask to all datasets) with this recipe (also following [this](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/preprocessor.html?highlight=mask#common-mask-for-multiple-models) section of the documentation).

[code]

However, the preprocessed files do not have the same mask:

**GitHub does not

[2020-08-18 15:52] schlunma commented on #487
I tried to implement the feature that @bascrezee describes in this issue (apply a common mask to all datasets) with this recipe (also following [this](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/preprocessor.html?highlight=mask#common-mask-for-multiple-models) section of the documentation).

[code]

However, the preprocessed files do not have the same mask:

**GitHub does not

[2020-08-18 18:28] koldunovn opened #751 "Working with unstructured ocean AWI-CM data"
**Describe the bug**
There are several checks that do not allow AWI-CM-1-1-MR unstructured ocean data (`thetao` and `so`) to pass the cmorization checks.

**Little background**

Here is a small description of how unstructured ocean mesh in AWI-CM ocean model FESOM is organised: https://fesom.de/cmip6/work-with-awi-cm-unstructured-data/

In short, lons and lats are 1D arrays of coordinates of point

[2020-08-19 12:51] bouweandela commented on #746
The check is there to ensure that the globe is covered by equally spaced grid points:
[code]
(up to the precision of the 64-bit floating point numbers used in the calculation), so this would result in 4320 cells of size 0.08333333333333333 degree.

The requested resolution,
[code]
would result in a grid of 4320 cels of size 0.08333 degree and 1 cell of size 0.172806912276 * 0.08333 = 0.01439999999

[2020-08-19 13:40] koldunovn opened #753 "Dataset problem: MIROC6 3D ocean variables concatination."
**Describe the dataset issue**

Data extraction for couple of years (when only one original file is involved) works OK.

When multiple files from the original dataset involved in the preprocessing (longer time intervals), concatination error happens.

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not
supporting custom-made datasets that

[2020-08-20 12:31] Peter9192 commented on #744
It would be really useful if regrid_time could then also check the calendar (as does mmstats, also see #685). I keep running into incompatible time coordinates because the calendars differ.

[2020-08-20 12:46] schlunma commented on #744
Yes please!

I (and @hb326) encountered problems with [`iris.quickplot.plot`](https://scitools.org.uk/iris/docs/latest/iris/iris/quickplot.html#iris.quickplot.plot) when the time coordinates of the different cubes have different calendars. As a fix we use the following code:

[code]

It think it would make sense to include this in `regrid_time`.

[2020-08-20 13:42] bouweandela commented on #750
Are there other cases where this would be problematic? The functionality was implemented before CMIP6 was data was available, so I was not aware that the units would be different for the same variable at the time I wrote this.

[2020-08-20 14:34] bouweandela opened #755 "Configure fixes instead of programming them"
At the moment fixes are programmed. This has two drawbacks:
1) The threshold to contributing a new fix is high, as it requires programming skills and the time and ability to implement unit tests. This leads to a low number of contributions for fixes (people fix stuff on their own computer but do not share) and the fixes that are contributed, often do not make it past the [pull request stage](https

[2020-08-20 15:23] schlunma commented on #487
I'm now fairly sure that I know what's going on here.

Lets assume we have cubes with the dimensions `(TIME, LAT, LON)`. Then the preprocessor `mask_fillvalues` produces a common mask with the dimension `(LAT, LON)`, since it collapses over the time dimension during the mask calculation:

https://github.com/ESMValGroup/ESMValCore/blob/594cb65498f92e6c08586e86d05933538be09de1/esmvalcore/preprocesso

[2020-08-20 15:26] schlunma commented on #750
We found this problem while working with CMIP5 and CMIP6 data simultaneously. I do not know of any other cases, but I think the way it is implemented right now is prone to errors that are not easy to debug, since we expect the derivation script to output the correct units without cross-checking this.

[2020-08-24 14:27] bouweandela opened #756 "Recommend using yapf-diff instead of plain yapf in contribution guidelines?"
To avoid having a lot of cosmetic code changes in every pull request, we could consider
1) recommending yapf-diff (and contributing a script that does that, see https://github.com/google/yapf/issues/190) or
2) pinning the yapf version, because formatting changes with every new version

[2020-08-24 15:37] schlunma opened #757 "Trend preprocessor"
It would be nice to have a preprocessor that calculates the (linear) trend of a field along a given coordinate.

**Would you be able to help out?**
Yes, I will implement this.

[2020-08-25 09:44] Peter9192 opened #758 "Add support for named scientific regions in extract_shape"
The `extract_shape` preprocessor currently requires a shapefile path in the recipe. It would be nice to support named scientific regions as well, such as the SREX or AR6 regions. We could probably reuse some of [`regionmask`'s](https://regionmask.readthedocs.io/en/latest/defined_scientific.html) functionality, like so:

[code]

In the recipe, you could then do something like:

[code]

**Would you

[2020-08-25 15:33] Peter9192 commented on #758
I looked a bit more into regionmask, and it seems to do very similar things that we do in the extract_shape preprocessor. Has it ever been considered to use regionmask in our preprocessor? If so, why did we decide against? And if not, would it make sense to put some effort into this?

[2020-08-26 09:23] bouweandela opened #760 "Document how to implement a new preprocessor"
We have documentation on how to derive new variables and implement fixes, but not yet on how to implement a new preprocessor function. It would be good to add that here:
https://docs.esmvaltool.org/projects/esmvalcore/en/latest/develop/index.html

[2020-08-26 10:15] bouweandela commented on #758
Would there be some overlap with the [`extract_named_regions`](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/api/esmvalcore.preprocessor.html#esmvalcore.preprocessor.extract_named_regions) preprocessor function?

If you want the keyword arguments proposed above, I would recommend making a completely new preprocessor function, because there does not seem to be much overlap with `extract

[2020-08-26 11:37] Peter9192 commented on #758
Thanks Bouwe!

From what I understand, the `extract_named_regions` looks for an additional `region` coordinate that must be present in the cube. That's quite different.

[2020-08-26 14:57] hb326 opened #761 "ERA5 on-the-fly cmorizer outdated?"
I downloaded ERA5 data (three cloud variables and total precipitation) from the CDS this week, and tried to cmorize it with the ERA5 on-the-fly cmorizer. Unfortunately that did not work. It seems like CDS has added a new dimension to the data in the netCDF files.
Here is the header of data that is available on Mistral and was downloaded a while back:

dimensions:
        longitude = 1440 ;

[2020-08-26 15:15] schlunma opened #762 "Preprocessor order: positioning of extract_time"
I have a question about the preprocessor ordering:

Why are the preprocessors `extract_time`, `extract_season` and `extract_month` placed before `cmor_check_data`?

[code]

That way, they cannot be shuffled around by `custom_order = true`, since they belong to the initial steps:

https://github.com/ESMValGroup/ESMValCore/blob/594cb65498f92e6c08586e86d05933538be09de1/esmvalcore/preprocessor/__init_

[2020-08-26 15:47] bouweandela commented on #762
I would be fine with changing the order as proposed, since most data is lazy anyway the increase in processing time will probably be small in most cases. @mattiarighi Any opinion?

[2020-08-27 07:15] bouweandela commented on #761
This looks like what is described here: https://confluence.ecmwf.int/pages/viewpage.action?pageId=173385064,
except that there it says that this is only for very recent data. Maybe it was a bug at ECMWF? I just downloaded the data mentioned above with the command:
[code]
and got the following file:
[code]

[2020-08-27 07:19] bouweandela commented on #761
Actually, looking at the history field of your newly downloaded data, I can see that you did not use `era5cli`, so maybe you accidentally requested different data?

[2020-08-27 08:04] bouweandela commented on #758
OK, I thought that would correspond to the AR6 regions.

[2020-08-27 08:05] bouweandela commented on #758
I also found the ASCEND package by the Met Office, which extract shapes from iris cubes, not sure what the status exactly is though: https://github.com/informatics-lab/covid-19_shapecutter/blob/master/shape_utils.py

[2020-08-27 13:33] hb326 commented on #761
Yes, I did not use era5cli for the download. I used the CDS webpage.
This is the API code I get for the download:
[code]

How weird is it that you get an extra dimension if you download it from the webpage?!

[2020-08-27 13:34] bouweandela commented on #761
I suspect it is because you're trying to download stuff from the future, can you try removing 2020?

[2020-08-27 14:22] hb326 commented on #761
Hmm, not downloading the year 2020 seems to do the trick.

[code]

[2020-08-27 14:22] hb326 commented on #761
Thanks for the help!

[2020-08-28 11:32] valeriupredoi commented on #746
and to add to @bouweandela 's comment if you try running a regrid instance with target grid of 0.08 x 0.08 degrees even if you add an exception to the check (which we could, in principle) the thing will grind to a halt given how fine the target grid is. Realistically regrid works fine up to about quarter degrees target grids, then it starts to bog down :beer:

[2020-08-28 13:12] stefsmeets opened #768 "Problem with masked dataset in detrend preprocessor"
**Describe the bug**
When implementing a new recipe (https://github.com/ESMValGroup/ESMValTool/pull/1648) we came accross an problem when using a CMORized E-OBS dataset.

Specifically once we added the detrend preprocessor, an error was raised because of NaNs in the data. This might be a problem with the CMORizer as suggested here https://github.com/ESMValGroup/ESMValTool/pull/1648#discussion_r477

[2020-08-28 16:12] valeriupredoi opened #763 "Not an issue: new handling of dependencies by pip 20.2 from October 2020"
PyPi are changing the way `pip` handles dependencies from October 2020 in the new release of pip=20.2 (see [here](https://discuss.python.org/t/announcement-pip-20-2-release/4863), the dependency solver is not ready yet in 20.2.2) and recommend using `--use-feature=2020-resolver` flag for `pip install` as a consequence (you get an ERROR otherwise, which is not really an error perse); this is a plac

[2020-08-31 12:25] bouweandela commented on #493
@Peter9192 @SarahAlidoost @nielsdrost It would be good to have your opinion on this. Specifically, would we need to be able to specify completely free grids, i.e. start/stop/stepsize or start/stop/numsteps? Or do we prefer to have grids that are a subset of a global grid? i.e. specify step size or number of steps on the global grid and then cut out a region? If you intend to later combine the regi

[2020-08-31 14:02] bouweandela opened #765 "Switch from vmprof to vprof as supported diagnostic profiler?"
We currently support profiling diagnostic with [vmprof](https://github.com/vmprof/vmprof-python) when the `profile_diagnostic` option is set to `true` in config-user.yml. I tried to use the output, but was not successful in getting it to display. The project does not look very active on GitHub either and we regularly have installation issues with it, see e.g. [here](https://app.circleci.com/pipeli

[2020-08-31 15:35] jvegasbsc commented on #765
I do not have a strong opinion on that, but if the new one produces human readable output it is a good improvement. Please, go ahead

[2020-08-31 15:55] Peter9192 commented on #493
I think flexibility in terms of the start and end points would be very nice, I can imagine we would use this for our hydrological model forcing data. Perhaps we could make the default a subset of the global grid, unless otherwise defined?

Yet another option would be start/stepsize/numsteps. That seems relatively user-friendly as well, and won't lead to any problems in inferring 'stop'. That could

[2020-09-01 08:56] bascrezee commented on #487
I fully agree. I saw you already started a branch, is it ready for a PR?

[2020-09-01 12:25] nielsdrost commented on #493
It would be nice to re-use some existing convention for this. The closest thing to a convention I could find is the cdo grid specification: https://code.mpimet.mpg.de/projects/cdo/embedded/index.html#x1-150001.3.2

It supports a lot of different options, but in its simplest versions seem to match what we also came up with. From the documentation:
[code]

[2020-09-01 16:19] schlunma commented on #487
I opened a draft PR (#767), but several things are missing which I listed in this PR. Any contributions to this are welcome since I probably will not have the time to finish this soon!

[2020-09-02 10:59] SarahAlidoost commented on #746
Thank you for your explanations. I agree that some checks are needed. It would be helpful if the preprocessor gives a clear error message when users enter `0.08333`.
However, the current check as Bouwe mentioned uses the precision of the 64-bit floating-point numbers which might not make sense from a user’s perspective. The preprocessor raises an error for 0.0833333333333333 (16digits), whereas wo

[2020-09-02 11:06] SarahAlidoost commented on #493
I like Niels’ suggestion. Regarding rounding issues with floating-point numbers for step size (or y/xinc or pixel size), please see my comment on the issue #746.

[2020-09-02 14:23] bouweandela commented on #768
@jvegasbsc Would you be able to have a look at this?

[2020-09-03 15:33] #642 closed

[2020-09-04 12:10] valeriupredoi commented on #768
indeed, `detrend` doesn't deal with masked objects, but since the process is just removing the line of least squares, one can just give the NaN a value that's outrageous and no being taken by any other valid datum eg 1e20

[2020-09-04 13:29] #663 closed

[2020-09-04 13:42] stefsmeets commented on #52
In #673 we made some progress to make this possible. Internally we added support for grouping data to do ensemble statistics, but in principle, anything can be grouped, as long as it is defined in the dataset attributes. This functionality can be exposed quite easily.

What you would then do would be something like:

[code]

[2020-09-04 14:07] stefsmeets opened #769 "Implement products class"
**Is your feature request related to a problem? Please describe.**
For https://github.com/ESMValGroup/ESMValCore/pull/673 we were working a lot with products, and we ran into several issues with products. Our wish from #673 is to have better grouping of products to apply multi-product statistics. This means that a group of products could have a common output_product. At the moment, ESMValCore expe

[2020-09-07 09:13] stefsmeets commented on #769
Also ```products._check_multi_model_settings()```

[2020-09-07 09:39] stefsmeets commented on #769
Could also make order a attribute on `ProductSet`, as they are so tightly coupled and often passed as arguments together.

[2020-09-08 14:16] thomascrocker opened #772 "Unexpected behaviour when regridding / extracting a region"
Hello, I'm attempting to use ESMValTool with data from the Met Office HadGEM3-RA regional model.
[ESMValTool_issue_files.zip](https://github.com/ESMValGroup/ESMValCore/files/5188809/ESMValTool_issue_files.zip)

I have successfully run my model output through an in house CMORization / mip_convert suite and added project lines to read the files to a custom `config-developer.yml ` file (using the sam

[2020-09-08 15:49] valeriupredoi commented on #769
this is a very good idea, cheers @stefsmeets :+1: :beer:

[2020-09-09 07:26] Peter9192 commented on #189
I had some pytest problems as well. Not the same, but when I tried to reinstall the (develop) environment with latest conda and pip, I noticed:

[code]

Using this option seems to have resolved my conflicts.

[2020-09-09 09:05] valeriupredoi commented on #189
see https://github.com/ESMValGroup/ESMValCore/issues/763

[2020-09-09 10:01] thomascrocker commented on #772
From stepping into the souce code of `_area.py` using pdb I worked out the problem with the area extraction. My data was defining the longitude coord in the range -180 to +180 rather than 0 to 360 as the code clearly expects. I can fix this by adapting my data preparation stage to ensure longitude is stored in the 0 to 360 range.
Am about to take a closer look at the regridding now to see if I can

[2020-09-09 14:41] valeriupredoi commented on #724
I had a mcuh closer look at this and found out what the actual dealy is coming from - the esmpy regridder assembles the regrid instances per level into a list - if you have a ton of those levels that thing spends forever, I parallelized the list in `_regrid_esmpy.py` in #773 and for my example the regrid time decreased from 400s to 1s - pretty hefty speedup! Can @zklaus and @omeuriot have a test p

[2020-09-10 09:14] schlunma commented on #762
I found an issue that appears when moving `extract_time` down in the preprocessor ordering:

Right now, the preprocessor `extract_time` is used to extract user-desired time range as given in the recipe by the `start_year` and `end_year` attributes:

https://github.com/ESMValGroup/ESMValCore/blob/505db58d5555cbaf6472e0131fc29066b032885a/esmvalcore/_recipe.py#L307-L316

This is problematic in cases

[2020-09-10 09:34] valeriupredoi commented on #762
@schlunma I reckon there's no need for an extra preprocessor, all you have to do is update the settings in `_recipe.py` in `def _get_preprocessor_products()` - note that `_get_default_settings` already sets up time extraction as default, if you call it again via an update function in `_get_preprocessor_products` it should be fine and will run again whenever you have it in the recipe explicitly sta

[2020-09-10 09:53] Peter9192 commented on #487
I see how this is different from mask_fillvalues. I wonder if it should replace [mask_fillvalues for multiple models](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/preprocessor.html#common-mask-for-multiple-models) altogether? If not, at least the documentation should clarify what the difference is between the two.

[2020-09-10 10:19] rswamina opened #774 "Preprocessor taking very long time processing large data files like ocean data"
I encountered a problem when processing large data sets (e.g. ocean variable like thetao and pi-ctrl data running to several hundered years). Despite ordering preprocessors in what I thought would be an efficient way to process the data, the program either hangs/runs out of memory. I reduced the number of years to a very small number and did manage to complete the preprocessing. I ran these on JAS

[2020-09-10 14:10] valeriupredoi commented on #731
good jub @bouweandela - we now have nightly testing with the merge of #732 and are in a very good position wrt portability :beer: There are the issues with OSX but we have an issue for that and I am going to try get access to a Mac very soon see what I can on it :apple:

[2020-09-10 14:10] #731 closed

[2020-09-10 14:24] valeriupredoi opened #775 "Optimization needed for regrid (including esmpy) and level selection"
This is an amalgamation of multiple issues that were open at separate times, initially believed to be caused by other problems; issues closed and squashed in here #724 #774 and draft PR #773 ; in short:

- regridding large 3d datasets (like ocean data) takes a long time; this is not due to poor implementation but rather it is the limit of any serial run w/o parallelization; @bouweandela has implem

[2020-09-10 14:25] valeriupredoi commented on #774
moved to #775

[2020-09-10 14:25] #774 closed

[2020-09-10 14:26] #724 closed

[2020-09-11 07:30] Peter9192 commented on #772
Hi @thomascrocker ,
Thanks for reaching out! For some datasets, that 0-360 thing is [automatically fixed](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/preprocessor.html#cmorization-and-dataset-specific-fixes) in the preprocessor. We might want to look into issuing a warning and adding a fix for your data. In the meantime, did you have any luck after changing your longitude coor

[2020-09-11 09:31] thomascrocker commented on #772
Thanks for the reply. I added some nco commands to my data preparation code (which needs to run anyway to convert the data from pp format to CF compliant netCDF format) so that any longitude points (and bounds) < 0 have 360 added to them, forcing longitude into the range 0 to 360. After doing that area extraction worked as expected.

I then spent some time stepping through the source code in `_reg

[2020-09-11 09:55] valeriupredoi commented on #772
@thomascrocker cheers for raising this and thanks for the very detailed debugging and problem-tracing! One suggestion would be to run with `--check_level=strict` so you can see if there are any CMOR-related issues with the data - the code will stop and raise where the problem occurs; also, are you running on Jasmin? If so, can you pls point me to the data and the config/recipe you running? Cheers

[2020-09-11 10:07] valeriupredoi commented on #775
@bouweandela `_vertical_interpolate()` is not:
[code]

[2020-09-11 10:12] valeriupredoi commented on #775
also that function keeps two copies of the data from `cube.data` and `new_data` which are of similar sizes and dereferencing happens only at the very end so they stay in memory

[2020-09-11 13:03] valeriupredoi commented on #775
OK partially addressed memory issue from `vertical_interpolate` in #776 (saving about 30% memory) but the main problem is `stratify` gets all the stuff done unlazied, did we have a fix to remove stratify? :beer:

[2020-09-11 13:10] valeriupredoi commented on #35
noticed in #776 that `stratify` accepts and works happily with `cube.core_data()` - any way to make it fully lazy and output a lazy data array @bjlittle ? :beer:

[2020-09-11 13:31] thomascrocker commented on #772
@valeriupredoi I tried with `--check_level=strict` but the data passed all the checks.

I'm not running on JASMIN, I have a local install. My recipe file (and debug output) are attached in the zip in my original post. I've also attached my config files here:
[esmvaltool_config.zip](https://github.com/ESMValGroup/ESMValCore/files/5209168/esmvaltool_config.zip)
I did have JASMIN credentials but they

[2020-09-11 13:59] stefsmeets opened #777 "Conflicting import formatting between yapf and isort"
**Describe the bug**
I just noticed that both yapf and isort will format the imports, which is undesirable. This does not really affect if you run isort/yapf manually, but for `pre-commit` this turns into an infinite loop of both fixing each others changes.

The culprit is probably was probably introduced here: https://github.com/ESMValGroup/ESMValCore/blob/6594471a0128dca05b56a7e5317525ddb16b8567

[2020-09-14 14:10] stefsmeets commented on #777
The PR fixes most cases, but there is still an issue with this.
I just came accross this conflict in `tests/unit/preprocessor/_multimodel/test_multimodel.py`

isort likes:
[code]

yapf likes:
[code]

[2020-09-14 14:31] stefsmeets commented on #777
It seems that `yapf` tries to determine whether to go for the `isort` style above or move the imports over to the next line based on some algorithm. The choice for this formatting in isort is static and defined via a config file.

The alternative is to go for a different style of import formatting as also stated in the [isort documentation](https://pycqa.github.io/isort/docs/configuration/profiles

[2020-09-14 14:37] stefsmeets commented on #777
I also found an alternative tool [here](https://github.com/asottile/reorder_python_imports) to do import reordering, which seems to be less fussy than `isort`, but gives the same ordering as in https://github.com/ESMValGroup/ESMValCore/issues/777#issuecomment-692096721. Might be a good alternative.

[2020-09-14 15:56] valeriupredoi opened #779 "libunwind causing OSX conda environment insolvability with Python=3.8"
**UPDATED**
This is a warning that `libunwind` from our environment, needed by the cosx conda gnu gcc compiler for Linux, is preventing env solving and consequent installation with Python 3.8 on OSX (both for esmvalcore and esmvaltool); removing the dependency from the env for OSX produces a correct env and installation with Python 3.8: https://github.com/ESMValGroup/ESMValCore/runs/1113394008?che

[2020-09-14 16:02] bouweandela commented on #779
Which package needs libunwind?

[2020-09-14 16:08] valeriupredoi commented on #779
it was something that needed it when we switched to python 3 and up uuntil recently when we were using 3.6-7, hoonestly I can't remember

[2020-09-14 17:50] valeriupredoi commented on #779
OK it's needed by the conda gnu gcc compiler and I spoke too soon (the installation was picking up either a system `-lunwind` or a (base) one, not sure but surely was picking up something) - this is still needed even for Python 3.8 https://github.com/ESMValGroup/ESMValCore/runs/1113393840?check_suite_focus=true

[2020-09-14 18:07] valeriupredoi commented on #779
I propose we split the env files: one for Linux one for OSX - see test results with this implementation https://github.com/ESMValGroup/ESMValCore/actions

[2020-09-15 08:41] bouweandela commented on #779
From the link you provided, it looks like it's needed to compile vmprof, which isn't much good anyway, so maybe you could switching to vprof as proposed in #765? Does that help?

[2020-09-15 08:48] bouweandela commented on #762
How about simply adding `extract_time` at the start of `order` if it is not in there yet? That would solve the issue without major changes.

Is this issue still up to date? At the ;ast monthly meeting you described a different problem, if I remember correctly?

[2020-09-15 09:01] valeriupredoi commented on #779
if `vprof` needs to be compiled in the same manner as `vmprof` we are in the same boat, man :beer:

[2020-09-15 09:02] schlunma commented on #762
That works if the user does not explicitly specify `extract_time` in the recipe. However, if the user does (e.g. because the user wants to extract a specific month), then it does not work, because we cannot run a preprocessor with two different settings in our preprocessor pipeline (the settings are stored in a `dict`).

Please note that I have a use case where the order of the preprocessor matter

[2020-09-15 09:04] valeriupredoi commented on #765
I'll test this in light of getting rid of `libunwind` which currently causes issues with OSX installations :+1:

[2020-09-15 09:33] valeriupredoi commented on #779
good news @bouweandela - it works nicely https://github.com/ESMValGroup/ESMValCore/actions - good stuf!! :beer:

[2020-09-15 09:35] valeriupredoi commented on #765
OK it works nicely https://github.com/ESMValGroup/ESMValCore/actions - I'll make a PR - note that actual correct testing with Python 3.8 on OSX has now unearthed a different issue, but nothing to do with vmprof/vprof - good idea, @bouweandela :beer:

[2020-09-15 09:43] bouweandela commented on #762
If you specify the arguments of extract_time in the preprocessor section of the recipe, these will overwrite the default (i.e. the years from the dataset).

I'm still not sure I understand what you need. From this text it looks like you would actually like to use the `extract_time` preprocessor function twice in the same preprocessor profile, with the `anomalies` prepreocessor function in between,

[2020-09-15 10:11] bouweandela commented on #777
I think you need to use
[code]
because `yapf` will respect the multi line format if there is a trailing comma.

[2020-09-15 10:15] schlunma commented on #762
Exactly, sorry for not explaining this too well. I want to have a preprocessor that extracts the temperature anomaly for the years 2080 to 2100 relative to the base period 1900-1930. I tried the following preprocessor:

[code]

on datasets like this:

[code]

I encountered the following problems:

- `master` branch: not possible because `extract_time` cannot be shuffled around via `custom_order: t

[2020-09-15 10:35] bouweandela commented on #762
So what you would actually like to do is:
[code]
right?

Do you think that having the option to do this makes sense for other preprocessor functions than `anomalies` too? Because if not, it might make more sense to just add a `target_period` keyword argument or something similar to the anomalies preprocessor function where you specify the desired target period.

[2020-09-15 10:53] schlunma commented on #762
Yes, only that the first call to `extract_time` should be handled automatically by the time period I specified in the recipe as `start_year` and `end_year`.

I do not use this, but I think this might for example also be useful for the `detrend` preprocessor. For me a key feature of our preprocessor is that I can move the different functions around as I like, and I think that the current implantati

[2020-09-15 12:51] Peter9192 opened #781 "Making the multi-model statistics preprocessor lazy"
The multi-model statistics preprocessor is currently sub-optimal. It operates on Numpy arrays because Iris cubes are quite strict in checking inconsistencies between the input cubes. This workaround impedes lazy evaluation and introduces some vulnerabilites (e.g. #267, #665) and a trail of ad-hoc fixes.

Inconsistent time coordinates were probably the biggest obstacle. However, starting from #677,

[2020-09-15 13:09] stefsmeets commented on #781
https://github.com/ESMValGroup/ESMValCore/issues/674

[2020-09-15 13:20] hb326 opened #782 "new xch4 derivation script"
Some observational datasets are providing the variable xch4 (column-averaged dry air mole fractions of CH4).
This variable is not provided in the CMIP model simulations, so it needs to be derived to be able to compare CMIP simulations with the observations.

I started working on a derivation script in the branch "xch4_derivation_branch".

[2020-09-15 14:40] stefsmeets commented on #498
@Peter9192 and I just had a long discussion about how to implement this in practice. We think that Dataset and DatasetList should be polymorphic, i.e. you can apply the same preprocessor functions to either and it will return an object of the same type (just like `iris.Cube` and `iris.Cubelist`).

We think it is important to do *one step at a time*. This differs from how it is done currently, wher

[2020-09-15 14:44] Peter9192 commented on #498
Just to elaborate/make it more concrete:

The `Dataset` object is *a future state that is obtained by applying its function to its inputs*. Mathematically:
[code]

The esmvaltool equivalent in the envisioned API:
[code]

Example with multi-model (aggregation-type) functions:

[code]

[2020-09-15 18:48] Peter9192 commented on #498
Hey @stefsmeets this statement kept nagging at me. What does this mean for mutlimodel/aggregation functions, which convert *m* input products to *n* output products depending on the settings and e.g. the number of groups present in the DatasetList? That means that the initial settings check should update the DatasetList object to inform it about the number and nature of output products. Does that

[2020-09-16 07:08] stefsmeets commented on #498
Hi @Peter9192 , obviously the DatasetList produced by `apply` should produce a representable list. So it makes sense to purge the number of `Dataset`s as part of the initial settings check (or perhaps some other function).

[2020-09-16 07:18] stefsmeets commented on #777
Okay, I wasn't aware of this. This indeed works, I just tested it and the trailing comma makes the difference!

The output is again slightly different:

[code]

[2020-09-16 07:45] stefsmeets commented on #777
Just to make sure I tested this on all files in the repo, and there are no more conflicts 🎉

[2020-09-16 10:07] valeriupredoi commented on #781
good call! we need to liaise with `iris` folk - @bjlittle - because a basic multimodel statistic (and lazy altogether) would best sit in `iris`. We can do it here first but migration to `iris` is something both us and them would benefit from :beer:

[2020-09-16 11:31] Peter9192 commented on #781
So what we did in #673 is basically: `iris.cube.cubeList(...).merge_cube().collapse()` with some fiddling with auxcoords and equalizing attributes. I'm not sure if that warrants a dedicated function in `iris` or whether it's just a good application of existing functionality. So indeed, I'm curious what @bjlittle has to say about that.

[2020-09-16 11:34] valeriupredoi commented on #781
no, I'm talking about a dedicated `iris.analysis.multimodel_statistics(args=(cubes, statistic, ...), **kwargs)` function

[2020-09-16 12:50] Peter9192 commented on #781
I know. But what I'm saying is that you could also see it as a use case that is already supported by existing functionality in `iris`. So I'm not sure if really needs to be a dedicated function in iris. But of course I would be happy to see it migrate there eventually.

Btw, I would prefer to name it multi-cube statistics (like I did in #673), because iris is all about cubes, and different cubes a

[2020-09-16 17:09] valeriupredoi commented on #781
I need to have a look at #673 :+1:

[2020-09-17 10:57] #777 closed

[2020-09-17 13:35] bouweandela opened #787 "Demo use of dachar and daops for fixing data"
It would be nice to demo how we could use the character/fixes defined by [dachar](https://github.com/roocs/dachar) to fix data with [daops](https://github.com/roocs/daops) and then [convert that from an xarray to iris cube](http://xarray.pydata.org/en/stable/generated/xarray.DataArray.to_iris.html) for use in the ESMValCore.

Example fixes:

Fix standard name:
https://github.com/ESMValGroup/ESMVal

[2020-09-18 09:27] bouweandela opened #797 "Check if command line arguments are valid"
At the moment the `esmvaltool` command does not check if any invalid arguments are provided, e.g. a command like this
[code]
will happily run and try to use the configuration file in default location `~/.esmvaltool/config-user.yml` instead of the one provided on the command line. This is very confusing if that file contains an error and you do not spot the typo in the command.

[2020-09-18 09:58] thomascrocker commented on #772
I've not gotten any further with this yet, since I've been focussing on a couple of other bits of work. However in the meantime I have got my JASMIN access sorted again. @valeriupredoi Could you let me know how to access the installations there? I can then transfer my data to JASMIN and we'll be singing from the same hymn sheet at least.

[2020-09-18 11:16] stefsmeets commented on #125
This can be tackled as part of #785 using config validators

[2020-09-18 12:10] goord opened #834 "The 'mip' keyword in recipe yaml is confusing"
The 'mip' field in the datasets dictionaries refer to CMIP-tables, not to MIP's themselves. There is certainly not a one-to-one correspondence between the two concepts, so I suggest to rename the key to e.g. 'table'

[2020-09-18 12:15] valeriupredoi commented on #644
OK I had a closer look at this today - some prelim conclusions:

- it's not `hdf5` that's causing the issue (tests fail with Segfaults for the core package too, where we have 1.10.6 and no `ncl`)
- this segfault issue creeps up on the GA machine too, and is seemingly independent of Python version see [fail with Python 3.8](https://github.com/ESMValGroup/ESMValCore/runs/1128114001?check_suite_focus

[2020-09-18 12:51] valeriupredoi commented on #644
I also think that the Segfaults we're seeing now are coz of the pytest+pytest-xdist combo since we were not seeing these for Core (where hdf5 was and is indeed at a recent 1.10.6 version)

[2020-09-18 13:00] nielsdrost opened #788 "Download subcommand for downloading of tutorial data"
It would be nice to be able to ask ESMValTool to download some "getting started" data for you for the tutorial. This could for instance be in the form of a download subcommand.

```esmvaltool download example-data```

Eventually we can also add the capability to download data for a specified recipe to this new subcommand (via Synda or otherwise).

Thoughts?

[2020-09-18 13:06] nielsdrost opened #789 "Config check subcommand"
While doing the tutorial, one error encountered was an invalid config file. This leads to all sorts of parser and "data not found" errors. Perhaps we could add a sub command specifically to check the configuration for validity (#125), and perhaps check if all the paths exist.

Once we have an importable config object (#785) this should not be hard to implement.

[2020-09-18 15:40] jvegasbsc commented on #787
Yes, I can do it. It could save me lot's of time, so it is a good investment

[2020-09-18 15:45] valeriupredoi commented on #787
way to go, Javi! :beer:

[2020-09-18 17:55] npgillett commented on #51
It looks like someone has optimised the memory usage of the preprocessor in the last few months - my code with ~1500 input files used to run out of memory and crash when I ran in one go in the spring, now it works! Thanks! That said, according to the resource_usage.txt file, the memory used still seems to progressively increase through the run and never decrease, which I don't fully understand, si

[2020-09-21 11:20] valeriupredoi commented on #789
good idea @nielsdrost :beer:

[2020-09-21 11:23] valeriupredoi commented on #788
we could put some data on a server and use that as example data and make it accessible to anyone who's got the tool via `wget`? Not an ESGF server, but some cloud storage unit - I am not sure which one would be suited for that though

[2020-09-21 13:24] agstephens commented on #787
@ellesmith88, tagging you on this issue as a collaboration point with ESMValTool.

[2020-09-22 11:39] rswamina commented on #576
@valeriupredoi  - Can something be done to fix the cube concatenation issue or has this been addressed elsewhere? Thanks!

[2020-09-23 10:48] nielsdrost opened #793 ""Default" is not a great name for a DRS in the configuration"
In the config-user file, one possible value for a DRS is to have a directories full of files, and no subdirectories at all. This is called "default" at the moment. This is not very descriptive. To add to the confusion there is also a "default" key for the default DRS to use in case none is specified.

I propose to rename "default" to "flat", or some other more descriptive term.

[2020-09-23 10:49] nielsdrost commented on #793
@stefsmeets perhaps something to consider in #785?

[2020-09-23 10:54] nielsdrost opened #794 "Example config file could use some improvements"
Why doing the tutorial, I noticed that the default example config file could use some tweaks. For instance:

* There is no example of a flat directory with files in the config, even though this is used in the tutorial
* obs4mips is not a project in the example data locations

[2020-09-23 11:01] Peter9192 commented on #793
@nielsdrost it is indeed something we have talked about in #785. We're currently proposing to merge config-user and config-developer altogether, so that this option/keyword is no longer needed. Nevertheless, we should probably document that the 'default' drs assumes a 'flat' directory structure then.

[2020-09-24 08:14] bouweandela commented on #794
I'm not sure if it's a good idea to recommend using such a directory structure, because you lose the version information of CMIP models if you do not store that in the path. At the moment we do not use the version information for applying fixes, but in the future we probably should start using that to know if a model was already fixed or not.

[2020-09-24 08:17] bouweandela commented on #788
It would be good to check with @jvegasbsc how much is already done in esmvalgroup/esmvaltool#1657 before getting started on this.

[2020-09-24 09:08] stefsmeets opened #795 "Rethinking the configuration file"
Hi everyone,

Over the last week I have been working on implementing an importable config item (#785). As part of this PR, I have been discussing with @bouweandela and @peter9192 if this would be a good time to rethink how the config file is structured. I would like to start a discussion on how to change the configuration.

There are several issues on the topc. I think with #785 we have made some

[2020-09-24 09:08] stefsmeets commented on #795
We have been working with the following scenarios:

1. As a user, the default settings should work out-of-the-box
2. As a user, I want to specify a directory with some data
3. As an advanced user, I want to tweak the directory structure to my liking
4. As a cluster administrator, I want to define custom data reference syntax
5. As a cluster user, I want to easily quickly initialize configs for dif

[2020-09-24 09:25] Peter9192 commented on #795
so to be clear, this combines the 'standard' settings from `config-user.yml` with the 'site-specific' `drs-ethz.yml` file (both hidden from the user) into a single 'config-ethz.yml' which is then copied to the users' home directory, where it can be further adapted and taylored to the users needs. Right?

[2020-09-24 09:32] stefsmeets commented on #795
Yeah, that's correct. It embeds the specific drs settings for ETHZ.

[2020-09-24 09:38] Peter9192 commented on #795
Awesome! :sunglasses:

[2020-09-24 09:49] bouweandela commented on #769
The class you describe here looks like what is called a `DatasetList` in the API proposal, right?

[2020-09-24 09:58] stefsmeets commented on #769
Yeah, that's pretty much the same.

[2020-09-24 10:23] bouweandela commented on #632
It looks like the start date is part of the ensemble name, e.g. `s2017-r1i1p1f1`, right? It does not look like it is a separate facet. Why doesn't this work with the current functionality?

[2020-09-24 10:33] bouweandela commented on #795
I updated the description of the issue to be more specific about how to move options from config-user.yml to the recipe.

[2020-09-24 10:36] bouweandela commented on #93
Using these options in the configuration file instead of the diagnostic script section of the recipe would need to be deprecated in the upcoming release (2.1, planned for October 2020, feature freeze October 5th) and removed two releases later (2.3, planned June 2021), see also the [release schedule](https://docs.esmvaltool.org/en/latest/community/release_strategy.html#release-schedule).

[2020-09-24 10:38] bouweandela commented on #93
We would need to make sure that the `write_plots`, `write_netcdf`, and `output_file_type` options are documented for those diagnostic scripts/recipes that support them.

[2020-09-24 10:49] stefsmeets commented on #795
With the way we load the config in the PR, we can quite easily add deprecation validators to let people know that these settings will be deprecated.

[2020-09-24 15:46] bouweandela commented on #628
@valeriupredoi @zklaus Were these issues also reported to the data producers?

[2020-09-25 13:37] bouweandela commented on #644
Could you attach a stack trace to back that up?

[2020-09-25 14:09] bouweandela commented on #775
Some time ago, I tried to use ESMPy with the function [dask.array.map_blocks](https://docs.dask.org/en/latest/array-api.html#dask.array.map_blocks) to make regridding for grids with 2D latitude/longitude coordinates lazy, but the problem is that ESMPy cannot be used from multiple Python threads.

Here is a fairly minimal example demonstrating the problem:
[code]
running this results in the followi

[2020-09-25 20:08] bouweandela commented on #775
It would be interesting to see if we can use [xESMF](https://xesmf.readthedocs.io) instead of our own solution. They work around the above problem by only using ESMF to build a sparse matrix with weights to define the regridder and then the actual regrid step, where you need to use multiple threads for the different chunks in the dask array, is just matrix multiplication using scipy.

[2020-09-28 08:19] #765 closed

[2020-09-28 08:43] sloosvel commented on #632
Because for example, startdate s2017 has files going from years 2017 to 2028 but s2018 has files going from years 2018 to 2029. So you cannot call the experiment in the recipe once setting the ensemble as `s(2017:2018)-r(1:3)i1p1f1` with a common start_year and end_year  without getting a `No input available for years ...` error.

With the current functionality, the recipe would need to call the e

[2020-09-28 11:26] bouweandela commented on #498
It would probably be good to choose one of these options and not implement two ways to do the same thing.

[2020-09-28 14:25] #704 closed

[2020-09-28 14:32] lukasbrunner opened #799 "Cube coord bounds make cube intersection misbehave"
**Issue in a nutshell**

- operation: `_area.py/extract_region()`
- task at hand: func needs to perfrom cube intersection on 0-360 lons
- comment: `extract_region` works well when run on a cube with negative longitude points and run as a stand alone preprocessor step, see [comment](https://github.com/ESMValGroup/ESMValCore/issues/799#issuecomment-701301097) but the intersection operation misbehave

[2020-09-28 15:15] bouweandela commented on #751
I suspect this may be due to the limited support iris has for 2D lat/lon coordinates.

[2020-09-28 15:16] bouweandela commented on #751
@zklaus Could you have a look at this issue? Do you have any advice?

[2020-09-29 11:31] valeriupredoi commented on #775
@bouweandela how about `mpi4py`?

[2020-09-29 11:48] valeriupredoi commented on #775
at the bottom of this [page](http://www.earthsystemmodeling.org/esmf_releases/last_built/esmpy_doc/html/examples.html) there is an example how to run esmpy with mpi4py - looks nifty - but unfortunately I don't know much about esmpy/esmf to be able to say it'll work for us

[2020-09-30 11:21] Peter9192 commented on #799
Good! At least we get the same results now, that helps.

[2020-09-30 11:41] valeriupredoi commented on #799
it's the `bounds` that fool `intersection`, here's a minimal example:
[code]

[2020-09-30 11:46] Peter9192 commented on #799
Seems to be this issue then: https://github.com/SciTools/iris/issues/3391

[2020-09-30 11:51] valeriupredoi commented on #799
Indeed, good find @Peter9192 - I posted the minimal code so the iris folk can see the behavior :+1:

[2020-09-30 11:56] Peter9192 commented on #799
Okay let's wait for their reply then. It would be better to solve this in iris then for us to hack around it.

[2020-09-30 12:02] valeriupredoi commented on #799
too late - I already created a temporary fix for us :grin:

[2020-09-30 12:11] valeriupredoi commented on #797
by all means, if yous have a simple and qwik fix for this, fire up (literally :grin: ) - I am starting to get very frustrated with me being a muppet and misspelling command args and the thing doing its stuff without alerting me at runtime point :beer:

[2020-09-30 15:45] valeriupredoi commented on #591
fixed in #629 :beer:

[2020-09-30 15:45] #591 closed

[2020-09-30 15:46] valeriupredoi commented on #628
@zklaus is da man wrt that, I believe yes, and we got replies from very few modelers :beer:

[2020-09-30 15:48] valeriupredoi commented on #576
I am having a look as we speak, let me update yous in a short bit :beer:

[2020-09-30 16:56] valeriupredoi commented on #576
OK guys, I looked around - UKESM1 data has no problems concatenating between exps historical and ssp, I can't find any CESM2 ssp data for Amon on Jasmin, (the DRS exists but the actual data doesn't), can you pls give me an updated dataset that has issues with the concatenation? :beer:

[2020-10-01 08:27] bouweandela commented on #628
Let's close the issue then, at least you tried! :partying_face:

[2020-10-01 08:27] #628 closed

[2020-10-01 09:37] bouweandela opened #801 "Update list of contributors"
Before we make the release, we need check the list of contributors in .zenodo.json file and update it if needed.

[2020-10-01 09:39] jvegasbsc commented on #751
To pass the checker, we need a way to detect that the coordinate is unstructured and not a bad regular one.

There is nothing in the file that directly states that, but a regular grid will only have 2 bounds per cell, not 16 like this case. I think we can skip those checks if bounds second dimension  is > 2. Then you will start having trouble with nearly every function that operates on the grid, b

[2020-10-01 09:44] jvegasbsc commented on #788
A bunch of observational data is available, CMIP data is not

[2020-10-01 09:51] #739 closed

[2020-10-01 10:34] valeriupredoi commented on #788
wait - am confused - CMIP5 data is fully available and free for redistribution (apart from MIROC, but who gives a hoots) - why don't we just grab a few models and put them in a cloud store?

[2020-10-01 10:39] valeriupredoi commented on #801
how do I do this @bouweandela :grin:

[2020-10-01 10:45] jvegasbsc commented on #788
I was referring to the automatic download and installation of data in ESMValTool. Assuming Synda is available is too ambitious at the moment

[2020-10-01 10:47] #728 closed

[2020-10-01 10:47] sloosvel opened #802 "CMOR check for time bounds"
**Is your feature request related to a problem? Please describe.**
In CMIP6 there are defined four types of time coordinates, three of which with the parameter `must_have_bounds:  "yes"`. The checker already has the functionality to check the presence of bounds, but skips it in the time dimension. We should make sure to apply this check in the time coordinate when required.

**Would you be able to

[2020-10-01 10:53] rswamina commented on #576
@valeriupredoi - I am not sure why this is missing , but the NorESM2 model shares the same grid style and has this problem I believe. NorESM2 data is available on BADC. Meanwhile I'll see if we can get the CESM2 data as well.

[2020-10-01 10:59] valeriupredoi commented on #788
ah right! Synda is still hacky (just had a conversation with Ruth Petrie about it, they have an installation on Jasmin that was a bit of a pain to get it done) and we need to make sure 100% data doesn't change for accurate testing; anyways, I am open to suggestions and am willing to help with whatever we decide :+1:

[2020-10-01 14:28] stefsmeets commented on #795
@ESMValGroup/esmvaltool-coreteam

[2020-10-01 14:29] koldunovn commented on #751
@jvegasbsc Looks like the way I did it doesn't really work, since since coordinates not nessesarelly have to have shape. What would be the right aproach? I can wrapp it in some `try/except`, or `if` statement (checking if coordinate has shape), but it's kind of ugly? :)

[2020-10-01 14:43] jvegasbsc commented on #751
I would upload a pull request with the required changes

[2020-10-01 14:56] koldunovn commented on #751
My take on it is in # #752 . Do you think it makes sence to try the `if`s aproach for the piece of code in `check.py` ? :)

[2020-10-01 16:39] valeriupredoi commented on #576
right on @rswamina - you totally right, I just ran into the dreaded concat issue from historical+ssp126 with NorESM2-LM data, just in time to call it a day :grin: will investigate thoroughly tomorrow :beer:

[2020-10-01 19:35] bouweandela commented on #801
[code]

[2020-10-01 20:33] valeriupredoi commented on #801
If data archaeologists will discover your message in two thousand years they'll think we were all machines :grinning: Cheers, dude :beer:

[2020-10-02 07:24] bouweandela commented on #788
It would probably be a good idea to switch to [esgf-python](https://esgf-pyclient.readthedocs.io/en/latest/notebooks/examples/download.html) for downloading while running the recipe.

It would be nice to also have an option to generate a [synda selection file](http://prodiguer.github.io/synda/sdt/selection_file.html) from a recipe, in case you want to use the data not just once, but install it wit

[2020-10-02 07:36] #703 closed

[2020-10-02 07:42] Peter9192 opened #803 "Better time bounds in regrid_time preprocessor"
Currently the regrid_time preprocessor sets the center points of the time bounds, e.g. monthly data at the 15th day of each month, 00 UTC.

I replicated this behaviour for multimodel stats in #685, but @sloosvel noticed in #673 that this creates slightly offset time bounds, e.g. the bounds of the time coordinate are at 12:00 UTC instead of midnight at the start of the new month.

Note that #744 pr

[2020-10-02 08:38] jvegasbsc commented on #751
#752 does not solve the monotonic check, which is the most complex. I thought of a more elegant check than the bounds one, which is prone to issues with regular latitudes badly written: if lat and lon coordinates share dimensions, we must skip the monotonic check

[2020-10-02 08:44] sloosvel commented on #803
I think this can be linked to #802 as well. If we check for presence of time bounds and for some reason they are not there, they could be guessed following the same approach.

[2020-10-02 09:30] #715 closed

[2020-10-02 09:47] valeriupredoi commented on #801
OK so by miracle this thing spat a list of names - now all I haz to do is make sure each of those names is in the zenodo file?

[2020-10-02 09:50] bouweandela opened #804 "Add completion command for automatic command line completion"
As done for example here: https://cli.github.com/manual/gh_completion

The functionality is already there through fire: https://google.github.io/python-fire/using-cli/#python-fires-flags, but it would be nice to make this more automatic and easier to find, e.g. do this automatically when the conda environment is loaded?

[2020-10-02 09:52] bouweandela opened #805 "Look into generating command line documentation automatically"
It would be great if we could have complete documentation about the command line options available on readthedocs. Maybe there exist libararies that can automatically generate the documentation from the command line interface that we can use for this?

[2020-10-02 10:24] bouweandela commented on #804
But we would need to take into consideration that probably the `esmvaltool` command is not available yet when people start their shell, so it will only be available after activating the conda environment.

[2020-10-02 10:36] valeriupredoi commented on #576
OK here's the problem - iris cube concatenation fails because NorESM2-LM has slightly different bounds for `longitude` between the two experiments `historical` and `ssp126`, namely the first and last bounds differ only:
[code]
if we harmonize these two, all goes well fine

[2020-10-02 11:00] bouweandela commented on #801
Yes, I would think so. Or do you think we should ask people first if they would like to be listed as author @ESMValGroup/esmvaltool-coreteam?

[2020-10-02 11:06] valeriupredoi opened #806 "Concatenation fails due to different bounds for different experiments but same model"
In #576 amongst other already resolved data issues, both @mwjury and @rswamina have run into issues related to iris cube concatenation failing due to very slightly different bounds values for different experiments but same model (see this [comment](https://github.com/ESMValGroup/ESMValCore/issues/576#issuecomment-639293655) and this [comment](https://github.com/ESMValGroup/ESMValCore/issues/576#is

[2020-10-02 11:07] valeriupredoi commented on #576
created a dedicated issue for the bounds problem https://github.com/ESMValGroup/ESMValCore/issues/806 so am closing this one since the other points here have been fixed, let's take the discussion there :beer:

[2020-10-02 11:07] #576 closed

[2020-10-02 11:10] valeriupredoi commented on #801
yah I think it's best we ask first - plus, there are some I new ones I saw that I don't have any information on (employer etc) so it'd be cool to ask them to provide contact details if they agree to be added as contributors :+1:

[2020-10-02 11:14] bouweandela commented on #801
I suspect you can find a lot of the info in https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/config-references.yml

[2020-10-02 11:25] valeriupredoi commented on #801
yah good point! :beer:

[2020-10-02 11:31] stefsmeets commented on #801
For sure my name is not on the list yet 😅

[code]

[2020-10-02 11:57] valeriupredoi commented on #801
@bulli92 @bascrezee @BenMGeo @bettina-gier @evertrol @egalytska @ipelupessy @JaroCamphuijsen @jhardenberg @katjaweigel @mwjury @mathause @npgillett @pcosbsc @Peter9192 @SarahAlidoost @ssmithClimate @koir-su @tillku @tobstac @tomaslovato  - you guys have contributed to ESMValCore and are not currently listed in the [zenodo](https://github.com/ESMValGroup/ESMValCore/blob/master/.zenodo.json) contrib

[2020-10-02 12:03] JaroCamphuijsen commented on #801
Sure! Thanks for adding!

[code]

[2020-10-02 12:06] bettina-gier commented on #801
Oh yeah I actually made an orcid too, I'll have to update the tool developer list next time I put a pull request I guess
{
  "affiliation": "University of Bremen, Germany",
  "name": "Gier, Bettina K.",
  "orcid": "0000-0002-2928-8664"
},

[2020-10-02 12:55] katjaweigel commented on #801
Thanks for checking!
{
  "affiliation": "University of Bremen, Germany",
  "name": "Weigel, Katja",
  "orcid": "0000-0001-6133-7801"
},

[2020-10-02 13:15] mathause commented on #801
Thanks, happy to be included.
{
"affiliation": "Institute for Atmospheric and Climate Science, ETH Zurich, Zurich, Switzerland",
"name": "Hauser, Mathias",
"orcid": "0000-0002-0057-4878"
},

[2020-10-02 13:40] Peter9192 commented on #801
[code]

[2020-10-02 14:26] egalytska commented on #801
Thanks for including.
[code]

[2020-10-02 14:28] pcosbsc commented on #801
Thanks!

[code]

[2020-10-02 17:30] ipelupessy commented on #801
{
  "affiliation": "Netherlands eScience Center",
  "name": "Pelupessy, Inti",
  "orcid": "0000-0002-8024-0412"
},

[2020-10-02 18:10] koir-su commented on #801
{
"affiliation": "Max Planck Institute for Biogeochemistry, Germany",
"name": "Koirala, Sujan",
"orcid": "0000-0001-5681-1986"
},

🍺 🍻 and one more 🍺

[2020-10-05 07:10] tobstac commented on #801
Thanks a lot!
{
"affiliation": "Helmholtz-Zentrum Geesthacht, Germany ",
"name": "Stacke, Tobias",
"orcid": "0000-0003-4637-5337"
},

[2020-10-05 08:47] SarahAlidoost commented on #801
Thanks, here my info:
{
    "affiliation": "Netherlands eScience Center",
    "name": "Alidoost, Sarah",
    "orcid: "0000-0001-8407-6472"
}

[2020-10-05 08:56] rswamina commented on #806
@valeriupredoi  - In as much as we can say this is a problem only for concatenation then yes. I do not know if this can be a problem elsewhere. Also I do not know if altering the metadata will have implications. If there are none then should this just be a fix for this particular dataset?

[2020-10-05 09:26] valeriupredoi commented on #806
@rswamina

No, the original bounds are not `None` , they are different from one experiment to the other, and on top of that, the lowermost bound is negative for one experiment dataset (can you get negative lower bound for an always positive coordinate @zklaus ?)

A dataset fix is tricky unless you completely remove the bounds from each exp dataset and guess them with `iris` - `guess_bounds()` alwa

[2020-10-05 09:31] rswamina commented on #806
@valeriupredoi : By None I mean no other problems with altering the metadata.  As in should we make this change for this dataset regardless of concatenation or may be not based on what you say about using guess bounds?

[2020-10-05 09:33] valeriupredoi commented on #806
ah got you, Ranjini! OK - I'd be very interested in what @jvegasbsc and @zklaus think about this :+1:

[2020-10-05 09:35] bouweandela commented on #806
Guessing the bounds sounds a bit drastic for solving this. In most cases we solve this by rounding the problematic coordinate value to one digit less, e.g. in the worst case to 6 digits if the modellers used a 32 bit float to store the data.

Why is it not possible to write a fix for the specific models that have this problem?

[2020-10-05 09:38] jvegasbsc commented on #806
If the bounds are not the same by an appreciable margin (i.e more than 0.01º), one of the experiments have an issue, as they are supposed to be run with exactly the same model version and grid. We should fix that experiment, not the other. In fact, if bounds have changed there is a chance that they detected an error in the older experiment, fixed it in the new and "forgot" to fix the older one.

I

[2020-10-05 09:40] valeriupredoi commented on #806
it's not the model but the experiment: eg `historical` is fine and `ssp126` is fine too (if negative bounds are allowed for positive coord values) but they differ, here:
[code]
How can this be fixed?

[2020-10-05 09:42] valeriupredoi commented on #806
Most interesting, Javi, didn't know that! So how would you approach the fix based on the values above?

[2020-10-05 09:46] jvegasbsc commented on #806
I would guess that the `hist` bounds are not correct. The fix should just be something like:

[code]

[2020-10-05 10:25] valeriupredoi commented on #806
cheers muchly @jvegasbsc - sounds good to me - @rswamina or @mwjury would you guys be okay to write the fix pls? :beer:

[2020-10-05 11:48] mwjury commented on #801
@valeriupredoi 5 minutes to late, worth a shot though. Thanks, very much anyways!
{
"affiliation": "Barcelona Supercomputing Center",
"name": "Jury, Martin",
"orcid: "0000-0003-0590-7843"
}

[2020-10-05 11:57] valeriupredoi commented on #801
no worries @mwjury - you will get in at the next release via https://github.com/ESMValGroup/ESMValCore/pull/810 :beer:

[2020-10-05 13:17] #801 closed

[2020-10-05 15:20] valeriupredoi opened #812 "Run recipes to test ESMValCore 2.1.0"
Hey guys @ESMValGroup/esmvaltool-developmentteam we are just about to release ESMValCore 2.1.0 on Monday next week (12 Oct 2020) and we need to make sure that all the goodies and improvements we include in the new release don't break anything in the recipes' run, could we please ask you to pick a couple of your favorite recipes and run them and let us know if there's any issue with them, by openin

[2020-10-05 18:23] larsbuntemeyer commented on #31
hello, since this issue is still open, i just wanted to let you know (maybe as an update to this issue) that there is also the `intake-esm` plugin build on top of intake that will give you access to filepathes. I have a good experience using it at DKRZ, e.g., there you can get filepathes like this:

[code]

So it's build on top of `pandas` dataframes (`models.df`) basically holding a row for each

[2020-10-05 19:28] bouweandela commented on #31
Thanks! It looks like `intake-esm` has evolved a lot since I looked at it a year ago https://github.com/ESMValGroup/ESMValCore/issues/31#issuecomment-526562967!

[2020-10-05 19:36] bouweandela opened #814 "Upload packages to esmvalgroup conda channel and PyPI using GitHub actions"
Here is an action for deploying to PyPI: https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

Here is an action to upload a conda package to a custom conda channel: https://github.com/marketplace/actions/anaconda-action by my colleague @fdiblen

EDIT: The action above is not quite ready, best to copy/paste/modify the actions defined in

[2020-10-06 09:29] jvegasbsc commented on #812
There is a problem when installing release: we require <2.1. ESMValGroup/ESMValTool#1839 fixes it.

 recipe_seaice_feedback.yml runs ok

[2020-10-06 09:34] valeriupredoi commented on #812
cheers @jvegasbsc - good catch! An thanks for running and testing :beer:

[2020-10-06 09:34] valeriupredoi commented on #812
cheers @jvegasbsc - good catch! An thanks for running and testing :beer:

[2020-10-06 09:42] jvegasbsc commented on #812
recipe_albedolandcover.yml also runs ok

[2020-10-06 11:32] valeriupredoi commented on #814
good finds @bouweandela - will have a look at these later on today, currently installing ESMValTool centrally on Jasmin :partying_face: (won't be available until it gets linked in a module by the CEDA folk but this is the first step)

[2020-10-06 12:04] valeriupredoi opened #815 "Documentation for 2.1: call to run tests"
Change from `python setup.py test` to `pytest` and `pytest -m "not installation"` in documentation

[2020-10-06 12:31] mwjury commented on #806
@valeriupredoi see #816.

[2020-10-06 15:00] hb326 commented on #812
recipe_smpi.yml crashes. See attached log.

[main_log.txt](https://github.com/ESMValGroup/ESMValCore/files/5334713/main_log.txt)

@bettina-gier: did you ever have that problem?

[2020-10-06 16:02] valeriupredoi commented on #812
that is a dummy error that masks the actual error from regridding:
[code]
there is a serious issue regridding MRI-CGM3 - @zklaus any clues?

[2020-10-06 16:23] valeriupredoi commented on #812
OK ran it three times for MRI-CGCM3/hfds and it succesfully completed the preprocessing, @bettina-gier @hb326 could you guys pls run it again? The ESMPY error was a fluke, hopefully your issue was too, I see no reason why it should fail :beer:

[2020-10-07 12:16] valeriupredoi commented on #806
@mwjury fixed this via dataset fixes in #816 - cheers! CESM2 might need fixing for the same reasons but we'll bridge that bridge when we get there. Only thing left to do now is to ascertain this is indeed a model data issue and raise it with the model developers but seeing that they fixed something but didn't fix other stuff as @jvegasbsc points out in [comment](https://github.com/ESMValGroup/ESMV

[2020-10-07 13:07] mwjury commented on #806
@valeriupredoi I didn't have problems with CESM2 lately. Seems the already implemented boundary guessing for TAS did the trick.

[2020-10-07 13:20] bouweandela commented on #815
Where did you find a mention of `python setup.py test` in the ESMValCore documentation?

[2020-10-07 13:22] valeriupredoi commented on #815
in here, and I just realized this is wrongly opened and should migrate it to Tool https://docs.esmvaltool.org/en/latest/quickstart/installation.html

[2020-10-07 13:27] bouweandela commented on #812
From the log, it looks like a problem with some model when loading the data, a coordinate is misinterpreted as a cube, probably because some attribute is missing somewhere in the netcdef file and then it's trying to merge that coordinate and the cube with the variable into a single cube, which fails for obvious reasons.

@hb326 Could you please attach the file main_log_debug.txt instead? Then we m

[2020-10-07 13:31] valeriupredoi commented on #812
it's MRI-CGCM3/hfds which is not problematic with data off CEDA ESGF on Jasmin, might be the data off the DKRZ ESGF node

[2020-10-07 13:32] hb326 commented on #812
Sure. Here it is:

[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/5340989/main_log_debug.txt)

[2020-10-07 13:34] valeriupredoi commented on #812
all autoassess recipes (bar the unreviewed ones), all validation, and **all** `_ocean*` recipes run with no problems (@ledm owes me a :beer: for this but that's okay, I think he owes me about a dozen so far :grin: )

[2020-10-07 13:47] bouweandela commented on #812
@hb326 Could you also share the recipe that you're running? From the log it looks like it's trying to regrid `hfds` from model `MRI-CGCM3` to the grid of model `GFDL-ESM2G`, while the SMPI recipe in the ESMValTool actually has a target grid `1x1`.

[2020-10-07 13:51] hb326 commented on #812
I run the recipe as it comes in the master branch:
[https://github.com/ESMValGroup/ESMValTool/blob/master/esmvaltool/recipes/recipe_smpi.yml](url)

[2020-10-07 14:17] bascrezee commented on #812
I thought I also quickly test `recipe_smpi.yml` from the master branch. I am testing with `master` branch of ESMValTool and `release_2.1` from ESMValCore (just checkin). This is the error message I get:
[code]

[2020-10-07 15:06] valeriupredoi commented on #812
@hb326 @bascrezee you guys must pull the latest ESMValTool master, I have this for hfds preproc:
[code]
It works fine for me (well, apart from that ESMPY transitory error)

[2020-10-07 15:26] bascrezee commented on #762
I ran into this issue as well. For me the big surprise was to find out that `custom_order: true` is basically not true ! I would have really expected the preprocessor order to be exactly the way I specify it. My use case was:

[code]

The result is a completely masked field. Indeed because `extract_time` takes place before `anomalies`. Didn't expect that.

[2020-10-07 15:50] hb326 commented on #812
I just pulled the latest version of the master branch, and the recipe is still the same as before... Maybe we have to adjust the recipe?

[2020-10-07 16:25] katjaweigel commented on #812
recipe_deangelis15nat.yml and recipe_li17natcc.yml run ok. Thanks @jvegasbsc for the fix, didn't understand how to do it without.

[2020-10-08 07:39] schlunma commented on #812
I added a checklist with all recipes of the current master to the initial post by @valeriupredoi so we get a nice overview which recipe hasn't been tested yet. If someone intends to do tests but is not finished he/she could add his/her name to the corresponding recipe so that we avoid duplicate efforts.

[2020-10-08 07:45] bouweandela commented on #812
Note that it is not necessary to test every single recipe for the ESMValCore release, we've never done this in the past either and automatic tests are reasonably good, out of 10 or so releases it only happened once that we released an ESMValCore version that was broken (this was because I changed things at the last minute). These tests are just to get some extra confidence that we didn't introduce

[2020-10-08 07:48] schlunma commented on #812
Ah sorry, my mistake. I thought we tested all recipes for v2.0 and have to do this again for v2.1

[2020-10-08 07:59] bouweandela commented on #812
Yes, we will test everything again, but that will be in two weeks time for the release of the tool. But it's great that you added an overview, that's still really useful!

[2020-10-08 08:02] bouweandela opened #817 "The target grid for regridding in recipe SMPI is sometimes not read correctly"
@bascrezee said: I thought I also quickly test `recipe_smpi.yml` from the master branch. I am testing with `master` branch of ESMValTool and `release_2.1` from ESMValCore (just checkin). This is the error message I get, hope it helps.
[code]

_Originally posted by @bascrezee in https://github.com/ESMValGroup/ESMValCore/issues/812#issuecomment-704967559_

[2020-10-08 08:05] bouweandela commented on #817
@hb326 reported a different problem, in her case all variables in the recipe are regridded to the grid of model GFDL-ESM2G, while the recipe specifies either the `reference_dataset` (ERA-Interim in most cases) and a `1x1` grid for datasets on an irregular grid as the target grid, see [main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/5340989/main_log_debug.txt).

[2020-10-08 08:07] bouweandela commented on #812
@hb326 @bascrezee I have opened a new issue for the problem with recipe_smpi.yml

[2020-10-08 08:14] bouweandela commented on #817
@hb326 @bascrezee Could you please post the result of `conda env export`, so I can try to reproduce the problem with the same software versions as you have? For me and @valeriupredoi it works as expected, so maybe it's related to some software version you're using?

Here is my conda environment: [environment.yml.txt](https://github.com/ESMValGroup/ESMValCore/files/5346251/environment.yml.txt) (the

[2020-10-08 08:16] bouweandela commented on #817
Note that you can see which `target_grid` the ESMValCore is planning to use for regridding by looking for `target_grid` in the main_log_debug.txt file.

[2020-10-08 09:37] valeriupredoi commented on #817
cheers much @bouweandela - I will rerun this (again) fully (I have run only for the Japanese model previously because Jasmin node memory is scant, but I found me a new Jasmin node with plenty of mem) and will post the env here too :beer:

[2020-10-08 13:34] stefsmeets commented on #378
I just installed the release candidate on iris3 and I'm hijacking this issue to list the problems.

I ran the tests, and came accross these main issues:

### `CubeList.exact_strict` (32x)

`CubeList.extract_strict` has been replaced: https://github.com/SciTools/iris/pull/3715 and now raises:

[code]

Fix:
`.extract_strict(some_constraints)` -> `.extract_cubes(some_constraints)`.
`.extract_strict(o

[2020-10-08 13:57] bouweandela commented on #378
See also here: https://scitools-iris.readthedocs.io/en/v3.0.0rc0/whatsnew/3.0.html#incompatible-changes

[2020-10-09 07:40] katjaweigel commented on #812
recipe_martin18grl.yml and  recipe_spei.yml are running

[2020-10-09 08:42] schlunma commented on #505
Note that this might also apply to other attributes such as `short_name`, `long_name`, etc. as discussed in #759. A possible solution is given [here](https://github.com/ESMValGroup/ESMValCore/pull/759#issuecomment-706020763).

[2020-10-09 09:42] valeriupredoi commented on #812
cheers muchly everyone! and thanks for the graph list @schlunma :beer: Keep up the momentum, we are gaining on the enemy (no enemy per se, but I thought if I sounded like Gen. Patton you might run more recipes :rofl: )

[2020-10-09 11:48] hb326 commented on #817
@bouweandela: this it the environment I am using:
[environment_BH.yml.txt](https://github.com/ESMValGroup/ESMValCore/files/5354693/environment_BH.yml.txt)

[2020-10-09 12:25] schlunma commented on #812
Succesfully tested recipe_ecs.yml, recipe_cox18nature.yml, recipe_tcr.yml and recipe_ecs_constraints.yml.

[2020-10-09 13:03] mwjury opened #821 "Dataset problem: FGOALS-f3-L seasonal statistics fails due to bad time_bnds in raw netcdf"
Time bounds of FGOALS-f3-L Amon span only about 20 days of a month.
E.g. cube.coord('time') = DimCoord([2000-06-16 00:00:00, 2000-07-16 12:00:00, 2000-08-16 12:00:00, ... ], bounds=[[2000-06-06 00:00:00, 2000-06-26 00:00:00], [2000-07-06 12:00:00, 2000-07-26 12:00:00], [2000-08-06 12:00:00, 2000-08-26 12:00:00], ...])

This leads to "TypeError: 'NoneType' object is not iterable" when doing some se

[2020-10-09 13:34] Peter9192 commented on #812
Representing the hydrology section with a report on `recipe_pcrglobwb.yml`: :heavy_check_mark:

[2020-10-09 13:59] hb326 opened #823 "Adding variable cl to the era5 cmorizer"
I would like to get the variable "fraction of cloud cover" (cl) added to the era5 cmorizer.

I have added a cl class already to the file "era5.py" (see branch "adding_cl_to_era5_cmorizer"), but there is still a problem with the vertical coordinate (pressure). It seems like the cmip6 table provides the dimensions "longitude latitude alevel time", and "alevel" is not recognizes as a vertical coordin

[2020-10-09 14:25] #750 closed

[2020-10-09 15:08] remi-kazeroni commented on #812
Successfully tested recipe_consecdrydays.yml, recipe_ensclus.yml and recipe_zmnam.yml .

[2020-10-09 16:18] #757 closed

[2020-10-09 18:43] koir-su commented on #812
recipe_carvalhais14nat is running. 🍻

[2020-10-12 08:58] zechlau commented on #812
recipe_wenzel16nat is running too

[2020-10-12 13:45] stefsmeets opened #826 "`DIAGNOSTICS_PATH` silently defaults to current directory if esmvaltool cannot be imported"
**Describe the bug**
I just had a problem with my esmvaltool installation, and I noticed that `DIAGNOSTICS_PATH` simply defaults to the CWD without any warning. In my opinion, it should either crash hard or make it very clear where it is looking for recipes. The current behaviour is not transparent, and it took me a while to figure it out.

[2020-10-12 14:57] valeriupredoi commented on #812
hey guys, cheers muchly for doing all this work, @bouweandela and myself have now released [version 2.1.0](https://github.com/ESMValGroup/ESMValCore/releases/tag/v2.1.0) - next stop, ESMValTool v2.1.0 when we'll really have to run **all** them recipes :beer: (code freeze next Monday, 19 Oct for ESMValTool, testing that week)

[2020-10-12 14:57] #812 closed

[2020-10-12 15:29] #814 closed

[2020-10-12 16:45] bouweandela commented on #826
Maybe a logger.info message displaying the diagnostics path would make this more obvious?

It would be nice if diagnostics_path was configurable in config user, with as default value the location of the esmvaltool installation or if that is not present, maybe the current working directory, but I'm not sure if that is a very sensible backup value.

[2020-10-13 07:40] stefsmeets commented on #826
Agreed, that could be useful. I was thinking it would also make sense to configure it as an environment variable.

What do you think about further decoupling esmvaltool and esmvalcore? At the moment, esmvalcore presents itself as esmvaltool (just look at the entry point and `esmvalcore._main.py`) and installs the command line utility. This feels a bit the wrong way around. Right now esmvalcore dep

[2020-10-13 13:21] stefsmeets opened #828 "OSError: [Errno 8] Exec format error: '.../custom_recipe.py'"
**Describe the bug**
If I'm working on my local recipes (outside the tool), I sometimes come accross this error.

The recommended solution: `chmod -x /home/stef/s/warming_stripes.py`, does not work.

I have narrowed it down to the fact that subprocess calls the script directly (without the python executable). So, as a work-around, the shell environment can be added to the top of the file, i.e. `#!

[2020-10-13 13:48] stefsmeets commented on #828
Doing a little bit more digging, it seems that the interpreter is not being added to the `cmd`.

[2020-10-13 14:36] stefsmeets commented on #828
It seems that diagnostic scripts get fast-tracked if they are executable, which leads to this error on my system. In addition a bunch of checks are bypassed. What is the reason for this?

https://github.com/ESMValGroup/ESMValCore/blob/208b2af5aa3ba6adc6525a68bc222c9ff01c1327/esmvalcore/_task.py#L293

[2020-10-13 15:04] stefsmeets opened #829 "Author names in recipes are problematic for new users"
**Describe the bug**
For the ESMValTool tutorial we are preparing an episode on how to make your own recipe from scratch (https://github.com/ESMValGroup/ESMValTool_Tutorial/pull/154). However, we are running into some issue with the author names. You can only add author names that are part of the `config-references.yml`. Otherwise for:

[code]
you get:
[code]

Currently, we use a silly work-around

[2020-10-14 11:27] valeriupredoi opened #830 "Discussion point: use Github Packages for the ESMValGroup project?"
I am not sure if there's even a hint of a need to do that - but am raising the question up for debate - do we want to think about using Github Packages at all? I see they have a nice docker format (all other formats like npm or Ruby don't seem to be useful), has any of our engineers @nielsdrost @bouweandela @jvegasbsc et al used Github Packages in the past? Docs [here](https://docs.github.com/en/f

[2020-10-14 11:34] valeriupredoi commented on #806
cheers for the heads up @mwjury - and cheers for the fixes :beer: I reckon we can close this for now and do it English way - hope for the best :grin: @zklaus do we want to communicate the data issues to the modellers after all?

[2020-10-14 11:34] #806 closed

[2020-10-14 14:34] mwjury commented on #821
I created a pull request #831 that reinitializes the time bounds from scratch.
Brute force, so if you have a better idea it's more then welcome. @valeriupredoi @zklaus

[2020-10-15 05:50] BenMGeo opened #832 "Issue with iris cube.intersection"
This is more of a warning than a bug:
I recently had the error that cube.intersection, thus regional subsetting a dataset, gives errors, where it should not, especially for circular longitudinal intersections for datasets with bounds.

https://github.com/SciTools/iris/issues/3907

I'm not sure how this is solved in the preprocessor, but I want to make you aware of this issue.

[2020-10-15 07:53] BenMGeo commented on #832
The prepocessor uses:
https://github.com/ESMValGroup/ESMValCore/blob/208b2af5aa3ba6adc6525a68bc222c9ff01c1327/esmvalcore/preprocessor/_area.py#L60-L65

So it might be an issue here as well (The ignore_bounds option does not lead to not raising the error).

[2020-10-15 10:51] valeriupredoi commented on #832
cheers Ben, we have this in https://github.com/ESMValGroup/ESMValCore/issues/799 and there is also a related `iris` issue (see in the Core issue) and we also plugged a klugey fix - but we need the `iris` folk to look into it proper - bump @bjlittle

[2020-10-15 11:26] ruthlorenz opened #833 "Adding preprocessor "difference""
**Is your feature request related to a problem? Please describe.**
For some recipes it would be convenient if one could calculate the difference between two preprocessors as an additional preprocessor. For instance the difference between two time periods or a spatial anomaly (as in some preprocessed lat,lon field minus the global mean), see needed e.g. here https://github.com/ESMValGroup/ESMValToo

[2020-10-15 16:08] BenMGeo commented on #832
I think we are at a solution already. We should avoid workarounds in ESMValTool that might lead to extra processing time or confusion when maintaining older code.

I hope this is implemented soon.

[2020-10-16 10:46] bouweandela commented on #826
Indeed the `esmvaltool` command is provided by the ESMValCore package. We kept the name because it's familiar, though if you have an idea for a better name, we could provide that as an alternative I guess and then move the `esmvaltool` command to the ESMValTool package at some point.

It is possible to use the ESMValCore package and the `esmvaltool` command without installing the ESMValTool packag

[2020-10-19 07:24] stefsmeets commented on #826
Yeah, I was thinking too that the esmvaltool command line program logically belongs to esmvaltool. We could have a trimmed down version for esmvalcore that just runs recipes and handle configs (pretty much what it currently is). We could import the base command line in ESMValTool and customize it with more esmvaltool related commands if necessary. I think this would be good to have better isolatio

[2020-10-19 09:02] mwjury opened #835 "Dataset problem: EC-Earth3-Veg, EC-Earth3"
When doing an ensemble_statistics, metadata has to be the same between the single ensemble members. Depending on #673 for the error to appear. Currently tested for CMIP6 Amon TAS runs having data for this 5 experiments: historical, ssp126, ssp245, ssp370, ssp585.

This leads to problems with (luckily on 2 so far):
- [x]  EC-Earth3-Veg: #836
- [x]  EC-Earth3: #837

In the case of EC-Earth3-Veg and

[2020-10-19 09:02] mwjury commented on #835
@valeriupredoi ensemble_statistics is opening new avenues for metadata discrepancies.

[2020-10-19 11:50] mwjury commented on #835
Same thing happening with EC-Earth3.

Found between e.g.
ScenarioMIP/EC-Earth-Consortium/EC-Earth3/ssp370/r4i1p1f1/Amon/tas/gr/v20200425/tas_Amon_EC-Earth3_ssp370_r4i1p1f1_gr_201601-201612.nc
ScenarioMIP/EC-Earth-Consortium/EC-Earth3/ssp370/r1i1p1f1/Amon/tas/gr/v20200310/tas_Amon_EC-Earth3_ssp370_r1i1p1f1_gr_201601-201612.nc

[CMIP6_EC-Earth3_ensemble_statistic.yml.txt](https://github.com/ESMValGr

[2020-10-19 15:39] schlunma opened #839 "Increase flexibility of provenance tracking in the recipe"
Right now, it is possible to specify the tags `themes` and `realms` in the diagnostic section of the recipe, e.g. like this:

https://github.com/ESMValGroup/ESMValTool/blob/7513e86a500462fd33a0bff4d50050e448a094dc/esmvaltool/recipes/examples/recipe_python.yml#L52-L58

It would be nice to

- use not only `themes` and `realms` there but to allow more tags (e.g. `domains`).
- allow the specification

[2020-10-20 10:12] sloosvel opened #840 "Dataset problem: Hybrid sigma pressure coordinate points in CESM models"
**Describe the dataset issue**
Due to #598 , the CMOR checker will be able to detect issues in the hybrid sigma pressure coordinate for models that so far were passing the checks.

Some fixes are already implemented for CESM2 models, but with the new checks it turns out that the level coordinate has wrong negative values as well as wrong units ('hPa' instead of '1') and the already implemented fix

[2020-10-20 12:00] bascrezee commented on #487
I like the naming 'mask_multimodel' as it currently is in https://github.com/ESMValGroup/ESMValCore/pull/767. It clearly tells what this preprocessor is about. I think the section "Common mask for multiple models" in the documentation should be replaced by a section using the new preprocessor 'mask_multimodel' instead.

[2020-10-20 16:07] valeriupredoi commented on #828
just add a shebang line to your diagnostic eg `#!/usr/bin/env python` at top of the diag script, we should probably tell users to do that in the documentation :beer:

[2020-10-20 17:09] valeriupredoi opened #842 "Have a checker that inspects auxiliary_data_dir and exit if desired data is not there"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but if you run a recipe as n00b (like I did with the Carvalhais one) and you don't bother check the data requirements, you'll bite the bait and run the whole show only to have the thing die on you at diagnostic stage coz some aux data ain't there. I can see this happen to a lot of first timers, and some of the

[2020-10-22 11:48] stefsmeets commented on #842
This might be very easy to do via a validator when #785 comes through, where we want to introduce validated config variables.

[2020-10-22 18:11] bouweandela opened #843 "Error message if no dataset is defined for a variable is very unclear"
[code]
from [this](https://github.com/ESMValGroup/ESMValTool/files/5421974/main_log_debug_recipe_preprocessor_derive_test.txt) log running [this](https://github.com/ESMValGroup/ESMValTool/files/5421990/recipe_preprocessor_derive_test.yml.txt) recipe.

[2020-10-23 08:18] Peter9192 commented on #833
I've been thinking about this one. I really see the use case and like the idea, but I'm not sure if it plays well with the current setup of the preprocessor. You would need a preprocessor that takes the output of previous preprocessors. I don't think that's currently possible.

What we *could* do is make a diagnostic that does this, and then use its output as ancestor for the remaining diagnostics

[2020-10-23 09:07] bouweandela commented on #779
Since #780 was merged, we are not using libunwind anymore.

[2020-10-23 09:07] #779 closed

[2020-10-23 09:09] bouweandela commented on #829
This looks like a duplicate of #28

[2020-10-23 09:20] bouweandela commented on #828
This allows running diagnostic scripts written in arbitrary languages, so long as they are executable and respect the interface.

That depends on the options you use for mounting the filesystem, see e.g. [here](https://askubuntu.com/questions/113733/how-do-i-correctly-mount-a-ntfs-partition-in-etc-fstab).

Maybe we could add a note to the error message saying something like: 'If you are unable to

[2020-10-23 09:46] ruthlorenz commented on #833
I like this idea. If it is not possible (and not easy to make possible) in the preprocessor to read output from other preprocessors then I do not think it makes sense to introduce it.

I will still need to think about how to solve this in the climwip case though, were it will need to be possible to mix simple variable_groups with differences.

Shall this be closed then? or transferred to ESMValToo

[2020-10-23 09:56] Peter9192 commented on #833
Can we continue the discussion in https://github.com/ESMValGroup/ESMValTool/issues/1850? Otherwise maybe make a new issue about creating a more generic 'difference' diagnostic in some sort of utils directory, that can be used as ancestor in other recipes. I'll leave it up to you what option you prefer.

[2020-10-23 09:59] ruthlorenz commented on #833
we should discuss in ESMValGroup/ESMValTool#1850 and go from there, thanks!

[2020-10-23 09:59] #833 closed

[2020-10-23 10:10] valeriupredoi commented on #779
good man @bouweandela

[2020-10-23 10:29] stefsmeets commented on #828
I think there is little I can do with WSL to change how the filesystem is mounted. 😅

[2020-10-23 11:15] valeriupredoi commented on #828
well now...you can always refactor GRUB :rofl:

[2020-10-26 10:53] bouweandela opened #847 "Include a copy of the recipe and conda environment in debug log?"
For debugging, it would be really useful if the a copy of the recipe and conda environment (i.e. the output of `conda env export`) were included in `run/main_log_debug.txt`.

Exporting the conda environment is rather slow though (takes about 5 seconds on my laptop), so including that might have a negative impact on user experience.

[2020-10-26 11:09] valeriupredoi commented on #847
brilliant suggestion (yes, am very modest too): https://github.com/ESMValGroup/ESMValTool/issues/1875#issuecomment-716473724 :grin:

[2020-10-26 13:41] jvegasbsc commented on #847
Maybe we can do this a separate thread and print the results at the end of the execution.

[2020-10-28 14:38] bouweandela opened #851 "Nightly 'install' test on CircleCI is failing"
Since a few days, the nightly test that installation from source works is failing on CircleCI, see e.g. [here](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/3420/workflows/e63bbe2d-c55f-4328-8d57-3b3e42b65e0e/jobs/15254).

It looks like this happens because we make use of the `requests` library, but did not add it as a dependency.

[2020-10-28 16:10] #851 closed

[2020-10-28 16:22] valeriupredoi commented on #843
ah! I've seen this and I was like "shiver me timbers, whales ahoy" - basically, had no idea where it came from :grin:

[2020-10-29 09:24] stefsmeets commented on #138
The *missing data* error has been a huge showstopper for me recently. It is too difficult to figure out what is missing, where it is looking, and what it is actually looking for. Probably all the information is there, but it is dispersed over a few places and difficult to parse.

I think part of the problem that makes this difficult is that the data are defined by both the dataset **and** the vari

[2020-10-29 09:29] stefsmeets commented on #127
Is this still relevant when we are now working on iris3? #378 #819

[2020-10-29 10:45] valeriupredoi commented on #847
@jvegasbsc right after the multimodel step, 5s will be negligible after 30min of waiting :grin:

[2020-10-29 11:12] jvegasbsc commented on #847
I prefer it at the end so it is really easy to find in the logs

[2020-10-29 11:37] valeriupredoi commented on #847
yah man, was kidding, at the end might not be too useful if it dies before that for some env reason tho :+1:

[2020-10-30 13:20] tpalmer42 opened #853 "Use cube_helper (MO developed iris module) in ESMValTool?"
It is time consuming to preprocess many CMIP models in IRIS due to mis-matches in the met data between files. This is a module that was developed at the Met Office to assist with these problems and make the preprocessing of CMIP data in IRIS easier.

**Would you be able to help out?**
I may be able to help out with the implementation. The code is publicly available here:

https://github.com/MetOff

[2020-10-30 14:10] Peter9192 commented on #834
Sorry, bad click. I wanted to suggest that if we use the CMIP6 DRS as reference, then we could also consider changing 'dataset' to 'source_id' or just plain 'source'. I think that may eventually be clearer, but we might not want to change this too often...

[2020-11-04 10:19] katjaweigel opened #855 "ERA5-Land cmorizer/fixes"
**Is your feature request related to a problem? Please describe.**
At the moment, there is an "on the flight" cmorizer for ERA5 data. In principle it also works for ERA5-Land, but there are some issues:
1) For ESMValCore: The fixes already existing for ERA5 are to a large extend also needed for ERA5-Land, I tested this for the variable pr (monthly) by simply copying
esmvalcore/cmor/_fixes/native6/

[2020-11-05 12:22] stefsmeets commented on #781
We are working on better tests for the multimodel statistics here: #856
Might want to keep an eye on that, as I'm sure this will help with developing the code for this issue.

[2020-11-05 14:27] bouweandela commented on #772
friendly ping @valeriupredoi

[2020-11-05 14:36] valeriupredoi commented on #772
blast! this fell off the radar big way, sorry. @thomascrocker on JASMIN just do `module load esmvaltool` (on any of the sci nodes) and you'll have the latest esmvaltool, I'll have a closer look at the issue today, need lunch now :beer:

[2020-11-06 08:41] stefsmeets opened #857 "Suppress third party warnings in pytest"
**Is your feature request related to a problem? Please describe.**
Currently running pytest generates a large number of  warnings from third-party modules, i.e.
[code]

These are unhelpful, and frankly not our responsibility, but they distract from testing and obscure the warnings that we can fix.
I would like to add some filters to remove those warnings as described here:
https://stackoverflow.co

[2020-11-06 15:54] stefsmeets commented on #498
Hi all, we have been playing around with some ideas to give this API a bit more shape. We have been working with 2 scenarios that we came up with, one from a more user oriented point of view, and one from a more recipe-developer point-of-view. I put together two notebooks to make it a bit more tangible of what it coud look like.

Here is what we came up with:

**Scenario 1 - user POV:**
- https://

[2020-11-09 11:46] valeriupredoi commented on #772
@thomascrocker - right - am afraid without the actual data I can't do much; it would be great if you could put the data (or a sample of it) on a shared group workspace, eg [esmeval](https://accounts.jasmin.ac.uk/services/group_workspaces/esmeval/) where we store the OBS data - could you maybe do that and let me know pls (you'll have to apply for membership of that gws but I'll grant it right away)

[2020-11-09 15:19] thomascrocker commented on #772
Hi @valeriupredoi thanks very much for looking into this. I've applied for access to the esmval workspace so will upload some data once it's approved.

On the ESGF question. No it won't be ending up there (at least not in the short term). The budget for the project is very limited and hosting on ESGF isn't part of it. However, I _have_ been doing my cmorization using an adapted version of the CDDS

[2020-11-09 16:07] valeriupredoi commented on #772
@thomascrocker just approved your membership for esmeval :+1: If you could tell me where you put the data that'd be awesome! About CDDS - good stuff, let me know if you want to use the Jasmin installation, I am managing the project on Jasmin :beer:

[2020-11-09 17:17] thomascrocker commented on #772
OK, I've dropped some monthly data in:
`/group_workspaces/jasmin4/esmeval/gh_issue772/mi-ba795`

I've also uploaded the custom CMOR tables that I've been using (these are the ones that were used by the suite I used to CMORize my data) into:

`/group_workspaces/jasmin4/esmeval/gh_issue772/cmor_tables`

Finally, here is the entry I used in my config-developer.yml file for reading the data in recipes

[2020-11-09 17:26] valeriupredoi commented on #772
great! cheers, mate - I'll have a stab at testing it tomorrow :+1: :beer:

[2020-11-09 18:24] valeriupredoi opened #859 "thetao CESM2 z-level ("olevel") needs fix to convert units from cm to m"
CESM2 (eg `/badc/cmip6/data/CMIP6/CMIP/NCAR/CESM2/historical/r1i1p1f1/Omon/thetao/gn/latest/thetao_Omon_CESM2_historical_r1i1p1f1_gn_185001-201412.nc` on Jasmin) has depth (generic vertical level, `olevel`) units in `centimeters` (and its bounds in meters!) but the cmor checks in the preprocessor are not picking this up). Run test:
[code]
I have forgotten - are we expecting checks on `olevel` or t

[2020-11-10 10:47] bouweandela commented on #737
duplicate of  #687

[2020-11-10 10:47] #737 closed

[2020-11-10 13:19] valeriupredoi commented on #843
no `dataset` or `additional_dataset` :+1:

[2020-11-10 13:33] rswamina commented on #775
@valeriupredoi : I still get a Memory Error when I run the example recipe I shared in (https://github.com/ESMValGroup/ESMValCore/issues/774). I am running this on the JASMIN sci3 machine and with ESMValTool and ESMValCore versiosn both at 2.1.0. Should I do anything different?

[2020-11-10 16:40] valeriupredoi commented on #855
@katjaweigel probably best to include the land bit in the existng `recipe_era5.yml` unles there are solid reasons why it should be separate; are the fixes needed for **all** the ERA5 variables? If so, we can use the `All` functionality for all vars :+1:

[2020-11-10 18:16] valeriupredoi opened #861 "iris 2.4.0 needing 5x filesize in memory to save it"
I have created these files, each of them from data cmorization and the resulting cubes to be saved all had lazy data:
[code]
for each of this files the `iris.save()` call consumed anywhere between 5-7GB of RES memory (on Jasmin, where there is a **risk** that the RES memory is blown up); has anyone else noticed large memory being needed by iris save lately? @bouweandela @bjlittle @zklaus

[2020-11-10 18:30] valeriupredoi commented on #861
BTW I have just asked this to the Jasmin folks: hey guys, I have a question related to the sci nodes memory: I have a number of processes that if I run them on sci2 they take anywhere inbetween 5-7GB of RES max memory each as measured via top, and if I run them on sci3 the max memory goes to 11-13GB for the same processes; I am using exactly the same software environment and these are not random n

[2020-11-11 07:34] katjaweigel commented on #855
I'm afraid the fixes are different, for different variables, for ERA5 there are already fixes for several variables in esmvalcore/cmor/_fixes/native6/era5.py, for ERA5-Land at least the fix there for pr is the same as for ERA5, but  I'm not sure if this is true for the other variables.

[2020-11-11 11:16] valeriupredoi commented on #775
@rswamina I ran the recipe in #774 in about 5min on jasmin@sci3 with max RES memory at about 21G with `max_parallel_tasks = 1` in config-user - note that if you have `max_parallel_tasks` set to a high number in config-user, you will blow up the memory, but in the case of that particular recipe you only have one task anyway, so no need to worry. Can you pls post the error message you get from runni

[2020-11-11 12:28] rswamina commented on #775
@valeriupredoi : Apologies..I should have clarified that this is a problem when I increase the number of years. I dug into this a bit as well and it seems that what we discussed in the meeting last week was that there would be some improvement. If I am to run this for 500 years instead of the 10 I would have to wait for the updates with iris etc to be made? Here is the changed version where I ran

[2020-11-11 14:06] bouweandela commented on #861
Maybe it would be better to open this issue in the iris repo?

[2020-11-11 14:12] bouweandela commented on #855
Rather than copying the file, I would recommend `import`ing the required classes from it

Yes, the main part of the work would probably be to carefully read the ERA5(land) documentation and see what is needed

I think both options are fine.

[2020-11-11 14:19] bouweandela commented on #775
A lazy regridder for ocean data (data with 2D lat/lon coordinates) is under development in this repository: https://github.com/SciTools-incubator/iris-esmf-regrid. Once it is in a condition where it can be used, we can start using it with the ESMValCore and regridding ocean data should require much less memory.

[2020-11-11 15:12] valeriupredoi commented on #772
@thomascrocker here's what I found out: I tried running a recipe (which I post below), and immediately run into this CMOR checker error:
[code]
Note that this is a not such a serious issue since if one runs with `--check_level relaxed` the warning will pop:
[code]
but the code will not crash as it's supposed to do when there are serious issues. Note that this should be fixed since the default sett

[2020-11-11 15:19] valeriupredoi commented on #775
@rswamina there is no way in .. ahem..Four Seasons Total Landscaping that you can run 500 years on any node - the recipe in #774 with the datasets you gave me each for 100 years:
[code]
So for 500 years you would need 1000GB :rofl: Maybe you can run in 100yrs chunks? Note that what @bouweandela refers to will improve the memory footprint, but it will be still slow as a Monday since we have not par

[2020-11-11 15:27] valeriupredoi commented on #772
also just noticed that some of my findings have already been listed by @thomascrocker in an earlier comment - meh, good thing we reached the same conclusion :grin:

[2020-11-11 15:29] bouweandela commented on #775
As an (ugly) workaround, you can probably just define several variable groups in the recipe, if you then run the recipe with `max_parallel_tasks: 1` it should work (if you also make sure to load all preprocessed files with the same `short_name` and `dataset` value into a single cube in the diagnostic).

[code]

[2020-11-11 15:31] bouweandela commented on #772
It might be a good idea to send @zklaus an email if you want a reaction from him, he hasn't been very actively reading the notifications from the ESMValTool project recently..

[2020-11-11 15:45] valeriupredoi commented on #775
I like how @bouweandela thinks - the old problem that shows two medium pizzas are smaller together than a large pizza :pizza:

[2020-11-11 15:46] valeriupredoi commented on #772
let's see if it works: Klauuuussssss @zklaus @zklaus @zklaus :grin: Yeah, I'll send him an email :mailbox:

[2020-11-11 15:53] rswamina commented on #775
@bouweandela and @valeriupredoi : Thanks for the suggestions. I tried something similar to @bouweandela's suggestion but this is better. I will use this. I must admit I am surprised that this issue of processing pi-ctrl data has not risen before. Have I just missed this?I am happy to report progress here when I finish with this. Thanks again!

[2020-11-11 16:30] bouweandela commented on #775
We've known for ages that the tool cannot process large datasets, but it just takes time for this to 1) become the most important problem and then 2) actually solve the problem.

[2020-11-11 17:24] valeriupredoi commented on #861
maybe, I was wondering if I can pick up some momentum here with people saying "yeah I've noticed this too" and start a discussion :+1:

[2020-11-11 17:24] valeriupredoi commented on #859
amigos ping @jvegasbsc

[2020-11-11 17:46] valeriupredoi opened #862 "OBS data path will change on Jasmin - esmeval group workspace will relocate"
`/group_workspaces/jasmin4/esmeval` will change to `/gws/nopw/j04/esmeval` in the very near future so we need to change:

- documentation (I'll do that when it's changed)
- standard Jasmin paths in config-user.yml (I'll do that too)
- tell @bjoernbroetz (or his replacement) to change the `rsync` call from DKRZ @mattiarighi
- tutorial maybe? @SarahAlidoost

No complaints, 'twas not my idea :grin:

[2020-11-12 11:53] thomascrocker commented on #772
@valeriupredoi thanks for taking a look and good to see that we both came to the same conclusion at least.
I also encountered the issue with the co-ordinate names, but I think I got around it using my custom CMOR tables. Good to know that I can use the standard CORDEX project settings though provided I just change the lat and lon naming in my use of the CDDS suite.
Let's hope someone can shed some

[2020-11-12 13:12] monsieuralok opened #863 "Dataset problem: EC-Earth data keeps NEMO halo at the edges (possibly IPSL-CM5A-LR too)"
We used `ESMValTool` for supporting unstructured grid in pilot project funded through IS-ENES3. But, interpolating results for `tos` dataset `tos_Omon_EC-EARTH_historical_r1i1p1_199101-200512.nc` on 1x1 latlon grid appears to very strange along closing of grid (Values going upto 600 degree). The reason for that could be  in the source data  with EC-Earth :
`Since it is the native grid, it is deliv

[2020-11-12 17:45] valeriupredoi commented on #772
I will be emailing Klaus in 2min

[2020-11-16 10:45] jvegasbsc commented on #859
@sloosvel has an open PR for generic levels: #598

Let's get it merged before this

[2020-11-16 11:09] valeriupredoi commented on #859
sweet - can I reviews it?

[2020-11-16 13:24] #516 closed

[2020-11-16 13:28] valeriupredoi commented on #859
arite, #598 is now in da `master` and we can go ahead and write a fix for that CESM2 broken data, I'll do it today hopefully

[2020-11-16 19:07] zklaus commented on #861
Something you could perhaps try is to realize the data immediately before saving, ie throw a `result.data` in there (or a `result.lazy_data().compute()`. Reason is that last I checked, saving needed going to the serial scheduler and if many calculations are still outstanding it is possible that more things are done serially than needed. Just an idea though.

[2020-11-18 11:13] zklaus commented on #772
Alright, had a look, here is what I found:

-  @thomascrocker is completely right that the treatment of coordinate systems in `_regrid.regrid` is problematic. Basically it just says to interpret the latitudes and longitudes created in the stock cube (often 1x1 or similar) according to the coord_system of the data cube. This kind-of worked up to now mostly because everyone is using geodetic cs anyw

[2020-11-18 11:19] valeriupredoi commented on #861
good call, Klaus! I had done that (I forgot to post here) and the mem profile is the same; one thing I learned from the folk at Jasmin is that the more available memory the node has the more the stack will ask for, so if we run this on different nodes then the max mem will differ depending on the node; this explains the variation I see across nodes but still doesn't explain why iris is asking for

[2020-11-18 11:25] valeriupredoi commented on #772
good stuff @zklaus :+1: - what do you recommend - implementing a check on the CS and subsequent treatment depending on it or this is something that will work out of the box in iris 3+ - also do you think this is worth plopping om to SciTools GitHub? :beer:

[2020-11-18 12:11] larsbuntemeyer commented on #31
I wanted just to dump some more thoughts on here, since i now use intake a lot. We have now again common diagnostics in the Cordex community which is always a pain to share although data is cmorized.. Implementing them in esmvaltool as diagnostics would be quite straightforward, however, for me the showstopper is data access. Not all datasets are always available at all ESGF nodes, however, openda

[2020-11-18 12:12] zklaus commented on #772
The coordinate system issue has to be fixed regardless of this regridding problem, I think. It is a bit hairy though for two reasons: One is that a general approach with `cartopy.crs.CRS` and `iris.coord_systems.CoordSystem` can be involved. Perhaps some changes to iris (e.g. to complement the `CoordSystem.as_cartopy_crs` function, a `CoordSystem.from_cartopy_crs` classmethod could be added) would

[2020-11-18 12:45] zklaus commented on #861
I suppose the other question is: What's the problem? If the memory is available and things can be done faster using more memory, should iris/dask not go for it? If your answer is "No!", you can always put a limit on the memory that dask uses.

[2020-11-18 14:31] thomascrocker opened #864 "Option to warn rather than fail on missing time data"
I'm using some daily data from a satellite observations dataset (CMORPH) in some recipes.

Cmorizing this data was not an issue, except for one thing.. The dataset has a handful of missing days (8 days in 20 years). This caused the CMOR checker to halt execution with an error at this line
https://github.com/ESMValGroup/ESMValCore/blob/a6f35b0651cd23c22fc01a5000f21839ea167d8f/esmvalcore/cmor/check.

[2020-11-18 16:08] Peter9192 commented on #31
Hey @larsbuntemeyer thanks for the update! I recently started looking into this, and I really like the idea. If you ask me it's just a matter of time before we will get to it... so your input is very valuable.

[2020-11-19 10:57] zklaus commented on #772
@thomascrocker, @valeriupredoi, I put up PR #865 that should fix the regridding issue (at least I was able to run your recipe and data with it. Could you give it a test run?

[2020-11-19 14:26] thomascrocker commented on #772
Thanks for developing a fix so quickly..

Looks like there is a problem though, I found that while the regridding appears to work correctly, it has the side effect of doing something to the latitude and longitude co-ordinates such that Iris can't read them..

This is what a print(cube) in python returns on the regrid cube produced by the processor
[code]

However, it looks like the coords are stil

[2020-11-19 15:32] bettina-gier opened #866 "On using "convert_units" preprocessor, units in configuration file not changed"
when using the convert_units preprocessor, the units in both the "metadata.yml", as well as "var_info.ncl" are kept as the cmor units, while the data fed to the diagnostics has different units. I feel like the updated units due to the preprocessor should be reflected, especially as I wanted to used the units attribute from these file for my plots, and I feel this may be a common occurence?

[2020-11-20 10:41] zklaus commented on #834
I agree that `mip` is a bit of a confusing name[^1] and that `table` is a suitable replacement.

Basically, all the information about the structure of CMIP6 output is linked [here](https://pcmdi.llnl.gov/CMIP6/Guide/modelers.html#5-model-output-requirements), the global attributes are described in [Taylor et al. (2018)](http://goo.gl/v1drZl).

As for `dataset` and the general approach, I think we

[2020-11-20 13:02] zklaus commented on #751
Right now, iris really can not deal with this kind of grid. It won't matter if you manage to somehow get it past the checks, since pretty much nothing else will work. However, this is about to change, partly due to the regrid repo linked above (SciTools-incubator/iris-esmf-regrid), which is part of a larger effort to extend iris to unstructured grids driven by the UK's own next-gen model that is b

[2020-11-20 13:20] valeriupredoi commented on #864
cheers for raising this! I had conversations with @rswamina about exactly this (missing or sampling daily data) and this is something we should think about implementing; it is, however, something out of the question for monthly data, and even for daily data we should think how to do it, from a statistical point of view - ie not losing too much data and results becoming statistically wrong.biased :

[2020-11-20 13:32] valeriupredoi opened #867 "Github Actions failing due to obsolete miniconda setup action"
[Fail list](https://github.com/ESMValGroup/ESMValCore/actions/runs/373416098) due to `goanpeca/setup-miniconda@v1` using obsolete syntax; the solution is here https://github.com/conda-incubator/setup-miniconda/issues/101 - we just need to switch from `goanpeca/setup-miniconda@v1` hook to `conda-incubator/setup-miniconda@v2` - I'll do it in a few minutes :+1:

[2020-11-20 14:25] valeriupredoi opened #869 "Numba causing installation issues with python=3.9"
conda=4.9.2 env builds well but installing doesn't:
[code]

[2020-11-20 15:17] sloosvel opened #871 "Allow data with extra dimension to pass the CMOR checks"
**Is your feature request related to a problem? Please describe.**
Some seasonal data is stored with an extra ensemble dimension that the only issue that gives is the fact that it does not pass the CMOR check on the rank. Discussed with @jvegasbsc the possibility to add a parameter called `extra_dimensions` for projects in the config developer. If set to true, the check on the rank will be skipped

[2020-11-20 15:51] valeriupredoi opened #875 "CircleCI: don't use old image for test, rather re-create environment then test when deps are added/removed in a PR"
I nearly lost my ...ahem...posture when I kept getting a dependency error in https://github.com/ESMValGroup/ESMValTool/pull/1707 from CI: test - then I realized this is using a cached image - @bouweandela man, this is not something I like, can we change the CI so it dynamically builds the environment each time before testing when there is a change in the environment (ie a dependency is added or re

[2020-11-20 16:17] koldunovn commented on #751
If the checks are passed one at least have an opportunity to work with CMORised files that are returned. Diagnostic then can decide how to handle the data. Preprocessor functions will not work, that's true.

Explicit connectivity information is missing, but:
- since boundaries of the cells are provided, you can compute that, so implicitly it's there.
- Some problems related to selection become har

[2020-11-20 19:10] zklaus commented on #751
Fair enough. In that case, I suggest we make it clear that the data has not passed some checks, but rather bypassed them. Perhaps one of the lenient checker settings is enough (`--check-level=ignore`)?

I think the fact that most preprocessor will not work, meaning that most recipes will not work when one adds this dataset, is reason enough not to let it pass the checker in normal mode.

Don't get

[2020-11-20 20:29] koldunovn commented on #751
Can you or @jvegasbsc point me to the place where I should look to maybe try to add this option?

Not that much diagnostics work with ocean data anyway, I guess :)

Yes, the MPAS-O (E3SM) already in CMIP6 and ICON-O certainly will be in the next (if there will be the next). There will be atmospheric ones as well. Currently it is still easier to throw unstructured models out of the analysis to make

[2020-11-23 08:14] zklaus commented on #751
You can have a look at `esmvaltool run --help` for a more detailed explanation, but in principle `esmvaltool run --check_level=ignore your_recipe.yml` should do the trick.

[2020-11-23 08:51] ellesmith88 commented on #787
Hi @zklaus @nielsdrost @bouweandela @jvegasbsc @valeriupredoi and @agstephens I've been working on this on our end and have two PRs open with the `json` files and fix classes in `dachar` and the fixes implemented in `daops`: https://github.com/roocs/daops/pull/40 and https://github.com/roocs/dachar/pull/88.

This issue (https://github.com/roocs/daops/issues/38) and my step by step comment should e

[2020-11-23 12:14] valeriupredoi commented on #869
OK the cause is again `numba` (we should really think about removing it from our deps list - the performance improvements we get by using it are marginal, do you agree @jvegasbsc ?) see https://github.com/numba/numba/issues/6345 - they say they will release a compatible version by the end of the year!

[2020-11-23 12:49] valeriupredoi opened #876 "cftime>=1.3.0 completes years<1000 with zeros instead of spaces"
as the title says, now we have zeros, see below:

run this script:

[code]

with `cftime<1.3.0` the result is `['  4001161200']` whereas with `cftime=1.3.0` the result is `['004001161200']`

As a consequence, we have two failed tests, see [here](https://github.com/ESMValGroup/ESMValCore/runs/1431151389?check_suite_focus=true)

I propose we either place a check on version in the test or we pin the

[2020-11-23 14:08] zklaus commented on #772
Yes, that does seem to do the trick. WIll have a look how it snuck through...

[2020-11-24 08:41] bouweandela commented on #876
Pin cftime to the most recent version and fix the tests

[2020-11-24 09:30] jvegasbsc commented on #869
Currently we are using it only for the derivation of `toz`, which was done by @schlunma. He says in a comment that is 10x faster, but I think we can live without it for the time being, as it only affects a very specific part of the code.

[2020-11-24 09:41] schlunma commented on #869
I did not write the actual derivation of `toz`, I only changed the interface of derived variables some time ago (that's why it shows me as author) 😄

However, I think that this factor of 10 can make quite a difference. If I remember correctly this part of the code is really slow, so the difference of let's say 10 min to 100 min is quite significant. I can have look at this, I wanted to work on #78

[2020-11-24 10:59] bouweandela commented on #869
That code is ancient, it was already part of the project before I joined, maybe @nielsdrost remembers who wrote it? It would be really good If you could have a look at it and add some unit tests too @schlunma.

[2020-11-24 11:30] rswamina commented on #775
Just a note that I was able to split the years and run my recipe. This is not the most elegant solution though, mainly because different models use different start and end years for pi-control runs. You end up having a whole host of these min-datasets in the recipe.

[2020-11-24 11:54] valeriupredoi commented on #869
so `numba` actually slows down that function by a heck of a lot:
- with the jit decorator: 0.399s for 10 runs of the function
- without it: 0.001s for the same number of runs

It could be that as is the case with `numba` there are large deltas for not many runs, so for 100 runs I get: 0.0094s without jit and 0.401s with it. This is for the standard `plev19` array, here's the code if you don't trus

[2020-11-24 11:57] schlunma commented on #869
Cool, thanks for the analysis V.! I will refactor the code, add some tests and remove `numba` in #783!

[2020-11-24 11:59] valeriupredoi commented on #869
awesomepossum :hedgehog:

[2020-11-24 12:11] valeriupredoi commented on #876
aye, just aboot to do that, capt'n :ship:

[2020-11-24 12:28] nielsdrost commented on #869
Sorry, not sure. Perhaps @bjlittle or @jvegasbsc have some idea? :-)

Agree to drop numba!

[2020-11-24 12:50] jvegasbsc commented on #869
V, that is expected for 10, as numba has to compile but I think this function is called thousands of times in the real scenario

[2020-11-24 12:58] valeriupredoi commented on #869
correct, Javi! That's why I ran it 1000 times as well, I just reran it for 10000 times and indeed with numba it takes 0.6s and without 1.2s so numba indeed improves it but hey - we can spare 0.6s :grin: - 1e5 times the run we can see the benefit of numba: 12s without, 0.6 with - but 10s is a good tradeoff for a package that is often broken :+1:

[2020-11-24 12:58] jvegasbsc commented on #869
Tested for 1e6 executions:

[code]

[2020-11-24 13:00] valeriupredoi commented on #869
yeah, as my [comment](https://github.com/ESMValGroup/ESMValCore/issues/869#issuecomment-732957678) - we can spare a few tens of seconds, it's not that the bottleneck for ESMValTool, I'd trade that for getting rid of a package that causes headaches quite often :beer:

[2020-11-24 13:08] jvegasbsc commented on #869
Go ahead, then!

[2020-11-24 13:10] valeriupredoi commented on #869
boss! @schlunma she's all yours, say bye to `numba` for me :beer:

[2020-11-24 14:12] zklaus commented on #775
The main issue of excessive memory consumption and non-laziness in the irregular regridding will be addressed by SciTools-incubator/iris-esmf-regrid. Do we need to keep this issue around? Are there other aspects that should be addressed independently?

[2020-11-24 14:17] zklaus commented on #859
@valeriupredoi are you still up for this? In that case I'll change the assignment.

[2020-11-24 14:27] schlunma commented on #869
Bad news, I tested this with an actual dataset (IPSL-CM6A-LR, 100 years of monthly mean data).

With `numba`, it finished after 6 min, without `numba` it's still running (for >75 min now). I think this increase in time is unacceptable, especially wenn analyzing more than one dataset. I try to refactor the code to speed it up without `numba`, but not sure if that's feasible.

[2020-11-24 15:12] #876 closed

[2020-11-24 15:41] valeriupredoi commented on #775
cheers @zklaus and good you managed to get some sort of run done @rswamina :+1: Yes, let's keep the issue open as a placeholder for the performance issue, hopefully we will close it with the advent of the new iris, but until then it shows we're preoccupied :grinning:

[2020-11-24 15:43] valeriupredoi commented on #859
yeah, this totally fell off my radar scope - yes, I'll assign meself

[2020-11-24 16:49] ledm commented on #60
We shouldn't be using iris `convert` here, that isn't what happenning here. Iris convert is for stuff like Celsius to Kelvin, not Celsius to heat. The convert function should not be able to change the dimensions of the units.

The issue here is that the `depth_integration` preprocessor changes the units, dimensions and the dataset standard name. It's a very simple calculation, but non-trivial to r

[2020-11-24 17:57] schlunma commented on #869
Okay, good news: brought the time down to 57s (from 6 min) without `numba` :muscle: Will push the changes tomorrow! (BTW the old version was still running after 175min, so `numba` DID make a difference there :smile:)

[2020-11-24 18:07] valeriupredoi commented on #869
you da man!! I was stinking there should be a way to rewrite the function - it's a blithering array only as input, but then I got distracted, well done @schlunma :beer:

[2020-11-25 08:13] bouweandela commented on #60
@ledm That should no longer be a problem, because we moved the cmor check to right after the data is loaded in #743, so there is no CMOR check anymore after the `depth_integration` function is applied.

[2020-11-25 08:36] #828 closed

[2020-11-25 09:51] zklaus commented on #772
Turns out this is a resurfacing of #479.

[2020-11-25 10:01] zklaus commented on #49
@jvegasbsc could you comment?

[2020-11-25 10:08] zklaus commented on #470
Note to self: convert Jost's branch to PR.

[2020-11-25 10:50] nielsdrost commented on #866
Perhaps @jvegasbsc knows? :-)

[2020-11-25 10:55] valeriupredoi commented on #875
@bouweandela what you think about this - we can talk about it, if you wish :+1:

[2020-11-25 11:00] valeriupredoi commented on #861
yeah the "is it swapping yet" is a solid answer, I guess I just wanted to understand the mechanism behind it, but prob best to forget about it - not an actual issue no more now that I am starting to see there is no actual bug in the code :+1:

[2020-11-25 11:00] #861 closed

[2020-11-25 11:09] #762 closed

[2020-11-25 11:10] jvegasbsc commented on #866
Good catch! I am not sure how to proceed: the correct units are on the file, the `var_info` contains the original info. I think we should not change that info during the preprocessor, but I am not really sure. The safest way will be to read the `units` attribute from the NetCDF file and use this.

By the way, you opened Pandora's box here, as we are not taking this into account in any preproc func

[2020-11-25 11:11] bouweandela commented on #875
Sure, we can talk about it, but I'm a bit puzzled about the error message in that pull request, because I can see that `pip install .[test]` says it's already installed in [this build](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/3612/workflows/2b199711-f5f2-4ec3-b6c3-92a821640700/jobs/38926):
[code]
but then when trying to run `esmvaltool install Julia` it crashes with the err

[2020-11-25 11:18] valeriupredoi commented on #875
it's very puzzling since I can't reproduce the problem locally. There is something to do with a chached installation that was installing `ruamel` from conda rather from PyPi, am pretty sure of that

[2020-11-25 11:21] bettina-gier commented on #866
Right, I'll use the units from the file then. Ideally I suppose you would have an "original units" attribute for the cmor info and then a "preproc units" for anything that the preprocessor did to it, though I can see how that might be hard to do. In this case at least the netcdf file has the correct attributes, while I guess the sums you mentioned above do not.