[2021-09-06 16:09] valeriupredoi commented on #1298
could the broken pipe error suggest that the buffer gets filled with too much guff from the provenance and the kill signal gets triggered while guff is still sent through the pipe, even if the initial send was accepted? Check out the second answer [here](https://stackoverflow.com/questions/4584904/what-causes-the-broken-pipe-error) - in any case, the time it takes to collect the provenance shouldn

[2021-09-06 17:25] bouweandela commented on #1148
That is what we are currently doing, see the top post for why this is a problem

[2021-09-07 10:25] #1135 closed

[2021-09-07 11:30] valeriupredoi commented on #1148
:man_facepalming: indeed! I am being silly, I thought I have just discovered hot water :grin: How about an sql db then?

[2021-09-08 12:06] valeriupredoi commented on #1208
@SarahAlidoost I could reproduce the issue with `esmf/esmpy=8.1.0` indeed! Yeah, sorry for my tardiness, this fell through the cracks :grin: One suggestion for you (unrelated to this issue though) - make sure your env doesn't contain packages from the `defaults` channel, I have seen a few in your env file, and also the `defaults` channel is specified at the top. These mixes do bad and unexpected s

[2021-09-08 12:09] zklaus commented on #1208
Note that the `defaults` channel might also creep in again if you have failed to set your `channel_priority` to `strict`. See https://conda-forge.org/docs/user/tipsandtricks.html

[2021-09-08 12:10] valeriupredoi commented on #1208
:arrow_up: what K-man says

[2021-09-08 12:26] valeriupredoi commented on #1208
pinning `esmpy>=8.1.1` in the Core env file reults in a failed env solve:
[code]
Currently the Core env gets built with 8.1.0 see [env for Python 3.9}(https://github.com/ESMValGroup/ESMValCore/runs/3539680517?check_suite_focus=true) that's not good but the Tool [env](https://circle-production-customer-artifacts.s3.amazonaws.com/picard/589ba551c9e77c0001faef5d/6137fdcd87a60100dc26fc4e-0-build/artif

[2021-09-08 13:55] #1148 closed

[2021-09-08 14:07] ledm commented on #1282
Is there any progress on this one? It's holding up one of my analyses.

[2021-09-08 14:18] zklaus commented on #1282
I don't understand the issue. It seems at most it would stop a run. If you want to stop a run, just don't run it?

[2021-09-08 14:19] ledm commented on #1282
At the moment, if the FX files aren't found, the run proceeds anyway and breaks elsewhere (silently and ambiguously).

[2021-09-08 14:24] zklaus commented on #1282
Sure. I am not saying that this shouldn't be improved. What I don't understand is how it holds you up, since once you have understood the problem you can just move on, no?

[2021-09-08 15:03] ledm commented on #1282
The solution is to figure out exactly which models ESMValTool can't find the right fx file, then comment out all the places that those models are called. It's a manual solution to an automated problem.

I learned very early on in my phd that anything you have to do once, you'll have to do 50 times, so automation is the only way to not waste time.

[2021-09-08 15:44] valeriupredoi commented on #1282
this conversation cracks me up :laughing: We could exit on warning, but that might exit the thing earlier, or we could define a specific exception related to FX files not found and add a flag that allows the code to exit on that exception; we could also have a proper dry-run run that finds all this guff before one runs a heavy recipe with lots of preprocessors. I like the dry-run myself, something

[2021-09-08 15:45] valeriupredoi commented on #1282
:rofl: This is the classical beer drinking paradigm: you want to drink but you don't want to get drunk

[2021-09-08 15:48] ledm commented on #1282
The dry run seems like the best option for me. I want a list of missing files whose absence will break the run.

I'm going to doing this same analysis multiple times on a set of like 7 different variables, each one includes 200-500 datasets. CBA to run, break,fix, run,break, fix, run break fix, ad infinitum for the next several weeks/months.

[2021-09-08 15:58] schlunma commented on #128
Due to the changes in the provenance interface (removal of `plot_file`; provenance is logged for each file separately now) we can close this.

[2021-09-08 15:58] #128 closed

[2021-09-09 10:56] ledm commented on #1282
This whole thing has uncovered another problem with finding the fx files. Here's what I think the problem is. The NCAR/CESM2-WACCM model has provided Ofx for both `historical` and `piControl` experiements. However, the `areacello` is only in the piControl, not in the historical one!

ie:
[code]

When I run the preprocessor/diagnostic below, the fx finder is unable to locate the arecello fx files.

[2021-09-09 11:22] valeriupredoi commented on #1282
this looks like a corner case that should have been taken care of by merging https://github.com/ESMValGroup/ESMValCore/pull/1216 - please open a separate issue and assign @schlunma and @sloosvel :beer:

[2021-09-09 11:25] ledm opened #1309 "Fx variable data not found at all when two Ofx directories for two different experiments exist, but one is incomplete."
I've found an issue where `_recipe.py:_get_fx_files()` fails to find an FX file for `areacello`.

The NCAR/CESM2-WACCM model has provided Ofx for both `historical` and `piControl` experiements. However, the `areacello` is only in the piControl, not in the historical one. I think the presences of an incomplete Ofx directory in historical confuses the FX finder.

ie:
[code]

When I run the preproces

[2021-09-09 11:27] schlunma commented on #1282
I don't think so, #1216 took care of the case when no `mip` is given:

https://github.com/ESMValGroup/ESMValCore/blob/8cd5dcfd7af0b43eedcf9b8b2de2dd44502cb28a/esmvalcore/_recipe.py#L416-L420

Since the `mip` is specified in the example that @ledm showed here, this does not apply.

[2021-09-09 11:30] valeriupredoi commented on #1282
@schlunma right you are! The mip is given, but the data dir is empty, OK this is a double bug - our code being confused by that and the data missing on JASMIN. Anyways, let's take this discussion to the relevant issue :+1:

[2021-09-09 11:33] valeriupredoi commented on #1282
actually - where are you running @ledm ? I am on JASMIN and I see all's fine in the `historical` Ofx dir:
[code]

[2021-09-09 11:50] ledm commented on #1309
Note, this issue was first raised here: https://github.com/ESMValGroup/ESMValCore/issues/1282#issuecomment-915980954

[2021-09-09 12:03] valeriupredoi commented on #1309
OK cheers @ledm - I've also reported this to JASMIN, this is rather poor standards of accepting data into ESGF. That `historical/Ofx` dir should either not exist or be fully populated with symlinks pointing to all the Ofx piControl variables

[2021-09-09 12:09] valeriupredoi commented on #1309
That's exactly that! And in all fairness, you can't blame the poor data finder code, it's not AI to understand ESGF poor data structures :grin: We need an extra check layer, and most of the times stuff's in `'piControl` for most of the models so I propose we search there before exiting and saying data was not found, what do you think @schlunma ?

[2021-09-09 12:19] schlunma commented on #1309
I don't think that the data finder is supposed to change the `exp` automatically in this case. If you specify the fx variables like this

[code]

the data finder will only look in the experiment you specified for the main variable (`exp: historical`). Please correct me if I'm wrong. I thought this "automated" search only works for different mips.

[2021-09-09 12:33] valeriupredoi commented on #1309
oh I though it'd go about and look for other exps if that particular exp that was specified did not have have a data dir - but I might be thinking wishfully and it's actually the case that it's not looking any further. We should so implement that if it's not there yet!

[2021-09-09 13:45] zklaus commented on #1309
So to be clear, I think you should just specify the `experiment` here for the `fx_variables` as well and that should be enough.

[2021-09-09 14:23] ledm commented on #1309
Okay, I did that, but it's not enough.
[code]
The problem is that ESMValTool can't figure out the ensemble name now! It looking for the same ensemble number that was provided in additional_datasets.

At the same time, you can't just follow the CMIP6 standard, which I thought to provide the areacello data in: piControl, r1i1p1f1, Ofx

There are actually many different ensemble numbers in CMIP6!
- r

[2021-09-09 14:49] schlunma commented on #1309
Something similar is implemented in #1082, which allows you to use wildcards for any entry in the `fx_variables` dictionaries, e.g., `exp: "*"` or `ensemble: "*"`. Give it a try if you like, I just solved the merge conflicts in the branch.

[2021-09-09 15:32] ledm commented on #1309
Thanks @schlunma, that looks like it may solve the problem! I've set both ensemble and exp to wildcards, which should hopefully mean that areacello will be found, if it exists. Cheers!

[2021-09-10 09:01] #1208 closed

[2021-09-10 09:03] valeriupredoi commented on #1208
we have now introduced the restriction on esmpy so it will never be 8.1.0, so closing this, thanks for flagging this @SarahAlidoost and please reopen if you think this needs a different approach. Also, has anyone let the esmpy devvs know about what their package does to the world? It might be worth opening an issue on their GH repo, I can't be bothered TBH :grin:

[2021-09-10 13:31] #1221 closed

[2021-09-12 11:41] Jon-Lillis opened #1313 "Filepath of default config file is printed as 'None' in main_log"
When launching ESMValTool with a config file specified as an argument, the line 'Using config file path/to/config-user.yml' is printed correctly in the logs. When launching ESMValTool without specifying a config file (using the default file in ~/.esmvaltool/), the line 'Using config file None' is printed instead.

When debugging during development, it would be useful to see at a glance exactly whi

[2021-09-12 12:30] Jon-Lillis opened #1312 "Error "Requested fx variable 'areacello' not available" introduced by 2.3 update"
@Ehogan and I have been converting AutoAssess radiation budget scripts into an ESMValTool diagnostic, the branch for which can be found [here](https://github.com/ESMValGroup/ESMValTool/tree/radiation_budget_new_diagnostic). We’ve been developing against ESMValtool v2.2, but recently upgraded to v2.3 and are now encountering the following issue.

Our radiation budget diagnostic runs correctly under

[2021-09-13 14:26] valeriupredoi commented on #1312
thanks @schlunma - was just about to transfer it, but I got distracted :beer:

[2021-09-13 15:53] ledm commented on #1282
So, by brute forcing the problem, I've come up with a list of models that do not work in ESMValTool for this calculation. Either because their grids are weird, the FX files are missing, or there's challenging problems in their netcdfs. It's fully described in the discussion here:

https://github.com/ESMValGroup/ESMValTool/discussions/2308

[2021-09-13 15:54] ledm commented on #1309
Okay, just to confirm that @schlunma's PR has fully resolved this issue! Thanks Manuel and @thomascrocker!

[2021-09-13 15:54] #1309 closed

[2021-09-14 08:12] ledm opened #1314 "Dataset problem: models with non-trivial problems with Ofx or Omon."
I generated a recipe that looks at every `tos` (Temperature at the ocean surface) dataset in the historical and Tier1 SSP datasets. Pretty much every model in CMIP6 has provided this dataset.

Elsewhere in the  the recipe, I take a spatial average using `area_statistics` preprocessor, `operator: mean`, which of course, requires the `areacello` Ofx dataset.

The preprocessor is:
[code]
(which requi

[2021-09-14 08:18] zklaus commented on #1314
Since this seems to touch many different topics and datasets, which likely will translate to a number of different issues, I suggest focusing on the discussion at ESMValGroup/ESMValTool#2308 for now.

[2021-09-14 09:23] bouweandela opened #1315 "Add option to stop if cell area files are missing"
_Originally posted by @ledm in https://github.com/ESMValGroup/ESMValCore/pull/1296#discussion_r707159092_

[2021-09-14 09:31] bouweandela commented on #1315
Note that there is a WARNING message that the fx files are missing already issued when parsing the recipe, there is no need to do half an hour of preprocessing before hearing about this from the tool. Currently, the message looks like this:

[2021-09-14 10:00] #1312 closed

[2021-09-14 10:09] valeriupredoi commented on #1315
bit of a duplicate of https://github.com/ESMValGroup/ESMValCore/issues/1282 so I guess we can close either one

[2021-09-14 10:20] bouweandela commented on #1315
Let's close this one

[2021-09-14 10:20] #1315 closed

[2021-09-14 10:38] bouweandela commented on #1282
Would it be an option to make the recipe more specific about specifying ancillary/cell measure variables? Elsewhere I proposed the following syntax:
[code]
or if different `mip`s or other settings are needed per dataset:
[code]
This would make it possible to specify the ancillary/cell measure variables needed per variable and per dataset. The ancillary variables would inherit all the key-value pai

[2021-09-14 10:42] ledm commented on #1282
I'm onboard with this solution. I think this would add the flexibility that I needed.

[2021-09-14 10:49] zklaus commented on #1282
Hm. I like the approach better and think it would be clearer, but I am not sure it enables something that is functionally impossible at the moment. So I'd rather we understand the actual problem before we code a new solution.

[2021-09-14 10:57] bouweandela commented on #1282
Another alternative, more consistent with the way variables are defined:
[code]
or even:
[code]

[2021-09-14 11:02] bouweandela commented on #1282
@zklaus I believe the location of the ancillary variables on the filesystem may vary, see e.g. this comment: https://github.com/ESMValGroup/ESMValCore/issues/1138#issuecomment-844283263. At the moment, it is not possible to specify the required facets for finding the data in the recipe. At the moment, the ancillary variables are specified in the preprocessor, so the facets have to be the same for

[2021-09-14 12:19] zklaus commented on #1129
@bouweandela, how do you feel about this issue? Particularly in light of #1217, #1130, and #788. Do you still think this could be useful, or should we just close it? If we keep it open, do you want to target 2.4.0 or 2.5.0?

[2021-09-14 12:24] zklaus commented on #31
In a recent discussion it emanated that probably intake will be supported longer by the esgf community, but likely not with intake-esm, which is seen as a bit too ad-hoc/experimental, but rather via intake-stac, which should mesh nicely with the new STAC based search API on ESGF. As such, I would propose to postpone this feature (and #1218 with it) to a later point. We can move it to 2.5.0 for the

[2021-09-14 12:26] zklaus commented on #1128
This seems to vague at the moment to be included in 2.4.0. @bouweandela, are you ok with bumping this to 2.5.0?

[2021-09-14 12:28] zklaus commented on #1130
@ESMValGroup/technical-lead-development-team how do we feel about this? Do we want to replace synda? Or only offer pyesgf-client as an alternative? If we decide to remove synda, do we need a deprecation phase first?

[2021-09-14 12:37] bouweandela commented on #1128
I think so. It is deliverable 9.3 of the IS-ENES3 project, which is due by the end of the year. Therefore it would have been nice if it would have been ready in time for v2.4, because then it would be in a released version. But I guess they'll just have to accept it as in `main` and included in the next release. I will try, but it seems unlikely that I'll be able to completely implement this in ti

[2021-09-14 12:37] zklaus commented on #1131
Hm. I still think that OPeNDAP is on its way out of ESGF, but I wonder if that even matters so much or if we should just rename the issue. At the end of the day, if we have a URL in the cube that allows us to download only parts of the data from a remote location, we may not need to care whether that is happening via OPeNDAP, or zarr, or whathaveyou, right? So in this sense it would be only about

[2021-09-14 12:39] bouweandela commented on #1129
I would prefer to keep it open for now: I plan to clean up the datasets definition in the recipe parser as part of #1128, so hopefully this will be really easy to implement once that is done. I'll move it to 2.5 for now.

[2021-09-14 12:48] bouweandela commented on #31
I have no time to finish this before v2.4, so I'm fine with moving this to 2.5. Are there already any STAC intake catalogs available for CMIP data? I think it's important to support whatever catalog type is currently available online and on ESGF nodes.

[2021-09-14 12:53] bouweandela commented on #1131
Let's leave the issue open for now. My impression is that OpenDAP will still be around for a few more years, while zarr is still in an experimental phase. So for now it might still make sense to add support for OpenDAP if it's not too much work, but I have no time to do that before the v2.4 release and other issues might be more important.

[2021-09-14 13:32] zklaus commented on #1134
The clear and simple solution seems to be to include `grid_label` in the output DRS. Does that have some chance of creating backwards incompatibility?

[2021-09-14 15:07] ledm commented on #1271
In case anyone in interested, this recipe completed now, took a month human time, about 20-25 iterations of which 6 had useful data.

[2021-09-14 15:29] bouweandela commented on #1134
Only if someone would depend on the DRS of the filename of the preprocessor output files. Strictly speaking, this is probably backwards incompatible, but they could always revert to the previous behaviour by using a custom config-developer.yml file.

[2021-09-14 15:46] valeriupredoi opened #1317 "Replace requests with httpx"
This https://github.com/encode/httpx looks very solid. I think we can probably look at its use by us too, replacing `requests` - am not sure how much we'd gain terms of performance/extended functionality since I'm not all too familiar with the bits that use `requests` but am putting this forward for boffin discussion :grin: @bouweandela @jvegasbsc @zklaus are the boffins in this case :nerd_face:

[2021-09-15 11:36] zklaus commented on #1317
What problem with `requests` is this solving?

[2021-09-15 13:10] valeriupredoi commented on #1317
like I said, this issue is for those who know if/what problems are with `requests` and see if those will be solved/improved by using `httpx` - I don't know much about either, but it seems `httpx` is the bee's knees these days

[2021-09-15 13:20] valeriupredoi commented on #1314
yeah this issue is good to have once we've reduced the above list to the models that have wonky data/metadata ie when we've implemented all the tricks that take care of fx-related issues in our code :+1:

[2021-09-15 13:40] zklaus commented on #1317
Sure, but as long as we don't have any problems with `requests`, it seems a waste of resources to look at it. Resources that could be spent on closing 2.4.0 PRs instead. See also https://www.confessionsofadataguy.com/httpx-vs-requests-in-python-performance-and-other-musings/ for a comparison of the packages. This guys conclusion:

I'll close this for now; if we need to revisit `requests` we'll kno

[2021-09-15 13:40] #1317 closed

[2021-09-15 13:56] valeriupredoi commented on #1317
good find @zklaus :+1: I think it's fine to close. Yes, let's focus on 2.4.0 - plenty of guff there :grin:

[2021-09-16 11:48] valeriupredoi commented on #1313
I think it's ok to close this since the feature is in the `main` development branch, @Jon-Lillis please reopen if need be :+1:

[2021-09-16 11:48] #1313 closed

[2021-09-16 11:52] valeriupredoi commented on #1265
is this https://github.com/ESMValGroup/ESMValCore/pull/1316 not solving this?

[2021-09-16 11:59] schlunma commented on #1265
No, this can also happen in for the CMIP projects.

[2021-09-16 14:56] bouweandela opened #1319 "Add a title to recipes and maybe for diagnostics"
For generating the output html page of a recipe, it would be nice to have titles for the recipe and for the diagnostics. At the moment we use the name of the recipe file for the recipe title and the name of the task for the diagnostic output, but this does not look very nice. See for example [this](https://esmvaltool.cloud.dkrz.de/shared/esmvaltool/v2.3.0-test/recipe_carvalhais14nat_20210701_16125

[2021-09-16 15:20] zklaus commented on #1319
Sounds good to me. This can be an additional key in the recipe. Or rather two: One for the recipe as a whole and one for the diagnostic.

[2021-09-17 07:21] axel-lauer commented on #1319
Just as an idea, for the recipes we could use the same titles used in the documentation of the recipe (from the user's guide) or alternatively the global key "documentation:description". For individual diagnostics, we could simply use the filename of the diagnostic script + the info from the key "description" (from the recipe). This way, all we need would be there already.

[2021-09-17 10:02] zklaus commented on #1179
Seems the culprit is an incompatible version of docutils. For details see https://stackoverflow.com/a/68008428

[2021-09-17 10:35] #1179 closed

[2021-09-17 18:42] #1029 closed

[2021-09-21 14:13] valeriupredoi opened #1322 "Tests failing on Circle CI and Github Actions"
A number of tests fail - Circle is using iris 3.1.0 and is failing the tests that use `iris.fileformats` and GA tests fail with:
[code]

[2021-09-21 14:17] valeriupredoi commented on #1322
@zklaus I'll fix those now, no worries for you, just heads up for release coz we'll need whatever fixes I cook up :hamburger:

[2021-09-21 14:35] zklaus commented on #1322
Cheers, @valeriupredoi. I think you are aware that there is already a fix for the iris.fileformats thing in ESMValGroup/ESMValCore#1217.

If you do attack them here specifically, I would probably prefer a solution along the lines of my comment https://github.com/ESMValGroup/ESMValCore/pull/1217#discussion_r711982570

[2021-09-21 14:50] zklaus commented on #1322
Sure. Should we just take it with #1217 then? Perhaps we can push that through and get all its goodness, including the fileformat fix.

[2021-09-21 14:53] valeriupredoi commented on #1322
there are a lot of other test files that need the explicit import of `iris.fileformats` than in #1217 sadly

[2021-09-21 14:54] zklaus commented on #1322
Ah, gotcha. I only saw 4 tests failing in not so many files and assumed #1217 would take care of them. Go ahead.

[2021-09-21 15:08] zklaus commented on #1271
@ledm, checkout #1321. I think that makes some steps in the direction you want to go.

[2021-09-21 15:55] ledm commented on #1271
This is definitely encouraging and I applaud the effort! Thanks for sharing!

[2021-09-22 11:08] valeriupredoi commented on #1319
I like it! Given my tendency to write long and arduous GH issue titles and posts, I shall proceed to writing three- or four-liner titles for recipes and diags. Just kidding :laughing: How do you want to approach this - we do it or we ask the diag devs to add them to their recipes?

[2021-09-22 12:06] zklaus commented on #1319
First, we need the facilities, i.e. decide on the keys and implement some functionality for their interpretation and linting.
Then we should ask the recipe maintainers to update their respective recipes. It would be good to strengthen that role anyways.

[2021-09-22 14:21] sloosvel opened #1325 "Dataset problem: FGOALS-f3-l tos does not have lat/lon bounds"
**Describe the dataset issue**
Lat and lon coords for tos do not have bounds, which makes the area_weighted regrid step fail. Applying OceanGridFix should solve the issue.

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not
supporting custom-made datasets that present problems, it is your resposability to fix those problems):
- Project (

[2021-09-23 09:57] #1325 closed

[2021-09-23 10:25] jvegasbsc commented on #1319
In fact, for diagnostics we are only showing them at the script level. We may want to show the diagnostic title and the description before, at least for those that have more than one script

[2021-09-23 10:26] #788 closed

[2021-09-23 10:26] #1130 closed

[2021-09-23 10:26] #1232 closed

[2021-09-23 12:47] valeriupredoi opened #1329 "Running individual tests with `pytest` fails when not all `iris` submodules are imported inside test module"
Related to #1322 (but that's closed since it served its purpose). Running tests collectively with `pytest` or `pytest -m MSSG` works fine since, as @bouweandela mentioned, imports of iris submodules are done at top level, even if not explicitly in the test module itself. But running individual test modules for debugging and development purposes, fails when `iris` submodules are not imported explic

[2021-09-23 12:48] valeriupredoi commented on #1322
this served its puprose so it's gonna go in the shadows, cheers @zklaus and @bouweandela - but we have a new one :grin: https://github.com/ESMValGroup/ESMValCore/issues/1329

[2021-09-23 12:48] #1322 closed

[2021-09-23 16:19] valeriupredoi opened #1331 "If `extract_levels` is run before `area_statistics` (or prob any other preprocessor needing `cell_measure`) the cell measure vanishes"
**Recipe in question**

[code]

(toggle the `extract_levels` preprocessor on or off)

**Behaviour**

- without `extract_levels`: all goes smoothly:
[code]
- with `extract_levels`: guff hits the fan:
[code]

**Most probable solution**

Inspect the cube attrs saving after select levels has run, bet you my boots the `cell_measure` added before gets evicted for not paying rent :grin:

[2021-09-23 16:24] sloosvel commented on #1331
Could you test it with https://github.com/ESMValGroup/ESMValCore/pull/1269 ?

[2021-09-23 16:56] zklaus commented on #1331
Duplicate of #1189 ?

[2021-09-23 17:50] valeriupredoi commented on #1331
it most certainly looks to be @zklaus - cheers, completely forgot about that! Thanks @sloosvel - I'll run that branch tomorrow just to make sure this is not some corner case and will close this. @ledm it's very useful to search for open issues/PR's about certain stuff if you have issues with them (eg here fx cell measures and extract levels) - you'll know what's up with the fail w/o having to do b

[2021-09-24 10:14] bouweandela commented on #1319
I'll try to come up with some infrastructure for this, because we have a task for this in IS-ENES3.

[2021-09-24 10:56] valeriupredoi commented on #1331
hi @sloosvel I just tested with #1269 and things are looking up but I get this dimensional mismatch:
[code]
If you think we should move the discussion to #1189 I can move the OP and this comment there :+1:

[2021-09-24 14:53] bouweandela commented on #1319
The pull request linked above is now ready for review, if anyone would like to give it a try?

[2021-09-27 07:07] sloosvel commented on #1331
Ok, thanks for trying. I'll take a look.

[2021-09-28 07:44] zklaus opened #1333 "`test_real_search` fails on circleci with read timeout"
**Describe the bug**
The `test_real_search`, introduced recently in #1217, fails on circleci with read timeout. This just may be a fluke, but even so, two thoughts:
- We might want to check network accessibility from circleci and possibly skip the test there or explore circleci configuration
- We might want to catch the exception and give better feedback to the user.

The test result can be inspec

[2021-09-28 08:42] bouweandela commented on #1333
It seems more likely that the esgf index node is down than that there is a problem with the circleci network, because then the tests wouldn't run at all. We might want to fall back to another esgf search node automatically if the default one is not available.

[2021-09-28 08:44] zklaus commented on #1333
Sure, that happens often enough (with all index nodes, really). I think it would be good to handle the situation more gracefully and possibly to catch the exception and report better to the user.

[2021-09-28 09:58] jvegreg opened #1334 "Add support for extracting a specific point by location name"
It would be nice to have the option to specify the point we want to extract with just the location name and not the coordinates. It will save most users one search and will make recipes more readable.

So for example, this preprocessor from the `recipe_python.yaml`
[code]
will be just

[code]

There is already a PR open in #1251 with implements this using openstreetmap nominatim through geopy and

[2021-09-28 10:12] sloosvel commented on #1331
It did work fine for me though

[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/7243001/main_log_debug.txt)
[main_log.txt](https://github.com/ESMValGroup/ESMValCore/files/7243003/main_log.txt)

[2021-09-28 10:40] valeriupredoi commented on #1331
hi @sloosvel cheers much for looking into this; unfortunately, with the latest Core at `dev_preserve_fx` and `main` for Tool (Tool don't really matter anyway) the error is perfectly replicated see
[debug_recipe_Lee.txt](https://github.com/ESMValGroup/ESMValCore/files/7243180/debug_recipe_Lee.txt)

It's very possible you've not committed/pushed changes in your local devel work, can you pls make sur

[2021-09-28 10:42] valeriupredoi commented on #1331
note that I am using a slightly older iris:
[code]
but if iris is a problem then we're in a pickle since we need to support older versions too. I will try upgrade with the latest 3.1 and see if that does it

[2021-09-28 10:46] sloosvel commented on #1331
I ran this on jasmin and I don't develop there, so my branch is updated and it must be due to something else... Let's see if I find out.

[2021-09-28 10:50] valeriupredoi commented on #1331
strange...I updated to 3.1 and still getting the exact same issue, here's the recipe reposted just so we are on the very same page:
[code]

[2021-09-28 10:51] valeriupredoi commented on #1331
@ledm since this is your recipe, could you please test too, mate :beer:

[2021-09-28 12:27] sloosvel commented on #1331
It's something that works with ESMValTool 2.2 but not with ESMValTool 2.3.1

[2021-09-28 14:11] valeriupredoi commented on #1331
cheers Saskia, am gonna look at it in more detail now myself - pretty strange to say the least :grin:

[2021-09-28 14:29] valeriupredoi commented on #1331
OK `_preserve_fx_vars` from `_regrid.py` is not present in v2.2.0 so it's only normal it works with 2.2.0 since the treatment of cell measures is not happening at the vertical levs extraction point in the older version

[2021-09-28 15:51] sloosvel commented on #1331
Ok, this is happening because in this particular case, the resulting cube loses depth as a dimension. I did not consider that case in the PR. I'll change it to include it.

[2021-09-28 16:46] valeriupredoi opened #1335 "Consider using a dask distributed cluster when computing many-cubes statistics or metrics"
A Dask [distributed](https://distributed.dask.org/en/latest/) cluster is a powerful parallel computing tool to get done all sorts of bigger-tah-memory computations. We should consider using such a facility, or even better, persuade the iris folk @bjlittle to implement a callable version of it. Here's a very concrete example: I am using two methods to compute a global maximum: using fully-lazy iris

[2021-09-29 08:22] LisaBock commented on #890
Hi all, there is again a problem when using mulitmodel statistics for one time point. Maybe it was again intorduced with pull request #1301. I don't know...

The error message says:

The preprocessor I used:
[code]

[2021-09-29 10:41] valeriupredoi opened #1336 "ESGF search test(s) fail occasionaly (not frequently) with server timeout errors and produce very large stack traces"
I have noticed this twice this week in the GA nightly tests - so not very frequent, but a bit annoying nonetheless, these combined with the usual SegFault suspects make the CI tests even more fallible, see [example](https://github.com/ESMValGroup/ESMValCore/runs/3739158009?check_suite_focus=true) - on top of it all they produce very long stack trace output. @bouweandela any way to introduce a time

[2021-09-29 11:01] valeriupredoi commented on #1333
ah bollox, I just opened the exact same issue 10min ago :rofl: Gonna file that one. I was suggesting in there we introduce a catch for the timeout error and make the test xfail rather than full on fail. Also, the stack trace output is large from these fails, maybe we can trim that too, or pipe it to a file?

[2021-09-29 11:02] valeriupredoi commented on #1333
here's a GA test fail [example](https://github.com/ESMValGroup/ESMValCore/runs/3739158009?check_suite_focus=true) too :+1:

[2021-09-29 11:03] valeriupredoi commented on #1336
duplicate of #1333

[2021-09-29 11:03] #1336 closed

[2021-09-29 11:14] valeriupredoi commented on #1331
cheers Saskia! Let me know if I can help :beer:

[2021-09-29 13:26] zklaus commented on #1335
Obviously we need better dask handling and that almost certainly includes using dask.distributed (which is where the cluster and client and so on lives). But your code is far, far too complicated. If all you want to do is the same thing as your first program using dask distributed, try:

[code]

Yep, that's only adding the line `client = Client()` (plus the necessary import). The rest happens auto

[2021-09-29 15:34] valeriupredoi commented on #1335
@zklaus - love it! Using the same file as above and same machine (my grubby laptop) I get `14.48user 2.06system 0:08.31elapsed 199%CPU (0avgtext+0avgdata 265380maxresident)k` - exactly the same performance as with the code above (which is indeed complex because 1. I didn't know you can call the function without explicitly calling the Client and its instances and 2. I wanted to use `client.scatter(

[2021-09-30 07:20] #1319 closed

[2021-09-30 08:05] bouweandela commented on #1335
Using the distributed scheduler is indeed what I wanted to try to see if I can get #968 unstuck before the release.

[2021-09-30 08:09] zklaus commented on #1335
Since that is planned for later (2.5.0), let's try to make some progress on https://github.com/ESMValGroup/ESMValCore/milestone/7 first.

[2021-09-30 09:28] bouweandela commented on #890
I fixed this as part of #968, but it looks like that may not be ready in time before v2.4.

[2021-09-30 10:44] sloosvel commented on #1331
It should work now.

[2021-09-30 11:24] valeriupredoi commented on #1335
totally with you on that @zklaus - am playing around with Dask for another project and thought this would be a good point where we start the discussion (or continue it further as it were) for ESMValCore. I will also be very willing to start dasking Core in the very near future, hopefully for 2.5 :beer: Regarding the Milestone, I'll be doing some serious PR reviewing work next week :+1:

[2021-09-30 11:38] valeriupredoi commented on #1331
It does indeed, many thanks @sloosvel (don't close this now please, I'll add it as being closed by #1269 to have a correct record)

[2021-09-30 12:39] zklaus commented on #1335
Great, @valeriupredoi! Strictly speaking, that is after the feature freeze, but I'll take what I can get.

[2021-09-30 17:58] bouweandela commented on #1247
This looks like a duplicate of #430

[2021-10-01 06:47] bouweandela commented on #1335
Note that you need to use
[code]
to make the distributed scheduler work with `iris.save`, see also [here](https://docs.dask.org/en/latest/setup/single-distributed.html#client).

[2021-10-01 07:55] remi-kazeroni opened #1338 "Recipes without a title do not run"
**Describe the bug**
It seems that recipes without a title can not be run since #1332 has been merged. Running : `esmvaltool run examples/recipe_python.yml` returns:
[code]

I'm using the latest versions of the Tool and the Core which I reinstalled. Am I understanding correctly that any recipe without a title cannot be run because of this [check](https://github.com/ESMValGroup/ESMValCore/blob/37e7

[2021-10-01 07:59] bouweandela commented on #1338
Yes, this is correct, see discussion in #1319. We will need to add the [titles from the documentation](https://docs.esmvaltool.org/en/latest/recipes/index.html) before making the release. Would it be OK to transfer this issue to ESMValTool?

[2021-10-01 08:14] zklaus commented on #1335
There are other ways. But as I said, let's take this at a later time.

[2021-10-01 10:38] valeriupredoi opened #1339 "Issue in multimodel cube merge surfaced by running `recipe_preprocessor_test.yml`"
[code]
iris latest:
[code]

[2021-10-01 13:32] bouweandela commented on #1339
Without knowing at least the recipe and main_log_debug.txt it will be very hard to find out what is going wrong here.

[2021-10-01 13:37] bouweandela opened #1340 "Dataset problem: CMIP6 pr_Amon_CIESM_historical_r1i1p1f1 appears to have the wrong units"
**Describe the dataset issue**
A clear and concise description of what the problem with the data is is. Here are some guidelines that you can use
right out the box by filling in the blanks (note that, if needed we will assist you with writing a fix; also note that
if the problem is with a CMIP6 dataset, we will alert the ESGF and/or the model developers for them to fix the problem
in the long run;

[2021-10-01 13:47] valeriupredoi commented on #1339
read the issue title one more time :wink:

[2021-10-01 15:07] valeriupredoi opened #1342 "Highlights for v2.4.0 release"
I propose we highlight two of the many changes we include in v2.4.0 (when we write the Changelog, we include these two in the Highlights section, like we did before):
 - https://github.com/ESMValGroup/ESMValCore/pull/1217
 - https://github.com/ESMValGroup/ESMValCore/pull/1321
These are two awesome functionalities that more than deserve a Highlight status, well done @bouweandela - you almost won an

[2021-10-03 20:13] #1287 closed

[2021-10-04 08:26] zklaus opened #1343 "Improve handling of the datum representing earth"
At the moment, many calculations assume a spherical earth with a default radius. This is in part due to limited support for other datums, like ellipsoid ones or more specifically standardized ones like [WGS 84](https://spatialreference.org/ref/epsg/wgs-84/), in part due to a lack of information from models.

The CF conventions specify how to provide this information in [the `grid_mapping` attribut

[2021-10-04 08:39] zklaus commented on #1342
I really like the idea and those two are good candidates. There might be others, for example #1133 ? Other ideas, opinions, @ESMValGroup/esmvaltool-coreteam ?

[2021-10-04 09:02] valeriupredoi commented on #1160
am closing this for now since I've run a bunch of tests and am yet to find a case that needs implementation/attention - I'll reopen if need be but for now it looks bright :+1:

[2021-10-04 09:02] #1160 closed

[2021-10-04 10:28] zklaus commented on #1339
This is because of ESMValGroup/ESMValTool#2241. Basically our ERA-Interim cmorizer adds bounds that are not expected or provided in the CMIP data. I tend to agree with CMIP as discussed in that issue.

Perhaps you can help to drive the discussion in ESMValGroup/ESMValTool#2241 so we get a clearer picture where to go there?

[2021-10-04 10:32] valeriupredoi commented on #1339
spot on Klaus! Will go there :beer:

[2021-10-04 15:12] bouweandela commented on #1339
I'm not sure i agree with that conclusion, rather i suspect this is a result of #414: the era interim data has bounds, the other models are interpolated to the same levels, but without bounds and then the multimodel statistics preprocessor function fails to combine the vertical into a single coordinate.

[2021-10-04 15:13] zklaus commented on #1339
@bouweandela, to clarify: Do you think ESMValGroup/ESMValTool#2241 is wrong or that it doesn't apply here?

[2021-10-04 15:17] bouweandela commented on #1339
I think it doesn't apply here

[2021-10-04 15:37] bouweandela commented on #1339
In this particular case, i think the recipe should just be updated so era interim is excluded from multimodel statistics instead of ncep which isn't even in the recipe. It doesn't make much sense to include the 'observation' in a multi model comparison.

[2021-10-05 09:29] bouweandela commented on #1340
I checked on Jasmin and all of the following files appear to be affected by this problem:
[code]

[2021-10-05 09:46] zklaus commented on #414
This is not always true. The pressure level coordinates have no bounds associated.

Generally speaking, there are three ways vertical coordinates for atmospheric data are provided. Those are model levels (has bounds), pressure levels (doesn't have bounds), and altitudes (has bounds). Model levels are very high resolution and it is unusual to use the data on model levels for general analysis. From

[2021-10-05 09:54] zklaus commented on #1339
NCEP actually does appear as an additional dataset in the diagnostic 1 section, but I agree (and have confirmed), that excluding ERA-Interim will solve the immediate problem here.

[2021-10-05 12:31] valeriupredoi commented on #1339
in Klaus I trust :us: But here's the thing - Bouwe is right, we should just exclude ERA-I from the mm computation, that'll fix this issue and will buy us time to decide what we do with those plev bounds in the Tool PR

[2021-10-05 14:25] zklaus commented on #890
Ok, we'll have to live with it for one more cycle then. Let's prioritize it in the next round.

[2021-10-05 14:49] valeriupredoi commented on #1222
do we have any recipes that have made it to `main` @axel-lauer - if not, we can bump this to 2.5.0 :grin:

[2021-10-05 14:55] matthew-mizielinski commented on #863
My approach was predicated on the idea that a novice users, e.g. those not involved in model development, would likely end up using the data and the halo rows would cause them problems*; duplicate cells can upset plotting and affect calculations such as global means (if only slightly). Alongside this there were concerns within the Met Office that the values written into these haloes by the version

[2021-10-05 14:59] #1340 closed

[2021-10-05 15:15] valeriupredoi commented on #430
OK I came back to this prepandemic issue, things have not changed - I have polished a bit the toy example:

[code]

and it still shows the same behavior - note that if you use just the functional call and the dask cluster (comment out the mpi bit) all goes fine (albeit slowly, well, it's expected). I am going to post this to Dask GH now :+1:

[2021-10-05 15:19] valeriupredoi commented on #863
excellent synopsis @matthew-mizielinski many thanks! So I suggest one asks nicely the model developers to use a de-haloer script (we used `ncks` wrapped in Python) and supply the data de-haloed :+1: @zklaus what you reckon?

[2021-10-05 15:44] valeriupredoi commented on #430
Ok guys, we have us an issue https://github.com/dask/dask/issues/8218

[2021-10-06 10:28] axel-lauer commented on #1222
I don't think we have anything in main yet, so postponing this until v2.5 is fine but we shouldn't forget about it.

[2021-10-07 12:41] valeriupredoi commented on #1208
excellent, cheers @SarahAlidoost and @zklaus :+1: :beer:

[2021-10-07 15:48] valeriupredoi commented on #1331
valiantly fixed by #1269 :checkered_flag:

[2021-10-08 12:30] zklaus opened #1348 "Monitor tests breaks on Python 3.9"
**Describe the bug**
The monitor tests seem to break on Python 3.9, see:

https://github.com/ESMValGroup/ESMValCore/runs/3837926185?check_suite_focus=true#step:9:27

[2021-10-08 12:51] valeriupredoi opened #1349 "`mask_landsea` fails when using 2D fx data on 4D cube data"
**Minimal recipe**

[code]

**Trace (full)**
[code]

**Issue in a nutshell**

fx data has shape: (64, 128) and data cube has shape: (36, 17, 64, 128); in `_mask.py` l.117 (not 118 as in the trace, I added a line at pos 117 inspect the two cubes)
[code]
fails to broadcast fx data onto cube data.

[2021-10-08 13:59] #1348 closed, assigned to valeriupredoi

[2021-10-08 14:29] sloosvel opened #1352 "Add more tests for ancillary variables/cell measures functionality in `extract_levels` to complete (merged) PR #1269"
**Describe the bug**
It's missing some tests.

[2021-10-08 14:53] #1349 closed, assigned to valeriupredoi, sloosvel

[2021-10-08 16:27] #1339 closed

[2021-10-08 16:41] valeriupredoi opened #1353 "Add more tests to test DRS paths in `config-developer.yml`"
I just merged https://github.com/ESMValGroup/ESMValCore/pull/1304 because it was ready bar a test for its specific DRS implementation, before merging it I had realized that that PR is just a drop in an ocean of missing tests for DRS variations (no native6, EMAC, obs4MIPs etc etc), so we have to add tests to cover those. Yeah, a drop in an ocean of missing tests, deal with it :grin: :ocean:

[2021-10-08 18:15] schlunma opened #1355 "`extra_facets` are broken"
#1259 introduced a bug in the `extra_facets` functionality, there is a `[mip_]` missing in the access of the nested `dict` here:

https://github.com/ESMValGroup/ESMValCore/blob/090962bdc9ba1d55fdfed8858762a17c7594f123/esmvalcore/_config/_config.py#L80

[2021-10-11 11:46] valeriupredoi commented on #430
I like that solution too! Let's plug it in and test, then I can close the issue at Dask - the problem is very simple in my view, but they haven't actually understood what's going on - in fairness, the setup of the used case really doesn't make any sense to anyone with a sane engineer mind anyway, but maybe just a red flag for us not to use dask with compute when we're running the same bit of code

[2021-10-11 12:38] #1352 closed, assigned to nobody

[2021-10-12 20:29] thomascrocker opened #1358 "Error when trying to install ESMValCore from source"
I recently created a new conda environment in order to upgrade my local install of ESMValTool.

I followed the steps at https://docs.esmvaltool.org/en/latest/quickstart/installation.html#install-from-source and was able to successfully create the new environment and install ESMValTool. The problem comes when trying to install ESMValCore in editable mode. https://docs.esmvaltool.org/en/latest/quick

[2021-10-13 12:00] remi-kazeroni commented on #1358
I also encountered the same problem but for the installation of the ESMValTool. I also followed these [instructions](https://docs.esmvaltool.org/en/latest/quickstart/installation.html#install-from-source). I got the same error message:

[code]

[2021-10-13 12:26] zklaus commented on #1358
As suspected, this is a bug in pip itself: pypa/pip#10573. Will keep you posted on workarounds and how we will proceed.

[2021-10-13 12:37] thomascrocker commented on #1358
Thanks for the heads up @zklaus I can confirm that from my side, downgrading the version of pip in my conda environment to 21.2.4 appears to have worked. Just off to test some recipes now.

[2021-10-13 14:31] valeriupredoi commented on #1335
as Celine Dion says, My (Dask) heart will go on - so here is me looking at running a Dask cluster remotely, over SSH:

## Preformance difference between running a local cluster vs SSH cluster

### Local cluster and SSH cluster examples

- Local cluster:

[code]

- SSH cluster:

[code]

They both return the same thing: a float: Result after computing:  314.9707!

### Performance numbers

- Local cl

[2021-10-13 14:38] valeriupredoi commented on #1358
BTW this issue has tripped all the Github Actions in the [nightly tests](https://github.com/ESMValGroup/ESMValCore/actions/runs/1335417439) too so it's definitely not a localized occurrence :grin:

[2021-10-13 14:44] valeriupredoi commented on #1358
yes or use the workaround in https://github.com/pypa/pip/issues/10573#issuecomment-941136050 but it seems that they already a ready-ish PR that fixes that?

[2021-10-15 10:10] bouweandela commented on #1335
@zklaus If you got iris.save to work in other ways, I'd be interested to hear about those.

[2021-10-15 11:27] #1358 closed, assigned to nobody

[2021-10-15 14:15] zklaus commented on #1298
I have tried rather hard to reproduce the problem, but for me it just works. @bouweandela, could you please check if the problem persists?

[2021-10-15 15:18] remi-kazeroni opened #1361 "[recipe testing strategy] Tests run on a nightly basis"
**Is your feature request related to a problem? Please describe.**
During the meeting on the recipe testing strategy [#2259](https://github.com/ESMValGroup/ESMValTool/issues/2259) on October 14, 2021, we discussed the different options to test recipes on a daily basis. The idea is to check whether changes in the ESMValCore affect recipes and spot that earlier on than shortly before a release. That

[2021-10-16 09:37] zklaus opened #1362 "Remove our own-grown conda package"
With conda packaging on conda-forge, we can probably remove `package` from our repo.

[2021-10-16 09:54] zklaus opened #1364 "Change to release procedure: version number in main"
I'd like to propose that we handle the version number separately in the main and release branches, respectively.
More specifically, my idea is to set the version number in `main` to `...dev` for the next planned release at the time we do the release branch.

For example, now we create the release branch `v2.4.x` and that should get the version number `2.4.0rc1` for the first release candidate. At

[2021-10-17 20:09] zklaus opened #1365 "Change to github handling: clarify label use"
Using our [`draft_release_notes.py` script](https://github.com/ESMValGroup/ESMValTool/blob/main/esmvaltool/utils/draft_release_notes.py), the following Labels are special in that they are used to sort the pull requests into categories.
That means that exactly one of them should be assigned to every PR. To make this clearer, I suggest to make them all the same color, and to modify the PR template c

[2021-10-18 09:50] valeriupredoi commented on #1342
good call, Tina! :beer:

[2021-10-19 11:27] valeriupredoi commented on #1329
sorry, it took me a while to get back to this one, @bouweandela - nice scripty-script, but note that you are piping everything to dev/numm (that's stdout **and** stderr); so don't pipe and you'll see fails: like eg `tests/integration/cmor/_fixes/cmip5/test_mri_cgcm3.py` and lots others like it (lots from the fixes tests). Note that these are not failed tests, but rather errors while collecting the

[2021-10-20 10:34] bettina-gier opened #1368 "Update Logo in Core Read the Docs?"
Just noticed that the documentation for the ESMValCore still uses the old logo, while the tool was changed to use the new one. Furthermore, should we make the white background transparent? looks a bit weird like this - possible just leave a 1-2 px area around the black font in white for readability. I can make the changes later at home if you want.

Pinging @zklaus cause this might be something sm

[2021-10-26 13:37] valeriupredoi opened #1370 "`tests/integration/esgf/test_search_download.py` fails with HTTPError 500 Server Error"
`pytest tests/integration/esgf/test_search_download.py` returns:
[code]

It seems the node is down for some reason; but I would not really like this to fail our tests (and spend a few good minutes too until it poops the bed). Short term solution: let's keep an eye on this maybe it gets fixed in a few hours; long-term solution: I'd rather mark the test as xfailed than full on fail when servers are

[2021-10-26 15:13] valeriupredoi opened #1371 "First look for OBS/OBS6 data then for CMIP/obs4MIPs"
Now with the `pyesgf-client` tool in, most of times the only missing data will be the OBS/OBS6 data, and we may have the case where the tool goes about and looks for a gazillion CMIP datasets, goes and sets up the ESGF download if some CMIP data is not found locally (doesn't start the download, but even so, it spends time setting up the facets and looking at ESGF servers), only to exit stage left

[2021-10-27 09:55] zklaus opened #1372 "Return type of cftime.date2num might be wrong"
**Describe the bug**
In version 1.4.0, cftime has changed the behavior of its date2num function to return an integer when possible. This means that inadvertently we are changing the dtype of variables in several places.

I propose to add our own little helper `date2num` that preserves the dtype. Obviously there will be a chance to comment on the pull request, but I am eager to hear comments alread

[2021-10-27 13:48] #1372 closed, assigned to nobody

[2021-10-27 14:08] #1368 closed, assigned to nobody

[2021-10-27 16:35] senesis opened #1377 "test_get_input_filelist() doesn't handle extra_facets"
While designing a new entry in [data_finder.yml](https://github.com/ESMValGroup/ESMValCore/blob/main/tests/integration/data_finder.yml) for testing access to IPSL-CM native format data files (which is called for by #1353), I realized that the (quite new) 'extra_facets' feature is not yet handled by test_get_input_filelist() in [test_data_finder.py](https://github.com/ESMValGroup/ESMValCore/blob/ma

[2021-10-28 12:02] bouweandela opened #1378 "Provenance files do not have the default file permissions"
The provenance files are created with a read/write for the user only mask instead of with default permissions, for example:
[code]
where the user mask is set as:
[code]

This may lead to problems. For example, at the moment the provenance files in ESMValBot output cannot be read.

[2021-11-01 15:12] bettina-gier opened #1379 "Case sensitivity in data finder?"
Just came across this issue when testing recipe_gier2020bg.yml:

The data finder doesn't find the co2 esmrcp85 data on mistral for FIO-ESM, although it is available. This is due to there being uppercase and lowercase folders for this CMIP5 model on mistral containing different data

esmhistorical co2:
/mnt/lustre01/work/kd0956/CMIP5/data/cmip5/output1/FIO/FIO-ESM/esmHistorical/mon/atmos/Amon/r1i1p

[2021-11-02 11:18] remi-kazeroni opened #1380 "Iris module error when running `recipe_ecs_constraints.yml`"
**Describe the bug**
I re-tested the `recipe_ecs_constraints.yml` for the release ([#2354](https://github.com/ESMValGroup/ESMValTool/issues/2354)) after the provenance issue was fixed and got the following error in the diagnostics `diag_x_volodin_cmip5/ecs_predictor`:
[code]

Not sure why this is surfacing now...

[2021-11-02 11:46] valeriupredoi commented on #1380
that needs to be imported inside the diagnostic as a submodule, just doing an:
[code]
will solve it. The cause is iris adopting `isort` in 3.1.0

[2021-11-02 11:47] schlunma commented on #1380
Apparently that's something that has been changed in iris 3.1...My environment still had version 3.0.1. I will open a PR with the changes. By this link here I'm amazed that nothing else in the core broke :sweat_smile:  https://scitools-iris.readthedocs.io/en/latest/whatsnew/3.1.html#incompatible-changes

[2021-11-02 11:51] valeriupredoi commented on #1379
@bettina-gier I don't understand why you are thinking this is a char case issue - if it's not finding `esmrcp85` data it means it either doesn't know it needs that data or there is a problem with the path it's searching in, does it look for eg `esmRCP85` or smth like this to indicate it's changing the case? Can you pls run in `debug` and see where it's actually looking for the data before calling

[2021-11-02 11:55] bettina-gier commented on #1379
If you look closely it's because the esmrcp85 co2 data is in the "fio-esm" folder instead of the "FIO-ESM" folder, it's a mistral problem that there are two model folders under the institute folder for the same model - one uppercase as it should be and one lowercase and they have different data inside. bold italiced the path
esmhistorical co2:
/mnt/lustre01/work/kd0956/CMIP5/data/cmip5/output1/FIO

[2021-11-02 13:12] zklaus commented on #1379
I think this is a problem on mistral. I would let them know and I don't think we should introduce a work-around in our code.

[2021-11-02 13:40] valeriupredoi commented on #1379
@bettina-gier cheers, am blind :eyeglasses: Right! so Klaus is right, this is a non-standard issue (it should actually be reported to the Mistral guys) :beer:

[2021-11-02 14:00] bettina-gier commented on #1379
Alright!

[2021-11-02 14:00] #1379 closed

[2021-11-02 16:41] schlunma commented on #1380
Simply adding an `import iris.aux_factory` does not fix this recipe. Since `AtmosphereSigmaFactory` has been added to iris in 3.1 (Scitools/iris#4052) the recipe fails now with a duplicate `air_pressure` coordinate:

[code]

For this I will need to remove the custom version of `AtmosphereSigmaFactory` which we have in [esmvalcore/cmor/_fixes/shared.py](https://github.com/ESMValGroup/ESMValCore/blo

[2021-11-03 11:28] schlunma commented on #1380
I opened two (draft) PRs that fix the problem: #1382 and ESMValGroup/ESMValTool#2405

[2021-11-03 12:01] valeriupredoi commented on #1365
I'd go even further and suggest using an Action that checks the label eg https://github.com/marketplace/actions/verify-pull-request-labels

[2021-11-03 12:48] zklaus commented on #1365
I like your idea! It is more about enforcing the policy, whereas this ticket is more about changing/clarifying the policy, I would say, but perhaps we can do both.

[2021-11-03 13:44] remi-kazeroni commented on #1380
Thanks for doing so @schlunma! Shall I start reviewing those? Or do you plan to put some more work before marking the PRs as ready for review?

[2021-11-03 13:53] zklaus commented on #1380
I think the main reason @schlunma marked them as a draft, for now, is to keep them until after the release. However, since we are already pinning iris >= 3.1.0, this is an actual clash between that version of iris and our own code, and this seems clean enough, I would actually be ok with getting this in the release.

So, if you, @remi-kazeroni, could provide a review, and if you, @schlunma, are ok

[2021-11-03 13:59] valeriupredoi opened #1383 "[CEDA/JASMIN] Curious netCDF4/HDF5 (Python backends) errors on certain files"
Here's a curious case that we've seen before: some netCDF file gets written to disk but for some reason netCDF4/hdf5 has issues opening it; you move this file to a different location, and voila all works well. We thought this was more of a curiosity, but @ledm  has been seeing this more and more frequently as of late. Here's a toy example you can run:

[code]

The file in my `$HOME` (which is a me

[2021-11-03 14:23] schlunma commented on #1380
Sound good, the PR is ready for review! Thanks @zklaus and @remi-kazeroni!

[2021-11-03 14:35] valeriupredoi commented on #1383
another clue is that error doesn't happen when one tries to open the file in `r` (read only mode)

[2021-11-03 14:38] zklaus commented on #1383
Hm hm. This *might* be a hairy one. Similar problems have surfaced on their tracker at https://github.com/Unidata/netcdf4-python/issues?q=is%3Aissue+is%3Aopen+_ensure_nc_success.

However, I can reproduce the problem also with the copy, by removing write permissions.
@ledm, would you mind giving write permissions to the group (`chmod g+w`) just to test this?

Also, looking at the output of `stat`

[2021-11-03 14:55] valeriupredoi commented on #1383
yeah man, strange size differences can be seen from a simple `du -h`:
[code]

[2021-11-03 15:20] valeriupredoi commented on #1383
@zklaus you are correct, I get exactly the same error when I remove my own `write` rights off a copy of that file that I moved to another `nopw` partition (`chmod u-w`_:
[code]

size on disk changes too:
[code]

and doesn't change back when I re-add own `w` rights. Anyway, could it be that @ledm loses `w` permissions to his own dir from time to time while running the code that appends to that file

[2021-11-03 15:39] ledm commented on #1383
I've added group write permissions to that file now. Just to be explicit, this file: `/gws/nopw/j04/ukesm/ldemora/ESMValTool_output/recipe_ocean_ai_mpa_mld_20211102_142314/preproc/diag_timeseries_3/mlotst_map_hist/CMIP6_HadGEM3-GC31-MM_Omon_historical_r4i1p1f3_mlotst_gn_2000-2010.nc`

[2021-11-03 15:49] valeriupredoi commented on #1383
cheers @ledm - I can't see the error anymore. OK so things are starting to clear up: it seems that you are losing `w` permissions periodically (or better said, the process you are running is) - and this could be related to https://github.com/ESMValGroup/ESMValCore/issues/1378

There is still the dodgy difference in disk space though:
[code]
but this may be explained by the difference between the t

[2021-11-03 16:07] mjpritchard commented on #1383
@valeriupredoi make sure you're using `du -h --apparent-size` for more reliable result on that filesystem.

[2021-11-03 16:09] valeriupredoi commented on #1383
@mjpritchard cheers! That does the trick:
[code]

[2021-11-03 16:11] valeriupredoi commented on #1378
can this cause this https://github.com/ESMValGroup/ESMValCore/issues/1383 too? Problem is, the issue with permissions doesn't happen all the time in the case of @ledm - it's frequent, but not 100% reproducible

[2021-11-03 16:15] zklaus commented on #1378
No. Completely unrelated.

[2021-11-04 09:15] zklaus commented on #1383
Well, `du --apparent-size` certainly does some trick. Namely, it gives us back the information of the `Size: ` entry of the `stat` output, equivalently the size reported by `ls`. But it doesn't tell us the actual space occupied on the filesystem, in other words, the sparseness, that we were trying to use to determine whether the original file might be corrupted as indicated by the presence of a la

[2021-11-04 10:58] bouweandela commented on #1361
As I understood it, the main result from this discussion was that we would implement tests that test commonly used sequences of preprocessors, e.g. first compute some temporal statistics and then multimodel statistics, not entire recipes. These tests could be quite fast if we use small test cubes, so this could be run as part of the normal unit tests.

[2021-11-04 11:04] bouweandela commented on #1364
It could be interesting to look at automating this a bit, see discussion in https://github.com/ESMValGroup/ESMValTool/discussions/2299

[2021-11-04 11:22] valeriupredoi commented on #1383
I think that's the way around this - figuring out if the Python process opening the nc file to append is losing write permissions to it from time to time - as you say, Klaus - but how to check this in a systematic way? This could actually happen at netcdf4-python level hdf5 level

[2021-11-04 11:33] agstephens commented on #1383
@valeriupredoi @zklaus Do you know if the `netCDF4` library is doing parallel-writes behind the scenes.

[2021-11-04 11:47] zklaus commented on #1383
@agstephens, I believe that is not the case.

[2021-11-04 11:47] valeriupredoi commented on #1383
@agstephens I don't think so since the build version we have is done without `mpi` (`nompi_py39h64b754b_103`)

[2021-11-04 14:23] ledm commented on #1383
Here's what I don't understand. This error is happening a lot for me, in almost every run now. If it were just a read/write error it would happen at all the places that the netcdf is written. However, it only ever happens at the `_include_provenance` stage in the `_include_provenance_nc` function. What is so special about this function?

[2021-11-05 10:10] remi-kazeroni opened #1387 "Review of existing custom table entries"
It would be good to review the existing custom tables and check if all of these contain (right) standard names and meaningful comments. In #1386, it was seen that not all entries of all tables are correct. A table without a standard name may lead to bugs as reported in this [comment](https://github.com/ESMValGroup/ESMValTool/issues/2396#issuecomment-960826885) when custom variables are used to der

[2021-11-05 13:11] axel-lauer commented on #1222
Further investigation of this problem showed that in addition to auxiliary coordinate `p0`, also presence of `ptop` can cause the same problems and needs to be removed in order to be able to calculate multi-model statistics (again). A fix in `_combine` (esmvalcore/preprocessor/_multimodel.py) could look like this:

[code]

In addition to this, `add_plev_from_altitude` and `add_altitude_from_plev`

[2021-11-05 15:47] remi-kazeroni opened #1388 "Variable information from recipes overwritten by cmor table info when deriving custom variables"
**Describe the bug**
In [#2396](https://github.com/ESMValGroup/ESMValTool/issues/2396), it was found out that variable information (e.g. frequency) specified in a recipe to derive a custom variable can be overwritten by reading cmor tables and this can lead to inconsistencies like in the case of ERA5 hourly data. It is not clear if this issue only affects ERA5 variable derivation for hourly data o

[2021-11-08 14:28] valeriupredoi commented on #1383
@alaniwi from CEDA was kind enough to have a look into this, I am reposting his email from Friday, cheers, Alan!

I've experimented a little, and this seems to be entirely related to write permission. I cannot reproduce the errors when opening the files in "r" mode, but see the same behaviour as you in "a" mode. Equally, if I have a file that I own but chmod it to 400, then I will also get the err

[2021-11-08 15:01] #1342 closed

[2021-11-09 12:27] #1227 closed

[2021-11-11 11:17] bouweandela opened #1392 "profile_diagnostic option is passed to the diagnostic script"
The `profile_diagnostic` option from config-user.yml is passed on to the diagnostic script as a parameter in settings.yml. This is not necessary, because this option only affects how the diagnostic script is run by the (Python) interpreter. I don't see how this option would need to be used by the diagnostic script itself, so I propose we stop passing it on.

[2021-11-12 14:16] valeriupredoi opened #1393 "ESMValTool on AWS?"
A wild one - but it looks like there is shedloads of CMIP6 data on AWS https://aws.amazon.com/blogs/publicsector/now-available-cmip6-dataset-foster-climate-innovation-study-impact-future-climate-conditions/ - so how about we deploy ESMValTool on AWS too? :grin:

[2021-11-16 13:07] ledm commented on #1383
At @valeriupredoi's suggestion, I moved my output directory to my home directory, instead of the `/gws/nopw/j04/ukesm` and this exact same recipe with no changes worked fine (or at least ran until it hit a different error). We have a feeling the issue is with the jasmin file system, not netcdf4, iris or esmvaltool.

[2021-11-16 15:30] valeriupredoi opened #1394 "`extract_shape` fails at mask point when run before `area_statistics` since there are cell measure cubes with different shapes than data cube"
Unmasked (pun intended!) in https://github.com/ESMValGroup/ESMValTool/pull/1832

**Toy recipe**

[code]

**Behavior**

`_area.py/_mask_cube(cube, selections):` tries to `return fix_coordinate_ordering(cubelist.merge_cube())` but the merge operation fails spectacularly with:

[code]

because, in the case of this recipe, the cube list to merge looks like this:
[code]

ie one data cube and nine "cell

[2021-11-16 23:29] hahsan1 opened #1396 "Error when running variable `toz` derivation"
I am trying to generate the variable `toz` which is the total column ozone by following the instructions from the [guide](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/preprocessor.html#variable-derivation), but I get an error. It's not clear to me from the error log what the problem is. Any insight would be greatly appreciated!

Here are the recipe and error log from the run.
[

[2021-11-17 12:59] valeriupredoi commented on #1396
hi @hahsan1 I have transferred the issue to the ESMValCore since it deals with derivation which is a preprocessing functionality. `toz` takes `[{'short_name': 'o3'}, {'short_name': 'ps'}]` as input variables, do you have GISS data for those variables and corresponding mip end exp?

[2021-11-17 13:02] schlunma commented on #1396
Hi @hahsan1, based on your error it looks like your dataset uses a `atmosphere_hybrid_sigma_pressure_coordinate`, which is not currently supported for deriving `toz`. I actually implemented this is an the branch `ozone` and hopefully will get this into the `main` branch, soon!

https://github.com/ESMValGroup/ESMValCore/blob/7509434392601b5e477ec9ee5b29a641b6bf901b/esmvalcore/preprocessor/_derive/t

[2021-11-17 13:14] valeriupredoi commented on #1396
cheers Manu :beer:

[2021-11-17 15:22] sloosvel commented on #1394
I think that would make `area_statistics` fail. Maybe `_mask_cube` should be expanded to also mask the fx_variables and also make them dependent on the `shape_id` coordinate? I am a bit packed this week to implement this changes though.

[2021-11-17 15:49] valeriupredoi commented on #1394
Don't be packed, Saskia, it's bad for your back :laughing: I'll have a think on Friday, I am busy writing ISENES3 guff tomorrow :+1:

[2021-11-17 18:22] hahsan1 commented on #1396
I managed to get this working by adapting your code, thank you!

[2021-11-19 13:04] bouweandela commented on #936
Note that the `--synda_download` option has been removed in favour of the `--offline=False` option in https://github.com/ESMValGroup/ESMValCore/issues/1130 and that the problem with `--diagnostics` should be fixed by #1264.

[2021-11-19 13:34] valeriupredoi opened #1397 "Smooth transition between user downloaded data and central replication of the same data"
**This issue considers just the use of pyesgf-client in ESMValTool, and doesn't assume any contingent of a centrally installed, user-called Synda**

ESMValCore's `pyesgf-client` automatic data download is a great tool for users to have all the data they need to run the diagnostic without hitches. But we need a smooth transition process from the point where the user has downloaded that data and fin

[2021-11-19 13:56] schlunma opened #1398 "fx variables in defined in preprocessor section are not augmented with extra_facets"
fx variables defined in the preprocessor, e.g.,

[code]

are not [augmented](https://github.com/ESMValGroup/ESMValCore/blob/e4d61adfb14e3a3995abe2eb869d5f1781053416/esmvalcore/_recipe.py#L105-L109) with `extra_facets`, which might lead to failing fixes.

This can be fixed by adding `_add_extra_facets` to the following function:

https://github.com/ESMValGroup/ESMValCore/blob/e4d61adfb14e3a3995abe2

[2021-11-19 14:18] bouweandela commented on #1397
If they are planning to use Synda, #1129 might be a useful feature.

[2021-11-19 14:27] valeriupredoi commented on #1397
good point, Bouwe! I completely missed that discussion :+1:

[2021-11-19 14:59] zklaus commented on #1398
Thanks for pointing this out, @schlunma!

[2021-11-19 15:00] schlunma commented on #1398
(Forgot to mention: I can open a PR for that next week :+1:)

[2021-11-19 15:01] zklaus commented on #1398
Even better :grin:

[2021-11-23 12:08] valeriupredoi commented on #1128
hey @bouweandela I'd like to help with this in the new year, man! :beer:

[2021-11-24 02:06] hahsan1 commented on #1396
I realized that the derived file `toz` has yearly timesteps, but the input model files (i.e., `o3` and `ps`) have monthly timesteps. Is there a way to generate `toz` with monthly timesteps too? The reason is, I use `toz` for subsequent processing through ESMValTool and it is giving me this error: `time: Frequency mon does not match input data`, since `toz` has yearly timesteps.

[2021-11-24 09:03] schlunma commented on #1396
`toz` should have the exact same coordinat as `o3`. Can you please make sure that `o3` is really truly monthly data and if yes, post `ncdump`s of the input and output files as well as the recipe and debug log you are using?

[2021-11-24 17:17] hahsan1 commented on #1396
I realized my error now, I simply needed to specify `monthly_statistics` in the preprocessors section, rather than `annual_statistics`.

[2021-11-24 22:37] #1396 closed

[2021-11-25 12:34] SarahAlidoost commented on #936
I noticed that the documentation has not been updated, I added it to this [issue](https://github.com/ESMValGroup/ESMValTool/issues/1311#issuecomment-979175235).

[2021-11-29 12:29] schlunma commented on #119
To resurrect this very old issue:

To facilitate native model evaluation I think it might be helpful to implement a `bias` preprocessor, i.e. a simple subtraction of a reference dataset from other datasets. This would allow to plot bias plots with the generic output plotter from ESMValGroup/ESMValTool#2184.

Here are my thoughts on the implementation:

- Implement the preprocessor as new [`MULTI_M

[2021-11-29 13:32] axel-lauer commented on #119
I am not sure I fully understand the additional benefit of implementing this in a preprocessor rather than having this done by a simple diagnostic (since this only works if both datasets are on the same grid anyways). I would think that handling this in a diagnostic might allow for greater flexibility (thinking e.g. about thresholds for minimum values for which calculation of a relative bias start

[2021-11-29 13:47] schlunma commented on #119
I also thought about simply using a diagnostic (actually I already implemented this, not only once), but I think adding this to the preprocessor is the cleaner way to do it and might be also interesting for new users (I remember that a user already asked for this functionality, can't remember the issue though). Ensuring that all datasets are on the same grid shouldn't be a problem with the `regrid

[2021-11-29 13:54] axel-lauer commented on #119
Sounds good, I just wasn't completely sure this would be worth the effort. But as I said, please go for it.

[2021-11-29 15:53] valeriupredoi opened #1401 "Our pandas left us: test failures due to missing module `pandas` since latest `iris` doesn't need any more `pandas`"
[test fails eg](https://github.com/ESMValGroup/ESMValCore/runs/4348196555?check_suite_focus=true) - I am investigating

**CAUSE FOUND**: latest iris build:
[code]
does not include `pandas` as dependency anymore - I opened an issue https://github.com/SciTools/iris/issues/4442 and asked, if they don't need it anymore we either include it ourselves or see about not using it anymore :+1:

[2021-11-30 10:22] zklaus commented on #1401
I think we should probably include it ourselves, no matter what Iris does. Similar to the discussion we had about the `import` stuff, I tend to think that we should name everything we ourselves are using, even if it would also be pulled by a dependency.

[2021-11-30 12:10] valeriupredoi commented on #1401
yeah man that was my ontention as well, I'm gonna get a qwik PR out with :panda_face: in now

[2021-11-30 15:23] #1401 closed

[2021-12-03 15:43] #1394 closed

[2021-12-06 11:55] #1398 closed

[2021-12-06 16:43] valeriupredoi commented on #1392
totally agreed, like asking a cow to do triple integrals :cow:

[2021-12-07 12:20] valeriupredoi opened #1405 "Pin `flake8<4` - running `pytest` tests with `--flake8` turned on may mask print statements that are necessary if test fails"
A bunch of native Python errors - like undefined name/variable - are now picked up by Flake8 when running a pytest test - if those errors can be debugged via print statements that the test developer has purposefully put in the test for debugging, those print statements don't get flushed to stdout even if you change the `--capture` value when running pytest, because flake8 runs right at the very be

[2021-12-07 12:24] valeriupredoi commented on #1405
also, flake8 errors are now starting to be darn opaque, have a look at [this](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/6018/workflows/f1bc0ab9-9492-4449-810f-548dbb04e089/jobs/28922)

[2021-12-07 15:29] bouweandela commented on #1405
See https://github.com/tholo/pytest-flake8/issues/81

[2021-12-08 10:27] senesis commented on #1154
The basic issue here is in my mind related to a topic discussed in the context of defining a standard interface (see https://github.com/IsEnesEval/diagstandards/pull/1#discussion_r748047611)
Namely, the workflow which calls ESMValTool for invoking a given script has no way to know the output file paths, nor the output directory path, because **no convention exists for that**; so, it cannot proceed

[2021-12-08 12:45] schlunma opened #1407 "Preprocessor error message can be very hard to read"
While working with native model output of ICON, I discovered that error messages of the preprocessor from this place in the code

https://github.com/ESMValGroup/ESMValCore/blob/e24a86836d72533087433c8d7ad2dde08e014305/esmvalcore/preprocessor/__init__.py#L282-L288

can be **very** hard to read. See here an example for (only a single year!) of ICON output:

<details>

[code]

</details>

Please note

[2021-12-09 09:43] bouweandela commented on #1154
There is a convention for the output directory paths, it is documented [here](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/interfaces.html#information-provided-by-esmvalcore-to-the-diagnostic-script):

- `run_dir` use this for storing temporary files
- `work_dir` use this for storing NetCDF files containing the data used to make a plot
- `plot_dir` use this for storing plots

The path

[2021-12-09 10:27] bouweandela commented on #1405
Yes, that would make sense. The issue with the flake8 plugin looks quite old and nothing seems to be happening there.

[2021-12-09 11:26] #119 closed

[2021-12-09 14:56] valeriupredoi commented on #1405
pin it is then...I'll do it soon :hourglass:

[2021-12-10 09:37] #1407 closed

[2021-12-10 11:17] schlunma opened #1411 "Input for derived variables is not augmented with extra_facets"
Similar to #1398: Input for derived variables is not augmented with `extra_facets`. I will open a PR today.

See

https://github.com/ESMValGroup/ESMValCore/blob/e663147be8b8a534bc5dbecd8a248811d0823e47/esmvalcore/_recipe.py#L953-L958

[2021-12-14 08:46] #1411 closed

[2021-12-14 15:48] schlunma opened #1413 "`unstructured_nearest` regridding does not return masked arrays"
The `unstructured_nearest` regridding scheme does not return masked arrays (only regular `dask`/`numpy` arrays with explicit values of `1e20`). This can lead to problems further down the preprocessing chain and gets only fixed in the `save` step.

This is actually a problem of `iris`, but since they will improve their support for unstructured grids soon and we will also probably adapt the regriddi

[2021-12-15 12:09] schlunma opened #1415 "Explicitly **not** using any fx variable is not possible in preprocessor"
Due to the implementation of the check for the `fx_variables` option in the preprocessors, i.e. basically something like

[code]

it is currently not possible to explicitly **not** use any fx variable. Empty dictionaries, lists, or `None` will all trigger the first `if`, and the default values are automatically added.

<details>

https://github.com/ESMValGroup/ESMValCore/blob/5131ffc4cdf5aa5c46215

[2021-12-15 12:12] valeriupredoi commented on #1415
how about a `skip_fx_fariables:` opt with options `all` or a list of variables to be skipped?

[2021-12-15 12:14] schlunma commented on #1415
I think that's not even necessary: If I say `fx_variables: {}`, I expect the tool to not use any.

[2021-12-15 12:15] zklaus commented on #1415
To understand better what we are trying to do: What is the use case for computing spatial averages without taking the cell area into account? How is the mean defined in that case? Alternatively, what other use cases, besides spatial statistics using cell areas/volumes need or benefit from the absence of cell measures?

[2021-12-15 12:24] schlunma commented on #1415
Some preprocessors that can use fx variables also work without them (e.g., `area_statistics` in case of regular lat/lon grids, `mask_landsea` using the Natural Earth masks, etc.). I don't want to make a case for not using fx variables here, but it just feels unnatural to me if I specifiy `fx_variables: {}` and the tool uses the default fx variables anyway.

(I stumbled upon this while using `mask_

[2021-12-15 12:28] valeriupredoi commented on #1415
Manu's got a good point, here's a scenario: the preprocessor uses a number of variables as default fx vars, but some are not found (data is missing), so it goes ahead and instead uses alternative ones - the user doesn't like that and would want to repeat the analysis either with no fx vars, or with some of them explicitly excluded

[2021-12-15 13:01] schlunma commented on #1415
Suggestion for the actual implementation: #1416

[2021-12-15 14:20] remi-kazeroni commented on #1365
I also like these ideas! We should perhaps also update the [documentation](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#pull-request-title-and-label) which currently says: "At least one of the following labels should be used: bug, deprecated feature, fix for dataset, preprocessor, cmor, api, testing, documentation or enhancement." Having the one and only one label ch

[2021-12-16 14:12] valeriupredoi commented on #1413
eagle eyed Many :eagle: I reckon it's best you raised this with Iris in the form of an issue (if there isn't one already) :+1:

[2021-12-16 14:34] schlunma commented on #1413
Opening an issue right now

[2021-12-16 14:40] valeriupredoi commented on #1413
eagle eyed Manu not Many :laughing: Cheers, maybe they are not aware of this, what do you know?

[2021-12-16 15:40] ledm commented on #1415
(Quietly: please don't break the fx interface... )

[2021-12-16 16:45] schlunma commented on #1413
See SciTools/iris#4463 :+1:

[2021-12-17 10:45] #1413 closed

[2021-12-21 14:00] #1120 closed

[2022-01-05 12:55] valeriupredoi opened #1418 "[tests] Some tests fail with the new `numpy=1.22`"
See Python 3.8 and 3.9 [fails](https://github.com/ESMValGroup/ESMValCore/runs/4709188763?check_suite_focus=true) - I am onto fixing it :+1:

Seems to be an issue with the `cube.xml()` cube method, I asked the SciTools folk https://github.com/SciTools/iris/issues/4478

[2022-01-05 13:17] valeriupredoi commented on #1418
@sloosvel do you know if the `xml` info is still needed by any chance? I see this being checked for only in the `tests/integration/cmor/_fixes/native6/test_era5.py` test and it seems to me that if needed, it should be checked for in a lot more other places? :beer:

[2022-01-07 09:33] #1418 closed

[2022-01-10 13:30] valeriupredoi commented on #1383
OK so I think I finally got to the bottom of this, and now I can reproduce the issue 100% cases, and with everything belonging to me (as user, as it's the case for @ledm - no secondary users file access etc). I wrote a test file like this:
[code]

It mimics the actual functional behavior of that bit of code: a class that uses a static method that accesses the file and appends to it, what's extra i

[2022-01-10 13:59] valeriupredoi commented on #1383
here is a fix that ensures file handling done correctly by the two racing processes:

[code]

I reckon we should put this in the provenance code, inside that static method to avoid such issues, what you reckon @bouweandela ?

[2022-01-12 13:14] valeriupredoi commented on #1383
that was just an idea - I don't like sleeps either, no need to artificially slow down the code, but this is the only solution I found that averts the race situation; I'll leave it to @bouweandela to decide how to best avoid the race, but am afraid this will bite again in certain conditions

[2022-01-13 08:35] schlunma opened #1421 "Improve documentation on how to deprecate features"
In #1416 an optional argument of a preprocessor function was deprecated. There we realized that the [existing documentation](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#backward-compatibility) does not describe the procedure in full detail.

#1416 introduced a [custom](https://github.com/ESMValGroup/ESMValCore/blob/4b8bf66ce6ef51cc6814b5d18357ae91684eb0b7/esmvalcore

[2022-01-13 09:15] sloosvel opened #1422 "Adapt `annual_statistics` to DCPP data"
**Is your feature request related to a problem? Please describe.**
As mentioned in https://github.com/ESMValGroup/ESMValCore/issues/1120#issuecomment-843030860, a year in DCPP datasets spans 12 months but not necessarily starting in January. For this reason, aggregating these datasets by `year` number in `annual_statistics` is not very convenient, as a dataset with 12 months of data spanning from

[2022-01-13 14:26] valeriupredoi commented on #1421
I think a good inspirational case is Numpy's [NEP 23](https://numpy.org/neps/nep-0023-backwards-compatibility.html) - pinging @alistairsellar too since he is well interested in making sure these things are done in a standardized and documented manner :+1:

[2022-01-13 14:29] valeriupredoi commented on #1421
also I'd remove the `deprecated feature` label - yes that thing is discussed here but the discussion will not lead to a deprecated feature, but rather to an enhancement :hammer_and_wrench:

[2022-01-13 15:36] zklaus commented on #1421
Pinging @ESMValGroup/esmvaltool-coreteam. Let's bring it up at the monthly meeting as well.

[2022-01-13 15:58] zklaus commented on #1422
Just a thought: Would it be possible to do this with seasonal statistics and a season of "NDJFMAMJJASO"?

[2022-01-13 16:06] sloosvel commented on #1422
Yes, but in the case of having a recipe with datasets that start in different months I feel like it's more flexible to adapt `annual_statistics`. Otherwise you would need to create separate preprocessors for each one of the datasets.

[2022-01-13 16:40] valeriupredoi commented on #1329
for some miraculous reason, all tests now pass - without the need of explicit imports or fixes as we did in #1367 - I don't know why, but I know I am now using python=3.9.9, as opposed to 3.9.7 previously, in fact here is the pytest setup difference:

- we had fails with:
[code]
- all fine with:
[code]

[2022-01-13 16:41] #1329 closed

[2022-01-17 12:33] valeriupredoi opened #1423 "Possible improvements in cube concatenation to be discussed with `iris` developers"
Hey @ESMValGroup/esmvaltool-coreteam - I got a reply on a long forgotten issue I had opened in the SciTools GH repo about cube concatenation, see https://github.com/SciTools/iris/issues/3696#issuecomment-1011227294 - and was wondering if we need to float any ideas about possible improvements of this functionality - shout out to the iris folk who are always improving their package based on our sugg

[2022-01-17 13:50] bouweandela commented on #1383
@valeriupredoi I don't see how the code you produced resembles what happens in the ESMValCore. When saving a NetCDF file, first the iris cube is stored in the file (either by the preprocessor or the diagnostic) and then we add some global attributes (caption, text that says file was created by ESMValTool, no provenance anymore since #1306). See for example this code for preprocessor files:
https:/

[2022-01-17 13:56] bouweandela commented on #1421
There is documentation on this topic: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#backward-compatibility

[2022-01-17 15:17] bouweandela commented on #1421
If you would like to add additional documentation, that might be a good place? Or link from there?

[2022-01-17 15:54] zklaus commented on #1423
I am rather confused about the original issue mentioned by @valeriupredoi. Basically, this is about what to do when concatenating two cubes that have an overlap in the concatenation dimension. But there really is no sensible default. The first three options that come to my mind are:
- Prefer the earlier cube and throw away the overlapping part in the later cube
- Prefer the later cube and throw aw

[2022-01-17 16:24] valeriupredoi opened #1425 "Add Python 3.10 to all Github Actions (Core and Tool)"
I'll do it, I am already running tests with it in the condalock PR anyway. Note to self and everyone else: if you want python=3.10, you need to encase it in quotes in a yaml file, otherwise it'll be looked at as `3.1` and conda will tell you "silly little b^^d, zere iz no such sing az pyson=3.1" :man_facepalming:

[2022-01-18 09:18] schlunma commented on #1024
I think we can close this now, after the refactoring of `multi_model_statistics` I can't find a reference to `np.std` or `np.ma.std` in the code anymore. Please re-open if necessary.

[2022-01-18 09:18] #1024 closed

[2022-01-18 09:23] schlunma commented on #1421
Somehow I overlooked this, I think this is actually a good place for it! Will update the information now.

[2022-01-18 09:27] schlunma commented on #451
Since all relevant preprocessors use `iris.cube.Cube.cell_measure`s or `iris.cube.Cube.ancillary_variable`s now, we can close this.

[2022-01-18 09:27] #451 closed

[2022-01-18 09:35] schlunma commented on #428
With the possibility to add fixes for all variables of a mip table (e.g., `class Amon(Fix): ...`) and to re-use fixes in other datasets with simple imports (e.g., `from .cmip5.canesm2 import Cl as BaseCl; Cl = BaseCl`) I don't think this is necessary anymore.

Feel free to re-open if necessary.

[2022-01-18 09:36] #428 closed

[2022-01-18 10:32] hb326 opened #1427 "Derivation script for XCH4 is broken"
**Describe the bug**
Looks like the latest version of iris had some updates that broke the derivation script for XCH4 (and my guess is XCO2 since it uses the same code).

**Please attach**
[recipe_mpqb_xch4.txt](https://github.com/ESMValGroup/ESMValCore/files/7888265/recipe_mpqb_xch4.txt)
[main_log_debug.txt](https://github.com/ESMValGroup/ESMValCore/files/7888266/main_log_debug.txt)

[2022-01-18 12:50] valeriupredoi commented on #1423
I agree with Klaus, shall we give people more time to chime in if they want to, say til the end of this week, than close both issues?

@zklaus ->

That's an old issue that I honestly can't remember what I was trying to get out of it - I believe I wrote a fix for us, and that's been used since, of matter here is Will's will (heh pun intended!) to make the concatenation a bit more flexible, and if w

[2022-01-18 12:52] schlunma commented on #1423
+1

[2022-01-18 15:43] valeriupredoi opened #1431 "Move to Python=3.10 for Circle tests, installation instructions and package info in setup.py"
yeah, that's pretty much it - Python 3.10 is around and is already being plugged in our package in the Github Actions all seems to be working fine :eyes:

[2022-01-18 16:53] schlunma opened #1433 "`esmvaltool run --help` does not show all possible command line options"
Currently, `esmvaltool run --help` returns

[code]

These are clearly not all possible arguments, see for example here:

https://github.com/ESMValGroup/ESMValCore/blob/4b8bf66ce6ef51cc6814b5d18357ae91684eb0b7/esmvalcore/experimental/config/_config_validators.py#L254-L289

@ESMValGroup/esmvaltool-coreteam  Is there a certain strategy which options are shows in the help and which not? I think it wou

[2022-01-18 17:06] valeriupredoi commented on #1405
opening a PR with the pin now!

[2022-01-18 17:11] #1431 closed

[2022-01-18 20:10] zklaus commented on #1421
I updated the title, but @schlunma, could you have a look at the description as well?

[2022-01-19 12:02] #1425 closed

[2022-01-19 12:49] valeriupredoi commented on #1234
binning this then

[2022-01-19 12:49] #1234 closed

[2022-01-19 12:51] valeriupredoi commented on #1433
related to this https://github.com/ESMValGroup/ESMValCore/issues/936 - we really need to fix the command helper and run

[2022-01-19 15:26] schlunma commented on #64
Can this be closed? I think most of the issues listed are solved.

[2022-01-19 15:31] valeriupredoi commented on #1383
`save` takes too long on a slow file system while `save_provenance` catches up with it and tries to append to a file that's still open?

[2022-01-19 15:36] valeriupredoi commented on #1370
I've not seen this recently, anything changed? Anyways I'll close since it's a bit of a duplicate, as @bouweandela  points out

[2022-01-19 15:36] #1370 closed

[2022-01-19 15:38] valeriupredoi commented on #1285
this has been discussed-ish as far as I remember, and the conclusion was "horses run fast", am closing since there are no immediate plans to retire/replace Circle just yet

[2022-01-19 15:38] #1285 closed

[2022-01-19 15:41] valeriupredoi commented on #1058
no idea why I've not closed this before, but I've not seen these tests fail in a long time, all good :cactus:

[2022-01-19 15:41] #1058 closed

[2022-01-19 15:42] schlunma commented on #797
The validation is now implemented:

[code]

However, this fails when there is a typo in ``--config-file`` and the default config file does not exist:

[code]

Apart from a more detailed error message I see no easy way to handle this last case, since the validation can only happen after the configuration file is read; and this is too late.

Any opinions on this? I propose to close this.

[2022-01-19 15:42] valeriupredoi commented on #1012
this is a bit historical now...

[2022-01-19 15:42] #1012 closed

[2022-01-19 15:45] valeriupredoi commented on #1423
aha! here's a relevant concatenation issue https://github.com/ESMValGroup/ESMValCore/issues/932

[2022-01-19 15:46] #687 closed

[2022-01-19 15:48] schlunma commented on #789
We now have a working configuration validator (see [this comment](https://github.com/ESMValGroup/ESMValCore/issues/797#issuecomment-1016595073)). However, this only checks the validity of the options, not the values (i.e., no paths are checked).

I propose we close this, feel free to re-open if necessary :+1:

[2022-01-19 15:50] valeriupredoi commented on #26
I *think* this can be closed since the cell measures implementation is now fully done, and the IPSL-related issue is also closed, please reopen if need be

[2022-01-19 15:50] #26 closed

[2022-01-20 08:52] #1427 closed

[2022-01-20 10:47] zklaus commented on #797
Hmmm. Why isn't the output
[code]
?

[2022-01-20 10:50] schlunma commented on #797
It is when `~/.esmvaltool/config-user.yml` exists, otherwise the error above appears. We would need some kind of spell-checking for this to work, otherwise I don't see a solution for this. Or maybe expand the error message to something like

[code]

[2022-01-20 10:50] zklaus commented on #789
I think this is still a bit open. @schlunma, do you know the PR in which this was added? In any case, I think adding the checking of paths as suggested by @nielsdrost would be very nice and useful.

[2022-01-20 10:52] zklaus commented on #797
My point is that there should be an error about the wrong parameter, no matter what happens with the config file.

[2022-01-20 10:57] schlunma commented on #797
The check for the parameters only happens after reading the configuration file (as many of the options are added by this), we would need another validation step specifically for the command line arguments for this before the config file is read.

[2022-01-20 11:04] schlunma commented on #789
I think in #1300, the validation happens here:

https://github.com/ESMValGroup/ESMValCore/blob/e9daad3b648d4872bfd67320b68d578faa1faee5/esmvalcore/_config/_config.py#L179-L183

I'm not 100% convinced of this check for existence. Maybe a warning is okay, but definitely not an error. If I'm using a configuration file written by someone else and they remove the path to CORDEX, I don't want my recipe

[2022-01-20 11:19] schlunma commented on #789
I guess this can easily be added here:

https://github.com/ESMValGroup/ESMValCore/blob/e9daad3b648d4872bfd67320b68d578faa1faee5/esmvalcore/experimental/config/_config_validators.py#L121-L130

[2022-01-20 11:42] schlunma commented on #797
Okay there's actually a very easy fix for this. I thought the creation of the experimental config objects checks for missing options, but actually it doesn't.

So this a we can actually add a simple validation like this

[code]

to the [top of `ESMValTool.run()`](https://github.com/ESMValGroup/ESMValCore/blob/e9daad3b648d4872bfd67320b68d578faa1faee5/esmvalcore/_main.py#L323). Makes sense?

[2022-01-20 11:44] zklaus commented on #797
Sounds good. @Peter9192 or @stefsmeets, could you comment briefly?

[2022-01-20 12:20] stefsmeets commented on #797
Yeah, tricky issue. The question is whether:

1. You do a pre-parsing of the CLI parameters and retrieve the `--config-user` flag. This will not protect you from miss-spelling the paramater, and this is what happens now I think.
2. Or do you first validate the config, and then read/overwrite the config, and then validate again. I think this is what @schlunma is suggesting.

The core of the problem

[2022-01-20 12:30] schlunma commented on #797
Yes, that's exactly what #1435 does.

Yes!

[2022-01-20 17:04] #1334 closed

[2022-01-21 08:25] #797 closed

[2022-01-21 10:45] zklaus commented on #1433
Can we single-source this? Eg  embed the output of `esmvaltool --help` in the documentation or perhaps a version of `esmvalcore._main.ESMValTool.run.__doc__` or similar?

[2022-01-21 11:16] schlunma commented on #1433
Yes, I agree with that!

As far as I can tell `Fire` uses the docstrings of the corresponding classes and functions (e.g., [this one](https://github.com/ESMValGroup/ESMValCore/blob/a1bd01e8356923914b9fcac3d1e7c3e96750def6/esmvalcore/_main.py#L334-L369) for the `run` subcommand) to create the `--help` output, so using `esmvalcore._main.ESMValTool.run.__doc__` as single source would definitely make

[2022-01-21 11:32] ledm commented on #1383
Can't we just do all the writing to disk sequentially instead of in parallel?

[2022-01-21 12:52] zklaus commented on #1383
@bouweandela's comment is clarifying that indeed already with the current code all writing should happen sequentially. If you,@ledm or @valeriupredoi, still think there is something happening in parallel, you should clarify how and where.

[2022-01-21 13:42] #1170 closed

[2022-01-24 14:20] #1405 closed

[2022-01-24 17:07] valeriupredoi commented on #1362
how about we use it as a backup of the conda forge recipe just in case things go south badly there?

[2022-01-25 08:23] zklaus commented on #1362
Well, in that case, we have to maintain and test it continuously. And it would still rely on conda-forge working in general since that's needed for all the dependencies. In my book, the cost-benefit analysis tips to removing it.

But I am happy to put it to a vote?

[2022-01-25 15:29] senesis commented on #1154
I know that, but this is not enough : each `plot_dir` can contain multiple graph files, and there is no convention by which the script could declare which is what

[2022-01-25 16:27] zklaus commented on #1154
@sloosvel, since you are taking over most things from @jvegreg, could you let us know if this issue is still relevant?

[2022-01-25 17:01] #1139 closed

[2022-01-26 09:13] sloosvel commented on #1154
I would say no: https://github.com/ESMValGroup/ESMValTool/pull/2184#issuecomment-977955838

[2022-01-26 14:35] sloosvel commented on #1422
Anyway, I gave it a go and it's something not that tedious to implement. It is also much more useful to our applications to have a result cube with a `year` coordinate computed with `annual_statistics`, rather than the result you obtain with seasonal statistics. So if you don't mind, I will open a pull request.

[2022-01-26 14:42] zklaus commented on #1422
Don't mind at all. Just thought there might be a way to achieve what you need without any work :wink:

[2022-01-26 14:56] zklaus commented on #1422
I suggest discussing a bit more though:
- If it is always the 12 months from the start of the file, what happens when the file has weird alignment (it is quite common that output files have a single day of the previous or next year)?
- What about sub-daily output?
- If the "year" goes from September 2010 to August 2011, is that year 2010 or year 2011?

[2022-01-26 15:39] sloosvel commented on #1422
You can take that point out with the timerange tag, the clipping happens before the time statistics.

I dont' get what you mean. But you can set a suitable origin with the timerange tag as well.

The aggregation sets the time to the middle of the interval, so March 2011.

[2022-01-27 12:40] schlunma opened #1439 "`.zenodo.json` greatly differs from the one in ESMValTool"
I noticed that the [`.zenodo.json`](https://github.com/ESMValGroup/ESMValCore/blob/main/.zenodo.json) file in ESMValCore greatly differs from the [one](https://github.com/ESMValGroup/ESMValTool/blob/main/.zenodo.json) in the tool. In particular, the `communities` and `grants` are missing.

This part was originally present but has been removed in #1289. However, I don't think this change was intent

[2022-01-27 13:59] schlunma commented on #789
I just realized that we have a already show a warning if a `root` path does not exist:

https://github.com/ESMValGroup/ESMValCore/blob/2d3df9d923de3adf10739c90ab0372235b55b4ae/esmvalcore/_data_finder.py#L394-L396

[2022-01-27 16:50] schlunma opened #1440 "Automatic download fails in rare cases"
In a recent discussion with @bettina-gier we noticed that the automatic download would sometimes fail with the following cryptic error message. I also remember that @axel-lauer had some problems with the automatic download feature, maybe that was also related to that.

[code]

## How to reproduce

After a while we figured out that deleting the cache file `~/.esmvaltool/cache/esgf-hosts.yml` solves

[2022-01-27 17:03] valeriupredoi commented on #1440
so the root cause is that the node has no internets, but the fallout is the malformed cache that persists and tells the downloader there is no internets, hence it goes to mamma crying right? I think the best solution is to have a connection test before any download is attempted eg:
[code]

we check with a ping too, and set the ping timeout to a limit `import ping, socket / try: delay = ping.Ping('

[2022-01-27 17:09] schlunma commented on #1440
I don't think that's necessary to be honest, the root cause here is that in that special case the search works (since the node CAN connect to the local ESGF node to search but cannot download from any node) which leads to the malformed cache. If any other node is used for the search that's totally fine (i.e., it results in an `Connection refused` error immediately).

With the easy fix I propose he

[2022-01-27 17:55] valeriupredoi opened #1443 "[tests failing] `JULIA_LOAD_PATH` has changed and is causing test failures"
`JULIA_LOAD_PATH` has changed its formatting and it now gets a bunch of garble at the end eg `'JULIA_LOAD_PATH': '/tmp/pytest-of-valeriu/pytest-137/popen-gw1/test_initialize_env__jl_0/esmvaltool/install/Julia:@:@whynumba:@stdlib'` where the first bit `whynumba` is my conda environment name and `stdlib` is guff; it causes the task tests to fail eg [here](https://github.com/ESMValGroup/ESMValCore/ru

[2022-01-27 18:03] valeriupredoi commented on #1443
pinging @ngam and @mkitti since you guys might know and/or be impacted by this too (sorry, am abusing your patience with us and Julia :grin: )

[2022-01-27 18:07] ngam commented on #1443
This was a design choice to localize the julia paths, etc. but I am not sure about the end of the paths and how that works exactly. Usually this work perfectly fine for the intended purpose, but it may have unintended consequences we need to investigate. Perhaps @mkitti can weigh in; otherwise, I will try to resolve this soon to ensure these unintended consequences don't happen..

[2022-01-27 18:10] ngam commented on #1443
It's all done here btw: https://github.com/conda-forge/julia-feedstock/blob/master/recipe/scripts/activate.sh

[2022-01-27 18:14] ngam commented on #1443
You may get around by simply tweaking your env setting, but let's wait for @mkitti

[2022-01-27 18:18] ngam commented on #1443
Could you link this pls?

[2022-01-27 19:41] valeriupredoi commented on #1443
@ngam many thanks, mate! Sure, this is where we go about finding the path https://github.com/ESMValGroup/ESMValCore/blob/2d3df9d923de3adf10739c90ab0372235b55b4ae/esmvalcore/_task.py#L396 and we test for it with a simple monkeypatch - we can always append the new descriptor with your pointer here https://github.com/conda-forge/julia-feedstock/blob/41be9d1aa4fb8e48fd7e367a781a95dea076e222/recipe/scr

[2022-01-27 20:05] mkitti commented on #1443
In activate.sh (in the 1.7 branch), we are explicitly manipulating the load path and project:
https://github.com/conda-forge/julia-feedstock/blob/41be9d1aa4fb8e48fd7e367a781a95dea076e222/recipe/scripts/activate.sh#L12-L14

The meaning of these symbols is documented here:
https://docs.julialang.org/en/v1/manual/environment-variables/#JULIA_LOAD_PATH
https://docs.julialang.org/en/v1/base/constants/#

[2022-01-27 23:02] mkitti commented on #1443
What is the actual failure in the end? It looks like you are just prepending the load path, which should be fine.

[2022-01-28 08:20] zklaus commented on #1443
@valeriupredoi, could you please indicate what the actual problem is and why you think Julia is connected? In the tests you link above, the errors seem to be from some provenance collection with no obvious relation to Julia.

[2022-01-28 08:53] remi-kazeroni commented on #1440
Thanks for the investigation @schlunma! I also had issues with the malformed cache but not exactly this one. Deleting the cached results always helped. This is written at the end of the ESGF configuration [documentation](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/configure.html#configuration-file) but perhaps we could make it more visible to users since the automatic down

[2022-01-28 09:26] sloosvel commented on #1422
Nevermind, as you said the seasonal statistics can already do this. I will close this issue.

[2022-01-28 09:26] #1422 closed

[2022-01-28 10:05] valeriupredoi commented on #1443
@ngam @mkitti cheers guys! The problem is 100% at our end, and solvable by a three lines of code edit, I pinged you thinking that this was an unexpected behaviour, and you'd find a bug in Julia but it looks like this is actually due to good progess on your side (I like the idea of stacking the envs and identifying the load path based on env names!). Fo you guys and @zklaus - the error is creeping

[2022-01-28 10:13] schlunma commented on #1440
Good idea, will do that!

Also good idea, I will add these lines to the default config file.

[2022-01-28 11:48] schlunma commented on #1440
I realized that the first change needs to go into the tool.

For the second, I would like to wait for some answers on #2504.

[2022-01-28 13:39] #1440 closed

[2022-01-28 17:11] ngam commented on #1443
@valeriupredoi, please tag us even if the issue is tangentially related to the julia-feedstock. This will help us in ensuring our solutions to the packages conundrum makes sense for downstream packages like this :)

We also can offer you pointers to specific changes instead of you looking on your own and wasting a lot of time figuring things out. I am very happy we are in constant communication wi

[2022-01-28 17:22] valeriupredoi commented on #1443
@ngam thanks a lot, man! You guys are awesome :beer: We've fixed that issue at our end, we'll close this once the PR gets merged, but we'll surely keep you in the loop (unless we decide to drop support for Julia, but it doesn't look that way anytime soon). I am actually going to propose a section on highlighting new informal partnerships that we bridge to be included with every new release we make

[2022-01-31 15:43] WilliamIngramAtmosphericPhysics commented on #1423
To me the sensible default seems
* Check the earlier & later cube agree within rounding error for the overlapping part.  If so, prefer whichever is more convenient to code because it doesn't matter.  If not, fail telling the user clearly how the cubes contradict each other.

But am I missing something?

[2022-01-31 16:08] zklaus commented on #1423
That seems to be an extraordinarily costly operation that still would only hide a manifest error in the input data. Perhaps I should clarify a little bit the use-cases that I/we have in mind.

Generally speaking, they have to do with different experiments that are direct continuations of each other. The first that comes to mind is a historical simulation, i.e. one that uses observations as forcing

[2022-01-31 17:42] WilliamIngramAtmosphericPhysics commented on #1423
Ah, thanks.  They had not occurred to me because they are not concatenating the 2 cubes as I understand the words.  What I would say you want to do is to concatenate the earlier part of the cube of data from the original run with the cube of data from the spun-off run.
So the transparent way to do what you want seemed immediately to me to take a slice in time (or in principle any dimension) to rem

[2022-02-01 14:47] #1443 closed

[2022-02-01 15:18] WilliamIngramAtmosphericPhysics commented on #1423
I was forgetting one can concatenate more than 1 cube!

So "discard_from_earlier_in_list" & "discard_from_later_in_list" seem right to me - not earlier or later in time, as it should work for all coordinates, & also the user may not know or want to know if the coordinate values increase or decrease (they may not even have the physical direction they expect, e.g. pressure v height), while they will

[2022-02-01 15:57] #1439 closed

[2022-02-02 10:26] schlunma opened #1454 "Vertical regridding to reference levels fails when reference dataset needs to be downloaded"
**Describe the bug**

A recipe with the following preprocessor

[code]

fails when the reference dataset (here `bcc-csm1-1`) needs to be downloaded (with `offline=False`) since the loading of this dataset already happens in `_recipe.py` prior to downloading:

https://github.com/ESMValGroup/ESMValCore/blob/7d430722af8a3aee206287edb210eedc87ca4fcb/esmvalcore/_recipe.py#L164-L172

**Please attach**
[

[2022-02-02 11:16] WilliamIngramAtmosphericPhysics commented on #1423
To me that seems an advantage - you can get any cube to over-ride any cube just by specifying them in order of importance, & only 1 of the 2 arguments I suggested is needed.

:-)

[2022-02-02 11:20] zklaus commented on #1423
Sorry for being unclear. What I meant is that Iris already re-orders the cubes on `concatenate` as it deems appropriate. As such, it is not clear that there is a good way to take any prior order into account.

[2022-02-02 13:23] WilliamIngramAtmosphericPhysics commented on #1423
I don't think you were at all unclear, but I must have been - what I was suggesting is that if the user knows or suspects there is overlap, & wants concatenation to go ahead, & knows which cubes he wants data to be discarded from, they could specify the cubes in "priority" order & set the flag to say so.

But as you say, it may be best to forget the idea.

[2022-02-02 14:41] bouweandela opened #1456 "Configuration file issues"
My apologies for being a bit late to the party, but please see my comments on https://github.com/ESMValGroup/ESMValCore/pull/1453.

[2022-02-02 15:38] schlunma commented on #1456
Sorry, nobody commented on my issue and we want to do the feature freeze for v2.5, so I wanted to get this in rather quickly.

I still think we have time to fix the issues you raised, I will open a draft PR for that. I also left some comments in the old PR (#1453).

[2022-02-02 16:47] bouweandela commented on #1456
Thanks @schlunma!

[2022-02-02 19:25] zklaus commented on #1423
Don't get me wrong, I think the topic could benefit from addressing and helping the user to realize different use-cases. I just wouldn't bake it into the main `CubeList.concatenate` function at this point, but rather draw up a few concrete use-cases and implement support for them in another place; perhaps a separate function in Iris, perhaps in a tool like ESMValTool, perhaps somewhere else.

[2022-02-03 09:39] senesis commented on #1377
@ESMValGroup/esmvaltool-coreteam : any interest for this topic ?

[2022-02-03 09:46] zklaus commented on #1377
@senesis, thanks for this. Would you mind turning it into a PR at this point? I appreciate the openness to other solutions, but it will be much easier to see the differences. Also, so far, this looks good to me.

[2022-02-03 09:51] bouweandela commented on #1377
The test was designed to check that given the available facets, the function `get_input_filelist` is able to find the files. You can just specify the required (extra) facets in `variable` data_finder.yml. I think that adding a call to `get_extra_facets` breaks the modularity of the code: we do not try to reproduce the entire process of going from the facets as defined in the recipe to the facets r

[2022-02-03 13:51] #1456 closed

[2022-02-03 14:05] bouweandela commented on #1433
Historically some options are command-line options and others are configuration file options. At some point, it became possible to specify most (all?) options either on the command line or in the configuration file and the distinction got a bit lost. The best solution seems to be have a look at all available options and think about which options make sense as a command line option and document tho

[2022-02-03 14:13] bouweandela commented on #1298
Last time I tried it still crashed. I'm running on my laptop with 16 GB of RAM, so maybe it's just lack of memory.

[2022-02-03 14:15] valeriupredoi commented on #1298
You call 16G lack of memory? Remember my Ubuntu 14 laptop from last year? I had 2G there :rofl:

[2022-02-03 14:17] bouweandela commented on #64
Yes, except for automatically finding out which cluster we're on, but let's close this.

[2022-02-03 14:17] #64 closed

[2022-02-03 14:47] bouweandela commented on #1128
This is pretty far done, except for automatic splitting of recipes. Manual splitting is supported since #1264. I will try to do something about automatic splitting for v2.6, but I'm not sure how important this feature is.

[2022-02-03 14:48] bouweandela commented on #1129
I did not manage to finish this before v2.5 and I'm not sure if I will have time to work on it in the future.

[2022-02-03 21:14] #1378 closed

[2022-02-04 08:36] #1421 closed

[2022-02-04 10:16] schlunma opened #1469 "`multi_model_statistics` fail when only a single dataset is given"
(Apologies for posting this again in case this was already discussed, but I didn't find an issue about this.)

While testing #673 I realized that `multi_model_statistics` fails when only a single input dataset is given:

https://github.com/ESMValGroup/ESMValCore/blob/9c008eeaa574642358e9f9555552577ab51f588b/esmvalcore/preprocessor/_multimodel.py#L294-L296

Especially with the introduction of `grou

[2022-02-04 10:26] schlunma commented on #333
Moving this to v2.6 to follow the corresponding PR.

[2022-02-04 10:27] schlunma commented on #744
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 10:28] schlunma commented on #781
Moving this to v2.6 to follow the corresponding PR.

[2022-02-04 10:29] schlunma commented on #857
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 10:29] schlunma commented on #863
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 10:29] schlunma commented on #890
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 10:30] schlunma commented on #1156
Moving this to v2.6 to follow the corresponding PR.

[2022-02-04 11:19] schlunma commented on #1180
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:20] schlunma commented on #1210
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:20] schlunma commented on #1222
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:22] schlunma commented on #1238
We can check the affected recipes before the release, but in case the error persists I will move this to v2.6

[2022-02-04 11:23] schlunma commented on #1247
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:23] schlunma commented on #1298
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:25] schlunma commented on #1335
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:26] schlunma commented on #1353
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:27] schlunma commented on #1377
@senesis Do you think you can turn this into a pull request soon? If it doesn't involve a lot of changes I think we can still get this into v2.5.

[2022-02-04 11:28] schlunma commented on #1383
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:28] schlunma commented on #1387
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:29] schlunma commented on #1388
Moving this to v2.6 since there is not open PR yet.

[2022-02-04 11:30] schlunma commented on #1454
Moving this to v2.6 to follow the corresponding PR.

[2022-02-04 11:38] valeriupredoi commented on #1383
yeah this is a Loch Ness monster kind of issue, I am actually going to close it, and will reopen if the behaviour resurfaces :sauropod:

[2022-02-04 11:38] #1383 closed

[2022-02-04 11:40] valeriupredoi commented on #1335
totally! This smells like 2.7 actually if you asked me, or even 3.0 if the daskification warrants a major release :+1:

[2022-02-04 11:58] senesis commented on #1377
It depends what soon means.

Le 4 février 2022 12:27:53 GMT+01:00, Manuel Schlund ***@***.***> a écrit :
***@***.*** Do you think you can turn this into a pull request soon? If it doesn't involve a lot of changes I think we can still get this into v2.5.

--
Stéphane Sénési

[2022-02-04 12:05] schlunma commented on #1377
The release is scheduled for 14 February, so next week would be great.

[2022-02-04 13:13] zklaus commented on #1377
Well, if we follow @bouweandela's reasoning, we don't need to do these changes. So @senesis, what do you think about that? If you agree that this test tests what it tests and any further tests should be done separately or are already covered, we can just close this issue. If not, you might want to elaborate why *this* test must test the extra_facets.

[2022-02-04 17:47] senesis commented on #1377
I agree that, if one agree with the point of view of @bouweandela , providing extra facets in data_finder.yml is the right way. This may however seems tricky, but I am not the expert here.

[2022-02-04 17:47] #1377 closed

[2022-02-07 10:47] #52 closed

[2022-02-07 12:26] ChrisJones-MOHC opened #1474 "non-fixed "fx" files - causes discontinuity in timeseries between experiments"
I have discovered that not all “fx” files are constant for a given model on ESGF. Specific example is for sftlf (land fraction) for NorESM2-LM model data below. This leads to discontinuity in global timeseries if sftlf is used to weight variables such as land carbon stores or fluxes

This is not a ESMVal error, but a danger with data which is useful for users to be aware of

Example – I have not e

[2022-02-07 14:14] valeriupredoi opened #1475 "`scipy` upgrade breaks our documentation builds"
Scipy evolving
[code]
leads to our automatic doc builds spewing this

[code]

I'll look into this imminently :+1:

[2022-02-07 15:06] zklaus commented on #1475
The conda package doesn't have much to do with this. The problem is that the Scipy doc server is horsed. We mentioned that briefly in https://github.com/ESMValGroup/ESMValCore/pull/673#issuecomment-1031257276, but it seems the situation is affecting many projects and will probably see some movement on the Scipy side. One issue that might be useful to track is scipy/scipy#14267.

[2022-02-07 15:36] zklaus commented on #1475
I found a temporary fix that we could use until upstream gets back in order. Replace the current intersphinx mapping entry with
[code]

Should we do this, temporarily, to make our machinery work in these critical days?

[2022-02-07 15:39] valeriupredoi commented on #1475
Yis! Let's! Failing tests is a bummer

[2022-02-07 15:48] zklaus commented on #1474
Thank. Please also note the following erratum: https://errata.es-doc.org/static/view.html?uid=0b9d744d-be7c-0152-89fc-ca64ab2dbe40

To quote:

[2022-02-07 15:55] ChrisJones-MOHC commented on #1474
thanks Klaus - useful to know this has been flagged there.

Although it's easier said than done, because unless you know this the tool defaults to using the experiment you've selected. Is it possible to redact bad files rather than leave them in place and hope everyone reads the errata?

[2022-02-07 16:00] zklaus commented on #1474
Yes, that is possible. However, it must be done by the modeling groups.

[2022-02-07 16:02] ChrisJones-MOHC commented on #1474
understood! I have emailed the contact email in the netcdf files, noresm-ncc@met.no

[2022-02-07 16:23] schlunma commented on #1475
Added in #1478

[2022-02-07 16:29] #1475 closed

[2022-02-07 17:06] zklaus commented on #1474
Cheers, @ChrisJones-MOHC. Let us know how it goes.

[2022-02-08 08:49] #1222 closed

[2022-02-08 13:48] schlunma opened #1480 "Output of `multi_model_statistics` does not have `dataset` and `alias` anymore"
Changes in #673 (see [here](https://github.com/ESMValGroup/ESMValCore/pull/673/files#diff-b675431b6cf759c61f7867680472aabc0304475fd666ed514ca0365bb87c2a47L720)) cause many diagnostics to fail at the moment (e.g., the python example recipe) since the attributes `dataset` and `alias` are missing.

[2022-02-08 16:55] #1480 closed

[2022-02-08 20:33] bouweandela opened #1484 "How to populate the `datasets` section in a recipe with everything available on ESGF"
Now that the tool can download any data that is available on ESGF, the next question (asked by @axel-lauer at the last monthly meeting https://github.com/ESMValGroup/Community/discussions/9) is: how do I find out what datasets are available on ESGF and put them in my recipe? Of course, there is the [recipe filler](https://docs.esmvaltool.org/en/latest/utils.html#recipe-filler) tool, but it can onl

[2022-02-09 09:23] schlunma opened #1485 "`timerange` in `multi_model_statistics` output can be wrong and `start_year` and `end_year` can be missing"
The calculation of the `timerange` for `multi_model_statistics` output does not consider the `span` attribute:

https://github.com/ESMValGroup/ESMValCore/blob/84d1b49ccbf83f8dbe0c2179467be583260398b4/esmvalcore/_recipe.py#L667-L682

This leads to inconsistencies between the filename and the data when `span='overlap'` is used. E.g., using these datasets

[code]

with `span='overlap'` leads to a fil

[2022-02-09 11:40] ChrisJones-MOHC commented on #1474
update - NorESM-LM will retract incorrect sftlf files. https://github.com/NorESMhub/noresm2cmor/issues/162 refers

in addition - use of the following line in ESMVal pre-processor forces the tool to use a correct (in this case abrupt-4xCO2) file:
fx_variables: [{short_name: sftlf, mip: fx, exp: abrupt-4xCO2}]

[2022-02-09 12:00] YanchunHe commented on #1474
Hi, just want to mention, seems that the abrupt-4xCO2 by NorESM2-LM is not correct neither, as the whole dataset has been retracted, merged and republished. By anyhow, the republished v20210118  `sftlf` of `abrupt-4xCO2` used a wrong version.

As mentioned in the https://github.com/NorESMhub/noresm2cmor/issues/162 issue, the v20210118 version will be retracted from ESGF, including the abrupt-4xCO2

[2022-02-09 14:00] rswamina commented on #1474
@bouweandela and @zklaus - What is the best way to record the outcome from this discussion on what files to use? Should users facing this problem search the issues or should we be documenting this somewhere?

[2022-02-09 15:36] #1485 closed

[2022-02-09 15:46] valeriupredoi commented on #1484
this looks great @bouweandela - any way we can make this a module so we can use it in different places just by importing it? E.g. this would find its first good use in the recipe filler and @ledm would buy me :beer: for the rest of my life :laughing:

[2022-02-14 19:25] bouweandela commented on #1484
Yes, I wanted to make it into a module, but ran out of time. I think
- `search_varables` should be renamed to something better and could then go into `esmvalcore.esgf`
- `group_ensembles` could go into a new module, maybe `esmvalcore.recipe`
- the code in __main__ should be simplified and included as an example of how to use this in the documentation of the `esmvalcore.esgf` module
- the other cod

[2022-02-15 15:28] schlunma commented on #1238
This is still an issue for v2.5.0rc:

[code]

I suggest we move this to v2.6.

BTW, these error message has a really weird formatting right now. I will open an issue about that.

[2022-02-15 15:33] schlunma opened #1492 "Formatting of CMOR errors is broken"
#1296 introduced a new formatting of CMOR errors which appears to be broken, e.g.,

[code]

It looks like only the error messages are affected (I think a comma is missing), but it might be good to also check warnings and debug messages.

https://github.com/ESMValGroup/ESMValCore/blob/882224c274099760e844e91bbde4f1485ecd4fdf/esmvalcore/cmor/check.py#L233-L242

It would be great to fix this before t

[2022-02-15 17:06] valeriupredoi commented on #1353
Thanks to #1490 we now have IPSLCM tested, but we are still missing a few others, so keeping this for 2.6 is a good idea :+1:

[2022-02-15 17:06] #1353 closed

[2022-02-15 17:51] ledm opened #1493 "`extract_levels` fails silently when scheme='nearest' or 'linear' and layer is shallower than shallowest point in z axis."
The `extract_levels` preprocessor fails silently when a layer is requested which is shallower than the shallowest point in the ocean z axis, for the schemes `nearest` and `linear`. The resulting output is a cube where all points are masked.

Many ocean models first layer is around 1m thick, and the cell centre will be around 0.5m deep. If you use `extract_levels` to request a layer close to the su

[2022-02-16 13:33] valeriupredoi commented on #1493
cheers @ledm - a good issue indeed! :beer:

[2022-02-16 13:34] #1492 closed

[2022-02-16 16:21] valeriupredoi opened #1495 "`esgf-pyclient` automatic download search looks for fx files for a VERY LONG time even if they are not used eventually"
See @remi-kazeroni [comment](https://github.com/ESMValGroup/ESMValTool/issues/2535#issuecomment-1041823675) - in a nutshell:

- fx files are looked for since they are cell measures attached to some data
- they are probably the worst controlled data on ESGF - some models output them only in one experiment (eg piControl for UKESM1), or not at all, or everywhere for all experiments, and anywhere in b

[2022-02-17 09:34] schlunma opened #1496 "`clip_timerange` squeezes time dimensions"
**Describe the bug**
If an input cube only has a single value for the time, `clip_timerange` removes this and demotes the time coordinate to a scalar auxiliary coordinate. This causes some NCL diagnostics to fail (https://esmvaltool.dkrz.de/shared/esmvaltool/v2.5.0-test-rc2/recipe_anav13jclim_20220216_162114/run/diag_two_vars_scatter/scat_global/log.txt).

**Please attach**
[main_log_debug.txt](ht

[2022-02-17 13:52] #1496 closed

[2022-02-17 14:23] sloosvel opened #1498 "Performance of volume_statistics"
**Describe the bug**
@ESMValGroup/esmvaltool-coreteam do I have time to quickly fix volume statistics for 2.5? The current implementation performs quite poorly and I have been running the function in one year of data with 75 levels for half an hour and it's not done yet. I think that any approach such as da.average(axis=[all axis except time], weights) would be better than the double loop that is

[2022-02-17 14:28] schlunma commented on #1498
If this is really just this simple change, I think we can include it.

`volume_statistics` is currently used by the recipes `esmvaltool/recipes/recipe_ocean_example.yml` and `esmvaltool/recipes/recipe_ocean_bgc.yml`, so we would need someone with the scientific expertise to cross-check the output of these two recipes after the change.

[2022-02-17 15:35] valeriupredoi commented on #1498
no tests fail in CI, Saskia, make sure you have all up to date. Yes, I aim at daskifying as much as I have time for in the very near future, judging how things stand now in terms of time, it might just be one function :laughing:

[2022-02-17 16:38] schlunma opened #1499 "`multi_model_statistics` fails in rare cases due to 0-length slices caused by inaccurate chunking"
**Describe the bug**

The following code is used to calculate indices for optimal chunking in the `multi_model_statistics` preprocessor:

https://github.com/ESMValGroup/ESMValCore/blob/2246c8a9c5e0c442813b14ebf152f26c8f5b566a/esmvalcore/preprocessor/_multimodel.py#L262-L276

Unfortunately, the calculation of the number of slices may be inaccurate, which can lead to an overestimation of the number

[2022-02-17 16:54] sloosvel commented on #1498
For future references, this seems to run without breaking the tests:

[code]

The indices should be written in a better way and scientific results should be double checked, but at least it's a start.

[2022-02-18 09:26] schlunma opened #1501 "`multi_model_statistics` renames auxiliary coordinates"
**Describe the bug**
The `multi_model_statistics` renames auxiliary coordinates. I'm not sure how often this happens, but it causes `recipe_kcs.yml` to fail (see ESMValGroup/ESMValTool#2223). In this specific case, the name `year` is removed from the coordinate:

Original cubes:
[code]

Multi-model cubes:
[code]

**Please attach**
https://esmvaltool.dkrz.de/shared/esmvaltool/v2.5.0-test-rc2/recipe

[2022-02-18 12:40] #1501 closed

[2022-02-22 13:29] valeriupredoi commented on #1495
good issue reference @bouweandela :+1: Caching, however nice it is the second time round, does not solve the great wait time first time a recipe is run: just as with buses, if you wait for a bus for an hour, and then two identical buses show up, you're not any less frustrated :bus:

[2022-02-23 10:57] #1505 closed

[2022-02-23 17:06] schlunma opened #1509 "`iris` currently pinned to `iris>=3.1.0,!=3.2.0.post0,!=3.2.0` - rethink pin for future `iris` bugfix release"
During the latest round of tests I found a pretty severe bug in `iris`: https://github.com/SciTools/iris/issues/4599

If a cube with a lazy aux coord is saved as netCDF file, this gives an error. The error does not appear in `iris=3.1.0`. I suggest pinning `iris<3.2` for this release.

@ESMValGroup/esmvaltool-coreteam

[2022-02-23 18:34] valeriupredoi commented on #1509
that looks dodgy and a half, I can't believe it wasn't picked up by any of iris' tests - I commented on the issue, it'd be useful to look at dask and what version produces that behaviour

[2022-02-24 08:16] schlunma commented on #1509
Since no other package than `iris` changed when switching between `iris=3.1.0` and `iris=3.2.0` I guess it is related to `iris`. Maybe someone else can try to reproduce the issue? There is code for that in the iris issue. I did it on two independent machines.

I think we should pin iris quickly so that we are able to perform another round of tests for v2.5.

[2022-02-24 08:20] schlunma commented on #1509
One additional comment: for our testing with `rc2` we still had `iris=3.1.0`, only since `rc3` we use `iris=3.2.0`.

[2022-02-24 11:35] schlunma commented on #1509
I just had a discussion with @remi-kazeroni about this: our approach now is to wait for a response of the iris developers and postpone our release if necessary by 1-2 weeks so that we can include a fixed version of iris. It would be really a shame not to include the many new features that iris 3.2 offers.

In addition, we thought that it might be good to decouple our release from the iris releases

[2022-02-24 11:47] valeriupredoi commented on #1509
sounds reasonable to me, do we have any pressing IS-ENES3 matters?

their release schedule is slightly more hectic than ours, and that'd mean we'll have to dance by their music, I am not sure this is something I'd like, we need to talk about it

[2022-02-24 11:48] schlunma commented on #1509
One more comment: I guess one of the reasons this doesn't break our entire preprocessing chain is that we use lots of `logger.debug()` statements which realize the coordinates...

[2022-02-24 11:51] schlunma commented on #1509
We didn't mean to speed up or slow down our release schedule, but rather be aware of iris' schedule.

[2022-02-24 13:16] valeriupredoi commented on #1509
Yep, that's it! :+1:

[2022-02-24 14:06] valeriupredoi commented on #1509
note that it's half term here in the UK, and the MO as a gov institution is observing the week off (well, not all of them) so it may be that the issue gets delayed

[2022-02-24 14:45] bouweandela commented on #1509
The difficulty in trying to plan our releases around the iris releases is that from my experience they are quite unpredictable and can be delayed by months. I would propose to deal with collisions on a case by case basis rather than counting on them sticking to a particular schedule.

The alternative to pinning iris to <3.2 could be to pin to iris !=3.2, like that we will still get iris 3.2.1 one

[2022-02-25 14:36] schlunma commented on #1509
We had more discussion about this and thought that `iris !=3.2` might be a good solution for that. I will open a PR with this soon. Do we need this for ESMValTool and ESMValCore?

[2022-02-25 14:43] zklaus commented on #1509
It seems the consensus here is to give the Iris folks a few more days to react, particularly in light of the holidays. Shall we wait till Tuesday or so before we make a decision?

[2022-02-25 14:50] schlunma commented on #1509
But what kind of action by the iris developers would make us not pin iris to `!=3.2.0`? We cannot use this version, regardless what they decide.

We will definitely delay the release, but pinning this rather sooner gives us more time for the tests.

[2022-02-25 15:12] valeriupredoi commented on #1509
they will tag a bugfix release of the rc they have, it is possible it will be `3.2.post1` so be careful with pinning strictly to `!= 3.2`

[2022-02-25 15:15] schlunma commented on #1509
How about `iris>=3.1.0,!=3.2.0.post0,!=3.2.0`? This seems to work fine on my machine.

[2022-02-25 15:16] valeriupredoi commented on #1509
I suggest we pin extremely strictly eg `!=3.2.0.post0=pyhd8ed1ab_0` since they may just up the build by 1 (dunno what they will do`, to the very least pin `!=3.2.0.post0` so we can get another 3.2 should it come by with the fix in it

[2022-02-25 15:19] zklaus commented on #1509
Pinning to `!=3.2.0` sounds fine to me. I thought you only wanted to pin and then move forward with that. :+1: for pinning now for testing purposes and waiting (and keeping this issue open?) with a final decision.

[2022-02-25 15:20] valeriupredoi commented on #1509
for short term yes, for long term we should have a pin for `3.2.0.post0` just in case mamba gets drunk

[2022-02-25 15:23] schlunma commented on #1509
Cheers guys, will open the PR now! Note that we need both pins `!=3.2.0.post0` and `!=3.2.0` otherwise the we pick up the version that is not excluded.

[2022-02-25 15:25] valeriupredoi commented on #1509
huh?

[2022-02-25 15:31] schlunma commented on #1509
Can you elaborate on that? :smile:

[2022-02-25 15:33] valeriupredoi commented on #1509
hahaha, sorry dude, had to dash out - yeah, why do we need to pin on the more general `3.2.0`?

[2022-02-25 15:35] schlunma commented on #1509
If I don't do that the version `3.2.0` gets picked up. Didn't test if the bug is in there, but I would be really surprised if it wasn't.

[2022-02-25 16:27] valeriupredoi commented on #1509
let's keep this open since it's just a temporary pin, we want to revist this once all matters settle on the iris side

[2022-02-28 12:24] ledm commented on #1498
Just a quick comment that while it's only in a couple public recipes in esmvaltool, it is used a lot in private recipes. However, if it can be made lazy and it doesn't break the weighting using fx files (which I don't think is covered in the unit tests), then go for it!

[2022-02-28 12:33] valeriupredoi commented on #1498
@ledm cheers! By private recipes you mean AR6 stuff? :beer:

[2022-03-02 09:17] schlunma opened #1515 "Automatic download feature may select wrong time range"
See https://github.com/ESMValGroup/ESMValTool/issues/2539.

Having a look at this now.

[2022-03-02 10:40] schlunma opened #1516 "Specifying wildcards for `timerange` does not work with automatic downloads"
**Describe the bug**
While conducting tests for #1515 I noticed that specifying wildcards  `timerange` (e.g., `timerange: '*/1950'`) fails when using the automatic download feature.

[code]

The reason is that in the following lines, `_find_input_files` from the data finder instead of `_get_input_files` is used:

https://github.com/ESMValGroup/ESMValCore/blob/52ecfbda813a6ed11368a2ee723b08bcea310e

[2022-03-02 11:53] ledm commented on #1498
I use this all the time. It's in so many recipes in ERSMValTool_private, ESMValTool_AR6, and on some other unmertged branches of ESMValTool as well.

[2022-03-02 11:58] zklaus commented on #1509
Good points, @remi-kazeroni. In some sense, we want the core to be slightly ahead of the tool to facilitate the idea that new tool developments can benefit from new core features. The support for UGRID and irregular grids in Iris 3.2 would be a welcome addition.

Perhaps we could consider a 2.5.1 release? Or a work-around (since all we need to do is realize the data before saving)?

[2022-03-02 12:04] valeriupredoi commented on #1509
good points both from @remi-kazeroni and @zklaus - I too support a bugfix release `v2.5.1` as soon as the iris bugfix comes online in the shape of a (post, or bug, or minor) release

Would that not be good enough for a `v2.5.1` from us? I reckon we're not needing them asap

[2022-03-02 12:34] zklaus commented on #1516
Would it be easy to add a warning like "Automatic download is not supported with indeterminate time ranges at the moment. Please use a concrete time range in your recipe or run ESMValTool with --offline=True"?

[2022-03-02 12:40] schlunma commented on #1516
Yes, good idea, will do that while addressing #1515.

[2022-03-02 15:48] #1515 closed

[2022-03-02 15:50] remi-kazeroni commented on #1333
Here is another [example](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/6527/workflows/719ef4ee-b30e-472f-90ab-e6180aa25afd/jobs/31031) of a recent failure. It would be great to have some kind of a "second/third default node" in case of failures. Recently, I also realized the default node was down after starting a cylc suite to test all recipes.

Attention: @valeriupredoi (your

[2022-03-03 15:33] schlunma opened #1522 "Remove `package/meta.yml` files in ESMValCore and ESMValTool"
Since our conda packages are built on conda-forge (e.g., https://github.com/conda-forge/esmvalcore-feedstock) the `package/meta.yml` files are not necessary anymore.

See discussions: #1521 https://github.com/conda-forge/esmvalcore-feedstock/pull/33

[2022-03-04 10:21] bouweandela opened #1523 "How to select the latest version of a dataset on ESGF?"
It looks like mixing of two different versions of a dataset is a problem with version selection in the `esmvalcore.esgf` module. This occurs if different versions contain differently named files.

[code]

Specifically, this code https://github.com/ESMValGroup/ESMValCore/blob/c4696b4db16e61ff3d3a2c825e817e00e841cd0a/esmvalcore/esgf/_search.py#L44-L63 first creates a list of all available files and

[2022-03-04 10:40] bouweandela commented on #1522
Don't forget to update the related documentation: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#create-and-upload-the-conda-package

[2022-03-04 10:58] schlunma commented on #1499
It looks like I missed an edge case in #1500:

[code]

(results in the same error as above).

This can be fixed easily by replacing `>` with `>=` here:

https://github.com/ESMValGroup/ESMValCore/blob/9eca787bcb0f155f17213f60738ead0685d8b54b/esmvalcore/preprocessor/_multimodel.py#L274

[2022-03-04 11:58] #1499 closed

[2022-03-04 15:16] schlunma commented on #1509
We (the release managers) had another discussion about this. For us, pinning `iris>=3.1.0,<3.2.0` feels like the optimal solution.

Our main arguments for this are:

- I think we can all agree that a major aim of the ESMValTool community is to provide a stable and well-tested tool. As release managers, we feel responsible for that. After running hundreds of recipes with `iris=3.1.0`, we are quite

[2022-03-04 15:43] remi-kazeroni commented on #1495
I'm happy to report that the new version of esgf-pyclient has significantly helped to speed up the search on ESGF nodes 🥳
A good example is probably `recipe_bock20jgr_fig_8-10`. During the recipe testing for v2.5.0.rc3, the data search on ESGF nodes was not completed after 12 hours. This only took less than 15 minutes for v2.5.0rc4 (using the latest version of esgf-pyclient). Great work @bouweande

[2022-03-04 15:47] valeriupredoi commented on #1509
Fully support this because :arrow_up: Cheers for all the work, guys!

[2022-03-04 15:50] #1495 closed

[2022-03-04 15:54] bouweandela commented on #1495
Are you sure you were not using cached search results @remi-kazeroni? I would expect a speedup, but only by a factor of 2 or so.

[2022-03-04 15:55] zklaus commented on #1523
Have you tried adding the `latest=True` facet? I have used that in the past for other API searches following the instructions [here](https://esgf.github.io/esgf-user-support/user_guide.html#the-esgf-search-restful-api).

[2022-03-04 15:56] bouweandela commented on #1495
Documentation of the caching setting can be found here: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/configure.html#search

[2022-03-04 15:58] bouweandela commented on #1523
Yes:
https://github.com/ESMValGroup/ESMValCore/blob/a162a612fc1bd5d7ec88ee99f737860fd29407da/esmvalcore/esgf/_search.py#L84

The problem is that that doesn't work, because some datasets are incorrectly labeled as latest on ESGF.

[2022-03-04 16:03] remi-kazeroni commented on #1495
Yes I used cached results with the same settings for the past three rounds of recipe testing including for v2.5.0rc4. The tool was looking indefinitely for fx files before and for some reason that went much faster yesterday. I also did not run into any ESGF connection problem which was the case before. Perhaps a larger number of nodes were available yesterday than for the previous rounds and that

[2022-03-04 16:12] schlunma opened #1535 "Some plots are not shown on `index.html` even though provenance information looks fine"
**Describe the bug**
While checking the results of the recent testing round I noticed that some plots are not shown in the website even though the provenance information is present:

https://esmvaltool.dkrz.de/shared/esmvaltool/v2.5.0-test-rc4/recipe_ecs_20220303_153631/

Examples of figures not shown: https://esmvaltool.dkrz.de/shared/esmvaltool/v2.5.0-test-rc4/recipe_ecs_20220303_153631/plots/cm

[2022-03-04 16:21] valeriupredoi commented on #1495
nah man, I think it's typical Bouwe magic :grin:

[2022-03-07 17:16] #1509 closed

[2022-03-08 18:46] schlunma opened #1527 "Dataset problem: CMIP6 CAS-ESM2-0 cl: `lev: has values > valid_max = 1.0`"
**Describe the dataset issue**
`cl_Amon_CAS-ESM2-0_historical_r1i1p1f1_gn_195001-199912.nc` fails with `lev: has values > valid_max = 1.0`

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not
supporting custom-made datasets that present problems, it is your resposability to fix those problems): no
- Project (CMIP5/CMIP6/OBS/obs4MIPs/etc):

[2022-03-09 13:32] valeriupredoi opened #1528 "OSX Test and Monitor Test GA tests are failing for all Pythons"
same crappe as in https://github.com/ESMValGroup/ESMValTool/issues/2584

Looking at it now

[2022-03-09 14:39] valeriupredoi commented on #1528
@zklaus comment https://github.com/ESMValGroup/ESMValTool/issues/2584#issuecomment-1062931358 correctly identifies `fontconfig` as being the nasty fella, I ran a test with the earlier build that gave us no issues and it [passed](https://github.com/ESMValGroup/ESMValCore/actions/runs/1957670863)

[2022-03-10 13:10] valeriupredoi opened #1531 "[Github Actions] Github Actions test triggered via comment PR misbehaving, currently Disabled"
this [workflow](https://github.com/ESMValGroup/ESMValCore/blob/main/.github/workflows/run-tests-comment.yml) is now currently disabled (manually) while I am trying to figure out how to fix it.

The problem is: any comment on any PR triggers the start of the test, but the test is immediately skipped (no machine, node assigned to it etc) since the magic string that triggers the test is not in the co

[2022-03-10 13:24] valeriupredoi commented on #1531
OK i've created a discussion topic https://github.community/t/feature-request-allow-skipped-jobs-to-be-hidden-from-github-actions-runs-list/235386

[2022-03-10 15:04] #1528 closed

[2022-03-14 09:15] bouweandela commented on #1535
It looks like this happens because only the output of the leaf nodes in the task tree gets written to index.html. I think this line:
https://github.com/ESMValGroup/ESMValCore/blob/4ad268a26185fe37acb85345c3608c6429240471/esmvalcore/_recipe.py#L1900
would need to be replaced by
[code]
But then some code changes would also be needed to make sure that preprocessor file descriptions are only added to

[2022-03-14 10:21] remi-kazeroni commented on #674
The `recipe_collins13ipcc` is one of the most demanding memory recipe that we have in ESMValTool, see [log file](https://esmvaltool.dkrz.de/shared/esmvaltool/v2.5.0-test-rc6/recipe_collins13ipcc_20220311_095418/run/main_log_debug.txt) for a test run for the v2.5 release. Would it be a case that would benefit from preprocessor laziness?

[2022-03-14 11:06] bouweandela commented on #674
Yes, it would benefit. Some progress has been made recently by @zklaus on the lazy regridding for ocean data (though I think this is currently not yet enabled by default, you need to make changes to the recipe in order to use the new functionality and install an extra package manually). Lazy vertical interpolation would be a good next candidate to tackle.

[2022-03-14 11:09] valeriupredoi commented on #1531
@schlunma for your testing needs, you can always turn the test on, run it via command, then make sure you turn it off - if there is no constructive reply and implementation suggestion to my issue/discussion item I raised with the GA devvs, we might write that in the documentation - it's bulky and over-complicated, but at least it works better that manually changing the workflow script. Hope there'

[2022-03-14 11:53] schlunma opened #1536 "API documentatin for `esmvalcore.iris_helpes` is missing"
[`esmvalcore.iris_helpers`](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/iris_helpers.py) is a public module, but there is no API documentation for it. See https://docs.esmvaltool.org/projects/esmvalcore/en/latest/api/esmvalcore.html.

[2022-03-14 11:55] schlunma opened #1537 "Replace `esmvalcore.iris_helpers.var_name_constraint` with `iris.NameConstraint`"
[`esmvalcore.iris_helpers.var_name_constraint`](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/iris_helpers.py) can be replaced by [`iris.NameConstraint`](https://scitools-iris.readthedocs.io/en/latest/generated/api/iris.html?highlight=Constraint#iris.NameConstraint) in our code.

[2022-03-15 11:32] tomaslovato opened #1538 "exclude datasets at the diagnostics level"
It would be useful to have an `exclude_datasets` field within the diagnostic definition (as there is for `additional_datasets`)
to remove a dataset not providing the required field  from the general list (and avoid defining additional working datasets).
I tried to search within open issues but I haven't found any specifically addressing this topic (I hope so!)

As an example, let's consider a reci

[2022-03-15 11:59] tomaslovato opened #1539 "Dataset problem: ocean variables for multiple CMIP6 datasets"
**Describe the dataset issue**

A number of CMIP6 datasets requires fixes for different ocean variables to correct coordinates metadata and fix issues with depth definition.

Along with the dataset initially spotted in this issue (`cesm2_waccm`, `gfdl_cm4`, `gfdl_esm4`), it was decided to integrate and verify the changes reported in the sloppy PR #1395

Some of these fixes can be easily inherited

[2022-03-16 10:14] schlunma opened #1541 "Install all dependecies from conda-forge"
Copy all dependencies from `setup.py` to `environment.yml` so that all packages are installed from conda-forge.

All dependencies: https://github.com/conda-forge/esmvalcore-feedstock/blob/main/recipe/meta.yaml

@ESMValGroup/esmvaltool-coreteam I'm pretty sure we discussed that somewhere, but I didn't find an issue to this. Please correct me if I'm wrong, then we can close this.

[2022-03-16 14:32] zklaus commented on #1180
Hm. This execution time penalty sounds less than ideal. Let's keep this issue open with no concrete plans for now and see if we cannot coax better performance out of iris.

[2022-03-16 14:50] pp-mo commented on #1180
I'm a little confused, are you still not benefitting from https://github.com/SciTools/iris/pull/4176 function ?
released since Iris 3.1 [as noted above](https://github.com/ESMValGroup/ESMValCore/issues/1180#issuecomment-901113786) ?

If I understood the problem right, that really ought to "just work" :tm: + fix this problem.
If it's still too slow after that, I agree we may have run out of quick w

[2022-03-16 15:07] zklaus commented on #1180
Thanks, @pp-mo, for pointing that out. I had not done the time testing myself before, but did so now, using the notebook and file that @senesis posted in the iris issue discussion.

It was indeed rapid at 0.5s. (I used iris version 3.2.1).

Since I cannot exclude the possibility that I did something strange with an oldish notebook or mixed up the files, @senesis, could you please check once more t

[2022-03-16 15:13] senesis commented on #1180
There is still a debate regarding the applicability of using iris.load with constraints in ESMValCore, between @valeriupredoi , who raised concerns [here](https://github.com/ESMValGroup/ESMValTool/issues/2141#issuecomment-828562507) and @zklaus , who answered [here](https://github.com/ESMValGroup/ESMValCore/issues/1180#issuecomment-861559758)

[2022-03-17 12:02] sloosvel commented on #1498
I worked a bit on a new implementation, testing it with `prep_timeseries_5` for the two uncommented datasets in `recipe_ocean_example.yml` but expanding the time range to 20 years. The results after the preprocessing (volume average + multimodel) are pretty much the same:

- Current implementation:

[code]

- New implementation:

[code]

- Difference:
[code]

In terms of performance,  the current

[2022-03-17 12:40] zklaus commented on #1498
Impressive speedup, @sloosvel! Is there a PR to have a peek?

[2022-03-17 12:46] zklaus commented on #1180
My main goal is to get rid of CDO. As I understand it, the only reason to introduce it, was a performance problem within Iris. This does not seem to exist any longer, hence no need to resort to command line trickery.

Can you confirm that the problem is gone?

[2022-03-17 13:37] sloosvel commented on #1498
It's in branch `dev_vol_stats` but I can open a draft.

[2022-03-17 14:20] senesis commented on #1180
Using Iris3.1 and the quoted notebook, the load time for a single var from an IPSL-CM-like multi-var file is :

- 8 seconds using iris.load without any iris.constraint on varname (which does not match the ESMValTool behaviour)
- 3 seconds using iris.load_raw without any iris.constraint on varname (which matches the ESMValTool behaviour)
- 1.5 seconds using iris.load _raw with an iris.constraint on

[2022-03-18 10:23] zklaus commented on #1180
Let's focus first on Iris itself, and then see if ESMValTool throws further spanners into the machine. This may be an opportunity to improve the experience for all users of ESMValTool.

I just repeated the test with the same iris version of 3.1.0, using the file you provided in the description of SciTools/iris#4134 ([this one](https://drive.google.com/file/d/1_M7Hno-FFnkfU88jVMNCHvzyPTZWsbQA/view?

[2022-03-18 12:28] schlunma opened #1546 "`start_year` and `end_year` attributes for derived variables can be missing"
If only a `timerange` is specified in the recipe for a derived variable, the attributes `start_year` and `end_year` are missing for that variable.

Related to #1485.

I will open a PR with a fix soon.

[2022-03-18 12:31] zklaus commented on #1546
This is a candidate for a v2.5.1 bugfix release imho. I have set up a milestone for that and assigned this issue. That doesn't mean that we have to do it that way or that a v2.5.1 has to happen, but let's keep track of some issues and if things accumulate to a degree that makes it useful, we can consider it.

[2022-03-18 12:35] ledm commented on #1498
If I remember correctly, the reason we didn't do this before was that dask average didn't accept weights before. I'm guessing that it does now, but it may be worth appending the test to ensure that the weights are treated correctly.

[2022-03-18 12:46] schlunma commented on #1546
Sounds good! I don't think that this single issue justifies a bugfix, but if we find more similar small issue we should certainly think about it.

[2022-03-21 08:06] senesis commented on #1180
@zklaus wrote :

Settings : working on
- a realistic machine: the IPSL ciclad cluster, with
- a realistic (decadal, 15Gb) file
- and in the notebook context (i.e. using Iris outside of ESMValTool, and with a `NameConstraint`),

1. When locating the file on a local file system, and for the first load, the load time is only 20% more with Iris alone than when first selecting using CDO , namely 3.7s v

[2022-03-21 09:38] zklaus commented on #1180
Thanks, @senesis, I think things are clear enough now. Iris is performing well enough, we would need to change parts of ESMValTool to take full advantage of this.

I believe that may be worthwhile, since the use-case of extracting variables from large files with may variables is common enough, usually occurring for native model output at least in all of the models that we are starting to support (

[2022-03-21 09:59] sloosvel commented on #1498
The new approach uses iris to do the averages, as it will be easier to add new operators (since it seems it's something that is pending to be done). It just gets rid of the loops, that really slow down the code when the number of levels or the number of timesteps increases. But if you have an example for the test it can be added just to be sure.

[2022-03-21 13:39] schlunma opened #1550 "Specifying wildcards for `timerange` does not work for derived variables"
Using a wildcard timerange (e.g., `timerange: '2000/*'`) for a derived variable results in the following error:

[code]

[2022-03-21 13:40] #1546 closed

[2022-03-22 09:46] bouweandela commented on #1180
I changed the title to be a bit more specific, because I believe CDO is also used for other purposes.

Note that in some cases all cubes need to be loaded from a file and not just the requested variable. This happens if files do not follow the CF conventions and a coordinate is interpreted as a cube. In the fix preprocessor step, the coordinate cube is then changed to a coordinate and attached to

[2022-03-22 09:52] #1362 closed

[2022-03-22 09:55] bouweandela opened #1551 "Regridding very similar grids may result in lat/lon coordinates that are not exactly identical"
Issue reported by @tomaslovato in https://github.com/ESMValGroup/ESMValCore/issues/485#issuecomment-1069230273:

The grid coordinates comparison done in `_horizontal_grid_is_close` uses the function `np.allclose` which has default tolerance values set to `rtol=1e-05, atol=1e-08` that may not be always enough.
In particular, when lat/lon coordinates are not the same for all regridded datasets any f

[2022-03-22 09:57] bouweandela commented on #485
Thanks for reporting the problem @tomaslovato! I opened a new issue, because I think that the problem reported here has been solved and you're suggesting a further improvement to that solution, right?

[2022-03-22 09:57] #485 closed

[2022-03-22 09:59] bouweandela commented on #1551
See https://github.com/ESMValGroup/ESMValCore/pull/1177 for information on how this was solved for vertical coordinates.

[2022-03-22 10:04] bouweandela commented on #1541
I missed that discussion, but maybe this could be something for the next @ESMValGroup/technical-lead-development-team meeting?

[2022-03-22 12:29] #1522 closed

[2022-03-25 13:57] tomaslovato commented on #1551
I had a look at the code changes in #1177 and as I understand the solution in there was to adapt the tolerance of the `np.allclose` function.
As the grid points are recognized to be close enough within the existing function `_horizontal_grid_is_close`,
could it be a rather simple but effective solution to force the lon/lat values of the `source` cube with those of the target_grid cube ?
Maybe some

[2022-03-25 15:21] tomaslovato commented on #1538
My previous search was not too accurate, as the issue of missing datasets was solved with #587 by introducing the `--skip-nonexistent` argument for `esmvaltool`.

However it could be nice to still think about having this feature which provide the possibility to exclude specific datasets from the diagnostic of a variables, e.g. when the source data are questionable.

[2022-03-25 15:29] #1538 closed

[2022-04-05 08:46] bouweandela commented on #1551
That looks fine to me. Note that @zklaus requested that the user has control over the tolances in https://github.com/ESMValGroup/ESMValCore/pull/1177#issuecomment-861572572, so I guess that would also be needed here?

[2022-04-05 14:11] tomaslovato commented on #1551
I think that the test performed in `_horizontal_grid_is_close` is sufficient to determine that the grids a 'similar', so the main point for the coordinate substitution is just to ensure the grid match for the following manipulations ...

if @zklaus agrees on the above solution I'll open a PR to fix it ...

[2022-04-07 08:16] YanchunHe commented on #1474
Now the wrong version of `sftlf` dataset has been retracted, and republished with correct version of `v20191108`, for `NorESM2-LM`, experiments, `piControl`, `historical` and `amip`;

for ESMVal pr-processor, one can use, e.g.,
fx_variables: [{short_name: sftlf, mip: fx, exp: piControl}]

We may close this issue now. Thanks for the patience!

[2022-04-08 13:04] sloosvel commented on #1516
Do you mind if I fix this and #1550 in the same PR? The changes are not that extensive.

[2022-04-11 10:09] schlunma commented on #1516
Fine for me :+1:

[2022-04-12 08:56] tomaslovato commented on #1539
if @zklaus @valeriupredoi agrees, I can open a PR and apply the above fixes so you only need revise the code changes ...

[2022-04-19 07:58] sloosvel commented on #768
@pepcos had a similar issue. If adding back the mask after computing `detrended` is a good enough solution, it could be done with something along the lines of `da.ma.getmaskarray` and `da.ma.mask_where`.

[2022-04-19 09:07] bouweandela commented on #768
I doubt whether that is good enough, because the masked values should not contribute to the trend. For example:
[code]
gives
[code]
while it should be
[code]

[2022-04-19 10:13] sloosvel commented on #768
Maybe something like:

`scipy.signal.detrend(np.argwhere(a.mask==False))`

and then rebuilding the output array could to the trick

[2022-04-19 10:39] bouweandela commented on #768
I think you would need to take the distance between the points into account to compute the trend, just dropping some points will give you wrong results. Maybe compute the trend with https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.linregress.html and then subtract that from the input array?

[2022-04-19 10:39] sloosvel opened #1563 "Add `extract` preprocessor"
**Is your feature request related to a problem? Please describe.**
A while back, Javi worked on an  `extract` preprocessor that is written in quite a general way in order to work with any coordinate. It is quite useful when working with variables such as `msftyz`, which has `grid_latitude` that currently could not get extracted with any of the already available preprocessors.

Anyway the code look

[2022-04-20 14:48] zklaus commented on #1539
Go ahead. Thanks, @tomaslovato!

[2022-04-21 09:19] #1333 closed

[2022-04-21 09:21] #1535 closed

[2022-04-21 11:48] zklaus commented on #1551
I like the idea of forcing the target grid on the result. I do think that some user control on the required precision might be useful, particularly in light of projections where the coordinates may take very large values (`km` in the non-homogeneous projection plane or other fun stuff) in which case much more relaxed requirements may make sense.

But I'd say go ahead with the forcing in a PR and l

[2022-04-21 12:34] tomaslovato commented on #1539
as agreed with @zklaus,  the present issue will be extended to include the applicable ocean variables fixes repored in PR #1395

[2022-04-22 10:52] #1539 closed

[2022-04-28 09:05] sloosvel commented on #768
Thanks! I get some differences with that approach though. Does anybody have the time to check whether they are reasonable because of using a different method?

[2022-04-28 09:20] bouweandela commented on #768
Maybe someone from our @ESMValGroup/science-reviewers team?

[2022-04-28 14:07] valeriupredoi commented on #1423
here's another facet to this general issue https://github.com/SciTools/iris/issues/4720

[2022-04-29 11:29] bouweandela opened #1568 "Error message is broken when non-existent rootpath is used from Python API"
To reproduce (with v2.5):
[code]
gives
[code]
(note that /home/bandela/climate_data does not exist)
[code]
results in
[code]

[2022-05-05 10:29] sloosvel opened #1570 "Dataset problem: FGOALS-f3-l have non-contiguous lat/lon bounds"
**Describe the dataset issue**
Atmos variables in FGOALS-f3-l have non-contiguous lat/lon bounds and that makes the regrid preprocessor fail

Fix is relevant for https://github.com/ESMValGroup/ESMValTool/pull/2614

- Data file has been changed by you in any way (if you answer yes the issue will be void and closed, we are not
supporting custom-made datasets that present problems, it is your resposa

[2022-05-08 02:43] znicholls opened #1572 "Tracing a file's ancestry"
**Is your feature request related to a problem? Please describe.**

Related to #1161, I have a question about esmvaltool's capacity to link back through a file's 'ancestry'. I've done work on this in another package (gitlab.com/znicholls/netcdf-scm, paper here https://rmets.onlinelibrary.wiley.com/doi/10.1002/gdj3.113) because esmvaltool wasn't mature enough at that stage to be a viable solution.

[2022-05-08 02:43] znicholls commented on #1572
fyi @lewisjarednz

[2022-05-08 02:46] znicholls commented on #1572
Ignore my first question, I've just read the docs properly

[2022-05-08 03:36] znicholls commented on #1572
Re the second question, I just tried the recipe below:

<details>
  <summary>Test recipe</summary>

[code]

</details>

It gives the following output, which I think shows that the concatenation doesn't work unfortunately because of the overlap between experiments.

<details>
  <summary>Test recipe output once plotted (annual-mean)</summary>

<img width="665" alt="image" src="https://user-images.gi

[2022-05-09 11:34] znicholls commented on #1572
My suggestion would be to have a function that looked something like the options below

[code]

[code]

[2022-05-09 12:13] valeriupredoi commented on #1572
just wanted to drop a line and thank @znicholls for this idea and prospective implementation, it sounds great to me! :beer:

[2022-05-09 13:09] zklaus commented on #1572
Ok, I see where you are going. Given that we generally have a list of all the datasets, how about simply joining all cubes in a list by identifying the potential parent and performing the join if the parent is part of the list?

[2022-05-10 01:57] znicholls commented on #1572
Ok great. Last question before I prototype: should this be a pre-processing option (would require users to somehow specify what the child dataset is in their recipe) or is it better as a post-processing utility script for use in diagnostics? I'm leaning to the latter because it seems much simpler. Perhaps once we have the latter, one of you can see how to make it useful in pre-processing too...

[2022-05-10 13:14] schlunma opened #1573 "`convert_units` does not support "special conversions" like `kg m-2 s-1` to `mm day-1` for precipitation"
The preprocessor `convert_units` does not support "special conversions" like `kg m-2 s-1` to `mm day-1` for precipitation right now. I will implement that.

[2022-05-10 16:08] valeriupredoi commented on #1573
so what happens to the kilograms? Newton would turn in his grave :rofl:

[2022-05-10 16:09] valeriupredoi opened #1575 "[Tests][OSX] OSX tests are failing due to before-seen issue with `fiona`: `blosc` is the culprit now"
See https://github.com/ESMValGroup/ESMValTool/issues/2649

[2022-05-11 08:06] schlunma commented on #1573
See [Wikipedia](https://en.wikipedia.org/wiki/Precipitation#Measurement) :wink:

[2022-05-11 10:41] valeriupredoi commented on #1573
![b04](https://user-images.githubusercontent.com/28983971/167831345-1e34bfe2-2dae-449a-b3be-0f2f78375e01.jpg)

[2022-05-11 11:01] valeriupredoi commented on #1575
https://github.com/ESMValGroup/ESMValTool/issues/2649#issuecomment-1123544058

[2022-05-11 11:01] #1575 closed

[2022-05-11 11:23] helenelang commented on #310
1) I have updated the amoc.py:

    @staticmethod
    def required(project):
        """Declare the variables needed for derivation."""
        if project == 'CMIP5':
            required = [{'short_name': 'msftmyz'}]
        if project == 'CMIP6':
        #     required = [{'short_name': 'msftyz'}]
            required = [{'short_name': 'msftmyz', 'optional': True, },
                        {'sh

[2022-05-11 11:29] valeriupredoi commented on #310
@helenelang let's not add to this old issue, but instead keep the discussion in https://github.com/ESMValGroup/ESMValTool/issues/2645 please

[2022-05-12 06:58] #1570 closed

[2022-05-12 15:37] bouweandela opened #1579 "Loading a custom configuration file through the Python API does not work"
[code]

[2022-05-13 14:34] sloosvel opened #1583 "Adding more operators to `depth_integration`"
**Is your feature request related to a problem? Please describe.**
A while back, Javi worked on generalising the `depth_integration` preprocessor to accept other operators. It would be useful to have this changes officially in the core.

Additionally, it could be an opportunity to improve some lines to make the preprocessor lazy, namely:

[code]

**Would you be able to help out?**
yes

[2022-05-16 11:17] sloosvel commented on #333
I don't think I will have time to take care of this for 2.6, sorry. I will remove it from the milestone.

[2022-05-16 11:21] sloosvel commented on #744
Any chance this can make it for 2.6? Or should it be moved?

[2022-05-16 15:24] bouweandela opened #1585 "Specify encoding when reading YAML and other text files"
When reading a YAML or other text file, it would be best if we specify the encoding, for example:
[code]

this prevents problems such as https://github.com/ESMValGroup/ESMValTool/issues/973 and https://github.com/ESMValGroup/ESMValTool/issues/2652.

[2022-05-17 07:17] zklaus commented on #1585
Second that. Noteworthy also [Yaml Specification Section 5.2](https://yaml.org/spec/1.2.2/#chapter-5-character-productions) that only seems to allow variations of UTF as encoding, with UTF-8 being the default.

[2022-05-17 09:55] zklaus commented on #1572
My intuition is to put it into the loading parts that we already have, but if more information by the user is needed, that may not be feasible.

[2022-05-18 07:48] znicholls commented on #1572
Ok great thanks for the feedback

[2022-05-18 08:19] zklaus commented on #1572
In any case, don't let it stop you. I am sure once the code is in place we can move it to the best location. Good luck and thanks for giving it a shot! :+1:

[2022-05-18 09:08] sloosvel commented on #1583
As a clarification, what I mean by adding more operators is to add an `operator` argument to the preprocessor that defaults to `sum` but that allows other iris operators when collapsing the coordinate. So something along the lines of:

[code]

[2022-05-18 09:22] zklaus commented on #1583
Thanks for this clarification, @sloosvel. I like the idea of generalizing this preprocessor. The name part `integration` would not be appropriate for most operators though, and it would be nice to allow their application to arbitrary axis, so I would suggest to implement this generalized preprocessor separately and then change the implementation of the special case of `depth_integration` into a ca

[2022-05-18 09:58] sloosvel commented on #1583
Does the name `axis_statistics` work for you? It would take the direction and the operator as arguments and depth_integration would call it as `axis_statistics(cube, axis='z', operator='sum').

[2022-05-19 07:41] bouweandela opened #1590 "Only display warning about needing an ESGF account when downloading CORDEX"
At the moment, users are always warned that they need to set up an ESGF account when they use the download feature. However, this is only needed for downloading CORDEX data. It would be better to only display this message when it is actually useful.

[2022-05-19 09:15] senesis opened #1591 "Docker image can't write temp fille in /opt/conda/envs/esmvaltool"
**Describe the bug**
Trying to launch the docker stable image on TGCC using [pcocc](https://pcocc.readthedocs.io/), I get an error :

I have no way to grant root privilege to my instance for writing there.  Is there a way to configure conda (e.g. through ~/.condarc) for using an alternate location ?

Here is the full error report

[2022-05-19 09:32] zklaus commented on #1591
Thanks @senesis for pointing this out. I think you may have run into the same problem described in ESMValGroup/ESMValTool#2575. This will be fixed by updating the conda version in the container and we hope to have a new, functioning container soon.

[2022-05-19 09:40] zklaus commented on #1590
Rather than hard-coding this to CORDEX, it would be good to get the information from the server on whether there is an authentication restriction. This may be tied to the new search functionality. In any case, we might want to confer with @agstephens or Phil Kershaw.

[2022-05-19 12:29] schlunma opened #1593 "List of deprecations"
We currently do not have a list where we list all of our deprecations. In order to keep track of the version the deprecated features are scheduled for removal, it would be great to have such a list.

What would be a good place for this? Our documentation? Something on GitHub? @ESMValGroup/esmvaltool-coreteam

[2022-05-19 12:42] valeriupredoi commented on #1593
I reckon in the documentation it would fit very well, look at the [Pytestt deprecations and removals page](https://docs.pytest.org/en/7.0.x/deprecations.html)

[2022-05-19 12:44] zklaus commented on #1593
It would indeed be good to have an overview. However, manual collection of the deprecations doesn't sound appealing because it is some overhead, creates duplication, and is likely to lead to inconsistencies at some point.
Can we collect that information automatically? Perhaps finding the `DeprecationWarning`s?

[2022-05-19 12:51] schlunma commented on #1593
An automatic collection sounds like a great idea!

Maybe we could unify our documentation of deprecated features in this context? For example, using the [sphinx](https://deprecated.readthedocs.io/en/latest/sphinx_deco.html#the-sphinx-decorators) directive `.. deprecated:: 2.5.0` or decorator `@deprecated(reason=..., version=...)`? This would make it very easy to automatically retrieve the deprecat

[2022-05-20 16:07] valeriupredoi commented on #1593
excellent idea @schlunma - my next favourite thing to coding is no coding at all :laughing:

[2022-05-23 18:10] bouweandela opened #1600 "Tests are failing now because somehow the `test_data_path` fixture seems to point to the wrong directory."
Tests are failing now because somehow the [`test_data_path` fixture](https://github.com/ESMValGroup/ESMValCore/blob/2f28031b354224f5d45b6960acf4d3fd2caa3192/tests/integration/cmor/_fixes/conftest.py#L8-L11) seems to point to the wrong directory.

It should point to `ESMValCore/tests/integration/cmor/_fixes/test_data`, while on the CI machine it [apparently points to `/root/project/tests/integratio

[2022-05-24 10:54] #1600 closed

[2022-05-24 11:04] valeriupredoi commented on #1585
yes, we may have to offer a possibility to set the `locale` variables too if the user runs on a machine/docker where the encoding is eg ANSI crappe

[2022-05-25 10:59] sloosvel opened #1602 "`clip_timerange` not applied to time dependent fx variables"
**Describe the bug**
As mentioned somewhere in #1133 , `clip_timerange` is not being applied to time dependent fx variables. This can lead to cases in which a fx variable will not be added to the variable cube because the shapes between cubes will not match, since the variable cube will have been clipped in a previous step.

[2022-05-26 05:26] znicholls commented on #1572
@zklaus and @valeriupredoi I've made a prototype locally. It is about 700 lines altogether (but will hopefully be shorter once cleaned up). I obviously don't want to make a 700 line PR (plus tests) so I will try and break it down. My thinking was that I would tackle it in the following way:

1. I'll create a new branch in my fork e.g. `dev-add-ancestry`. That branch can be where all the PRs get ad

[2022-05-30 08:18] tomaslovato opened #1606 "Preprocessor `multimodel` fails due to different scalar aux_coords"
The creation of a preprocessor to compute global spatial averaged fields on native grids
correctly create 1D cubes but with different lat/lon (or i,j) values.
This trigger an iris exception error when the `multimodel` preprocessor attempt to merge the cubes
https://github.com/ESMValGroup/ESMValCore/blob/be6f654f059d5e07e0ab45ed4b90d92be6ad495d/esmvalcore/preprocessor/_multimodel.py#L293

As tempor

[2022-05-30 09:09] bouweandela commented on #1247
Closing this because it is a duplicate.

[2022-05-30 09:09] #1247 closed

[2022-05-30 17:10] zklaus commented on #1606
I agree that native grid support is important. I am not completely sure how to tackle that. Hm. Perhaps we can have a special case that checks whether the entire globe is covered and just put a standardized scalar coordinate in?

[2022-05-30 17:41] zklaus commented on #1572
Thanks for your thorough approach @znicholls. I don't think we've had such a well-thought out approach yet. We did have some massive PRs, however, and those tend to create delays and headaches. I am willing to try your approach, perhaps it will serve as a model for large developments in the future? Maybe you could open the `dev-add-ancestry` PR right away, that way we have a good place to document

[2022-05-31 14:19] zklaus commented on #1572
Yes! I will be there and I think also @schlunma and @hb326.

As long as the CI is working, I think the fork is fine.

[2022-05-31 14:23] znicholls commented on #1572
Ok so it looks like CI doesn't run in forks https://github.com/znicholls/ESMValCore/pull/1 (my understanding this is something that can be changed but not sure that's best practice). Can you create a `dev-add-ancestry` in the `ESMValGroup` fork so I can make PRs into it and have the CI run or do you want to go a different route?

[2022-05-31 14:23] znicholls commented on #1572
Awesome

[2022-05-31 14:29] znicholls commented on #1572
So can a branch be created?

[2022-05-31 14:32] zklaus commented on #1572
Seems to be working fine for every other big open source project. Oh, you probably mean giving every contributor commit rights to the main repo is creating headaches. Yes, that seems to be the consensus. Anyways, that discussion is off topic here, I guess.

@znicholls, are you already a member of the ESMValGroup? If yes, you should be able to create the branch in the main repo. If not, let us know

[2022-05-31 14:35] valeriupredoi commented on #1572
Yeah that, Klaus! Sorry - on holidays so I was too lazy to write more stuff 🤣 Cheers muchly @znicholls and @zklaus for taking good care of this btw, guys 🍺

[2022-05-31 15:53] zklaus commented on #1365
In the last release, the wish of including one and the same PR in more than one category surfaced. @ESMValGroup/esmvaltool-coreteam, how do you feel about this?

[2022-06-01 06:04] axel-lauer commented on #1365
I am fine with including the same PR in more than one category.

[2022-06-01 15:08] #163 closed

[2022-06-02 09:38] remi-kazeroni commented on #1387
I took a look and it seemed all good to me so I'm closing the issue. Feel free to reopen if needed.

[2022-06-03 08:51] #1551 closed

[2022-06-06 15:00] znicholls opened #1613 "Smarter area weighted sum"
Follows comment made [here](https://github.com/ESMValGroup/ESMValCore/pull/1574#issuecomment-1123428679) (other issues could also be spun out of that comment).

**Is your feature request related to a problem? Please describe.**

Currently, when doing an area-weighted sum, the units are not changed. They should be multiplied with area ** 2.

**Would you be able to help out?**

Yes, but this would n

[2022-06-06 15:13] znicholls commented on #866
Made a specific issue for this here: https://github.com/ESMValGroup/ESMValCore/issues/1613

[2022-06-06 15:27] znicholls commented on #1613
Was some discussion in https://github.com/ESMValGroup/ESMValCore/pull/418 already

[2022-06-06 19:22] znicholls opened #1615 "Bug: Seasonal climatology with uneven times"
**Describe the bug**

When calculating a seasonal climatology, time weights are not applied. This is the opposite logic to when the full period is used. I would describe this as a bug. If it's intended behaviour, then I would suggest adding more documentation.

Failing test:

[code]

[2022-06-06 19:36] znicholls opened #1616 "Parametrising with unittest testcase"
I was trying to parametrize a method in one of the testing classes (concrete example here https://github.com/ESMValGroup/ESMValCore/pull/1614#discussion_r890461938). It turns out that you can't use pytest's parametrize with subclasses of `unittest.TestCase`. It looks like this is a known issue: https://stackoverflow.com/questions/35561843/py-test-parametrize-test-cases-from-classes

Is this someth

[2022-06-06 19:41] znicholls opened #1617 "Enhancement: Add weighted percentile to climate statistics"
**Is your feature request related to a problem? Please describe.**

Add weighted percentiles to `climate_statistics`. It already exists in iris (name is "wpercentile"), just needs some work to get it in here. Things to be aware of:

- testing is a bit mind bending as the way weighted percentiles are calculated isn't always completely intuitive
- have to add function like `operator_requires_weights

[2022-06-07 07:21] sloosvel opened #1619 "Circle CI tests broken due to `test_version` test"
**Describe the bug**
A test to check the version number for the tool was added in #1578 . This test checks that a proper version number has been generated by using a regex that expects the number to be defined as `X.X.Xdev1+etc` . However, in the CircleCI tests, the version number that gets generated looks like this:

`0.1.dev1+g23eb7c8'`

This breaks the test because the version number only conta

[2022-06-07 08:06] #1550 closed, assigned to sloosvel

[2022-06-07 08:17] bouweandela commented on #1613
Maybe it would be good to raise this issue with the iris developers too. We're using iris to compute area statistics and iris is supposed to handle metadata correctly for you (this is one of the big advantages of using iris over xarray), but apparently it doesn't.

[2022-06-07 08:39] bouweandela commented on #1619
I don't think so, that looks like a wrong version number. It should start with 2.5.1. Do you have an example of a failing run? The [nightly](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValTool/7197/workflows/84377f89-3688-4118-a8dd-d173777ea9c8) test run worked just fine.

[2022-06-07 09:51] znicholls commented on #31
These are all good points. I guess any steps which would allow more cloud-based, zarr formats to be supported in future would be great as on disk files won't be the only access pattern for long. We might have time/motivation to do some experimentation on our side later in the year, will come back to this discussion (or open a new one) if/when that happens.

[2022-06-07 10:01] bouweandela commented on #1619
You can recognize CircleCI tests from the URL, it links to circleci.com (instead of github.com).

[2022-06-07 10:02] sloosvel commented on #1619
Sorry, my bad!

Thanks!

So I guess it's not a big deal if those tests are failing?

[2022-06-07 10:10] bouweandela commented on #31
Awesome! Zarr support needs to start with iris, but we will probably have some discussions with the iris developers around the efficient use of dask soon. It seems likely that support for the zarr format will come up then too. If you're interested you would be welcome to join?

[2022-06-07 10:13] bouweandela commented on #1619
They need to be fixed of course, as they test e.g. that our code is compatible with all Python versions that we claim to support. Probably it is as easy as setting `fetch-depth: 0` in the [checkout action](https://github.com/actions/checkout#usage).

[2022-06-07 10:28] zklaus commented on #31
I'd love to chat more on Zarr and others, but that seems slightly off-topic here, so I opened #1621.

[2022-06-07 10:39] zklaus commented on #1613
With regards to Iris, the thing is that the function takes the weights as an array, not as a cube or similar (coordinate, cell measure, ancillary variable), so they don't come with units and indeed Iris has no way of knowing that these particular weights happen to be areas. Of course, that could (and perhaps should?) be changed. Why not accept all those things I mentioned above and integrate prope

[2022-06-07 10:40] agstephens commented on #31
Might it be worth considering `xarray` to harness the `zarr` backend - with the ability to export to `iris`, e.g.:

https://xarray.pydata.org/en/stable/generated/xarray.DataArray.to_iris.html

[2022-06-07 11:00] sloosvel commented on #1619
I think I don't have permissions to do so.

[2022-06-07 11:13] bouweandela commented on #1619
You can just make a pull request, the files are in the.github/workflows directory. Some documentation is available here: https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#automated-testing

[2022-06-07 12:17] bouweandela commented on #1613
Or maybe it could even be just a string: if the cube has a `'cell area'` cell measure attached and I ask for
[code]
shouldn't that just work? Instead of having to do:
[code]

[2022-06-07 13:36] sloosvel commented on #1619
Is it enough to just add it to the `run-tests` files? Not all workflows are failing.

[2022-06-07 13:44] bouweandela commented on #1619
It would be best to update all of them, to avoid surprises later.

[2022-06-07 15:30] valeriupredoi commented on #1619
Sorry guys, am on holidays - just saw this - it'd be best to pick up the code version using the Guthub API - that's the most secure and error-free way, but it escapes me atm what was the API invocation to get it, I know the PyPi package build test checks it (so it actually does the release if the version changed), so look there 🍺 Greetings from Transylvania 🧛

[2022-06-08 08:23] schlunma opened #1623 "Custom user-defined location for custom CMOR tables"
Currently, the location of custom CMOR tables is [hardcoded](https://github.com/ESMValGroup/ESMValCore/blob/933b37b225a89aeed84029d8c83105407ed7ae5f/esmvalcore/cmor/table.py#L820).

To facilitate the evaluation of new variables coming from native model output or new model components (e.g., ESM2025 project) that are not yet avaialble in the official CMOR tables, I think it would be good to allow th

[2022-06-08 11:23] sloosvel commented on #1623
I closed the milestone this morning since yesterday was the due date for the feature freeze. Do you need it reopened?

[2022-06-08 12:15] schlunma commented on #1623
No, I don't think that's necessary. Would it be okay to include this in v2.6 nevertheless? I think it's only a minimal change to the code base, and we haven't performed any tests yet. I will take care that this gets merged quickly in case we agree to include it. Thanks!!

[2022-06-08 14:25] schlunma opened #1626 "Derivation with `force_derivation: false` is broken"
I'm afraid #1562 broke the derivation when using `force_derivation: false` (the default option). The [recipe](https://github.com/ESMValGroup/ESMValCore/files/8862393/recipe_custom_cmor_location.yml.txt) fails with the error given below. Please note that the preprocessor does not try to derive the varible from `rsds` and `rsus` as requested by the [derivation script](https://github.com/ESMValGroup/

[2022-06-08 14:27] schlunma commented on #1626
Sorry for not checking this in the review, I tested everything with `force_derivation: true`!

[2022-06-09 09:20] sloosvel opened #1629 "Docker build broken"
**Describe the bug**
The docker build is failing with this error:
[code]
While debugging, running the mamba update command works the first time:

[code]
But if you try to run it again, you get the error that appears in the broken build:

[code]
I suspect it might have something to do with the latest conda version (4.13.0), since the update runs fine the first time but not the second. Should conda

[2022-06-09 09:27] sloosvel commented on #1629
Opinions are welcome @ESMValGroup/esmvaltool-coreteam , as the release procedure requires all the tests to be passing.

[2022-06-09 09:53] bouweandela commented on #1629
Related issue: https://github.com/mamba-org/mamba/issues/1706

[2022-06-09 09:57] bouweandela commented on #1629
Maybe we could just replace this line:
https://github.com/ESMValGroup/ESMValCore/blob/3278472c1ae88276e3116b862f600555982b3bd5/docker/Dockerfile#L7
with
[code]

[2022-06-09 10:56] sloosvel commented on #1629
Ok so no update for now, I guess this will have to be updated again when the mamba issue is solved.

[2022-06-09 14:51] sloosvel opened #1631 "Logging in to ESGF crashes the tool when using singularity container"
Commands to test with singularity:
[code]
where recipe_standalone.yml is a recipe that does not require ESMValTool.

The singularity run ends with
[code]

if I provide login details in  /home/bandela/.esmvaltool/esgf-pyclient.yml.

_Originally posted by @bouweandela in https://github.com/ESMValGroup/ESMValCore/pull/1630#issuecomment-1151210656_

[2022-06-09 16:22] sloosvel commented on #1631
Ok, I could reproduce the error and from a quick search it looks like SSL errors when using singularity images is something that happens. But I would need to take a closer look.

[2022-06-09 16:29] sloosvel commented on #1631
Is this important for this release though? Or could it be left pending?

[2022-06-09 16:51] #1626 closed

[2022-06-10 08:34] bouweandela commented on #1631
It's not important enough to block the release. Maybe I'm somehow not using the container correctly. This means that downloading CORDEX data will not be possible if you use a singularity container, but I suspect that this was already the case before and nobody complained so far.

[2022-06-15 10:09] bouweandela opened #1635 "Clarify the status of CORDEX support in the documentation"
At the moment we claim to support CORDEX data in our documentation, but in practice support is limited, so this may be disappointing to users who expect good support. Therefore, it would be good to clarify this in our documentation.

Places where we claim CORDEX is supported:
- https://github.com/ESMValGroup/ESMValTool/#input-data
- https://docs.esmvaltool.org/en/latest/input.html#obtaining-input-

[2022-06-15 13:54] bouweandela opened #1636 "Regularly run selected recipes to test for backwards compatibility"
The recipes will be made available by @axel-lauer @katjaweigel and ? in the ESMValTool recipes/testing folder. Recipes are expected to run in less than 5 minutes.

@bouweandela Will automate this so they run every week for testing, once the recipes are available.

[2022-06-16 08:31] katjaweigel commented on #1636
@axel-lauer should I add my recipe to your branch (else I have to create and change to the recipes/testing in mine)?
 The recipe recipe_deangelis15nat_fig1_fast.yml is currently in the branch  fast_version_deangelis_for_test, I tested it now for v2.5 and it is working. To reliably keep it under 5 minutes (1 CPU, shared, Levante) I reduced it to one model. I made this test recipe, because the long

[2022-06-17 09:00] #1635 closed

[2022-06-17 09:56] bouweandela commented on #1636
@katjaweigel It would be great if everyone who has developed testing recipes could make a separate pull request. Like that I will have some recipes to get started with as soon as possible and the others can add theirs later.

[2022-06-17 13:00] nhsavage commented on #1156
a summary of where I think we are with this issue
1. we can't currently calculate area weights for data on lambert conformal grids because iris doesn't support this
2. we can't regrid to a regular lat/lon to allow us to bypass this issue until#184 is merged

So either:
1. we extend Iris to be able to calculate area weights (better) or
2. we complete #184 and work around the problem using regriddin

[2022-06-17 13:23] zklaus commented on #1156
@nhsavage, if we can get the `areacella` "fx" file, we should be able to read the area and make things work that way. Could you try an example with added cell area? The preprocessor section should look something like
[code]

[2022-06-17 13:28] nhsavage commented on #1156
we can give that a go, but in general that approach is sub optimal until #1082 is merged

[2022-06-17 16:16] #1498 closed

[2022-06-20 08:31] #1623 closed

[2022-06-20 11:56] valeriupredoi opened #1637 "Test fail if CEDA ESGF archive is down"
See [test fails](https://github.com/ESMValGroup/ESMValCore/actions/runs/2522354760) - all of them and their dog have died when CEDA archive was down a couple days ago - I thought we fixed this behaviour and got the rerouting done if one ESGF archive was down, I might be slightly out the loop if this was done, but clearly is still causing total test failures. @bouweandela what you reckon? :beer:

[2022-06-20 12:19] zklaus commented on #1637
To be clear, in this case this was a planned maintenance at CEDA. I saw the fails and double-checked this. It did make me wonder: Should we have some kind of status page or log of past CI failures?

[2022-06-20 13:01] axel-lauer commented on #1636
@katjaweigel I agree with @bouweandela , separate pull request are preferable. I think reducing the number of datasets is fine as we want test recipes that are reasonably fast.

[2022-06-20 13:38] katjaweigel commented on #1636
@bouweandela and @axel-lauer ok, I created a pull request here: https://github.com/ESMValGroup/ESMValTool/pull/2685

[2022-06-20 14:38] #1637 closed

[2022-06-20 14:55] valeriupredoi commented on #1637
thanks, Bouwe! That is returning a Server Error for me at the mo, but also I'd be looking into a log of the GA tests - those are a bit harder to track after they've failed since one needs to scroll through a lot more test results (since they are 8-10x more numerous)

[2022-06-20 14:58] bouweandela commented on #1637
Maybe you need to sign in on CircleCI to see the test results? You can sign in with your GitHub account.

[2022-06-20 15:24] #1583 closed

[2022-06-21 10:57] valeriupredoi commented on #1637
so I've set this up https://meercode.io with ESMValCore's Github Actions as Integration (it has many more CI integrations available) - it's pretty nifty - see attached example screenshot - but this is set up as a user so I am not sure how we can integrate it inside our organization. Just a pointer if you guys want to have a look at it
![GA-Dashboard](https://user-images.githubusercontent.com/28983

[2022-06-22 15:31] dhohn opened #1641 "exclude datasets from certain variables"
I would like to be able to better control which datasets are ran for which variable. The reason being that Im looking at several variables as well as datasets and it happens frequently that one variable is not available from one particular model. It also happens often that iris or the cmor checker is not happy with one of the lot (and no quick fix exists either).

- What I did so far is (un)commen

[2022-06-23 07:42] nhsavage commented on #1156
also - the areacella files do not appear to be uploaded for the RegCM4 family of models. This is one of the CORDEX core models and as such is a key target here (we can ask for this to be uploaded of course)

[2022-06-24 07:06] dhohn commented on #1641
Ah indeed: https://github.com/ESMValGroup/ESMValCore/issues/1538
Sorry I missed that!

I think it only becomes complicated if one starts mixing `additional_datasets` and `exclude_datasets` at the different levels. And probably there we would have issues with deciding and defining the order of precedence.

I do think it can make the intent more obvious when one usually wants to analyse *all* datase

[2022-06-24 07:42] nhsavage commented on #1156
Hmm. I have been drilling down into the source code where this fails. It seems that #999 actually added the support for using cell area files already. That suggests strongly that using the fx files is a good way forward. We should try this for the original file with a more recent release of ESMValCore.

That does add extra importance to #1082 though.

For the models which are misisng areacella fil

[2022-06-24 12:25] #92 closed

[2022-06-24 12:29] bouweandela commented on #1641
Yes, this is why I'm not too keen on the feature. I would like to simplify instead of complicate, therefore I also proposed to drop one of the datasets sections at some point, but there seemed to be no consensus: #92. Maybe we could think more along the lines of merging the sequences ourselves instead of waiting for YAML to do it for us?

[2022-06-24 12:36] bouweandela commented on #1641
Something like this?
[code]

I'm not sure if this would be something that could go into a v2 release, we might have to wait for v3, whenever that is.

[2022-06-24 12:38] bouweandela commented on #1641
Anyway, so long as it is backward compatible people are probably fine with it, but having two different systems is of course also more complicated..

[2022-06-24 13:10] dhohn commented on #1641
I also like this suggestion (https://github.com/ESMValGroup/ESMValCore/issues/1641#issuecomment-1165532363), but I imagine quite a bit more work.

These are essentially dataset groups which could also be nice to use semantically, e.g. to have an alias for all subexperiments of one model or vice versa.

[2022-06-27 12:04] znicholls commented on #31
Yep I got it but will be halfway back to Australia at that time unfortunately

[2022-06-29 14:00] zklaus commented on #564
![](https://github.trello.services/images/mini-trello-icon.png) [Dataset Problem FGOALS-g3](https://trello.com/c/ykylS7tS/2-dataset-problem-fgoals-g3)

[2022-06-29 14:05] zklaus commented on #1156
![](https://github.trello.services/images/mini-trello-icon.png) [Area statistics lambert conformal](https://trello.com/c/4RG3EzyO/5-area-statistics-lambert-conformal)

[2022-06-29 14:06] zklaus commented on #863
![](https://github.trello.services/images/mini-trello-icon.png) [Dataset Problem EC-Earth NEMO](https://trello.com/c/zCdxZ3bQ/6-dataset-problem-ec-earth-nemo)

[2022-06-30 08:37] rswamina opened #1648 "Adding the "Acronym" field to Shape ID keys in order to read IPCC AR6 regions"
Currently the SHAPE ID keys recognized by the `extract_shape` preprocessor are :

[code]
The IPCC AR6 regions hav a field called `Acronym` which can be used to  more easily reference regions. Here is a sample entry from the shape file :

[code]
This issue is to request adding the `Acronym` field to the list of recognized SHAPE ID keys in the preprocessor.

[2022-06-30 10:25] valeriupredoi opened #1649 "Backup server esgf search server test fails"
We noticed this in the latest esmvalcore package built - cheers to @zklaus for finding the build fail - am still confused as to why it did an extra build after the actual build finished correctly, but I'm digressing - the test fails when a backup server is selected, see [here](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=528728&view=logs&j=656edd35-690f-5c53-9ba3-09c10

[2022-06-30 12:42] zklaus commented on #1648
I think the suggestion would be to support `Acronym` in addition to, not instead of, `Name`. I don't think we need to worry about the possible case where one region would have as its `Name` another region's `Acronym`, or? Do you foresee another problem with that approach?

[2022-06-30 14:15] zklaus commented on #1648
Hm. Ideally, I would say if the `id` provided by the user matches any of the SHAPE_ID_KEYS, it should be found, regardless of whether there are other SHAPE_ID_KEYS attached to the geometry. Having had a brief look at the code I will admit that this may require some restructuring since the code in its current form is :pouting_face: not conducive to this.

[2022-06-30 15:28] rswamina commented on #1648
A suggestion is to add a subfield to `ids` in the preprocessor maybe? Something like
[code]
In which case we could use `Acronym` or `Name` and potentially in the future, add to this sublist if new data sets have new keys.  This way any of the available keys can be used.

[2022-07-01 09:12] zklaus commented on #1648
That asks rather more from the user than I would like. Perhaps the best way is to go super clean and just allow the specification of either a string with the current behavior or a dictionary with any keys?

[2022-07-01 09:27] #1591 closed

[2022-07-01 18:39] bouweandela opened #1652 "Add support for the CREATE-IP project"
The [CREATE-IP](https://esgf-node.llnl.gov/projects/create-ip/project_description) project is the follow up to the ana4MIPs project. I think it would be useful to add support for this in the ESMValCore, as this would allow e.g. automatically downloading reanalysis datasets that require no further CMORization.

## Example integration of CREATE-IP in ESMValCore

### config-developer.yml entry could

[2022-07-04 11:59] schlunma opened #1653 "Make ICON data UGRID-compatible (on-the-fly)"
In order to use more complex regridding features for data on unstructured grids (e.g., using [iris-esmf-regrid](https://iris-esmf-regrid.readthedocs.io/en/latest/)), these unstructured grids need to follow the [UGRID conventions](https://ugrid-conventions.github.io/ugrid-conventions/).

Currently, ICON data does not do that. However, using [`iris.experimental.ugrid`](https://scitools-iris.readthed

[2022-07-06 14:46] zklaus opened #1655 "Test failure due to change in cf-units"
For a couple of days now, we have seen our tests fail. The problem stems from a change in the latest cf-units release where the handling of the `gregorian` and `standard` calendars was changed, namely SciTools/cf-units#205. This creates the failure in our tests where they find now the calendar to be `standard` instead of `gregorian`. The quick fix is to just change the tests to expect `standard`,

[2022-07-08 08:28] bouweandela opened #1657 "NCL interface stores some settings from config-user.yml in diag_script_info"
Settings from config-user.yml should be attached to `config_user_info` (and not to `diag_script_info`).

Looking at settings.ncl for the taylor diagnostics from perfmetrics, I see:
[code]

I think that `version` and `auxiliary_data_dir` should be attached to `config_user_info` instead. `exit_on_ncl_warning` should not be passed on to the diagnostic script at all, as this is used by the esmvalcore

[2022-07-08 11:28] schlunma commented on #1657
Agreed, this makes sense. However, I know that sometimes NCL can be very "special" and fragile, so changes to the NCL interface that affect all NCL diagnostics should be handled very carefully.