[2022-07-08 13:33] bouweandela commented on #1655
For the upcoming release and to avoid a lot of last-minute work, would it be an option to just pin cf-units to the version that we know works and that @sloosvel already ran all the tests with for now?

[2022-07-08 13:49] zklaus commented on #1655
I think pinning would be ok. For completeness' sake, the release notes for cf-units 3.1.0 are [here](https://github.com/SciTools/cf-units/releases/tag/v3.1.0). Hopefully, it will help us deal with calendar issues in the future.

[2022-07-11 13:53] tomaslovato commented on #1606
@zklaus Maybe a check on the coordinates that are reduced to 0D could be used to remove them from the cube ...

[2022-07-11 15:32] tomaslovato commented on #1606
I made some additional tests on this issue ...

**Part 1**
 I think we can clean certain scalar coordinates after the area average operation, by preserving some relevant ones, like e.g. `shape_id` , (I picked up the idea from a similar operation made in [_multimodel.py#L259-L264](https://github.com/ESMValGroup/ESMValCore/blob/14e73083d03b9aab210b0ba46d8c06f0ff6e4bf4/esmvalcore/preprocessor/_multim

[2022-07-12 21:41] malininae opened #1663 "Running sum as a preprocessor function"
Hi,

I want to volunteer to write a new preprocessor function something like running sum/mean/max/min etc for the 'time' coordinate based on the 'iris.rolling_window' function.  I needed it to calculate Rx2day and TX3x ETCCDI indices. So far I have done it in the diagnostic, but I think the community would  profit from it as a preprocessor function. If people are interested, I will create a pull r

[2022-07-13 08:06] schlunma commented on #1663
Hi @malininae, that sounds great! I started developing something like this some time ago but that never made it into the `main` branch. Feel free to re-use anything from this: https://gist.github.com/schlunma/efd574e5e5217d601d83b1bf0bae3e8d

Please open a pull request and ping me, I am happy to review it. Thanks!!

[2022-07-13 09:29] schlunma commented on #1653
I successfully managed to convert ICON to UGRID (see https://github.com/ESMValGroup/ESMValCore/pull/1664), but there are some issues left (out of our hand mostly) that need to be resolved before merging this (I list them in the associated PR).

[2022-07-13 14:06] valeriupredoi commented on #1663
@malininae that's awesome, many thanks! You can ask me give you a hand with writing the tests, so we don't overload Manuel :grin:

[2022-07-13 14:09] valeriupredoi commented on #1657
I remember I removed *some* variable that was passed and stored via the :snake: - NCL env interface, can't remember what that was but I remember Bouwe kept telling me it's still there, until I finally nuked it - we can use that implement and just extend the list of unwanted env vars

[2022-07-13 14:16] valeriupredoi commented on #1652
yis, let's!

what are the numbers (values in the dict) denoting? Also, I'd imagine source_id is equivalent to model? That'd make it two DRS's - actually one coz we can map source_id to model (somehow)

[2022-07-14 00:17] malininae commented on #1663
@schlunma, @valeriupredoi  I was thinking about creating a function something like 'time_convolution' and it would be similar to 'timeseries_filter', but would it be better to be 'coordinate_convolution' to make it broader?  Or should I expand
 the 'timeseries_filter' but with different options?

[2022-07-14 07:48] zklaus opened #1665 "Add conda-forge-feedstock-pr-action to gh actions?"
More of an idea rather than a fixed suggestion. There is now [a github action](https://github.com/joezuntz/conda-forge-feedstock-pr-action) that can automatically open a PR on the feedstock. This could potentially replace the bot opening a PR for the update. I see two main advantages: It could be quicker than waiting for the bot, and we might be able to add it for the pre-release as well. This wou

[2022-07-14 10:10] schlunma commented on #1663
I think that depends on what you want to do...If you just want to run a running sum on the time coordinate, I think it would be nice to write this preprocessor as general as possible with arbitrary `coordinate`, `operation`, and `window_length` (see the code I posted).

If you want a more specific version with special weights that make only sense for the time axis then probably an extension of `ti

[2022-07-14 11:04] zklaus commented on #1665
Yes, that sounds right.

Probably. In any case, I think the bot will compare version numbers, so if we are faster, it will just not spring into action.

[2022-07-15 06:46] bouweandela commented on #1652
I think it is the number of records on ESGF with the same [dataset_id](https://esgf.github.io/esg-search/ESGF_Search_RESTful_API.html#identifiers) that use that DRS. Here is the code to get this info with [esgf-pyclient](https://esgf-pyclient.readthedocs.io/en/latest/):
[code]

It seems this can be different. For example, [the ERA5 dataset is produced using the CY41R2 IFS model](https://confluence

[2022-07-15 14:51] rswamina opened #1669 "Error when extracting IPCC AR6 region"
I am reporting an error I get when I try to extract a specific region using the IPCC AR6 region shapefile. I am copying the recipe used and an excerpt from the error message below. From what I understand the error occurs in file [_area.py](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/preprocessor/_area.py)  in the [_get_bounds](https://github.com/ESMValGroup/ESMValCore/blob/7de61

[2022-07-18 09:02] zklaus commented on #1669
Thanks for the report, @rswamina. @stefsmeets, could you have a look? (@bouweandela, I have in the back of my head that @stefsmeets is currently not in a position to work on this. If that is true, could you comment here so that we can find someone to look at it?)

[2022-07-18 09:40] bouweandela commented on #1669
Indeed, @stefsmeets is currently working on other projects. I can have a look.

[2022-07-18 09:40] bouweandela commented on #1669
Is there any documentation available on this shapefile?

[2022-07-18 10:52] bouweandela commented on #1669
It looks like the current code does not support regions that are stored as a MultiPolygon. I'll make a pull request to fix it.

[2022-07-18 11:19] rswamina commented on #1669
@bouweandela , Sorry, I meant to include the link. Here it is [IPCC AR6 shape file](https://github.com/SantanderMetGroup/ATLAS/blob/main/reference-regions/IPCC-WGI-reference-regions-v4_shapefile.zip)

[2022-07-18 13:23] rswamina commented on #1669
@bouweandela , Yes, I can try it out. I am not able to checkout the branch [fix-extract-shape-bounds-multipolygon](https://github.com/ESMValGroup/ESMValCore/tree/fix-extract-shape-bounds-multipolygon) though. I tried

`git checkout fix-extract-shape-bounds-multipolygon` and I get a message saying

`error: pathspec 'fix-extract-shape-bounds-multipolygon' did not match any file(s) known to git`

Is

[2022-07-18 14:40] rswamina commented on #1669
I have reviewed and approved the PR.

[2022-07-19 13:54] ledm opened #1675 "Feature request: check for duplicates datasets in recipe then print a list of all duplicate datasets."
At the moment, recipe.py fails after detecting a single duplicate dataset in a recipe. If there are more than one pair of duplicates, then it can take a few iterations to find all of them.

If ESMValTool just did a check then printed a list of all the duplicates (like it does for missing datasets), that would be a time saver for this specific problem.

[2022-07-20 16:18] thomascrocker opened #1673 "Dataset problem: CORDEX missing bounds"
**Describe the dataset issue**
PR #184 (from 3 years ago) attempts to resolve a number of seperate issues with CORDEX models, as a result it's a fairly big PR and merging isn't straightforward. Instead, as suggested here https://github.com/ESMValGroup/ESMValCore/pull/184#issuecomment-1156401084 I'm creating issues addressing some of the problems individually which should be a more appropriate appr

[2022-07-21 08:47] #1669 closed

[2022-07-21 08:51] #1364 closed

[2022-07-25 11:26] valeriupredoi commented on #1665
that looks good - all we have to do is to add the `Make PR on conda forge feedstock` step to our existing `build-and-deploy-on-pypi` workflow - but can we deactivate the feedstock bot?

[2022-07-26 10:35] ledm opened #1677 "Mask Landsea doesn't work for irregular grids"
This is a known issue, but I just want to flag it up so that it can be addressed.

The preprocessor mask_landsea doesn't work for irregular grids and this may cause some issues in CMIP6 analyses of the ocean.

https://github.com/ESMValGroup/ESMValCore/blob/ab3245baa2b30f9efc39428b117a2827ac869910/esmvalcore/preprocessor/_mask.py#L162

[2022-07-27 08:48] sloosvel commented on #1673
FYI @pepcos , EUR-11 is just the region we need haha

[2022-07-27 11:13] zklaus commented on #1677
Thanks for raising this issue, @ledm. The line that you link to above is in a deprecated part of the code and the surrounding code suggests that it would work with the appropriate fx variables. Could you provide some more detail about where it fails?

[2022-07-27 12:52] valeriupredoi commented on #1655
shall we resurrect this now that all release chores are done?

[2022-07-28 07:40] sloosvel commented on #1673
I don't think there will be an issue with duplicated code, it is quite common to import "base fixes" between models and variables that share the same issue ([icon fixes do it](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/cmor/_fixes/icon/_base_fixes.py), [common fixes for cmip6 are kept in a separate file](https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/cmor/_fixes

[2022-07-28 08:21] nhsavage commented on #1673
So in summary you think we should:

1. make a new folder _fixes/cordex as done on #184
2. create a module common_cordex.py in that folder for fixes which will be used across CORDEX models (or perhaps just add to common.py in the folder above) - most of this code can be reused from #184
3. for each model we want to use write a module model_name.py in the CORDEX folder and also add some tests for th

[2022-07-28 09:22] sloosvel commented on #1673
I mean it's the same as in CMIP6, there are even more models and most of them have issues (some more complex than others, some are common, etc). At the end the fixing for CMIP6 happens a bit on the go, people fix what they need and as time goes by the pool of fixed models increases. No one aims at fixing all CMIP6 in one sitting. I am not as familiar with CORDEX data and it's issues, but for CMIP6

[2022-07-28 10:03] pepcos commented on #1673
This branch, which was never merged, might have some fixes for CORDEX EUR-11 interesting to you:
https://github.com/ESMValGroup/ESMValCore/tree/working_cordex_2.2/esmvalcore/cmor/_fixes/cordex

[2022-07-28 10:12] ledm opened #1679 "Error message: Multi-dimensional coordinate not supported: 'lataitude', should be "unable to find FX file""
From this question in discussions:

### Discussed in https://github.com/ESMValGroup/ESMValTool/discussions/2746

<div type='discussions-op-text'>

<sup>Originally posted by **RChapman1407** July 26, 2022</sup>
Hello,

I am having difficulty getting one of the ocean diagnostic scripts to work with CMIP6. So far it works fine with CMIP5. The recipe is recipe_ocean_example.yml. I am trying to average

[2022-07-29 11:32] valeriupredoi commented on #1484
I am jumping onboard this, let me see what I can dos

[2022-08-02 13:09] mo-tgeddes commented on #730
@ehogan and I ran this again and it is no longer a problem so I will close the issue. Thanks

[2022-08-02 13:09] #730 closed

[2022-08-02 13:15] sloosvel opened #1688 "Minor update in `Making a release` section of the documentation"
**Is your feature request related to a problem? Please describe.**
Since the making a release section in ESMValTool needs to be updated, the same section in the ESMValCore documentation could benefit of some minor clarifications in how the release procedure is done.

**Would you be able to help out?**
Yes

[2022-08-03 11:18] schlunma opened #1690 "Refactor native model fixes"
The different native model fixes re-use the same code over and over. I will refactor this by introducing a base class `NativeDatasetFix`.

[2022-08-04 07:57] mo-tgeddes opened #1691 "Add MO installation method"
Add the Met Office installation method to the installation documentation alongside instructions for Mistral and Jasmin.
Requested by @remi-kazeroni. https://github.com/ESMValGroup/ESMValTool/issues/2742#issuecomment-1203673422

[2022-08-08 10:44] sloosvel opened #1693 "Sea Ice Extent as a derived variable"
**Is your feature request related to a problem? Please describe.**
The sea ice extent is computed by summing `areacello` over the points in which `siconc/sic` (sea_ice_area_fraction) has values > 15%.

It would be useful to be able to compute this quantity as a derived variable and reduce the amount of data that is stored after the preprocessing. The derivation could  return an array of ones, with

[2022-08-08 11:10] dhohn commented on #1693
Ive been looking at sea ice myself recently, So Id be happy to help out with code and/or testing!

[2022-08-08 12:38] sloosvel commented on #1693
Great! Does this approach look good to you?

[2022-08-08 12:47] dhohn commented on #1693
Yea looks good to me!
I was looking at CMIP6 tho. Where the variables are called `siconc` and `siconca` (only GISS afaics). So we could select those based on the project.

[2022-08-08 12:49] dhohn commented on #1693
Another challenge Im currently struggling with is with NorESM. For the sea ice variable the `areacello` needs to be modified: https://noresm-docs.readthedocs.io/en/latest/faq/postp_plotting_faq.html#different-sea-ice-and-ocean-grid
which is inconvenient...

That another issue though!

[2022-08-08 13:11] sloosvel commented on #1693
There is already a mapping between variable aliases for sic/siconc based on the project (https://github.com/ESMValGroup/ESMValCore/blob/main/esmvalcore/cmor/variable_alt_names.yml). So in principle ESMValTool should already be able to detect that the variable is named `sic` in CMIP5 and `siconc` in CMIP6. Using `siconca` would be different though.

I think it would be better if this got addressed

[2022-08-10 09:49] sloosvel commented on #1673
https://cordex.org/wp-content/uploads/2012/11/CORDEX-domain-description_231015.pdf

[2022-08-12 08:03] sloosvel commented on #1673
I think the root of the issue is that the CMOR checker does not check the rotated coordinates because they are defined in the `grids` table, which is not read. The bounds for these coordinates are not guessed in the checker because the variables definition does consider lat/lon to be the coordinates And then the guessing of the bounds cannot happen for the geographic coordinates because guess_boun

[2022-08-16 11:01] #1691 closed

[2022-08-16 11:49] schlunma opened #1696 "Flake8 tests fail on CircleCI"
Since ~16 days, `test_installation_from_source_test_mode` [keeps failing on CircleCI](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore?branch=main) with the error:

[code]

It looks like the reason is that the `pytest-flake8` plugin is incompatible with `flake8 >= 5.0.0` (https://github.com/tholo/pytest-flake8/issues/87). At the moment no one really seems to tackle this issue, so i

[2022-08-16 11:54] valeriupredoi commented on #1696
well spotted @schlunma - see here https://github.com/tholo/pytest-flake8/issues/87 - looks like we'll have to pin `flake8` like others have done

[2022-08-16 12:00] valeriupredoi commented on #1696
interestingly enough this issue was closed https://github.com/PyCQA/flake8/issues/1652 almost as soon as it was open

[2022-08-16 12:23] valeriupredoi commented on #1696
so here's an interesting one: the GA tests that install from source (Test and Install from source eg https://github.com/ESMValGroup/ESMValCore/runs/7856342612?check_suite_focus=true incrementally downgrade flake8 to 4.0.1 that works fine - and the same thing happens when installing manually on my laptop too - gotta figure out what's the fuss in the CI test (and that expkains why I didb't notice th

[2022-08-16 12:44] valeriupredoi opened #1697 "Difference in env between `pip install -e .[develop]` and `pip install .[test]`"
There are quite a few differences between the two installation methods:

[code]

We don't use the `[test]` installation in the Github Actions, and frankly I don't see the point of it, since a user will never install Core that way. Circle tests workflow use it though, and we just hot a dependency issue reported by Manu in #1696 - picked up only in Circle CI testing, and not in GA tests. @bouweandel

[2022-08-16 12:49] valeriupredoi commented on #1696
talking about being open and explaining things in a public GH project repo NOT :laughing:

[2022-08-16 13:29] schlunma commented on #1696
I agree that `pip install ".[test]"` and `pip install -e ".[develop]"` should yield the same environments, but it's probably still a good idea to pin `flake8 < 5.0.0` because we should not rely on the fact that `flake8 < 5.0.0` is picked by chance.

[2022-08-16 13:31] valeriupredoi commented on #1696
totally! I can do it right now, man

[2022-08-16 13:49] schlunma commented on #1696
BTW, I think what the flake8 dev means when he talks about "pytest-flake8 accesses private implementation detail" is that `pytest-flake8` uses private functions of `flake8` that should not be used by external code; thus, the problem needs to be fixed in `pytest-flake8`, not in `flake8`.

[2022-08-16 14:00] valeriupredoi commented on #1696
yeah I was suspecting that'd be the case - still - it's something that is more than related to them (since the issue is piped from flake8 haha), and a bit of a nicer way of commenting goes a long way, but heyho maybe he's on his last day on the job :grin:

[2022-08-16 14:36] #1690 closed

[2022-08-16 14:53] valeriupredoi opened #1699 "Consider dropping `pytest-flake8` plugin"
It seems there's not much love between `flake8` and `pytest-flake8` (see eg https://github.com/tholo/pytest-flake8/issues/87#issuecomment-1216704377 ) and if you look up that issue there are people saying `pytest-flake8` is going its own way proper, and it's not condoned by the Pytest community - we've already had issues before and even now, and asking the `flake8` devs to fix stuff only worsens t

[2022-08-18 09:21] schlunma opened #1703 "Codacy issue `Django was not configured` keeps popping up in pull requests"
Recently, we saw the Codacy issue

[code]

popping up in some PRs (e.g., [here](https://app.codacy.com/gh/ESMValGroup/ESMValCore/pullRequest?prid=10002238&bid=30646651)).

@ESMValGroup/esmvaltool-coreteam do we use Django anywhere in the code? I couldn't find a reference to it. Running the suggested command above gives

[code]

So I guess we are using the `pylint-django` plugin? Could we disable t

[2022-08-19 12:29] bouweandela commented on #1699
Maybe it's best to drop it, we also had issues when the previous version of flake8 was released (#1405). We could just use flake8 without the plugin and run it before running the unit tests with pytest.

[2022-08-19 12:51] bouweandela commented on #1697
The `test` extra just installs the extra dependencies needed for running the unit tests. The `develop` extra will install several extra tools, such as linters, spellcheckers, formatters and tools for building the documentation.

There is already a test on CircleCI that does that: [test_installation_from_source_develop_mode](https://github.com/ESMValGroup/ESMValCore/blob/main/.circleci/config.yml#L

[2022-08-23 15:25] remi-kazeroni opened #1706 "Add a `site` option to the `get_config_user` command"
**Is your feature request related to a problem? Please describe.**
Often when a new user tries to configure the Tool on a supported machine with `esmvaltool config get_config_user`, they get confused with uncommenting the right lines to set the correct `rootpath` and `drs`. Would it be a good idea to add an option, say `--site`, to the command so that the correct `rootpath` and `drs` are automatic

[2022-08-23 16:00] schlunma commented on #1706
I really like this idea!

In my opinion option 2 is better since it avoids duplication (we would need to change many files if we decide to modify keys in the config-user file!). Would it also be an idea to have one "generic" config-user file that includes all keys and a generic entry for `rootpath` and `drs` (without all the commented site-specific information), and then multiple site-specific fil

[2022-08-24 09:44] schlunma opened #1707 "Change default DRS for native ICON output"
While working with new ICON data I discovered that the current DRS

[code]

is not general enough to cover all possible input files. This PR changes this to the more general syntax:

[code]

This change will **note be backward compatible**, but with an [easy change](https://github.com/ESMValGroup/ESMValCore/pull/1705#issuecomment-1222511627) old recipes can be fixed. I know that this is not optima

[2022-08-24 15:56] mo-tgeddes opened #1708 "Add Met Office-specific paths to the ESMValTool user configuration file"
Add Met Office-specific paths to the ESMValTool user configuration file, e.g. like JASMIN.

[2022-08-29 09:02] #1663 closed

[2022-08-30 15:59] sloosvel commented on #1593
After today's release planning meeting, I created the v2.8.0 milestone to assign this issue so that it does not get forgotten.

But the idea is that, in case there are any deprecated features occurring in v2.7.0, they should already be listed following the approach that @schlunma proposed.

[2022-09-01 11:14] schlunma commented on #1593
Example for deprecated feature:

https://github.com/ESMValGroup/ESMValCore/blob/ed81a3c1d5c326e3cb3b70b54be89487a2af368e/esmvalcore/iris_helpers.py#L109-L138

[2022-09-05 15:59] valeriupredoi opened #1716 "_io.concatenate()` may fail if extracted laison cube is scalar"
Raised (inadvertently) by @bouweandela in this [comment](https://github.com/ESMValGroup/ESMValCore/pull/1713#issuecomment-1236850683) - it all happens in `_io._concatenate_overlapping_cubes(cubes)` - after `extract_time()` the resulting cube may be scalar - so iris concatenation fails due to scalar cubes not having `dim_metadata` attributes in `iris._concatenate_CubeSignature` class (they do, but

[2022-09-06 10:48] #1716 closed

[2022-09-06 10:52] valeriupredoi commented on #1708
cheers for opening this @mo-tgeddes - could you also please add concise information on how to obtain a login and access to the MO machine (in the documentation) in the PR that closes this? :beer: Note that it would be nice to have info on how to access the cluster-wide installation of esmvaltool at the Met Office too (if there's one), but prob best not in the PR that fixes this :+1:

[2022-09-06 10:53] valeriupredoi commented on #1706
I too like this and like option numero deux better too, good call, Remi! :beer:

[2022-09-06 10:59] valeriupredoi commented on #1703
`django=4.1` is inside the Core environment via `pylint-django=2.0.11`  - I scanned the issues at PyCQA/pylint here https://github.com/PyCQA/pylint/issues but couldn't see anything obvious, and given that I had a rather nasty back and forth with one of the PyCQA/flake8 devs last time around (an absolute gammon), I'd rather not go and open another issue where that individual might snoop around :gri

[2022-09-06 11:03] valeriupredoi commented on #1699
sorry @bouweandela - this went off the radar screen faster than an F-117A Nighthawk, could you pls give me an example of the workflow that does that? I am struggling to think of an example other than the pre-commit shambles in https://github.com/ESMValGroup/ESMValCore/pull/1701 that neither me nor you are fans of :beer:

[2022-09-06 11:11] valeriupredoi commented on #1697
Cheers, Bouwe! OK - I'll have to dig deeper and understand why the envs are different, this shouldn't be the case - well, in an ideal world, that is :beer:

[2022-09-08 10:05] zklaus commented on #1703
Curious indeed. The Codacy configuration says it uses our config file, which does not contain the Django plugin, so I think it should not be run. Does this happen for all PRs? Can we keep an eye on it to see if it was a fluke?

[2022-09-08 11:33] zklaus commented on #1703
One last comment: python-django seems to be pulled in by prospector. Of course, just because it's installed shouldn't mean that it gets run, but I am not quite sure why it should be installed in the first place, particularly if it pulls in a heavy package like Django itself.

[2022-09-08 11:39] zklaus commented on #1706
I definitely like the sentiment, however, I think the real real solution would be different. We should have a kind of "hierarchical" configuration system as is common in most software packages, where we have an order of places where configuration can be (typically something like `$CONDA_PREFIX/etc/esmvaltool`, `/etc/esmvaltool/`, `~/.config/esmvaltool`, ..., environment variables). Then, site admi

[2022-09-08 11:46] valeriupredoi commented on #1703
and in ESMValTool `django` tags along from the get-going from `esmvalcore`

[2022-09-08 12:48] schlunma commented on #1703
I saw it in multiple PRs

[2022-09-09 08:23] bouweandela commented on #1703
Maybe this could be a solution? https://prospector.landscape.io/en/master/profiles.html#libraries-used-and-autodetect

I'll make a pull request.

[2022-09-09 14:33] #1708 closed

[2022-09-09 15:53] schlunma commented on #1703
A recent example: https://app.codacy.com/gh/ESMValGroup/ESMValCore/pullRequest?prid=9879541&bid=30334383

[2022-09-13 09:09] bouweandela commented on #1706
See https://github.com/ESMValGroup/ESMValCore/issues/795 and the issues linked in it for some previous ideas on this topic. A related idea (maybe the next step), was to find out from the hostname what cluster someone is on and automatically use the right configuration.

[2022-09-13 09:18] bouweandela commented on #1699
Remove the pytest-flake8 dependency from setup.py and replace every call to pytest by two separate calls, one to `flake8` and one to `pytest`, e.g.
https://github.com/ESMValGroup/ESMValCore/blob/4bb30611615bad43fe872e4ad7d03dc3aa140802/.circleci/config.yml#L30-L31
would need to be replaced by
[code]
and the configuration
https://github.com/ESMValGroup/ESMValCore/blob/4bb30611615bad43fe872e4ad7d03d

[2022-09-13 09:23] bouweandela opened #1721 "Make links to files in the log clickable"
**Is your feature request related to a problem? Please describe.**
It would be nice if I could just click the links in the console log messages to open the files that are listed there instead of having to copy/paste the filenames. This can be achieved by adding `file://` in front of the path, e.g.
[code]

**Would you be able to help out?**
Would you have the time and skills to implement the soluti

[2022-09-15 11:06] sloosvel commented on #1693
I have been working on this in https://github.com/ESMValGroup/ESMValCore/pull/1695, in case you want to test it I could mark the PR as ready for review

[2022-09-15 12:53] valeriupredoi commented on #1699
thanks @bouweandela - most useful! I'll do this then, bit of a PITA but heyho

[2022-09-15 15:20] valeriupredoi opened #1723 "Pin `netCDF4<1.6.1`"
The latest, hours-old 1.6.1 is causing a flurry of segfaults in the CI tests - many thanks to @schlunma who alerted me to a fix for that by downgrading HDF5 but HDF5 is a month or so old, pinning `netCDF4<1.6.1` seems to [solve the segfaulting](https://github.com/ESMValGroup/ESMValCore/actions/runs/3061511143)

I also raised an issue at their GH repo https://github.com/Unidata/netcdf4-python/issue

[2022-09-15 16:00] #1723 closed

[2022-09-20 12:22] monsieuralok commented on #863
@zklaus @valeriupredoi I was thinking finally this problem would be fixed in ESMValTool or Should it be fixed from modeller side?

[2022-09-20 12:30] #1699 closed

[2022-09-20 16:46] valeriupredoi opened #1727 "SegFaults in the sample data tests with `netCDF4=1.6.1`"
OS @ESMValGroup/technical-lead-development-team I need your (rather quick) input here please: we have seen that the new netCDF4=1.6.1 is causing frequent segfaults in our CI tests, and we have pinned it to <1.6.1 to brush the problem under the carpet for us. However, the good folk at Unidata/netCDF4 are scratching their heads and are wondering what the heck's going on, let's try and help them figu

[2022-09-20 20:15] bouweandela commented on #1727
Have you tried removing the cache to simplify the problem even further?

[2022-09-21 10:19] valeriupredoi commented on #1727
indeed one thing I will test with in the next hour, bud! :beer:

[2022-09-21 15:00] valeriupredoi commented on #1727
OK so I've done some serious testing with the cache test and without (simply reading files off disk):

### cached case
7% fail rate:
- 5% HDF crappe
  - always at second cube: saved it and accessed `c.data` on it 100 times - no issue
- 2% SegFaults

### regular read off disk
no issues: 100% pass rate

So it is pretty clear that whatever happens when the cached sample data is read is the thing that

[2022-09-22 07:14] bouweandela commented on #1727
Does the problem persist if you clear the cache before testing?

[2022-09-22 07:16] bouweandela commented on #1727
https://docs.esmvaltool.org/projects/esmvalcore/en/latest/contributing.html#sample-data

[2022-09-22 07:18] bouweandela commented on #1727
If it goes away, we either need to add the netcdf and hdf5 library versions to the cache key, it get rid of pickle altogether and create the cache using e.g. iris.

[2022-09-22 11:06] valeriupredoi opened #1729 "Add relevant and parsable `--help` messages to sub-commands"
This goes hand in hand with the issue that command line args are not checked and are ingested with silent defaulting - this one is about sub-commands like e.g. `esmvaltool data format`:
[code]

I reckon we should pipe relevant `--help` on-screen messages if one tries `esmvaltool data --help` or `esmvaltool data format --help` etc. just as we have for `esmvaltool run --help`.

[2022-09-22 11:22] valeriupredoi commented on #1727
@bouweandela cache clearing doesn't work for this test - it deletes the cache so the test fails since there is no data to run the test, I don't want to reconstruct the data while I am doing this because that is simply adding time to the test runs ie it fails once, then one needs to run the test without cache clearing, so we are in the same boat and we're just wasting time:
[code]

[2022-09-22 12:01] valeriupredoi commented on #1727
OK running `pytest --clear-cache` once (running through the entire test suite, accounting for the failed test as above, all else passing) then running 100 instances of `pytest -n 2 test_io_netcdf_2.py` where that script is the one below (to have only the cached stuffs that fail) results in no issues at all! Good idea to test the cache clearing @bouweandela :beer:

[code]

this same test was used h

[2022-09-22 12:22] valeriupredoi commented on #1727
OK I ran another set of 100 of those tests, just to be sure - bulletproof! No more issues after clearing the cache once

[2022-09-22 12:39] valeriupredoi commented on #1727
also let's keep an eye on the (hourly) tests this https://github.com/ESMValGroup/ESMValCore/pull/1730 is running just to be sure the only problematic 1.6.1-related failure is the cache test one

[2022-09-22 13:37] bouweandela commented on #1727
Remember #1058?

[2022-09-22 14:39] bouweandela commented on #1727
The cause is in the pickling. Pickling means that you save an instance of a class to a file, without the actual code that defines the class. If you then unpickle that instance using a different implementation of the class (e.g. with a newer library), chances are that things will go wrong.

[2022-09-23 09:39] bouweandela commented on #1727
Now I'm confused, I thought you said clearing the cache once solved the issue? https://github.com/ESMValGroup/ESMValCore/issues/1727#issuecomment-1254947599

[2022-09-28 12:01] egalytska opened #1731 "Dataset problem: siconc variable in EC-Earth3-Veg and EC-Earth3-Veg-LR models"
**Describe the dataset issue**
A clear and concise description of what the problem with the data is is. Here are some guidelines that you can use
right out the box by filling in the blanks (note that, if needed we will assist you with writing a fix; also note that
if the problem is with a CMIP6 dataset, we will alert the ESGF and/or the model developers for them to fix the problem
in the long run;

[2022-09-28 13:35] lukruh opened #1732 "Dataset problem: incorrect depths in ACCESS-CM2 and ACCESS-ESM1-5"
**Describe the dataset issue**

For both ACCESS datasets the scalar coord `depth` is set to ~0.01m with bounds [0, ~0.02] in the surface soil moisture (mrsos). However, the [variable description](https://clipc-services.ceda.ac.uk/dreq/u/40c091a01dc9db6d6d5901528c375ab3.html) states that the layer thickness is 10cm. Several other CMIP6 models I checked, use the cmor standard depth bounds [0, 0.1] m

[2022-09-28 14:45] mo-tgeddes opened #1733 "Update MO obs4MIPs paths in the user configuration file"
The Met Office site specific obs4MIPs paths in the user config file need updated.

[2022-09-29 15:31] sloosvel commented on #1693
Thanks for the feedback @dhohn !

Regarding making the branch work with models that have `siconca`, I think I can make the code look for both `siconc` and `siconca`. The tests I have done are with a model that outputs `siconc` in `gn` and `siconca` in `gr` and it seems to work fine.

However, do you know if models can output both variables at the same time with the same grid label? Because I think

[2022-09-29 15:35] valeriupredoi commented on #1727
yes, citing myself (yay for modesty!)

but that doesn't physically delete the files:
[code]

(note that me comment and testing was done on Sep 22nd). Frankly, I don't know what that removed - the pytest_cache dir locally?

[2022-09-29 18:19] bouweandela commented on #1727
You can look at the cache content as explained here: https://docs.pytest.org/en/7.1.x/how-to/cache.html#inspecting-cache-content

Note that the problem appears to be with [pickle](https://docs.python.org/3/library/pickle.html)d iris cubes, not with netcdf files.

[2022-09-30 09:22] dhohn commented on #1693
Yes. I saw e.g. ACCESS-ESM1-5 in the 1pctCO2 publishing both. I also tried to modify the required variables in the DerivedVariable. Indeed it gives an error because both are found!

That would work, but it would be much more convenient to have everything under siextent. Is there some precedent for this?

[2022-09-30 11:50] valeriupredoi opened #1735 "Issue connecting to the esgf server on/from JASMIN"
@ledm has reported this to me just now (I currently can't connect to JASMIN at all - not coz the cluster is down, just user-related issues with my cert) so I can't test, can any of the JASMIN-enabled peeps from @ESMValGroup/technical-lead-development-team try this and see what they get please? :beer: Message from Lee:

So, I upgraded esmvalcore main to the most recent code.
Created a new fresh env

[2022-09-30 11:56] valeriupredoi commented on #1727
for us - yes, but for the whole netCDF4 1.6.1 seems to be a bit more of a generalized problem, iris guys reporting SegFaults when no gerkhining is done :cucumber: What do you recommend doing @bouweandela ?

[2022-09-30 12:10] bouweandela commented on #1735
Looks like something wrong with the hostname, can you try:
[code]
instead? I think this is only required if you want to download CORDEX data. All the other data can be downloaded without logging in, as far as I'm aware.

[2022-09-30 12:12] bouweandela commented on #1735
Note that hosname of the search service is not necessarily the same as the hostname of the authentication service (it differs for CEDA).

[2022-09-30 12:15] bouweandela commented on #1727
I recommend adding the version of the netcdf4 library to the cache key, see if that solves the problem for us. If not, we take it from there.

[2022-09-30 12:19] valeriupredoi commented on #1735
cheers @bouweandela - that's what I thought too, regular data needs no actual authentication :+1:

[2022-09-30 12:20] valeriupredoi commented on #1727
plan! Let me do that now..

[2022-09-30 13:09] ledm commented on #1735
Hi both, thanks for the quick replies about this. Hoping it's an easy fix.

[code]
This did not solve the problem. I struggled to figure out the correct address for CEDA and I've tried several. The error message output is:

[code]

This breaks for me on jasmin for every recipe with `offline false`, not just those that that request unusual data. It also breaks for recipes where the data already exi

[2022-09-30 14:02] bouweandela commented on #1735
If you enter the url of your esgf openid in your browser, it will show you the correct url.

Apart from that, you can just remove the file ~/.esmvaltool/esgf-pyclient.yml if you do not want to log in.

[2022-09-30 14:23] ledm commented on #1735
Okay, that's going to be my solution: delete the esgf file. It seems to works now.

[2022-09-30 14:29] #1735 closed

[2022-09-30 14:31] ledm commented on #1735
Let's call this sovled, but I suspect the underlying issue may arise again. Probably not ESMValTool's fault, but a possible slight improvement in documentation would be to add instructions on where to find the `hostname` details for `.esmvaltool/esgf-pyclient.yml`.

[2022-09-30 14:35] ledm opened #1737 "Weird paths in ESMValTool prevent me to cloning entire repository."
So, as @valeriupredoi pointed out pretty quickly, windows is not supported. However, sometimes I develop code on my home windows machine, even though I would never run there. Sometiomes, it's useful for developping without using a terminal or if I know I won't have access to ssh (planned internet downtime or similar).

There are a few paths that were recently added to the documentation that are no

[2022-09-30 14:48] #1733 closed

[2022-09-30 15:29] valeriupredoi opened #1738 "Ordering issues labelled `Feature: ESMVlTool` from iris"
Issues listed here https://github.com/SciTools/iris/labels/Feature%3A%20ESMValTool and that we should discuss at the joint iris-ESMValTool meeting on October 17, ordered by the number of thumbs-up/rockets/hearts etc **by the ESMValTool developers only**

@ESMValGroup/technical-lead-development-team

- https://github.com/SciTools/iris/issues/4190 6
- https://github.com/SciTools/iris/issues/4039 6
-

[2022-09-30 15:44] ledm commented on #1737
Apologies, this should be an ESMValTool issue, not ESMValCore.

[2022-10-03 08:21] sloosvel commented on #1693
I don't think so. In any case, maybe it's enough setting both sic and siconca as optional variables. If both are found, the derivation script should only use sic. If none are found, the missing variable error would appear later during the derivation, but I think it's the easiest way to make this case work.

[2022-10-03 10:35] valeriupredoi commented on #1738
@bouweandela did you just perform a null op on the title? :rofl:

[2022-10-03 10:45] valeriupredoi commented on #1727
OK @bouweandela I have added the key this way:

[code]

and ran 100 tests without regenerating the sample data files -> got about 20% of them poop the bed with SegFaults. Then I recreated the sample data with the current env that contains netcdf4=1.6.1 and am running again the 100 MM tests, aaand, against all odds and the King's horse, I still see SegFaults - it's really the new netcdf4 that is be

[2022-10-03 11:06] valeriupredoi commented on #1727
OK finished the run - 23% SegFaulted tests - not a joke

[2022-10-03 11:35] valeriupredoi opened #1740 "Release v2.7.0 code freeze and Highlights"
@ESMValGroup/esmvaltool-developmentteam heads up the Core release v2.7.0 code freeze is happening today, and I need to ask you for two things (do either or both, please, but I need some input for the second point):

- if you have a **very strong** intention to have any of your Pull Requests merged and featured in 2.7 please let me know today - and I need that PR to be shipshape - reviewed and appr

[2022-10-03 11:42] valeriupredoi commented on #1740
@valeriupredoi chosen highlight https://github.com/ESMValGroup/ESMValCore/pull/1702

[2022-10-03 11:48] valeriupredoi commented on #333
sorry, no way this can be sorted out for M2.7 :cry:

[2022-10-03 11:50] valeriupredoi commented on #1541
the DPR associated with this got bumped to M2.8 so am bumping its issue as well, boos all over (directed to me)

[2022-10-03 14:12] #1688 closed

[2022-10-03 18:51] malininae commented on #1731
I think I also had that issue with these models, but concatenating historical and ssp245.

[2022-10-04 09:39] schlunma commented on #1740
I couldn't find another highlight, so also voting for #1702 :smile:

[2022-10-04 10:05] egalytska commented on #1731
Hi Lisa. The same (siconc) or other variables as well?

[2022-10-04 10:18] remi-kazeroni commented on #1740
In case we could have more than one highlight in the Highlights section of the Changelog, I'd propose #1678

[2022-10-04 10:53] valeriupredoi commented on #1740
cheers, guys! Yes, I was planning on 2-3 highlights, depending what we consider worth a highlight (ie not gonna add the bot's conda-lock PR as highlight obviously, even though we should probably start making friends with the bots, Skynet may be upon us soon :grin: )

[2022-10-04 12:36] bettina-gier commented on #1740
Yeah seems quite bare in terms of new features or notable fixes, think unless anything else comes in the two you guys proposed are probs best.

[2022-10-04 12:48] valeriupredoi commented on #1740
Tina, low chances anything extraordinaire will pop up, I already froze the thing :grin:

[2022-10-04 12:49] valeriupredoi commented on #1740
PS - pro tip - if you want to be the release manager and not work your butt off (like poor @sloosvel had to), be an RM for the October release, after dead months like July and August :grin:

[2022-10-04 14:27] dhohn commented on #1693
I tried that. It doesn't work when both are present because they have the same standard_name and you get 2 cubes in the `extract_cube`.

[2022-10-04 15:09] sloosvel commented on #1693
Yes, but they can be extracted using the `var_name`, which is different. I updated the branch and did some tests and it seemed to work.

[2022-10-04 15:13] dhohn commented on #1693
Ah of course. Nice and pragmatic :)

[2022-10-04 19:10] bouweandela commented on #1738
If you look carefully, you'll see that I did add something 👀

[2022-10-05 00:51] malininae commented on #1731
So far I got issues with `siconc` in `SImon`. Otherwise I use `tasmax` and `pr` in `day` and at least `EC-Earth3-Veg` `r1i1p1f1` seemed to work. I'd need to look at `EC-Earth3-Veg-LR`

[2022-10-05 13:06] valeriupredoi opened #1743 "Check for scalar cubes in time operations and improve error handling/messaging in light of #1713"
Leftover from #1713 as nicely asked by @schlunma in eg https://github.com/ESMValGroup/ESMValCore/pull/1713#discussion_r967121094 - the hurryup was from the release king (me) to get the beautiful speedup in main before rc1 gets rolled out

[2022-10-05 15:13] valeriupredoi opened #1747 "Tests failing for Python<3.10 - error stemming from PR 1713"
@bouweandela please see [fails](https://github.com/ESMValGroup/ESMValCore/actions/runs/3189986408/jobs/5204475390) - could you plese fix this asap, bud? I always turn on GA tests on feature branches to catch exactly these sort of issues (and yes, I should have turned them on in yer branch before merging #1713 but heyho). @schlunma if you are around before Bouwe sees this and know a qwikfix, then p

[2022-10-05 15:36] schlunma commented on #1747
Yeah, I think this should be simple, let me open a fix for that

[2022-10-05 15:39] valeriupredoi commented on #1747
absolute legend, Manu :medal_military:

[2022-10-05 16:31] #1747 closed

[2022-10-06 07:43] bouweandela commented on #1747
Sorry about the mess, thanks guys!

[2022-10-07 00:15] malininae opened #1752 "Sea ice area derivation"
Hello dear ESMValTool friends,

I am slowly starting to think of merging my IPCC diagnostics into the `main`. It's a long process, but I was wondering if community would be interested in a sea ice area derivation in the preprocessor? I'd have to think how to do it properly (now it's done quite amateurly within diagnostic), but if it's a desirable feature, I could try to make it work for the next r

[2022-10-07 06:54] dhohn commented on #1752
Hi @malininae ,

Its definitely desirable. So much so that @sloosvel also [brought it up a few weeks ago](https://github.com/ESMValGroup/ESMValCore/issues/1693) and has a draft [PR](https://github.com/ESMValGroup/ESMValCore/pull/1695) :)

Cheers,
David

[2022-10-07 10:14] bouweandela commented on #1740
Instead of the single pull request https://github.com/ESMValGroup/ESMValCore/pull/1678, we could maybe highlight the improved support for native models? By the looks of it, this was very nicely done in a series of pull requests: #1678, #1694, #1705, #1718.

[2022-10-07 18:21] malininae commented on #1752
Hi @dhohn,

Thanks, I've seen the PR for the sea ice extent, that was exactly that brought me to the thought :-) Sea ice area is slightly different. To obtain extent, one takes into account the cells that have `siconc` > 15% and one calculates the area of the whole cell, once 15% threshold is passed. For the sea ice area though, one multiplies `siconc` by the area of the cell. Some papers suggest

[2022-10-10 13:47] bjlittle commented on #1738
@bouweandela @valeriupredoi @zklaus @schlunma

I've created a GH Project for the forthcoming [🌍 ESMValTool Workshop](https://github.com/orgs/SciTools/projects/9/views/1).

I've used this ticket (#1738) to seed the GH Project with the issues that we all may want to talk about or perhaps work on / move forward over the week.

I've also categorised these issues into their associated **priorities**, w

[2022-10-10 20:37] bjlittle commented on #1738
Ping @ESMValGroup/technical-lead-development-team

[2022-10-11 16:28] valeriupredoi commented on #1738
looking good @bjlittle cheers muchly! - not sure what a kanban is (sounds like a type of Japanese fighter plane from WW2) but I'll go with it :grin:

[2022-10-11 16:29] valeriupredoi commented on #1738
what - you don't like our blosc-compressed package name: `ESMVlTl` :rofl:

[2022-10-12 15:16] tomaslovato commented on #1606
@zklaus I'm not sure if this issue was somehow solved in the new RC, I'll try in the coming days to rerun the test once that v2.7,0 is marked as stable.

[2022-10-12 15:19] tomaslovato commented on #459
@valeriupredoi is this 2020 cleaning activity still a valid issue?

[2022-10-13 08:27] schlunma commented on #1738
@bjlittle One issue which I'm missung on the board is https://github.com/SciTools-incubator/iris-esmf-regrid/issues/192. Would it be also possible to add this (with a rather high priority😄)?

I'm not fully sure if this is somehow incorporated in https://github.com/SciTools/iris/issues/4754 (which is already on the board), so please ignore this comment if it is. In this case it would be great if yo

[2022-10-13 10:15] tomaslovato commented on #1606
I run again the proposed test recipe [test_time_mm.yml](https://github.com/ESMValGroup/ESMValCore/files/8796717/test_time_mm.yml.txt) with today's `main` code repos (```ESMValCore: 2.7.0rc3.dev4+g9dec201c6,  ESMValTool: 2.6.1.dev35+g221e222ce ```) and the error is still there.

I applied the previously suggested changes and the recipe runs fine.

[2022-10-13 12:25] valeriupredoi commented on #1740
OK guys we have us a v2.7.0 release, currently just on PyPi https://pypi.org/project/ESMValCore/ - all Circle, readthedocs and GA tests passed fine, currently waiting on the DockerHub to build us the new release. For the record, we have tested (most all) Tool recipes with the RC2 of this stable release here https://github.com/ESMValGroup/ESMValTool/issues/2833 - I will update you once we have it a

[2022-10-13 12:32] valeriupredoi commented on #1740
OK update: Docker builds :green_circle: - episode 2 is Operation Conda Forge, this stuff's better than Netflix :laughing:

[2022-10-13 15:59] valeriupredoi commented on #1740
OK guys, ta to @zklaus who pointed me to here https://gitter.im/conda-forge/conda-forge.github.io where I found out the regro bot is sick, but currently being tendered for so one of the guys fixing it recommended I should wait until tomorrow, and (hopefully) it'll be back to functional and pick up our 2.7.0 PR :+1:

[2022-10-13 18:37] valeriupredoi commented on #1740
bot was nice enough to come back to life so we have us a release PR that just got merged, yay https://github.com/conda-forge/esmvalcore-feedstock/pull/50

[2022-10-13 18:37] #1740 closed

[2022-10-13 18:39] valeriupredoi commented on #1665
OK I completely forgot about this - guess it's the next RM that'll test it :rofl:

[2022-10-18 14:11] valeriupredoi opened #1758 "Anaconda server badge not found anymore (in README)"
Sister issue from Tool https://github.com/ESMValGroup/ESMValTool/issues/2865 - blithering badge is no more, shall we use another readily available Anaconda badge?

[2022-10-19 12:49] bouweandela opened #1760 "Add an `esmvaltool recipes expand` command to expand wildcards in the recipe (once we support them better)"
Add an `esmvaltool recipes expand` command to expand wildcards in the recipe (once support them better), without actually running the recipe.

[2022-10-19 13:42] #1758 closed

[2022-10-20 12:58] sloosvel opened #1764 "Dataset problem: CORDEX metadata issues"
**Describe the dataset issue**
While @zklaus works on fixing grid issues with CORDEX datasets, there is also the need to add fixes for metadata issues or time coordinate issues in CORDEX datasets.

I will open a PR with the fixes that we noticed are needed so far.

FYI @pepcos @nhsavage

**Assign the right people**
If you are already a member of the ESMValTool GitHub project, please assign Valeriu

[2022-10-20 13:19] nhsavage opened #1766 "Improve instructions on ESGF credentials"
**Is your feature request related to a problem? Please describe.**
When using data from ESGF the instructions on how to set up credentials in esmvalcore/_config/_esgf_pyclient.py could be clearer.

specifically:
 * make it clear that the keyring will probably only work on desktop systems and not clusters and why
 * make it easier to work out what hostname is

**Would you be able to help out?**
Yes

[2022-10-20 14:34] bouweandela opened #1767 "Add a configuration setting that turns deprecation warnings into errors"
To facilitate automated testing of deprecated feature usage in ESMValTool recipes

[2022-10-20 15:09] valeriupredoi commented on #1727
OK guys, couple updates here:
- some workaround suggested upstream at the [closed issue](https://github.com/conda-forge/netcdf4-feedstock/issues/141#issuecomment-1267406886)
- iris folk are investigating ways to go around this proper, not a workaround or pin https://github.com/SciTools/iris/issues/5016#issuecomment-1285692857
- we should keep eyes peeled because pinning the package is not a long t

[2022-10-25 18:00] malininae commented on #1752
Hi @sloosvel, thanks for letting me know! I will try to look at it some time soon. If I understand correctly, `area_statistics` let's say with `mean` operator, will provide the area weighted mean of `siconc`, but in the units of `siconc`. So, if we had three cells with 95%, 99%, 97% values, the resulting value will be around 96-97% depending on the cell's area. Sea ice area in contrary needs to be

[2022-10-26 07:19] egalytska commented on #1731
@remi-kazeroni and @bsolino, I have the fixes for this issue. I can open a pull request, right?

[2022-10-28 10:25] bouweandela opened #1773 "Version number on `main` branch is stuck at v2.7.0rc3"
The version number on the `main` branch appears to be stuck on v2.7.0rc3 instead of v2.7.0:
[code]

I'm not sure I quite understand how the release happened, but I suspect that this happened because the release was made off of another branch than `main`. That branch was subsequently merged into `main` in #1756, but because it was squash merged `main` still does not contain the same commits as the

[2022-10-28 10:35] bouweandela commented on #129
I'll try to fix this for v2.8.

[2022-10-28 10:49] valeriupredoi commented on #1773
there was no `rc3` so this is even weirder

[2022-10-28 11:19] valeriupredoi commented on #1773
@bouweandela do you think a merge of the release branch into `main` (direct, no PR hence no squash) would fix that?

[2022-10-28 12:08] sloosvel commented on #1752
Oh ok, I have never worked with that variable. Then I guess you would need a derive script that requires both siconc and areacello? Or, if multiplying by area is something that is done for other variables as well, maybe we could just have a new preproc  to do that.

[2022-10-28 14:52] bouweandela commented on #1773
Yes

[2022-10-28 14:53] bouweandela commented on #1773
Or a pull request which is not squash merged but merged normally, that would be even better because more clear to everyone.

[2022-10-28 15:31] sloosvel opened #1774 "Missing datasets in Levante for recipe_climate_change_hotspot"
The recipe continuously fails in Levante due to missing data, in Jasmin it runs fine.

@jcos I guess we will have to remove a bunch of datasets, I don't think it's an optimal solution though.

[2022-10-28 17:33] valeriupredoi opened #1776 "Python=3.11 is now out and about"
so we should test and include it in our envs :snake:

[2022-10-28 18:33] malininae commented on #1752
@sloosvel correct, for now, I've done it in the diagnostic. However, my thought was, since there is sea ice extent derivation in the preprocessor, there might as well be sea ice area. I'm ok writing the preprocessor function, but I wanted to know if people are interested at all, not that I will write a function for myself. I think it might be useful, in particular for AR7, because for our chapter

[2022-10-31 17:00] #1773 closed

[2022-11-01 09:07] bouweandela opened #1779 "When using multiple experiments for a single dataset (e.g., `exp: [historical, ssp585]`), the resulting attributes in the cubes can change from run to run, depending on the order in which the files have been read."
When using multiple experiments for a single dataset (e.g., `exp: [historical, ssp585]`), the resulting attributes in the cubes can change from run to run, depending on the order in which the files have been read.

Example:

[code]

vs.

[code]

Relevant code: https://github.com/ESMValGroup/ESMValCore/blob/354ee551db9bde9c5fe202f72d26388cd950dc98/esmvalcore/preprocessor/_io.py#L228

_Originally po

[2022-11-01 12:44] valeriupredoi opened #1780 "Doc build failing"
[fail](https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/7739/workflows/c9adb4a3-d511-4fd7-a0df-de1c2529d09d/jobs/35598) - am very bemused, since that scipy inv file exists - I don't really understand what the problem is, @bouweandela any clue? :beer: Seems Nov 1st is the day of the dead docs :skull:

[2022-11-01 13:04] zklaus commented on #1780
It seems docs.scipy.org really was down for some time. This problem is solved now and the builds are fine again.

[2022-11-01 13:04] #1780 closed

[2022-11-01 14:29] valeriupredoi commented on #1780
thanks @zklaus :beer:

[2022-11-02 16:37] valeriupredoi commented on #1776
also as @zklaus mentions in the Discussion point, we should wait a bit until most all our deps have started supporting it :+1:

[2022-11-03 08:06] #1693 closed

[2022-11-04 00:05] npgillett opened #1782 "Problem reading files with start year 0001 and calendar 'noleap'"
When I try to read in data from files with start date '0001' and calendar 'noleap', some of the years are not read in. If I request years from 1 to 150, I get a file with only 104 years in it. esmvalcore does not give an error message, but it returns a file with the wrong number of years. The input NetCDF files contain data for all the years requested.

This applies for example to all the abrupt 4

[2022-11-04 07:55] schlunma commented on #1782
Hi @npgillett, YAML [treats numbers starting with a `0` as octal numbers](https://docs.esmvaltool.org/projects/ESMValCore/en/latest/recipe/overview.html#recipe-section-datasets). Try using `150` instead of `0150` in your recipe (and similar for all other numbers), this should do the trick!

[2022-11-04 08:00] schlunma commented on #1779
Looking into this right now

[2022-11-04 19:03] npgillett commented on #1782
Thanks very much! Yes, omitting the leading zeroes in the years fixed the problem..

[2022-11-04 20:03] #1782 closed

[2022-11-07 09:26] bouweandela commented on #1766
@nhsavage You mentioned at the workshop that you were having some issues getting login to work. Did you manage in the end?

[2022-11-07 09:29] bouweandela commented on #76
This has been implemented some time ago, it can be done using [`timerange`](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/recipe/overview.html#recipe-section-datasets).

[2022-11-07 09:29] #76 closed

[2022-11-07 09:29] #135 closed

[2022-11-07 09:30] bouweandela commented on #133
A html report is generated since #991 was merged.

[2022-11-07 09:30] #133 closed

[2022-11-07 09:31] #131 closed

[2022-11-07 09:32] #55 closed

[2022-11-07 09:35] #125 closed

[2022-11-07 09:36] nhsavage commented on #1766
I did get it work, but only by using a different login - something seems wrong with my CEDA login even just dropping down to the pyesgf module at the command line I couldn't authenticate but this seems to be specific to me (other people can).

[2022-11-07 09:41] #138 closed

[2022-11-07 09:46] bouweandela commented on #513
We now have the policy that we do not support data that is not publicly available: https://docs.esmvaltool.org/en/latest/community/broken_recipe_policy.html. This means that fixes etc for data that is no longer available can be removed. Data that has been 'retracted', but is still available for download, should remain supported.

[2022-11-07 09:54] bouweandela commented on #517
We are now using the latest release of the CMOR tables (6.9.33),

[2022-11-07 09:54] #517 closed

[2022-11-07 09:56] bouweandela commented on #445
@ledm Is there anything left to do here? I think these issues have been resolved some time ago.

[2022-11-07 09:59] bouweandela commented on #794
obs4MIPs is now listed in the example file.

[2022-11-07 09:59] #794 closed

[2022-11-07 10:01] #710 closed

[2022-11-07 10:02] #884 closed

[2022-11-07 10:03] #866 closed

[2022-11-07 10:09] #967 closed

[2022-11-07 10:14] bouweandela commented on #1193
@fnattino Could you also try if this is solved now? Possibly with #1714?

[2022-11-07 10:21] dhohn commented on #1766
Could be a particular character in your password. I had that here too: https://github.com/Prodiguer/synda/issues/197

[2022-11-07 10:29] nhsavage commented on #1766
I have checked that and it's not that (was suggested by CEDA support)

[2022-11-07 12:40] valeriupredoi commented on #1776
a bit of a roadblock - for now `iris` will be pinned against python<3.11 because of the netCDF4=1.6.1 festering sore https://github.com/conda-forge/iris-feedstock/pull/86#issuecomment-1305498783

[2022-11-09 09:11] zklaus commented on #1585
In an email exchange, a similar issue surfaced. @ledm, you mentioned a PR, but none exists so far, right?

[2022-11-09 09:15] sloosvel opened #1785 "Using relative time periods in timerange loads extra files if the files only contain one timestep"
**Describe the bug**
There are people trying to work with a single file that only contains one timestep:

`File_200201-200201`

Setting the timerange to relative periods (`timerange: 202201/P1M) looks for files with dates 202201 and 202202, even though eventually the clipping is done correctly and the resulting loaded cube only has one timestep. However this can make the tool crash looking for fil

[2022-11-10 08:30] fnattino commented on #1193
Hey @bouweandela, I have run the recipe above with 4 cores and 8GB memory using  #1714 and it completes without errors!

[2022-11-10 10:01] zklaus commented on #1193
That's great to hear. Note that there have been recent, massive improvements in dask/distributed on these things. C.f., e.g., dask/distributed#7128 and related issues and PRs in the dask and distributed changelog.

When we get serious about it, I would suggest to pin at least `dask >=2022.10.0` (which will also pin distributed correspondingly).

[2022-11-10 14:39] valeriupredoi opened #1788 "Tests failing left, right, and centre on Circle and Github Actions"
The new pytest-mypy is causing phenomenal test fails - frankly I've no idea why, I can't understand the standards complaints, if anyone more literate in PEP can, please explain @ESMValGroup/technical-lead-development-team - this PR https://github.com/ESMValGroup/ESMValCore/pull/1787 uses the pin on pytest-mypy (at 0.10.0, 0.10.1 is causing the whole hubbub)

[2022-11-10 15:23] schlunma commented on #1788
Some of this is changed in https://github.com/ESMValGroup/ESMValCore/pull/1769.

I think we should pin `mypy` now, then merge https://github.com/ESMValGroup/ESMValCore/pull/1769, and then fix the remaining issues. They should be fairly simply to solve.

[2022-11-10 15:27] valeriupredoi commented on #1788
d3eal, lemme RfR that PR, add a bit of description, then call you up for review :+1:

[2022-11-10 16:47] valeriupredoi opened #1789 "Remove mypy run implicit option temporarily implemented in PR 1790 after PR 1769 gets merged"
mypy command line opts put in in #1790 but after #1769 gets merged it needs to be removed :whale:

[2022-11-11 07:55] sloosvel commented on #1785
Nevermind, we found a workaround for this.

[2022-11-11 07:55] #1785 closed

[2022-11-11 15:09] valeriupredoi commented on #1789
we are not going the pin way, instead we are setting some command args to mypy in #1790

[2022-11-11 15:14] schlunma commented on #1789
But I think we still should remove the option `implicit_optional` again after #1769.

[2022-11-11 15:30] valeriupredoi commented on #1789
indeed, good point, Manu! I renamed/redescribed and reopned, I hope I don't get rebuffed :laughing:

[2022-11-11 16:44] #1788 closed

[2022-11-14 09:50] nhsavage commented on #1766
thanks for the offer but I've concluded it's not worth chasing as it seems to be a very minor edge case

[2022-11-14 12:46] #1568 closed

[2022-11-14 12:46] #1579 closed

[2022-11-14 13:56] sloosvel opened #1792 "Preprocessor to rotate vector fields to lat/lon directions"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to rotate vector variables (such as uo and vo) to the regular grid directions. There is this [iris](https://scitools-iris.readthedocs.io/en/latest/generated/api/iris/analysis/cartography.html?highlight=iris.analysis.cartography#iris.analysis.cartography.rotate_grid_vectors) routine that could do the jo

[2022-11-14 14:16] valeriupredoi opened #1793 "Issues from PR 1769 for older Pythons and OSX"
We get a number of fails for tests other than Python=3.10 and/or Linux64 https://github.com/ESMValGroup/ESMValCore/actions/runs/3461961077 - @bouweandela could you have a looksee please

- Python 3.8 Linux64 typing error (fixed in https://github.com/ESMValGroup/ESMValCore/pull/1795)
- OSX (and Linux64) - seems to be random - sample data missing when it's cloudy outside (fixed in https://github.com

[2022-11-14 14:57] sloosvel opened #1794 "Installing `iris-esmf-regrid` as a dependency"
**Is your feature request related to a problem? Please describe.**
As mentioned in https://github.com/ESMValGroup/Community/discussions/56#discussioncomment-3981066 , `iris-esmf-regrid` should be added as a dependency in ESMValCore in order to ease its installation process.

For the moment it would be best to keep both the "regular" regridding and the iris-esmf ones, as even though iris-esmf perfo

[2022-11-14 16:29] bouweandela opened #1796 "ESMPy API change in v8.4.0"
Note that starting with ESMF 8.4.0, ESMPy should be imported with `import esmpy` instead of `import ESMF`. See the release notes: https://earthsystemmodeling.org/static/releases.html

[2022-11-15 07:54] bouweandela commented on #1793
I'm not sure what's causing the problem with the sample data not being found occasionally. Maybe it's some race condition with the configuration since multiple tests might be modifying it in parallel..

[2022-11-15 11:40] bouweandela opened #1800 "Proposal to deprecate the `callback` argument from `esmvalcore.preprocessor.load` in v2.8 and remove it in v2.10."
I would like to deprecate the `callback` argument from the [`esmvalcore.preprocessor.load`](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/api/esmvalcore.preprocessor.html#esmvalcore.preprocessor.load) function because it

1) does not seem likely that anyone uses this as it cannot be meaningfully set from the recipe
2) prevents implementation of a simple `Dataset.load` function in #1609

[2022-11-15 11:50] #1793 closed

[2022-11-15 12:14] sloosvel commented on #1794
I think it would be good to take care of #1542 before adding new dependencies though. @ESMValGroup/esmvaltool-coreteam If no one is working on that already I can give it a try as well, it was already done for the tool

[2022-11-15 12:16] schlunma commented on #1794
I think V is already taking care of that in #1786 :+1:

[2022-11-15 12:17] sloosvel commented on #1794
Ah right sorry, I got lost in all the issues :sweat_smile:

[2022-11-15 13:19] schlunma commented on #1800
Sounds good to me!

[2022-11-15 17:15] valeriupredoi commented on #1800
can we maybe convert it to a different load engine eg an xarray dataset or a GRIB file? I am starting to think how to support other formats, like GRIB

[2022-11-16 09:50] zklaus commented on #1800
Iris supports Grib perfectly fine; no change needed.

I am ok with removing the callback as-is. Mid- to long-term, we might want to use the (extended?) Iris callback functionality for some of the fixing. That should help avoid most `fix_file` fixes.

[2022-11-16 13:39] #1541 closed

[2022-11-17 09:15] schlunma opened #1802 "Remove special code for unstructured nearest regridder as bug in iris has been fixed"
In iris v3.4, a bug will be fixed that lead to wrong masks and `dtype` of data regridded with our `unstructured_nearest` regridder (https://github.com/SciTools/iris/issues/4463). For this reason, special code that has been added to account for this bug can be removed:

https://github.com/ESMValGroup/ESMValCore/blob/89fbe934ff96b446eca8a4f33bafa2a7f614cc0d/esmvalcore/preprocessor/_regrid.py#L617-L6

[2022-11-17 10:12] sloosvel commented on #1794
Regarding the tests, there are some differences between the usual regridding and the iris-esmf one. The current area_weighted scheme, tested as:

[code]

Returns an array of (3,), whereas the same call with iris-esmf returns an array of (3, 1, 1). Is that a big deal? It would be no problem to squeeze the cube if so.

Also the call to `esmf_regrid.schemes.regrid_rectilinear_to_rectilinear` is faili

[2022-11-17 11:09] schlunma commented on #1794
I think `(3, 1, 1)` is the "more" correct shape since the grid is a `(1, 1)` cube, so I guess this is fine. I don't think the old regridding schemes should drop the dimensions here.

[2022-11-17 12:30] remi-kazeroni commented on #1731
From what I could see, this problem only affects the `siconc` variable among commonly used variables.

[2022-11-17 14:10] valeriupredoi commented on #1794
that's done now, guys :ok:

[2022-11-17 14:56] valeriupredoi commented on #644
closing this since we've not seen these in a while (well, apart from when netcdf4 is at 1.6.1 but that's a different kettle of fish :fish: )

[2022-11-17 15:50] bouweandela commented on #644
Does that mean we can stop running some tests sequentially now @valeriupredoi?

[2022-11-17 16:42] valeriupredoi opened #1804 "Generalized mas: apply a mask built from a dataset to all other datasets"
Hi @alistairsellar @eleanorgb @ehogan - this is a follow-up to our discussion we had at the MO during the ESMValTool workshop (my apologies for the slightly tardy time to open this, been busy with the release that is now done).

Let me try and recap in broad lines what the requirements of the functionality are, but by all means, please add to this in here so we can get the full specifications toge

[2022-11-17 16:46] valeriupredoi commented on #644
ooohhh ahhh I would be too chicken to do that now :chicken: Can try with a PR that we let marinate for a bit longer to see if we get any SegFaults?

[2022-11-17 18:42] schlunma commented on #644
You shouldn't have closed this :joy:

The recent test run on CircleCI: https://app.circleci.com/pipelines/github/ESMValGroup/ESMValCore/7862/workflows/ceea1cc3-e590-40d5-8402-5b3e5879679f/jobs/36002

[code]

[2022-11-17 18:57] valeriupredoi commented on #644
Manu, that's netCDF4=1.6.2, also reported by @remi-kazeroni in Tool, we need to pin from !=1.6.1 to restrictive <1.6.1, and that's iris' handling (or mis-handling) of threaded netCDF4 with Dask, for which we have https://github.com/ESMValGroup/ESMValCore/issues/1727 and https://github.com/ESMValGroup/ESMValTool/issues/2907 which I will edit to warn users not to use any netCDF4>1.6.0. Iris are deba

[2022-11-17 18:57] #644 closed

[2022-11-17 21:00] bouweandela commented on #644
That would be great, it would really speed up the test runs if we can avoid running some tests sequencer.

[2022-11-18 08:09] axel-lauer opened #1806 "Variable derivation for ERA5 on-the-fly CMORizer"
I ran into the problem of not being able to figure out how to derive variables (using more than 1 input variable) with the ERA5 on-the-fly CMORizer. In this concrete case, I would like to calculate the CMOR variable rsut (TOA Outgoing Shortwave Radiation), which is not readily available from ERA5. rsut needs to be calculated from the available ERA5 variables as

rsut = era5_toa_incident_solar_radi

[2022-11-18 08:28] schlunma opened #1807 "Removal of coordinate metadata in `multi_model_statistics` is too strict"
**Describe the bug**

The removal of the coordinate metadata that is necessary to merge cubes in the `multi_model_statistics` preprocessor is too strict. It removes `long_name` regardless if the long names differ or not:

https://github.com/ESMValGroup/ESMValCore/blob/4d96890a6bce4bef76d019af94e6a64355c039fb/esmvalcore/preprocessor/_multimodel.py#L253-L257

This can lead to problems with categoric

[2022-11-18 08:30] bouweandela commented on #1806
Are era5_toa_incident_solar_radiation and era5_top_net_solar_radiation available in a cmor table? If they are, the usual derivation can be used because the `derive` preprocessor function is applied after fixes

[2022-11-18 08:33] schlunma commented on #890
I've been working with the `multi_model_statistics` preprocessor a lot recently and had some really unpleasant experiences. This is issue was one of the main problems.

I'd like to work on this now because I think this can be fixed very easily. @bouweandela I saw that you are planning to work on https://github.com/ESMValGroup/ESMValCore/pull/968. Does this somehow conflict with my plans?

[2022-11-18 08:39] axel-lauer commented on #1806
@bouweandela Excellent idea! I believe the two variables in question are in a CMOR table. I'll give that a try and then report back.

[2022-11-18 08:46] schlunma commented on #1211
I'd like to re-open this discussion. I think multi-model statistics **should** work for single cubes. My main arguments are:

- This behavior is super counterintuitive since basically every other serious python library allows calculating statistics over a single element, e.g., `np.mean([1.0]) = 1.0`, `np.std([1.0]) = 0.0`, `da.arange(1.0).mean().compute() = 0.0`, or `pd.DataFrame({'a': [1]}).mean(

[2022-11-18 08:48] schlunma commented on #1211
@ESMValGroup/esmvaltool-coreteam any opinions on that?

[2022-11-18 08:50] axel-lauer commented on #1211
I agree with that. From a user perspective, it would be great if the multi-model statistics could handle single elements.

[2022-11-18 08:50] remi-kazeroni commented on #1806
If the solution proposed by @bouweandela does not work, you may be hitting #1388. There is still an issue regarding the derivation of some custom ERA5 variables, such as rsus and rlus (see https://github.com/ESMValGroup/ESMValTool/issues/2396)

[2022-11-18 10:58] schlunma commented on #1211
I just realized that I already opened another issue for that back in February since I didn't search for closed issues :smile:

https://github.com/ESMValGroup/ESMValCore/issues/1469

I will close that one and continue the discussion here.

[2022-11-18 10:59] schlunma commented on #1469
Duplicate of https://github.com/ESMValGroup/ESMValCore/issues/1211

[2022-11-18 10:59] #1469 closed

[2022-11-18 11:08] #1655 closed

[2022-11-18 11:10] schlunma commented on #890
Draft PR: #1808

[2022-11-18 13:16] schlunma opened #1810 "Irregular regridding with our custom `esmpy` regridder drops scalar coordinates"
**Describe the bug**

While performing tests for https://github.com/ESMValGroup/ESMValCore/pull/1808 I noticed that our custom `esmpy_regrid` function drops scalar coordinates of the input cube.

This is problematic when the regridding happens e.g. after time averaging, where the cube gets a scalar time coordinate.

Relevant code:

https://github.com/ESMValGroup/ESMValCore/blob/e03685a5e92c8facb35

[2022-11-21 11:13] bouweandela commented on #1727
@ESMValGroup/technical-lead-development-team Should we unpin our NetCDF4, now that the correct pinning is in place upstream on conda-forge https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/pull/358 and in the upcoming iris release https://github.com/SciTools/iris/pull/5075?

[2022-11-21 11:41] valeriupredoi commented on #1727
yes I am just about to do that now - note that for Tool iris=3.2.1 is picked up since we built the Core package against the 3.2.1 (due to the pin on netCDF4) so that's why it's working

[2022-11-21 11:55] valeriupredoi commented on #1727
https://github.com/ESMValGroup/ESMValTool/compare/unpin_netcdf4?expand=1

[2022-11-21 13:56] bouweandela opened #1815 "Importing `esmvalcore.experimental` gives deprecation warning for `esmvalcore.experimental.config`"
[code]
the warning should only be shown when importing `esmvalcore.experimental.config`.

[2022-11-21 15:49] bouweandela opened #1817 "Do not stop the run when output directory exists"
Currently, the `esmvaltool` stops running when the output directory already exists. A common scenario where this happens is if you're running multiple recipes with the same name in parallel, e.g. on a SLURM cluster. This is inconvenient and it would be nice if the tool was able to come up with a good directory name by itself.

[2022-11-21 16:34] bouweandela commented on #890
I did some work making things lazy a long time ago and also included other changes (such as fixing some issues with dimensions), expecting that it would be merged quite soon. Unfortunately that didn't happen. It would be nice if you could take the changes from there that fix the other problems, so I don't end up with a massive merge conflict, but don't worry about it if it's difficult. I do not re

[2022-11-22 08:55] axel-lauer commented on #1806
I tried the method proposed by @bouweandela, unfortunately with limited success. I succeeded in implementing derivation scripts for rsut and rsutcs that calculate these variables from the existing ERA5 variables. I did not, however, succeed in calculating a variable derived from rsut, rsutcs (in this case: swcre). When trying to do so, the preprocessor fails due to missing data. As deriving rsut a

[2022-11-22 13:01] bouweandela commented on #1806
Indeed "double-derivation" is not supported, but I also suspect it is not needed. If you can do it in two steps, it should also be possible to do it in a single step.

[2022-11-22 13:07] bouweandela commented on #1211
That sounds like a good argument to allow it for ensemble_statistics.

[2022-11-22 13:10] schlunma commented on #1211
Yes, but since `ensemble_statistics` basically only calls `multi_model_statistics` internally, it would be much easier to allow it for `multi_model_statistics` and get `ensemble_statistics` for free.

https://github.com/ESMValGroup/ESMValCore/blob/96419a7e8d3321e7d07b33f390b924ebced8e102/esmvalcore/preprocessor/_multimodel.py#L522-L566

[2022-11-22 13:12] #1817 closed, assigned to nobody

[2022-11-22 13:38] axel-lauer commented on #1806
I am not sure I can picture how to combine those two derivation steps without hard-coding the special ERA5 case in the combined derivation script. I would find such hard-coding somewhat undesirable. If you have any ideas, I would be very happy to hear more about this.

[2022-11-22 14:15] bouweandela commented on #1806
For my understanding, could you please provide:
- which input variables are provided by ERA5 (ERA5 name and CMIP6 name if available)
- the names of the variables that you want to derive and what formula can be used to derive those from the input?

[2022-11-23 08:57] #1810 closed

[2022-11-23 11:32] axel-lauer commented on #1806
### ERA5 input variables ###

| ERA5 variable | CMOR variable | Description |
| ------------- | ------------- | ------------- |
| mtnswrf | n/a (custom variable needed) | TOA net upward solar radiation |
| mtnswrfcs | n/a (custom variable needed) |  TOA net upward solar radiation |
| tisr | dsdt | TOA incident solar radiation |

### Step1: CMOR variables to be derived from ERA5 data for calculatio

[2022-11-23 16:55] #1794 closed

[2022-11-24 09:21] schlunma commented on #505
@bouweandela is the underlying code that needs to be changed here somehow modified in #1609? I'd like to work on this since it's bothering me a lot lately, but don't want to create horrible merge conflicts for you.

[2022-11-24 09:25] schlunma commented on #1613
I opened an issue in iris about this, already have a working solution :+1:

https://github.com/SciTools/iris/issues/5082

[2022-11-24 09:33] bouweandela commented on #505
A bit but it shouldn't be a problem (you can see the changes here: https://github.com/ESMValGroup/ESMValCore/pull/1609/files#diff-4c5468e8eebd3bebe05236ed962fa98483d27a9374d17c0ad43ba19287435a5d). You'll probably want to update the `PreprocessorFile.save` method so it updates `PreprocessorFile.attrbitues` with the correct facet values. That's probably more than just the units: it could also be `st

[2022-11-24 14:36] valeriupredoi opened #1824 "Problems with the ESMF shared library and setuptools>65.5.0"
We have started seeing [test fails](https://github.com/ESMValGroup/ESMValCore/actions/runs/3523909643/jobs/5910336042) that are currently localized and env solving-dependent ie they occur only when the solver picks up setuptools>65.5 and @bouweandela found the actual root of the problem that is described in this issue https://github.com/numpy/numpy/issues/22623 with a TL;DR that ESMF uses numpy's

[2022-11-24 17:03] valeriupredoi commented on #1824
what's wrong with this one? https://github.com/esmf-org/esmf

[2022-11-24 17:15] valeriupredoi commented on #1824
there isn't on the GH Issues tracker, and if there is elsewhere the good folk at ESMF will point us to that one :grin:

[2022-11-24 20:16] bouweandela commented on #1824
Great to see that they moved to GitHub! When I tried to find it last time, I ended up on SourceForge and needed to create an account. Once I had done that, I still couldn't see the issue tracker, and then I gave up.

[2022-11-24 21:02] bouweandela opened #1825 "Add data finder to the public API"
It would be nice to add some of the functionality in `esmvalcore/_data_finder.py` to the public API. An example of what the public API could look like is available [here](https://esmvaltool--1609.org.readthedocs.build/projects/ESMValCore/en/1609/api/esmvalcore.local.html). I used the module name `esmvalcore.local` because we also have `esmvalcore.esgf` which provides similar functions for files on

[2022-11-25 12:49] valeriupredoi commented on #1825
completely agreed! But there are quite a few specialized (private or not) funcs in that module that will be hard for users to understand and use, we should probably get out to public just a subset of its methods - like `_find_input_files` that is private now

[2022-11-25 12:51] valeriupredoi commented on #1824
I vaguely remember doing the same, for ESMF actually, some 2-3 years ago

[2022-11-25 15:27] bouweandela commented on #1825
Yes, my proposal would be to keep all of those private for now and only expose a single function for finding files called [`find_files`](https://esmvaltool--1609.org.readthedocs.build/projects/ESMValCore/en/1609/api/esmvalcore.local.html#esmvalcore.local.find_files), similar to how it's named in the [`esmvalcore.esgf`](https://esmvaltool--1609.org.readthedocs.build/projects/ESMValCore/en/1609/api/

[2022-11-28 08:36] schlunma opened #1827 "`mask_fillvalues` may wrongly mask values which are `0.0`."
**Describe the bug**

A severe bug which may lead to a wrong masking of data with `mask_fillvalues` if the data contains zeros. This has already been discussed [2 years ago](https://github.com/ESMValGroup/ESMValCore/issues/487#issuecomment-677732121) and has recently lead to problems.

Example plot (Antarctica):

![grafik](https://user-images.githubusercontent.com/32543114/204231113-7a191aaf-2537-

[2022-11-28 08:36] #1827 closed

[2022-11-28 09:55] LisaBock opened #1828 "KIOST-ESM: NaNs instead of missing_values in siconc"
**Describe the dataset issue**

The KIOST-ESM model (CMIP6) contains in the siconc field NaNs instead of missing_values.

This is problematic e.g. when calculating the multi-model mean.

[2022-11-28 15:12] sloosvel commented on #1792
The easiest will probably be to implement the rotation of components as derived variables. The rotate routine could probably be added as a shared function.

[2022-11-28 15:46] #1531 closed

[2022-11-28 15:53] valeriupredoi commented on #1433
fire has a PR improving this https://github.com/google/python-fire/pull/364 - seems like their dev process is somewhat slower though wrt PR acceptance. I am also wondering if we should ask them about the issue with command line args integrity ir `--config_user` vs `--config-user`

[2022-11-28 16:56] valeriupredoi commented on #1727
OK this is done: unpinned neyCDF4 both for Tool and Core; note that we can't move upwards of netCDF4=1.6.0 via iris (repo patch) and we can not move to Python=3.11 for that matter too (although I would try a PR to include Python=3.11 just for s**ts and giggles)

[2022-11-28 17:23] bouweandela opened #1833 "`esmvalcore.esgf.find_files` does not correctly fall back to different index node"
When the first index node in the [list of `urls`](https://docs.esmvaltool.org/projects/esmvalcore/en/latest/quickstart/configure.html#search) returns 503, the function `esmvalcore.esgf.find_files` does not try the next index node in the list. The expected behaviour is that it will try the next one until it finds one that is online.

Example: https://app.circleci.com/pipelines/github/ESMValGroup/ES

[2022-11-28 17:49] schlunma commented on #1433
I think the problem here is not fire, but rather that we do not explicitly list all possible options in the main function but use `**kwargs` instead:

https://github.com/ESMValGroup/ESMValCore/blob/54385ac7bf490f6f823cc99fe1f9786065318ab1/esmvalcore/_main.py#L325-L335

[2022-11-28 18:56] jprb-walton opened #1836 "Multiple coordinates with same standard_name for sftof in BCC-CSM2-MR"
When I apply a sea mask to BCC-CSM2-MR, I get:

[code]

I think this is an issue with the model sftof data file; other model files that I've looked at don't repeat the use of latitude & longitude.

[main_log_debug.txt](https://github.com/ESMValGroup/ESMValTool/files/10106630/main_log_debug.txt)
[test_region.yml.txt](https://github.com/ESMValGroup/ESMValTool/files/10106633/test_region.yml.txt)

[2022-11-29 14:04] valeriupredoi commented on #1836
this is indeed a peculiarity of the BCC `sftof` file - it contains both 1D DimCoords lat and and lon and 2D AuxCoords lat and lon (points printed for the AuxCoord lat):
[code]

I honestly don't know why they'd included 2D lat and lon as AuxCoords (as iris sees them, that is) - @sloosvel @schlunma you guys have seen such a thing before? Another question would be why do our cmor checks care for the

[2022-11-29 14:16] #890 closed

[2022-11-29 14:16] #891 closed

[2022-11-29 14:16] #41 closed

[2022-11-29 14:16] #738 closed

[2022-11-29 14:20] #1833 closed

[2022-11-29 16:40] schlunma commented on #1836
2D AuxCoords appear regularly, especially for ocean grids. They are used to described irregular grids.

A fix for this is already used for other variables of this model:

https://github.com/ESMValGroup/ESMValCore/blob/320a275d1730c229dce1e9921d03cb3ec1b18d97/esmvalcore/cmor/_fixes/cmip6/bcc_csm2_mr.py#L13

Note that this also fixes missing bounds. The relevant part for fixing the names is here:

h

[2022-11-29 16:44] valeriupredoi commented on #1836
wonderful, cheers muchly, Manu! @jprb-walton would you be OK to open a PR and write a fix for this variable yourself, or would you like me to do it? If you write it yourself, I can provide technical help and review :beer:

[2022-11-29 16:50] valeriupredoi commented on #1836
However, even if we write a fix, I am still not 100% happy the cmor checks reports this as invalid - I still think it's a good idea the strict check to fail but rather, present the user with a descriptive error message in this case :+1:

[2022-11-30 09:04] schlunma opened #1840 "Update `frequency` in time-related preprocessors"
https://github.com/ESMValGroup/ESMValCore/pull/1837 allows the automatic update of `frequency` in `metadata.yml` with a value given in `cube.attributes` (using `cube.attributes['frequency']`). Currently, this feature is not used by any preprocessor.

It would be nice to add this to at least some of the time-related preprocessors.

Remaining questions (see [this](https://github.com/ESMValGroup/ESMV

[2022-11-30 10:02] zklaus commented on #1836
Iff the coordinates are compatible, i.e. `meshgrid(lon, lat) == (longitude, latitude)`, then there is no need to have the 2d coordinates; the fix would be to remove them. But more likely than not, one of the two sets, probably the 1d one, is simply wrong, so it's a good thing our checks catch this peculiar situation.

[2022-11-30 12:46] sloosvel commented on #1792
Summary of grids: https://c6dreq.dkrz.de/files/ocean_grids.php

[2022-11-30 15:30] schlunma opened #1841 "Use weighted aggregated_by in our time-related preprocessors"
Since `iris==3.3.0`, `Cube.aggregated_by` [supports](https://scitools-iris.readthedocs.io/en/v3.3.1/generated/api/iris/cube.html#iris.cube.Cube.aggregated_by) `weights`. This function is used very often in our time-related preprocessors  (e.g., `annual_statistics`, `monthly_statistics`, `daily_statistics`, etc.), but currently does not use weights (=length of the time interval).

We could/should a